force-app/main/default/flows/Accept_or_Override_Follow_Up_H2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>Accept</name>
        <choiceText>Accept</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accept</stringValue>
        </value>
    </choices>
    <choices>
        <name>Override</name>
        <choiceText>Override</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Override</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Manual_follow_up</name>
        <label>Is Manual follow up?</label>
        <locationX>769</locationX>
        <locationY>778</locationY>
        <defaultConnector>
            <targetReference>Override_allowed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Rehab</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Related_to_Task.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA requested - internal rehab required - thin file</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Related_to_Task.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA requested - internal rehab required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Related_to_Task.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA requested - internal rehab in progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Related_to_Task.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA requested - not interested in internal rehab</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Related_to_Task.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA requested - no internal rehab - poor credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Related_to_Task.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA Requested - No affordability - rehab in progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Manual_Follow_Up_0</targetReference>
            </connector>
            <label>Rehab</label>
        </rules>
        <rules>
            <name>Latest_Task_is_Manual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Open_Task_for_Acceptance.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Manual Follow Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Related_to_Task.Contact_Attempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>autoFollowUpNotExist</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Manual_Follow_Up</targetReference>
            </connector>
            <label>Latest Task is Manual</label>
        </rules>
        <rules>
            <name>Automated_Follow_Up_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Related_to_Task.Contact_Attempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>autoFollowUpNotExist</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Manual_Follow_Up_0_0</targetReference>
            </connector>
            <label>Automated Follow Up Not Exist</label>
        </rules>
        <rules>
            <name>Open_Task_Does_not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Open_Task_for_Acceptance.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Manual_Follow_Up_0_0</targetReference>
            </connector>
            <label>Open Task Does not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opp_Status_Closed_Lost</name>
        <label>Is Opp Status Closed Lost?</label>
        <locationX>768</locationX>
        <locationY>607</locationY>
        <defaultConnector>
            <targetReference>Is_Manual_follow_up</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Related_to_Task.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Override</name>
        <label>Is Override?</label>
        <locationX>1025</locationX>
        <locationY>1254</locationY>
        <defaultConnector>
            <targetReference>Update_Wrap_Up_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Override_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accept_Automated_Follow_Up_or_Override</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Override</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Wrap_Up_Reason_0</targetReference>
            </connector>
            <label>Override</label>
        </rules>
    </decisions>
    <decisions>
        <name>Override_allowed</name>
        <label>Override allowed?</label>
        <locationX>768</locationX>
        <locationY>992</locationY>
        <defaultConnector>
            <targetReference>Accept_or_Override_follow_up</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Allowed</defaultConnectorLabel>
        <rules>
            <name>Ready_Verification_Status_Not_Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Related_to_Task.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA Requested - Ready for verification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Applicant_Status_Paths</targetReference>
            </connector>
            <label>Ready Verification Status - Not Allowed</label>
        </rules>
    </decisions>
    <description>DB: 23 may

Flow Description:
This flow handles follow-up tasks for Opportunities by either accepting them or applying overrides based on different decisions. Launched from Wrap Up Opportunity H2 flow.

Front-End Access: Work Opportunity button on the Opportunity page.

H2 = Separation of concern from H1 development that is already Live in Prod.</description>
    <environments>Default</environments>
    <formulas>
        <name>AttemptPlus1</name>
        <dataType>Number</dataType>
        <expression>{!Get_Opportunity_Related_to_Task.Contact_Attempts__c} +1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>autoFollowUpNotExist</name>
        <dataType>Number</dataType>
        <expression>{!BLG_Workflow.Close_off_Contact_Attempts__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>manualSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Manual Follow Up: &quot; + {!Get_Opportunity_Related_to_Task.Name}</expression>
    </formulas>
    <interviewLabel>Accept or Override Follow Up H2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accept or Override Follow Up H2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Manual_Follow_Up</name>
        <label>Create Manual Follow Up</label>
        <locationX>1244</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Close_Latest_Open_Task_for_Acceptance</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>setManualFollowUp_autoNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>setManualFollowUp_autoNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Opportunity_Related_to_Task.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>manualSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Opportunity_Related_to_Task.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Opportunity_Related_to_Task.Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>BLG_Workflow</name>
        <label>BLG Workflow</label>
        <locationX>776</locationX>
        <locationY>466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Opp_Status_Closed_Lost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Related_to_Task.Workflow_Description_Formula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Workflow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Open_Task_for_Acceptance</name>
        <label>Get Latest Open Task for Acceptance</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BLG_Workflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Related_to_Task.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Related_to_Task</name>
        <label>Get Opportunity Related to Task</label>
        <locationX>776</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Open_Task_for_Acceptance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Latest_Open_Task_for_Acceptance</name>
        <label>Close Latest Open Task for Acceptance</label>
        <locationX>1413</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task_for_Acceptance.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Override_Deadline_for_Latest_Task</name>
        <label>Override Deadline for Latest Task</label>
        <locationX>859</locationX>
        <locationY>1385</locationY>
        <connector>
            <targetReference>Update_Opp_SLA_Deadline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task_for_Acceptance.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DuedateOverride</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>DuedateOverride</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Latest_Task_to_Trigger_Manual_SLA</name>
        <label>Update Latest Task to Trigger Manual SLA</label>
        <locationX>1235</locationX>
        <locationY>595</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task_for_Acceptance.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Back_Date_Time__c</field>
            <value>
                <elementReference>setManualFollowUp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Outcome__c</field>
            <value>
                <stringValue>No Contact Attempt Made</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Latest_Task_to_Trigger_Manual_SLA_0</name>
        <label>Update Latest Task to Trigger Manual SLA</label>
        <locationX>481</locationX>
        <locationY>774</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task_for_Acceptance.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Back_Date_Time__c</field>
            <value>
                <elementReference>setManualFollowUp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Outcome__c</field>
            <value>
                <stringValue>No Contact Attempt Made</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_SLA_Deadline</name>
        <label>Update Opp SLA Deadline</label>
        <locationX>859</locationX>
        <locationY>1505</locationY>
        <connector>
            <targetReference>Update_Applicant_Status_Path</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Related_to_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SLA_Deadline__c</field>
            <value>
                <elementReference>DuedateOverride</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Wrap_Up_Reason</name>
        <label>Update Wrap Up Reason</label>
        <locationX>1209</locationX>
        <locationY>1256</locationY>
        <connector>
            <targetReference>Update_Applicant_Status_Paths</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Related_to_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <elementReference>wrapUpInput</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Wrap_Up_Reason_0</name>
        <label>Update Wrap Up Reason</label>
        <locationX>859</locationX>
        <locationY>1253</locationY>
        <connector>
            <targetReference>Override_Deadline_for_Latest_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Related_to_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <elementReference>wrapUpInput</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Accept_or_Override_follow_up</name>
        <label>Accept or Override follow up</label>
        <locationX>1033</locationX>
        <locationY>1110</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Override</targetReference>
        </connector>
        <fields>
            <name>latestOpenTaskLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Get_Latest_Open_Task_for_Acceptance.Subject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Accept_or_Override_follow_up_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accept_or_Override_follow_up_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>custName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Name: &lt;/strong&gt;{!Get_Opportunity_Related_to_Task.Account.FirstName} {!Get_Opportunity_Related_to_Task.Account.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>stage</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Stage: &lt;/strong&gt;{!Get_Opportunity_Related_to_Task.StageName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>status</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Status:&lt;/strong&gt; {!Get_Opportunity_Related_to_Task.Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accept_or_Override_follow_up_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Accept_or_Override_follow_up_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accept_or_Override_follow_up_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Accept_Automated_Follow_Up_or_Override</name>
                    <choiceReferences>Accept</choiceReferences>
                    <choiceReferences>Override</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Accept</defaultSelectedChoiceReference>
                    <fieldText>Accept Automated Follow Up or Override?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>latestSLA</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!Get_Latest_Open_Task_for_Acceptance.Due_Date_Time__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accept_or_Override_follow_up_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DuedateOverride</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Latest_Open_Task_for_Acceptance.Due_Date_Time__c</elementReference>
            </defaultValue>
            <fieldText>Follow Up Date Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;You are not allowed to set&amp;nbsp;the follow up prior to the current date/time.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!DuedateOverride} &gt;= Now()</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Accept_Automated_Follow_Up_or_Override</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Override</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>eloborateWrapUpComment</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Update/Amend Wrap Up Comment:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Wrap_Up_Comment</name>
            <defaultValue>
                <stringValue>{!wrapUpInput}</stringValue>
            </defaultValue>
            <fieldText>Wrap Up Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Accept Follow Up</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Manual_Follow_Up</name>
        <label>Set Manual Follow-Up</label>
        <locationX>1056</locationX>
        <locationY>595</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Latest_Task_to_Trigger_Manual_SLA</targetReference>
        </connector>
        <fields>
            <name>setManualHeading</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Set Manual Follow Up</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 8px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Set_Manual_Follow_Up_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Manual_Follow_Up_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>custName_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Name: &lt;/strong&gt;{!Get_Opportunity_Related_to_Task.Account.FirstName} {!Get_Opportunity_Related_to_Task.Account.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>stage_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Stage: &lt;/strong&gt;{!Get_Opportunity_Related_to_Task.StageName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>status_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Status: &lt;/strong&gt;{!Get_Opportunity_Related_to_Task.Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Manual_Follow_Up_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>setManualFollowUp</name>
            <dataType>DateTime</dataType>
            <fieldText>Set Manual Follow Up</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;You are not allowed to set&amp;nbsp;the follow up prior to the current date/time.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!setManualFollowUp} &gt;= Now()</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Set Manual Follow Up</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Manual_Follow_Up_0</name>
        <label>Set Manual Follow-Up</label>
        <locationX>631</locationX>
        <locationY>774</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Latest_Task_to_Trigger_Manual_SLA_0</targetReference>
        </connector>
        <fields>
            <name>manualFollowUp_0</name>
            <extensionName>c:flowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Set Manual Follow Up</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Set_Manual_Follow_Up_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Manual_Follow_Up_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>custName_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Name: &lt;/strong&gt;{!Get_Opportunity_Related_to_Task.Account.FirstName} {!Get_Opportunity_Related_to_Task.Account.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>stage_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Stage: &lt;/strong&gt;{!Get_Opportunity_Related_to_Task.StageName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>status_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Status: &lt;/strong&gt;{!Get_Opportunity_Related_to_Task.Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Manual_Follow_Up_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>automatedFollowUpNotExist_0</name>
            <fieldText>&lt;p&gt;This opportunity has been placed in Internal Rehab.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please schedule a manual follow up.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity_Related_to_Task.Contact_Attempts__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>autoFollowUpNotExist</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>setManualFollowUp_rehab</name>
            <dataType>DateTime</dataType>
            <fieldText>Set Manual Follow Up</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;You are not allowed to set&amp;nbsp;the follow up prior to the current date/time.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!setManualFollowUp_rehab} &gt;= Now()</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Set Manual Follow Up</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Manual_Follow_Up_0_0</name>
        <label>Set Manual Follow-Up</label>
        <locationX>1095</locationX>
        <locationY>791</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Manual_Follow_Up</targetReference>
        </connector>
        <fields>
            <name>manualFollowUp_0_0</name>
            <extensionName>c:flowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Set Manual Follow Up</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Set_Manual_Follow_Up_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Manual_Follow_Up_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>custName_0_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Name: &lt;/strong&gt;{!Get_Opportunity_Related_to_Task.Account.FirstName} {!Get_Opportunity_Related_to_Task.Account.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>stage_0_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Stage: &lt;/strong&gt;{!Get_Opportunity_Related_to_Task.StageName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>status_0_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Status: &lt;/strong&gt;{!Get_Opportunity_Related_to_Task.Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Manual_Follow_Up_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>automatedFollowUpNotExist_0_0</name>
            <fieldText>&lt;p&gt;You have reached the maximum automated follow ups for this workflow rule.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You are able to set manual follow ups until an automated rule is made available by a Stage change on the opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity_Related_to_Task.Contact_Attempts__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>autoFollowUpNotExist</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>setManualFollowUp_autoNo</name>
            <dataType>DateTime</dataType>
            <fieldText>Set Manual Follow Up</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;You are not allowed to set&amp;nbsp;the follow up prior to the current date/time.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!setManualFollowUp_autoNo} &gt;= Now()</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Set Manual Follow Up</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Opportunity_Related_to_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Applicant_Status_Path</name>
        <label>Update Applicant Status Path</label>
        <locationX>859</locationX>
        <locationY>1625</locationY>
        <flowName>Update_Applicant_Status_Path</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity_Related_to_Task.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Applicant_Status_Paths</name>
        <label>Update Applicant Status Path</label>
        <locationX>1478</locationX>
        <locationY>1225</locationY>
        <flowName>Update_Applicant_Status_Path</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity_Related_to_Task.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wrapUpInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
