force-app/main/default/flows/Add_Bond_Applicants.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Applicant_Collection</name>
        <label>Assign Applicant Collection</label>
        <locationX>2257</locationX>
        <locationY>4092</locationY>
        <assignmentItems>
            <assignToReference>applicantCollVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Applicants.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Applicant_Count_0</name>
        <label>Assign Applicant Count</label>
        <locationX>849</locationX>
        <locationY>933</locationY>
        <assignmentItems>
            <assignToReference>varApplicantCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Applicant_Count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_on_Applicant_Count_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Applicant_Count_0_0</name>
        <label>Assign Applicant Count</label>
        <locationX>1790</locationX>
        <locationY>4887</locationY>
        <assignmentItems>
            <assignToReference>varApplicantCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Applicant_Count_Updated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Relationship_Co</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Columns</name>
        <label>Assign Columns</label>
        <locationX>2066</locationX>
        <locationY>3911</locationY>
        <assignmentItems>
            <assignToReference>vColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>First_Name__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Last_Name__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Marital_agreement__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Is_Main_Applicant__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>IsActive__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Manual_Opp_Create_Context</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_COP_App_required_True</name>
        <label>Assign COP App required True</label>
        <locationX>1456</locationX>
        <locationY>1062</locationY>
        <assignmentItems>
            <assignToReference>mainCOPRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkExistingCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Customer_Id_0_0</name>
        <label>Assign Existing Customer Id</label>
        <locationX>1448</locationX>
        <locationY>1624</locationY>
        <assignmentItems>
            <assignToReference>CoPersonId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingPersonVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Person_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Person_to_Co_Applicant_Variable</name>
        <label>Assign Existing Person to Co Applicant Variable</label>
        <locationX>1630</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>coLoanApplicant.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>coPersonAccount.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coLoanApplicant.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>coPersonAccount.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coLoanApplicant.Mobile_Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>coPersonAccount.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coLoanApplicant.Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>coPersonAccount.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Phone_Email_Validation_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Married_COP_for_Co_Applicant</name>
        <label>Assign Married COP for Co Applicant</label>
        <locationX>1235</locationX>
        <locationY>3833</locationY>
        <assignmentItems>
            <assignToReference>loanApplicant.Marital_agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Married in community of property (COP)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.In_what_capacity_are_you_buying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Do_you_have_a_South_African_ID_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.What_is_your_employment_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.When_are_you_paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Nationality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.What_is_your_credit_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Are_you_buying_your_first_home__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.What_type_of_bond_are_you_applying_for__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Do_you_own_an_existing_property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interview_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Married_COP_required_false</name>
        <label>Assign Married COP required false</label>
        <locationX>2000</locationX>
        <locationY>3542</locationY>
        <assignmentItems>
            <assignToReference>marriedCOPAppRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Manage_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Married_COP_required_true</name>
        <label>Assign Married COP required true</label>
        <locationX>2545</locationX>
        <locationY>1405</locationY>
        <assignmentItems>
            <assignToReference>marriedCOPAppRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkExistingCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Co_Person_Values</name>
        <label>Assign New Co Person Values</label>
        <locationX>746</locationX>
        <locationY>1923</locationY>
        <assignmentItems>
            <assignToReference>coPersonAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Field</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Phone_Person_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Co_Person_Values_0</name>
        <label>Assign New Co Person Values</label>
        <locationX>1630</locationX>
        <locationY>1907</locationY>
        <assignmentItems>
            <assignToReference>coPersonAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile_Phone_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Existing_Person_to_Co_Applicant_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Customer_Id</name>
        <label>Assign New Customer Id</label>
        <locationX>1489</locationX>
        <locationY>4679</locationY>
        <assignmentItems>
            <assignToReference>CoPersonId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Person_Account_for_Co_Applicant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Record_for_Co_Person</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_ID_Var</name>
        <label>Assign Opp ID Var</label>
        <locationX>2194</locationX>
        <locationY>3747</locationY>
        <assignmentItems>
            <assignToReference>oppIdVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Bond_Opp.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Question_Var_True</name>
        <label>Assign Question Var True</label>
        <locationX>1399</locationX>
        <locationY>4093</locationY>
        <assignmentItems>
            <assignToReference>questionsRequiredVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interview_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Email_Duplicate_Flag_to_False</name>
        <label>Change Email Duplicate Flag to False</label>
        <locationX>123</locationX>
        <locationY>2715</locationY>
        <assignmentItems>
            <assignToReference>EmailDuplicateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Phone_Email_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Email_Duplicate_Flag_to_True</name>
        <label>Change Email Duplicate Flag to True</label>
        <locationX>401</locationX>
        <locationY>2710</locationY>
        <assignmentItems>
            <assignToReference>EmailDuplicateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Phone_Email_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Name_Blank_Flag_to_False_0</name>
        <label>Change Name Blank Flag to False</label>
        <locationX>147</locationX>
        <locationY>2002</locationY>
        <assignmentItems>
            <assignToReference>blankNameFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Last_Name_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Name_Blank_Flag_to_False_0_0</name>
        <label>Change Name Blank Flag to False</label>
        <locationX>148</locationX>
        <locationY>2241</locationY>
        <assignmentItems>
            <assignToReference>blankLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Phone_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Name_Blank_Flag_to_True</name>
        <label>Change Name Blank Flag to True</label>
        <locationX>393</locationX>
        <locationY>1984</locationY>
        <assignmentItems>
            <assignToReference>blankNameFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Last_Name_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Name_Blank_Flag_to_True_0</name>
        <label>Change Name Blank Flag to True</label>
        <locationX>375</locationX>
        <locationY>2237</locationY>
        <assignmentItems>
            <assignToReference>blankLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Phone_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Phone_Duplicate_Flag_to_False</name>
        <label>Change Phone Duplicate Flag to False</label>
        <locationX>50</locationX>
        <locationY>2473</locationY>
        <assignmentItems>
            <assignToReference>ContactDuplicateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Email_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Phone_Duplicate_Flag_to_True_0</name>
        <label>Change Phone Duplicate Flag to True</label>
        <locationX>467</locationX>
        <locationY>2454</locationY>
        <assignmentItems>
            <assignToReference>ContactDuplicateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Email_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Phone_Email_Validation_Flag_to_False</name>
        <label>Change Phone Email Validation Flag to False</label>
        <locationX>640</locationX>
        <locationY>3256</locationY>
        <assignmentItems>
            <assignToReference>PhoneEmailValidation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_All_Validations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Phone_Email_Validation_Flag_to_False_0</name>
        <label>Change Phone Email Validation Flag to False</label>
        <locationX>1807</locationX>
        <locationY>2634</locationY>
        <assignmentItems>
            <assignToReference>PhoneEmailValidation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_All_Validations_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Phone_Email_Validation_Flag_to_True</name>
        <label>Change Phone Email Validation Flag to True</label>
        <locationX>808</locationX>
        <locationY>2842</locationY>
        <assignmentItems>
            <assignToReference>PhoneEmailValidation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_All_Validations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Phone_Email_Validation_Flag_to_True_0</name>
        <label>Change Phone Email Validation Flag to True</label>
        <locationX>1641</locationX>
        <locationY>2357</locationY>
        <assignmentItems>
            <assignToReference>PhoneEmailValidation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_All_Validations_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_out_answers</name>
        <label>Clear out answers</label>
        <locationX>1251</locationX>
        <locationY>4230</locationY>
        <assignmentItems>
            <assignToReference>loanApplicant.Marital_agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.In_what_capacity_are_you_buying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Do_you_have_a_South_African_ID_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.What_is_your_employment_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.When_are_you_paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Nationality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.What_is_your_credit_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Are_you_buying_your_first_home__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.What_type_of_bond_are_you_applying_for__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Do_you_own_an_existing_property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interview_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Co_App_ID_Var</name>
        <label>Co App ID Var</label>
        <locationX>1094</locationX>
        <locationY>4486</locationY>
        <assignmentItems>
            <assignToReference>coAppIdVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Loan_Co_Applicant_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Applicant_Count_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Co_App_ID_Var_0</name>
        <label>Co App ID Var</label>
        <locationX>1229</locationX>
        <locationY>4815</locationY>
        <assignmentItems>
            <assignToReference>coAppIdVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Loan_Co_Applicant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Applicant_Count_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Error_Vars</name>
        <label>Reset Error Vars</label>
        <locationX>1076</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>PhoneEmailValidation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.FirstName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.LastName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.Phone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coLoanApplicant.Name_Title__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>New_Co_Applicant_Validated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>1331</locationX>
        <locationY>1483</locationY>
        <assignmentItems>
            <assignToReference>varLookupError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkExistingCustomer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_Remove_0_0</name>
        <label>Add/Remove?</label>
        <locationX>842</locationX>
        <locationY>1411</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Co_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addFoot.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkExistingCustomer</targetReference>
            </connector>
            <label>Create Co-Applicant</label>
        </rules>
    </decisions>
    <decisions>
        <name>All_questions_answered</name>
        <label>All questions answered?</label>
        <locationX>1552</locationX>
        <locationY>4092</locationY>
        <defaultConnector>
            <targetReference>Create_Applicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass All Answered</defaultConnectorLabel>
        <rules>
            <name>Block</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loanApplicant.Marital_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loanApplicant.In_what_capacity_are_you_buying__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loanApplicant.Do_you_have_a_South_African_ID_number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loanApplicant.What_is_your_employment_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loanApplicant.Nationality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loanApplicant.What_is_your_credit_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Question_Var_True</targetReference>
            </connector>
            <label>Block</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_All_Validations</name>
        <label>Check All Validations</label>
        <locationX>1060</locationX>
        <locationY>3258</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Record_for_Main_Person</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Back_to_Screen</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContactDuplicateFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailDuplicateFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PhoneEmailValidation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>blankNameFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>blankLastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Co_Applicant_Validated</targetReference>
            </connector>
            <label>Back to Screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_All_Validations_0</name>
        <label>Check All Validations</label>
        <locationX>1439</locationX>
        <locationY>2629</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Record_Existing_Person</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Back_to_Screen_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneEmailValidation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Co_Applicant_Validated</targetReference>
            </connector>
            <label>Back To Screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Email_Exist</name>
        <label>Check if Email Exist</label>
        <locationX>254</locationX>
        <locationY>2579</locationY>
        <defaultConnector>
            <targetReference>Change_Email_Duplicate_Flag_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>Email_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Email_Person_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Email_Duplicate_Flag_to_True</targetReference>
            </connector>
            <label>Email Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Last_Name_Blank</name>
        <label>Check if Last Name Blank</label>
        <locationX>257</locationX>
        <locationY>2129</locationY>
        <defaultConnector>
            <targetReference>Change_Name_Blank_Flag_to_True_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Last Name Blank</defaultConnectorLabel>
        <rules>
            <name>Last_Name_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Last_Name1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Last_Name1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Name_Blank_Flag_to_False_0_0</targetReference>
            </connector>
            <label>Last Name Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Name_Blank</name>
        <label>Check if Name Blank</label>
        <locationX>260</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Change_Name_Blank_Flag_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Name Blank</defaultConnectorLabel>
        <rules>
            <name>Name_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>First_Name1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>First_Name1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Name_Blank_Flag_to_False_0</targetReference>
            </connector>
            <label>Name Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Phone_Exists</name>
        <label>Check if Phone Exists</label>
        <locationX>252</locationX>
        <locationY>2363</locationY>
        <defaultConnector>
            <targetReference>Change_Phone_Duplicate_Flag_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>Phone_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Phone_Person_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Phone_Duplicate_Flag_to_True_0</targetReference>
            </connector>
            <label>Phone Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Phone_Email_Validation</name>
        <label>Check Phone Email Validation</label>
        <locationX>241</locationX>
        <locationY>2847</locationY>
        <defaultConnector>
            <targetReference>Change_Phone_Email_Validation_Flag_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Validation Passed</defaultConnectorLabel>
        <rules>
            <name>Validation_Block_0</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>coPersonAccount.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>coPersonAccount.Phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>coPersonAccount.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>coPersonAccount.PersonEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Phone_Email_Validation_Flag_to_True</targetReference>
            </connector>
            <label>Validation Block</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Phone_Email_Validation_0</name>
        <label>Check Phone Email Validation</label>
        <locationX>1799</locationX>
        <locationY>2353</locationY>
        <defaultConnector>
            <targetReference>Change_Phone_Email_Validation_Flag_to_False_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Validation Passed</defaultConnectorLabel>
        <rules>
            <name>Validation_Block_0_0_0</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>coLoanApplicant.Mobile_Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>coLoanApplicant.Mobile_Phone_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>coLoanApplicant.Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>coLoanApplicant.Email_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Phone_Email_Validation_Flag_to_True_0</targetReference>
            </connector>
            <label>Block</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_to_Contact_Relationship_Exists</name>
        <label>Contact to Contact Relationship Exists?</label>
        <locationX>2534</locationX>
        <locationY>3543</locationY>
        <defaultConnector>
            <targetReference>Assign_Married_COP_required_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Relationship Not Exists</defaultConnectorLabel>
        <rules>
            <name>Relationship_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Contact_for_latest_Applicant.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Married_COP_required_false</targetReference>
            </connector>
            <label>Relationship Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Applicant</name>
        <label>Create Applicant?</label>
        <locationX>1479</locationX>
        <locationY>4357</locationY>
        <defaultConnector>
            <targetReference>Create_Person_Account_for_Co_Applicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Person</defaultConnectorLabel>
        <rules>
            <name>X4th_Applicant_COP_Not_Allowed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loanApplicant.Marital_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married in community of property (COP)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>applicantCountPlus1</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>marriedCOPAppRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Apps</targetReference>
            </connector>
            <label>4th Applicant COP Not Allowed</label>
        </rules>
        <rules>
            <name>Existing_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingPersonVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Loan_Co_Applicant_0</targetReference>
            </connector>
            <label>Existing Person</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_Applicant_Count_0_0</name>
        <label>Decision on Applicant Count</label>
        <locationX>841</locationX>
        <locationY>1068</locationY>
        <defaultConnector>
            <targetReference>Add_Continue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Allow Applicant Creation</defaultConnectorLabel>
        <rules>
            <name>X4_orMore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicantCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>maximumApplicantsReached</targetReference>
            </connector>
            <label>4 or More</label>
        </rules>
        <rules>
            <name>Less_than_X2_and_COP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicantCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Main_Applicant.Marital_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married in community of property (COP)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_COP_App_required_True</targetReference>
            </connector>
            <label>Less than X2 and COP</label>
        </rules>
        <rules>
            <name>Manage_Applicants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>manageApplicant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkExistingCustomer</targetReference>
            </connector>
            <label>Manage Applicants</label>
        </rules>
        <rules>
            <name>Re_Add_a_Co_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>reAddCoApplicantVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkExistingCustomer</targetReference>
            </connector>
            <label>Re-Add a Co Applicant</label>
        </rules>
        <rules>
            <name>Main_App_is_not_Married_COP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Applicant.Marital_agreement__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Married in community of property (COP)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Applicants</targetReference>
            </connector>
            <label>Main App is not Married COP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Person_Exist</name>
        <label>Does Person Exist?</label>
        <locationX>1135</locationX>
        <locationY>1618</locationY>
        <defaultConnector>
            <targetReference>Assign_Existing_Customer_Id_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>Raise_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountID.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>addExistingFoot.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error</targetReference>
            </connector>
            <label>Raise error</label>
        </rules>
        <rules>
            <name>Does_not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountID.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Error_Vars</targetReference>
            </connector>
            <label>Does not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Main_Applicant_Married_COP</name>
        <label>Is Main Applicant Married COP?</label>
        <locationX>983</locationX>
        <locationY>4117</locationY>
        <defaultConnector>
            <targetReference>Clear_out_answers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Additional_COP_Applicant_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Created_Applicant.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>marriedCOPAppRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Married_COP_for_Co_Applicant</targetReference>
            </connector>
            <label>Additional COP Applicant required</label>
        </rules>
        <rules>
            <name>Main_Married_COP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Applicant.Marital_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married in community of property (COP)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mainCOPRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Married_COP_for_Co_Applicant</targetReference>
            </connector>
            <label>Main Married COP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Main_Applicant_Married_COP_0</name>
        <label>Is Main Applicant Married COP?</label>
        <locationX>1440</locationX>
        <locationY>3352</locationY>
        <defaultConnector>
            <targetReference>Interview_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Main_Married_COP_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Applicant.Marital_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married in community of property (COP)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Record_for_Main_Person</targetReference>
            </connector>
            <label>Main Married COP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Manage_Applicants</name>
        <label>Is Manage Applicants?</label>
        <locationX>1843</locationX>
        <locationY>3912</locationY>
        <defaultConnector>
            <targetReference>Get_All_Applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add Applicant Context</defaultConnectorLabel>
        <rules>
            <name>Manage_Apps_Context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>manageApplicant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Manage Apps Context</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Manual_Opp_Create_Context</name>
        <label>Is Manual Opp Create Context?</label>
        <locationX>2187</locationX>
        <locationY>3913</locationY>
        <defaultConnector>
            <targetReference>Applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manual_Context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>manualOppCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opp_ID_Var</targetReference>
            </connector>
            <label>Manual Context</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Applicant_Married_COP</name>
        <label>Main Applicant Married COP?</label>
        <locationX>1780</locationX>
        <locationY>4579</locationY>
        <defaultConnector>
            <targetReference>Update_Co_Applicant_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not COP</defaultConnectorLabel>
        <rules>
            <name>Relate_the_new_COP_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>marriedCOPAppRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reciprocal_Role_Spouse</targetReference>
            </connector>
            <label>Relate the new COP Applicant</label>
        </rules>
        <rules>
            <name>Main_COP_Required_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mainCOPRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reciprocal_Role</targetReference>
            </connector>
            <label>Main COP Required True</label>
        </rules>
        <rules>
            <name>Co_Applicant_COP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loanApplicant.Marital_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married in community of property (COP)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Co_Applicant_Questions_0</targetReference>
            </connector>
            <label>Co Applicant - COP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Save_Customer_or_Previous</name>
        <label>Save Customer or Previous?</label>
        <locationX>916</locationX>
        <locationY>1927</locationY>
        <defaultConnector>
            <targetReference>checkExistingCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Previous</defaultConnectorLabel>
        <rules>
            <name>Save_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customPrevious.renderNext</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Co_Person_Values</targetReference>
            </connector>
            <label>Save Customer</label>
        </rules>
    </decisions>
    <description>Flow Description: Creates Bond Applicants and is launched from the Create Pre-Approval or Bond flow which is ultimately launched from the Wrap Up Opportunity H2 flow

Front-End Access: Work Opportunity button on the Opportunity page.</description>
    <dynamicChoiceSets>
        <name>multiAdditionalIncome</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_earn_any_additional_income_from_t__c</picklistField>
        <picklistObject>LoanApplicant</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>applicantCountPlus1</name>
        <dataType>Number</dataType>
        <expression>{!varApplicantCount} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>coLoanApplicantName</name>
        <dataType>String</dataType>
        <expression>{!coPersonAccount.FirstName} + &quot; &quot; + {!coPersonAccount.LastName}</expression>
    </formulas>
    <formulas>
        <name>missingQuestions</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!loanApplicant.Marital_agreement__c}, &quot;&quot;), &quot;Marital Agreement&quot; + BR(), null) +
IF(ISPICKVAL({!loanApplicant.In_what_capacity_are_you_buying__c}, &quot;&quot;), &quot;In what capacity are you buying&quot;+ BR(), null) +
IF(ISPICKVAL({!loanApplicant.Do_you_have_a_South_African_ID_number__c}, &quot;&quot;), &quot;Do you have a South African ID&quot;+ BR(), null) +
IF(ISPICKVAL({!loanApplicant.Nationality__c}, &quot;&quot;), &quot;Nationality&quot; + BR(), null)  +
IF(ISPICKVAL({!loanApplicant.What_is_your_employment_status__c}, &quot;&quot;), &quot;Employment Status&quot; + BR(), null)  +
IF(ISPICKVAL({!loanApplicant.What_is_your_credit_status__c}, &quot;&quot;), &quot;Credit Status&quot; + BR(), null)</expression>
    </formulas>
    <formulas>
        <name>todayF</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Add Bond Applicants {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Bond Applicants</label>
    <loops>
        <name>Loop_All_Applicants</name>
        <label>Loop All Applicants</label>
        <locationX>2065</locationX>
        <locationY>4092</locationY>
        <collectionReference>Get_All_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Applicant_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Columns</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_to_Contact_Relationship</name>
        <label>Create Contact to Contact Relationship</label>
        <locationX>1904</locationX>
        <locationY>4340</locationY>
        <connector>
            <targetReference>Update_Co_Applicant_Questions</targetReference>
        </connector>
        <inputAssignments>
            <field>FinServ__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__Contact__c</field>
            <value>
                <elementReference>Get_Contact_Record_for_Main_Person.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__RelatedContact__c</field>
            <value>
                <elementReference>Get_Contact_Relationship_Co.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__Role__c</field>
            <value>
                <elementReference>Get_Reciprocal_Role.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__StartDate__c</field>
            <value>
                <elementReference>todayF</elementReference>
            </value>
        </inputAssignments>
        <object>FinServ__ContactContactRelation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_to_Contact_Relationship_0</name>
        <label>Create Contact to Contact Relationship</label>
        <locationX>1683</locationX>
        <locationY>4328</locationY>
        <connector>
            <targetReference>Update_Co_Applicant_Questions</targetReference>
        </connector>
        <inputAssignments>
            <field>FinServ__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__Contact__c</field>
            <value>
                <elementReference>Get_Contact_Record_for_Last_Created.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__RelatedContact__c</field>
            <value>
                <elementReference>Get_Contact_Relationship_Co.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__Role__c</field>
            <value>
                <elementReference>Get_Reciprocal_Role_Spouse.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__StartDate__c</field>
            <value>
                <elementReference>todayF</elementReference>
            </value>
        </inputAssignments>
        <object>FinServ__ContactContactRelation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Loan_Co_Applicant</name>
        <label>Create Loan Co-Applicant</label>
        <locationX>1228</locationX>
        <locationY>4679</locationY>
        <connector>
            <targetReference>Co_App_ID_Var_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Are_you_buying_your_first_home__c</field>
            <value>
                <elementReference>Get_Main_Applicant.Are_you_buying_your_first_home__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact_Record_for_Co_Person.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Address__c</field>
            <value>
                <elementReference>coPersonAccount.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>coPersonAccount.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>coPersonAccount.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanApplicationId</field>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Phone_Number__c</field>
            <value>
                <elementReference>coPersonAccount.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>coLoanApplicantName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_Title__c</field>
            <value>
                <elementReference>coLoanApplicant.Name_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Bond_Applicant_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceOpportunity__c</field>
            <value>
                <elementReference>Get_Bond_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Get_Main_Applicant.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Loan_Co_Applicant_0</name>
        <label>Create Loan Co-Applicant</label>
        <locationX>1232</locationX>
        <locationY>4486</locationY>
        <connector>
            <targetReference>Co_App_ID_Var</targetReference>
        </connector>
        <inputAssignments>
            <field>Are_you_buying_your_first_home__c</field>
            <value>
                <elementReference>Get_Main_Applicant.Are_you_buying_your_first_home__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact_Record_Existing_Person.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Address__c</field>
            <value>
                <elementReference>coLoanApplicant.Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>coLoanApplicant.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>coLoanApplicant.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanApplicationId</field>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_agreement__c</field>
            <value>
                <elementReference>Get_Main_Applicant.Marital_agreement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Phone_Number__c</field>
            <value>
                <elementReference>coLoanApplicant.Mobile_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>coLoanApplicantName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_Title__c</field>
            <value>
                <elementReference>coLoanApplicant.Name_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Bond_Applicant_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceOpportunity__c</field>
            <value>
                <elementReference>Get_Bond_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Person_Account_for_Co_Applicant</name>
        <label>Create Person Account for Co-Applicant</label>
        <locationX>1489</locationX>
        <locationY>4536</locationY>
        <connector>
            <targetReference>Assign_New_Customer_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>coPersonAccount.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>coPersonAccount.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>coPersonAccount.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonTitle</field>
            <value>
                <elementReference>coLoanApplicant.Name_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>coPersonAccount.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Applicants</name>
        <label>Get All Applicants</label>
        <locationX>1927</locationX>
        <locationY>4092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Apps</name>
        <label>Get All Apps</label>
        <locationX>1121</locationX>
        <locationY>4350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Applicants_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opp.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_Count</name>
        <label>Get Applicant Count</label>
        <locationX>849</locationX>
        <locationY>688</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bond_Applicant_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_Count_Updated</name>
        <label>Get Applicant Count Updated</label>
        <locationX>1094</locationX>
        <locationY>4879</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Applicant_Count_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bond_Applicant_Record_Type</name>
        <label>Get Bond Applicant Record Type</label>
        <locationX>848</locationX>
        <locationY>794</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Applicant_Count_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bond_Applicant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bond_Opp</name>
        <label>Get Bond Opp</label>
        <locationX>849</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Main_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Contact_for_latest_Applicant</name>
        <label>Get Contact-Contact for latest Applicant</label>
        <locationX>2542</locationX>
        <locationY>3736</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_to_Contact_Relationship_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Last_Created_Applicant.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__RelatedContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Last_Created_Applicant.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__ContactContactRelation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record_Existing_Person</name>
        <label>Get Contact Record Existing Person</label>
        <locationX>1448</locationX>
        <locationY>2849</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Main_Applicant_Married_COP_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CoPersonId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record_for_Co_Person</name>
        <label>Get Contact Record for Co Person</label>
        <locationX>1373</locationX>
        <locationY>4679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Loan_Co_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CoPersonId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record_for_Last_Created</name>
        <label>Get Contact Record for Last Created</label>
        <locationX>2541</locationX>
        <locationY>3899</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Contact_for_latest_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Last_Created_Applicant.Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record_for_Main_Person</name>
        <label>Get Contact Record for Main Person</label>
        <locationX>1076</locationX>
        <locationY>3906</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Main_Applicant_Married_COP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opp.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Relationship_Co</name>
        <label>Get Contact Relationship Co</label>
        <locationX>1790</locationX>
        <locationY>4707</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main_Applicant_Married_COP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CoPersonId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Email_Person_Account</name>
        <label>Get Existing Email Person Account</label>
        <locationX>747</locationX>
        <locationY>2247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Name_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Field</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Person_Account</name>
        <label>Get Existing Person Account</label>
        <locationX>1448</locationX>
        <locationY>1851</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Co_Applicant_Validated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CoPersonId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>coPersonAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>PersonTitle</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Phone_Person_Account</name>
        <label>Get Existing Phone Person Account</label>
        <locationX>746</locationX>
        <locationY>2094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Email_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>coPersonAccount.Phone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Created_Applicant</name>
        <label>Get Last Created Applicant</label>
        <locationX>2541</locationX>
        <locationY>4081</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Record_for_Last_Created</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>coAppIdVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application</name>
        <label>Get Loan Application</label>
        <locationX>849</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bond_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Applicant</name>
        <label>Get Main Applicant</label>
        <locationX>849</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applicant_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opp.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reciprocal_Role</name>
        <label>Get Reciprocal Role</label>
        <locationX>2044</locationX>
        <locationY>4340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact_to_Contact_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COP Spouse</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__ReciprocalRole__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reciprocal_Role_Spouse</name>
        <label>Get Reciprocal Role Spouse</label>
        <locationX>1628</locationX>
        <locationY>4446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact_to_Contact_Relationship_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COP Spouse</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__ReciprocalRole__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Co_Applicant_Questions</name>
        <label>Update Co-Applicant Questions</label>
        <locationX>1789</locationX>
        <locationY>4092</locationY>
        <connector>
            <targetReference>Is_Manage_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>coAppIdVar</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Are_you_buying_your_first_home__c</field>
            <value>
                <elementReference>loanApplicant.Are_you_buying_your_first_home__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_have_a_South_African_ID_number__c</field>
            <value>
                <elementReference>loanApplicant.Do_you_have_a_South_African_ID_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_own_an_existing_property__c</field>
            <value>
                <elementReference>loanApplicant.Do_you_own_an_existing_property__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_what_capacity_are_you_buying__c</field>
            <value>
                <elementReference>loanApplicant.In_what_capacity_are_you_buying__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_agreement__c</field>
            <value>
                <elementReference>loanApplicant.Marital_agreement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nationality__c</field>
            <value>
                <elementReference>loanApplicant.Nationality__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>loanApplicant.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_your_credit_status__c</field>
            <value>
                <elementReference>loanApplicant.What_is_your_credit_status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_your_employment_status__c</field>
            <value>
                <elementReference>loanApplicant.What_is_your_employment_status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_type_of_bond_are_you_applying_for__c</field>
            <value>
                <elementReference>loanApplicant.What_type_of_bond_are_you_applying_for__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When_are_you_paid__c</field>
            <value>
                <elementReference>loanApplicant.When_are_you_paid__c</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Co_Applicant_Questions_0</name>
        <label>Update Co-Applicant Questions</label>
        <locationX>2541</locationX>
        <locationY>4754</locationY>
        <connector>
            <targetReference>Get_Last_Created_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>coAppIdVar</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Are_you_buying_your_first_home__c</field>
            <value>
                <elementReference>loanApplicant.Are_you_buying_your_first_home__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_have_a_South_African_ID_number__c</field>
            <value>
                <elementReference>loanApplicant.Do_you_have_a_South_African_ID_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_own_an_existing_property__c</field>
            <value>
                <elementReference>loanApplicant.Do_you_own_an_existing_property__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_what_capacity_are_you_buying__c</field>
            <value>
                <elementReference>loanApplicant.In_what_capacity_are_you_buying__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_agreement__c</field>
            <value>
                <elementReference>loanApplicant.Marital_agreement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nationality__c</field>
            <value>
                <elementReference>loanApplicant.Nationality__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>loanApplicant.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_your_credit_status__c</field>
            <value>
                <elementReference>loanApplicant.What_is_your_credit_status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_your_employment_status__c</field>
            <value>
                <elementReference>loanApplicant.What_is_your_employment_status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_type_of_bond_are_you_applying_for__c</field>
            <value>
                <elementReference>loanApplicant.What_type_of_bond_are_you_applying_for__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When_are_you_paid__c</field>
            <value>
                <elementReference>loanApplicant.When_are_you_paid__c</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Add_Continue</name>
        <label>Add/Continue</label>
        <locationX>850</locationX>
        <locationY>1264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Remove_0_0</targetReference>
        </connector>
        <fields>
            <name>bondLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Bond Creation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>colorTest</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Bond Opportunity successfully created:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Opportunity: &lt;/strong&gt;{!Get_Bond_Opp.Name}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong&gt;Main Applicant successfully created:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Customer Name: &lt;/strong&gt;{!Get_Main_Applicant.First_Name__c} {!Get_Main_Applicant.Last_Name__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Phone: &lt;/strong&gt;{!Get_Main_Applicant.Mobile_Phone_Number__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Email: &lt;/strong&gt;{!Get_Main_Applicant.Email_Address__c}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>addFoot</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <stringValue>Navigate to Bond Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <stringValue>Add Co Applicant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Applicants</name>
        <label>Applicants</label>
        <locationX>2386</locationX>
        <locationY>3913</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>existingAppLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Applicants</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>existingApplicants</name>
            <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>vColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>applicantCollVar</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Navigate to Bond Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Applicants_0</name>
        <label>Applicants</label>
        <locationX>995</locationX>
        <locationY>4350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>existingAppLabel_0</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Applicants</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>fourthApplicantTxt</name>
            <fieldText>&lt;p&gt;The fourth and final Co Applicant on the Bond Opportunity cannot be Married in Community of Property.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The maximum Co Applicants &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;permitted will be exceeded as this marital agreement requires an additional spouse to be added&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApplicantTable_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>LoanApplicant</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Apps</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;First_Name__c&quot;,&quot;guid&quot;:&quot;column-b691&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Last_Name__c&quot;,&quot;guid&quot;:&quot;column-8ab6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Marital_agreement__c&quot;,&quot;guid&quot;:&quot;column-9285&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Marital agreement&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Is_Main_Applicant__c&quot;,&quot;guid&quot;:&quot;column-5c16&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Is Main Applicant&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;IsActive__c&quot;,&quot;guid&quot;:&quot;column-a3da&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>checkExistingCustomer</name>
        <label>checkExistingCustomer</label>
        <locationX>1078</locationX>
        <locationY>1405</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Does_Person_Exist</targetReference>
        </connector>
        <fields>
            <name>coApptext</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is the Co-Applicant a New or Existing Customer?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>copDisplayMain</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;A Spouse is mandatory as the marital agreement is: &lt;strong&gt;Married in Community of Property&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Please be sure to add the spouse of applicant: &lt;strong&gt;{!Get_Main_Applicant.First_Name__c} {!Get_Main_Applicant.Last_Name__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Main_Applicant.Marital_agreement__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Married in community of property (COP)</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varApplicantCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>copDisplay</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;A Spouse is mandatory as the marital agreement is: &lt;strong&gt;Married in Community of Property&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Please be sure to add the spouse of applicant: &lt;strong&gt;{!Get_Last_Created_Applicant.First_Name__c} {!Get_Last_Created_Applicant.Last_Name__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>marriedCOPAppRequired</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varApplicantCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>checkExistingCustomer_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>checkExistingCustomer_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>existingApplicantLookup</name>
                    <extensionName>c:LookupContainer</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>sObjectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchBarLabel</name>
                        <value>
                            <stringValue>Search existing customer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchBarPlaceholder</name>
                        <value>
                            <stringValue>Search customers...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>accountID.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>subtitleFields</name>
                        <value>
                            <stringValue>Description, PersonMobilePhone,Phone,PersonEmail</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>titleField</name>
                        <value>
                            <stringValue>Name,PersonMobilePhone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>appendQuery</name>
                        <value>
                            <stringValue>RecordType.Name = &apos;Person Account&apos; ORDER BY Name </stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>accountID.Id</assignToReference>
                        <name>selectedRecordId</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>errorDisp</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;You must select a customer to use the &quot;&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Use Existing Customer&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&quot; option&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varLookupError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>txtHelp2</name>
                    <fieldText>&lt;p&gt;* If a Customer cannot be found, a new Person Account will be created based off of the information captured on the Next screen for the Co-Applicant&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>addExistingFoot</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <stringValue>Use Existing Customer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <stringValue>Add New Co-Applicant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Co_Applicant_Validated</name>
        <label>Existing Co-Applicant Validated</label>
        <locationX>1448</locationX>
        <locationY>2039</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_New_Co_Person_Values_0</targetReference>
        </connector>
        <fields>
            <name>createCoApplLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create Co-Loan Applicant</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>mandatoryTxt_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;A Spouse is mandatory as the marital agreement is: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Married in Community of Property&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Main_Applicant.Marital_agreement__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Married in community of property (COP)</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>addSpouse</name>
            <fieldText>&lt;p&gt;Please be sure to add the spouse of applicant: &lt;strong&gt;{!Get_Main_Applicant.First_Name__c} {!Get_Main_Applicant.Last_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Main_Applicant.Marital_agreement__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Married in community of property (COP)</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>marriedCOPAppRequired</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varApplicantCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>addSpouse2</name>
            <fieldText>&lt;p&gt;Please be sure to add the spouse of applicant: &lt;strong&gt;{!Get_Last_Created_Applicant.First_Name__c} {!Get_Last_Created_Applicant.Last_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>marriedCOPAppRequired</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Existing_Co_Applicant_Validated_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Existing_Co_Applicant_Validated_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>coLoanApplicant.Name_Title__c</objectFieldReference>
                </fields>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>coPersonAccount.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>coPersonAccount.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Existing_Co_Applicant_Validated_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mobile_Phone_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>coPersonAccount.Phone</elementReference>
                    </defaultValue>
                    <fieldText>Mobile Phone Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Email_Address</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>coPersonAccount.PersonEmail</elementReference>
                    </defaultValue>
                    <fieldText>Email Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>textMsg_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Phone or Email must be specified.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PhoneEmailValidation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Interview_Questions</name>
        <label>Interview Questions</label>
        <locationX>1552</locationX>
        <locationY>3907</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>All_questions_answered</targetReference>
        </connector>
        <fields>
            <name>coAppQuestionLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Co Applicant Bond Interview Questions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>coAppName</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Co Applicant: &lt;/strong&gt;{!coPersonAccount.FirstName} {!coPersonAccount.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>existingPersonVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>coAppExistTxt</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Co Applicant:&lt;/strong&gt; {!Get_Contact_Record_Existing_Person.FirstName} {!Get_Contact_Record_Existing_Person.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>existingPersonVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>requiredQuestions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The following Interview questions are mandatory when converting to a Bond:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!missingQuestions}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>questionsRequiredVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Interview_Questions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Interview_Questions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>copMarried</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Marital Agreement: &lt;/strong&gt;Married in Community of Property (COP)&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>marriedCOPAppRequired</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>mainCOPRequired</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.Marital_agreement__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>marriedCOPAppRequired</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>mainCOPRequired</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.Are_you_buying_your_first_home__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.In_what_capacity_are_you_buying__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.What_type_of_bond_are_you_applying_for__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.Do_you_have_a_South_African_ID_number__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.Do_you_own_an_existing_property__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Interview_Questions_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.When_are_you_paid__c</objectFieldReference>
                </fields>
                <fields>
                    <name>additionalIncome</name>
                    <choiceReferences>multiAdditionalIncome</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you earn additional income from:</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.Nationality__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.What_is_your_employment_status__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.What_is_your_credit_status__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>loanApplicant.Notes__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>maximumApplicantsReached</name>
        <label>maximumApplicantsReached</label>
        <locationX>644</locationX>
        <locationY>1064</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayTextMaximum</name>
            <fieldText>&lt;p&gt;You have reached the maximum permitted applicants for this Bond Opportunity:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>maximumApplicantsReached_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>maximumApplicantsReached_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>maximumApplicants</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>LoanApplicant</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Applicant_Count</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;First_Name__c&quot;,&quot;guid&quot;:&quot;column-4c7d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Last_Name__c&quot;,&quot;guid&quot;:&quot;column-d471&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email_Address__c&quot;,&quot;guid&quot;:&quot;column-a2c1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Email Address&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;IsActive__c&quot;,&quot;guid&quot;:&quot;column-b73b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Continue with Bond</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Co_Applicant_Validated</name>
        <label>New Co-Applicant Validated</label>
        <locationX>1077</locationX>
        <locationY>1925</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Customer_or_Previous</targetReference>
        </connector>
        <fields>
            <name>createCoAppLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create Co-Applicant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>marriedCOPDisplay2</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;A Spouse is mandatory as the marital agreement is: &lt;strong&gt;Married in Community of Property&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Please be sure to add the spouse of applicant: &lt;strong&gt;{!Get_Main_Applicant.First_Name__c} {!Get_Main_Applicant.Last_Name__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Main_Applicant.Marital_agreement__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Married in community of property (COP)</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>marriedCOPAppRequired</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>reAddCoApplicantVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varApplicantCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>marriedCOPDisplay</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;A Spouse is mandatory as the marital agreement is: &lt;strong&gt;Married in Community of Property&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Please be sure to add the spouse of applicant: &lt;strong&gt;{!Get_Last_Created_Applicant.First_Name__c} {!Get_Last_Created_Applicant.Last_Name__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>marriedCOPAppRequired</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Co_Applicant_Validated_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Co_Applicant_Validated_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>coLoanApplicant.Name_Title__c</objectFieldReference>
                </fields>
                <fields>
                    <name>First_Name1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>coPersonAccount.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Only the first letter should be capital.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!First_Name1}, &quot;[A-Z]{1}[a-z]{1}.*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>firstnameRequired</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;First Name must be specified.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>blankNameFlag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Last_Name1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>coPersonAccount.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lastnameRequired</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Last Name must be specified.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>blankLastName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Phone2</name>
                    <dataType>String</dataType>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a valid phone number.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX ( UPPER ( {!Phone2} ) ,&quot;^[0-9+]{10,12}&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>duplicateContact</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This phone number already exists on the system.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ContactDuplicateFlag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Email_Field</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>coPersonAccount.PersonEmail</elementReference>
                    </defaultValue>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a valid email address.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX ( UPPER ( {!Email_Field} ) ,&quot;^[a-zA-Z0-9.!#$%&amp;+_=|-]+@[a-zA-Z0-9]+[.]{1}(([a-zA-Z0-9]{3}$|[a-zA-Z0-9]{6}$)|[a-zA-Z0-9]+[.]{1}[a-zA-Z0-9]{2})&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>duplicateEmail</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This email address already exists on the system. Please look up the customer on the previous screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>EmailDuplicateFlag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>textMsg</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Phone or Email must be specified.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PhoneEmailValidation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Co_Applicant_Validated_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>customPrevious</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <stringValue>Save Customer Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>723</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>Get_Loan_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>applicantCollVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blankLastName</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blankNameFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coAppIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coLoanApplicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
    <variables>
        <name>ContactDuplicateFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coPersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CoPersonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailDuplicateFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingPersonVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>loanApplicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
    <variables>
        <name>mainCOPRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>manageApplicant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>manualOppCreate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>marriedCOPAppRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>oppIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneEmailValidation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>questionsRequiredVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>reAddCoApplicantVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApplicantCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varLookupError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vColumns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
