force-app/main/default/flows/Add_Applicants.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Applicant_Count_0</name>
        <label>Assign Applicant Count</label>
        <locationX>849</locationX>
        <locationY>908</locationY>
        <assignmentItems>
            <assignToReference>varApplicantCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Applicant_Count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_on_Applicant_Count_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Created_Co_Applicant</name>
        <label>Assign Created Co Applicant</label>
        <locationX>1542</locationX>
        <locationY>2968</locationY>
        <assignmentItems>
            <assignToReference>createdCoAppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Loan_Co_Applicant_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Out_Consent_for_Existing_Customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Created_Co_Applicant_0</name>
        <label>Assign Created Co Applicant</label>
        <locationX>939</locationX>
        <locationY>4072</locationY>
        <assignmentItems>
            <assignToReference>createdCoAppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Loan_Co_Applicant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Main_Applicant_Married_COP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Co_Person_Values</name>
        <label>Assign Existing Co Person Values</label>
        <locationX>1558</locationX>
        <locationY>1892</locationY>
        <assignmentItems>
            <assignToReference>coPersonAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile_Phone_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Existing_Person_to_Co_Applicant_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Customer_Id_0_0</name>
        <label>Assign Existing Customer Id</label>
        <locationX>1385</locationX>
        <locationY>1624</locationY>
        <assignmentItems>
            <assignToReference>CoApplicantId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Person_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Person_to_Co_Applicant_Variable</name>
        <label>Assign Existing Person to Co Applicant Variable</label>
        <locationX>1567</locationX>
        <locationY>2038</locationY>
        <assignmentItems>
            <assignToReference>coLoanApplicant.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>coPersonAccount.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coLoanApplicant.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>coPersonAccount.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coLoanApplicant.Mobile_Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>coPersonAccount.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coLoanApplicant.Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>coPersonAccount.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Phone_Email_Validation_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Married_COP_for_Co_Applicant</name>
        <label>Assign Married COP for Co Applicant</label>
        <locationX>1235</locationX>
        <locationY>3836</locationY>
        <assignmentItems>
            <assignToReference>loanApplicant.Marital_agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Married in community of property (COP)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.In_what_capacity_are_you_buying__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Do_you_have_a_South_African_ID_number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.What_is_your_employment_status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.When_are_you_paid__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Nationality__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.What_is_your_credit_status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Interview_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Co_Person_Values</name>
        <label>Assign New Co Person Values</label>
        <locationX>746</locationX>
        <locationY>1924</locationY>
        <assignmentItems>
            <assignToReference>coPersonAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Field</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Phone_Person_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Customer_Id</name>
        <label>Assign New Customer Id</label>
        <locationX>1075</locationX>
        <locationY>3603</locationY>
        <assignmentItems>
            <assignToReference>CoApplicantId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Person_Account_for_Co_Applicant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Record_for_Co_Person</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Question_Var_True</name>
        <label>Assign Question Var True</label>
        <locationX>1399</locationX>
        <locationY>4093</locationY>
        <assignmentItems>
            <assignToReference>questionsRequiredVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interview_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Spouse_Relation_Create_True</name>
        <label>Assign Spouse Relation Create True</label>
        <locationX>1221</locationX>
        <locationY>1057</locationY>
        <assignmentItems>
            <assignToReference>spouseRelationCreateBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkExistingCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Email_Duplicate_Flag_to_False</name>
        <label>Change Email Duplicate Flag to False</label>
        <locationX>215</locationX>
        <locationY>2767</locationY>
        <assignmentItems>
            <assignToReference>EmailDuplicateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Phone_Email_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Email_Duplicate_Flag_to_True</name>
        <label>Change Email Duplicate Flag to True</label>
        <locationX>467</locationX>
        <locationY>2780</locationY>
        <assignmentItems>
            <assignToReference>EmailDuplicateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Phone_Email_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Name_Blank_Flag_to_False_0</name>
        <label>Change Name Blank Flag to False</label>
        <locationX>217</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>blankNameFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Last_Name_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Name_Blank_Flag_to_False_0_0</name>
        <label>Change Name Blank Flag to False</label>
        <locationX>218</locationX>
        <locationY>2266</locationY>
        <assignmentItems>
            <assignToReference>blankLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Phone_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Name_Blank_Flag_to_True</name>
        <label>Change Name Blank Flag to True</label>
        <locationX>463</locationX>
        <locationY>2009</locationY>
        <assignmentItems>
            <assignToReference>blankNameFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Last_Name_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Name_Blank_Flag_to_True_0</name>
        <label>Change Name Blank Flag to True</label>
        <locationX>445</locationX>
        <locationY>2262</locationY>
        <assignmentItems>
            <assignToReference>blankLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Phone_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Phone_Duplicate_Flag_to_False</name>
        <label>Change Phone Duplicate Flag to False</label>
        <locationX>120</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>ContactDuplicateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Email_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Phone_Duplicate_Flag_to_True_0</name>
        <label>Change Phone Duplicate Flag to True</label>
        <locationX>537</locationX>
        <locationY>2479</locationY>
        <assignmentItems>
            <assignToReference>ContactDuplicateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Email_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Phone_Email_Validation_Flag_to_False</name>
        <label>Change Phone Email Validation Flag to False</label>
        <locationX>640</locationX>
        <locationY>3256</locationY>
        <assignmentItems>
            <assignToReference>PhoneEmailValidation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_All_Validations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Phone_Email_Validation_Flag_to_False_0</name>
        <label>Change Phone Email Validation Flag to False</label>
        <locationX>1744</locationX>
        <locationY>2634</locationY>
        <assignmentItems>
            <assignToReference>PhoneEmailValidation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_All_Validations_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Phone_Email_Validation_Flag_to_True</name>
        <label>Change Phone Email Validation Flag to True</label>
        <locationX>732</locationX>
        <locationY>3104</locationY>
        <assignmentItems>
            <assignToReference>PhoneEmailValidation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_All_Validations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Phone_Email_Validation_Flag_to_True_0</name>
        <label>Change Phone Email Validation Flag to True</label>
        <locationX>1578</locationX>
        <locationY>2357</locationY>
        <assignmentItems>
            <assignToReference>PhoneEmailValidation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_All_Validations_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Error_Vars</name>
        <label>Reset Error Vars</label>
        <locationX>1076</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>PhoneEmailValidation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.FirstName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.LastName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.Phone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coPersonAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>New_Co_Applicant_Validated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>1331</locationX>
        <locationY>1483</locationY>
        <assignmentItems>
            <assignToReference>varLookupError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkExistingCustomer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_Remove_0_0</name>
        <label>Add/Remove?</label>
        <locationX>840</locationX>
        <locationY>1413</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Co_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addFoot.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkExistingCustomer</targetReference>
            </connector>
            <label>Create Co-Applicant</label>
        </rules>
    </decisions>
    <decisions>
        <name>All_questions_answered</name>
        <label>All questions answered?</label>
        <locationX>1552</locationX>
        <locationY>4094</locationY>
        <defaultConnector>
            <targetReference>Update_Co_Applicant_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass All Answered</defaultConnectorLabel>
        <rules>
            <name>Block</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loanApplicant.Marital_agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loanApplicant.In_what_capacity_are_you_buying__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loanApplicant.Do_you_have_a_South_African_ID_number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loanApplicant.What_is_your_employment_status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loanApplicant.Nationality__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loanApplicant.What_is_your_credit_status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Question_Var_True</targetReference>
            </connector>
            <label>Block</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_All_Validations</name>
        <label>Check All Validations</label>
        <locationX>1066</locationX>
        <locationY>3251</locationY>
        <defaultConnector>
            <targetReference>Create_Person_Account_for_Co_Applicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Back_to_Screen</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContactDuplicateFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailDuplicateFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PhoneEmailValidation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>blankNameFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>blankLastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Co_Applicant_Validated</targetReference>
            </connector>
            <label>Back to Screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_All_Validations_0</name>
        <label>Check All Validations</label>
        <locationX>1376</locationX>
        <locationY>2629</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Record_Existing_Person</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Back_to_Screen_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneEmailValidation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Co_Applicant_Validated</targetReference>
            </connector>
            <label>Back To Screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Email_Exist</name>
        <label>Check if Email Exist</label>
        <locationX>324</locationX>
        <locationY>2604</locationY>
        <defaultConnector>
            <targetReference>Change_Email_Duplicate_Flag_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>Email_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Email_Person_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Email_Duplicate_Flag_to_True</targetReference>
            </connector>
            <label>Email Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Last_Name_Blank</name>
        <label>Check if Last Name Blank</label>
        <locationX>327</locationX>
        <locationY>2154</locationY>
        <defaultConnector>
            <targetReference>Change_Name_Blank_Flag_to_True_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Last Name Blank</defaultConnectorLabel>
        <rules>
            <name>Last_Name_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Last_Name1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Last_Name1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Name_Blank_Flag_to_False_0_0</targetReference>
            </connector>
            <label>Last Name Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Name_Blank</name>
        <label>Check if Name Blank</label>
        <locationX>330</locationX>
        <locationY>1872</locationY>
        <defaultConnector>
            <targetReference>Change_Name_Blank_Flag_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Name Blank</defaultConnectorLabel>
        <rules>
            <name>Name_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>First_Name1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>First_Name1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Name_Blank_Flag_to_False_0</targetReference>
            </connector>
            <label>Name Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Phone_Exists</name>
        <label>Check if Phone Exists</label>
        <locationX>322</locationX>
        <locationY>2388</locationY>
        <defaultConnector>
            <targetReference>Change_Phone_Duplicate_Flag_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>Phone_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Phone_Person_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Phone_Duplicate_Flag_to_True_0</targetReference>
            </connector>
            <label>Phone Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Phone_Email_Validation</name>
        <label>Check Phone Email Validation</label>
        <locationX>327</locationX>
        <locationY>3113</locationY>
        <defaultConnector>
            <targetReference>Change_Phone_Email_Validation_Flag_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Validation Passed</defaultConnectorLabel>
        <rules>
            <name>Validation_Block_0</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>coPersonAccount.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>coPersonAccount.Phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>coPersonAccount.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>coPersonAccount.PersonEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Phone_Email_Validation_Flag_to_True</targetReference>
            </connector>
            <label>Validation Block</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Phone_Email_Validation_0</name>
        <label>Check Phone Email Validation</label>
        <locationX>1736</locationX>
        <locationY>2353</locationY>
        <defaultConnector>
            <targetReference>Change_Phone_Email_Validation_Flag_to_False_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Validation Passed</defaultConnectorLabel>
        <rules>
            <name>Validation_Block_0_0_0</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>coLoanApplicant.Mobile_Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>coLoanApplicant.Mobile_Phone_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>coLoanApplicant.Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>coLoanApplicant.Email_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Phone_Email_Validation_Flag_to_True_0</targetReference>
            </connector>
            <label>Block</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Spouse_Relation</name>
        <label>Create Spouse Relation?</label>
        <locationX>1554</locationX>
        <locationY>4455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Spouse_Relation_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>spouseRelationCreateBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Created_Co_Applicant</targetReference>
            </connector>
            <label>Spouse Relation Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_Applicant_Count_0_0</name>
        <label>Decision on Applicant Count</label>
        <locationX>841</locationX>
        <locationY>1068</locationY>
        <defaultConnector>
            <targetReference>Add_Continue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Allow Applicant Creation</defaultConnectorLabel>
        <rules>
            <name>X2_orMore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicantCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>maximumApplicantsReached</targetReference>
            </connector>
            <label>2 or More</label>
        </rules>
        <rules>
            <name>Less_than_X2_and_COP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicantCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Main_Applicant.Marital_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married in community of property (COP)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Spouse_Relation_Create_True</targetReference>
            </connector>
            <label>Less than X2 and COP</label>
        </rules>
        <rules>
            <name>Manage_Applicants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>manageApplicant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkExistingCustomer</targetReference>
            </connector>
            <label>Manage Applicants</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Person_Exist</name>
        <label>Does Person Exist?</label>
        <locationX>1135</locationX>
        <locationY>1618</locationY>
        <defaultConnector>
            <targetReference>Assign_Existing_Customer_Id_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>Raise_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountID.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>addExistingFoot.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error</targetReference>
            </connector>
            <label>Raise error</label>
        </rules>
        <rules>
            <name>Does_not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountID.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Error_Vars</targetReference>
            </connector>
            <label>Does not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Main_Applicant_Married_COP</name>
        <label>Is Main Applicant Married COP?</label>
        <locationX>1068</locationX>
        <locationY>4074</locationY>
        <defaultConnector>
            <targetReference>Interview_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Main_Married_COP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Applicant.Marital_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married in community of property (COP)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Married_COP_for_Co_Applicant</targetReference>
            </connector>
            <label>Main Married COP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Main_Applicant_Married_COP_0</name>
        <label>Is Main Applicant Married COP?</label>
        <locationX>1378</locationX>
        <locationY>3216</locationY>
        <defaultConnector>
            <targetReference>Interview_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Main_Married_COP_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Applicant.Marital_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married in community of property (COP)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Married_COP_for_Co_Applicant</targetReference>
            </connector>
            <label>Main Married COP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Save_Customer_or_Previous</name>
        <label>Save Customer or Previous?</label>
        <locationX>916</locationX>
        <locationY>1927</locationY>
        <defaultConnector>
            <targetReference>checkExistingCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Previous</defaultConnectorLabel>
        <rules>
            <name>Save_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customPrevious.renderNext</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Co_Person_Values</targetReference>
            </connector>
            <label>Save Customer</label>
        </rules>
    </decisions>
    <description>Flow Description: Creates Pre-Approval Applicants and is launched from the Create Pre-Approval or Bond flow which is ultimately launched from the Wrap Up Opportunity H2 flow

Front-end access: Work Opportunity button on the Opportunity page.</description>
    <dynamicChoiceSets>
        <name>multiAdditionalIncome</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_earn_any_additional_income_from_t__c</picklistField>
        <picklistObject>LoanApplicant</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>coLoanApplicantName</name>
        <dataType>String</dataType>
        <expression>{!coPersonAccount.FirstName} + &quot; &quot; + {!coPersonAccount.LastName}</expression>
    </formulas>
    <formulas>
        <name>missingQuestions</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!loanApplicant.Marital_agreement__c}, &quot;&quot;), &quot;Marital Agreement&quot; + BR(), null) +
IF(ISPICKVAL({!loanApplicant.In_what_capacity_are_you_buying__c}, &quot;&quot;), &quot;In what capacity are you buying&quot;+ BR(), null) +
IF(ISPICKVAL({!loanApplicant.Do_you_have_a_South_African_ID_number__c}, &quot;&quot;), &quot;Do you have a South African ID&quot;+ BR(), null) +
IF(ISPICKVAL({!loanApplicant.Nationality__c}, &quot;&quot;), &quot;Nationality&quot; + BR(), null)  +
IF(ISPICKVAL({!loanApplicant.What_is_your_employment_status__c}, &quot;&quot;), &quot;Employment Status&quot; + BR(), null)  +
IF(ISPICKVAL({!loanApplicant.What_is_your_credit_status__c}, &quot;&quot;), &quot;Credit Status&quot; + BR(), null)</expression>
    </formulas>
    <formulas>
        <name>todayF</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Add Applicants {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Applicants</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_to_Contact_Relationship</name>
        <label>Create Contact to Contact Relationship</label>
        <locationX>2100</locationX>
        <locationY>4455</locationY>
        <inputAssignments>
            <field>FinServ__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__Contact__c</field>
            <value>
                <elementReference>Get_Main_Applicant.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__RelatedContact__c</field>
            <value>
                <elementReference>Get_Created_Co_Applicant.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__Role__c</field>
            <value>
                <elementReference>Get_Reciprocal_Role_Spouse.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__StartDate__c</field>
            <value>
                <elementReference>todayF</elementReference>
            </value>
        </inputAssignments>
        <object>FinServ__ContactContactRelation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Loan_Co_Applicant</name>
        <label>Create Loan Co-Applicant</label>
        <locationX>1076</locationX>
        <locationY>3913</locationY>
        <connector>
            <targetReference>Assign_Created_Co_Applicant_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Are_you_buying_your_first_home__c</field>
            <value>
                <elementReference>Get_Main_Applicant.Are_you_buying_your_first_home__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact_Record_for_Co_Person.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Address__c</field>
            <value>
                <elementReference>coPersonAccount.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>coPersonAccount.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>coPersonAccount.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanApplicationId</field>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Phone_Number__c</field>
            <value>
                <elementReference>coPersonAccount.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>coLoanApplicantName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_Title__c</field>
            <value>
                <elementReference>coLoanApplicant.Name_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceOpportunity__c</field>
            <value>
                <elementReference>Get_Pre_Approval_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Consent</stringValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Loan_Co_Applicant_0</name>
        <label>Create Loan Co-Applicant</label>
        <locationX>1383</locationX>
        <locationY>2960</locationY>
        <connector>
            <targetReference>Assign_Created_Co_Applicant</targetReference>
        </connector>
        <inputAssignments>
            <field>Are_you_buying_your_first_home__c</field>
            <value>
                <elementReference>Get_Main_Applicant.Are_you_buying_your_first_home__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact_Record_Existing_Person.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Address__c</field>
            <value>
                <elementReference>coLoanApplicant.Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>coLoanApplicant.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>coLoanApplicant.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanApplicationId</field>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_agreement__c</field>
            <value>
                <elementReference>Get_Main_Applicant.Marital_agreement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Phone_Number__c</field>
            <value>
                <elementReference>coLoanApplicant.Mobile_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>coLoanApplicantName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_Title__c</field>
            <value>
                <elementReference>coLoanApplicant.Name_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceOpportunity__c</field>
            <value>
                <elementReference>Get_Pre_Approval_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Person_Account_for_Co_Applicant</name>
        <label>Create Person Account for Co-Applicant</label>
        <locationX>1075</locationX>
        <locationY>3456</locationY>
        <connector>
            <targetReference>Assign_New_Customer_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>coPersonAccount.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>coPersonAccount.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>coPersonAccount.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonTitle</field>
            <value>
                <elementReference>coLoanApplicant.Name_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>coPersonAccount.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Applicant_Count</name>
        <label>Get Applicant Count</label>
        <locationX>849</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Applicant_Count_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record_Existing_Person</name>
        <label>Get Contact Record Existing Person</label>
        <locationX>1384</locationX>
        <locationY>2831</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Loan_Co_Applicant_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CoApplicantId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record_for_Co_Person</name>
        <label>Get Contact Record for Co Person</label>
        <locationX>1075</locationX>
        <locationY>3758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Loan_Co_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CoApplicantId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Co_Applicant</name>
        <label>Get Created Co Applicant</label>
        <locationX>1809</locationX>
        <locationY>4455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reciprocal_Role_Spouse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createdCoAppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Email_Person_Account</name>
        <label>Get Existing Email Person Account</label>
        <locationX>747</locationX>
        <locationY>2247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Name_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Field</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Person_Account</name>
        <label>Get Existing Person Account</label>
        <locationX>1385</locationX>
        <locationY>1791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Co_Applicant_Validated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CoApplicantId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>coPersonAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>PersonTitle</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Phone_Person_Account</name>
        <label>Get Existing Phone Person Account</label>
        <locationX>746</locationX>
        <locationY>2094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Email_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>coPersonAccount.Phone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application</name>
        <label>Get Loan Application</label>
        <locationX>849</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pre_Approval_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Applicant</name>
        <label>Get Main Applicant</label>
        <locationX>849</locationX>
        <locationY>620</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applicant_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pre_Approval_Opp.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pre_Approval_Opp</name>
        <label>Get Pre-Approval Opp</label>
        <locationX>849</locationX>
        <locationY>471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Main_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reciprocal_Role_Spouse</name>
        <label>Get Reciprocal Role Spouse</label>
        <locationX>1950</locationX>
        <locationY>4455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact_to_Contact_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COP Spouse</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__ReciprocalRole__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Out_Consent_for_Existing_Customer</name>
        <label>Clear Out Consent for Existing Customer</label>
        <locationX>1384</locationX>
        <locationY>3089</locationY>
        <connector>
            <targetReference>Is_Main_Applicant_Married_COP_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>coPersonAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ConsentRequirementsMet__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Co_Applicant_Questions</name>
        <label>Update Co-Applicant Questions</label>
        <locationX>1562</locationX>
        <locationY>4296</locationY>
        <connector>
            <targetReference>Create_Spouse_Relation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pre_Approval_Opp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Are_you_buying_your_first_home__c</field>
            <value>
                <elementReference>loanApplicant.Are_you_buying_your_first_home__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_have_a_South_African_ID_number__c</field>
            <value>
                <elementReference>loanApplicant.Do_you_have_a_South_African_ID_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_own_an_existing_property__c</field>
            <value>
                <elementReference>loanApplicant.Do_you_own_an_existing_property__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_what_capacity_are_you_buying__c</field>
            <value>
                <elementReference>loanApplicant.In_what_capacity_are_you_buying__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_agreement__c</field>
            <value>
                <elementReference>loanApplicant.Marital_agreement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nationality__c</field>
            <value>
                <elementReference>loanApplicant.Nationality__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>loanApplicant.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_your_credit_status__c</field>
            <value>
                <elementReference>loanApplicant.What_is_your_credit_status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_your_employment_status__c</field>
            <value>
                <elementReference>loanApplicant.What_is_your_employment_status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_type_of_bond_are_you_applying_for__c</field>
            <value>
                <elementReference>loanApplicant.What_type_of_bond_are_you_applying_for__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When_are_you_paid__c</field>
            <value>
                <elementReference>loanApplicant.When_are_you_paid__c</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <screens>
        <name>Add_Continue</name>
        <label>Add/Continue</label>
        <locationX>848</locationX>
        <locationY>1263</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Remove_0_0</targetReference>
        </connector>
        <fields>
            <name>paCreate</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pre-Approval Creation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 8px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>colorTest</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Pre-Approval Opportunity successfully created:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Opportunity: &lt;/strong&gt;{!Get_Pre_Approval_Opp.Name}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong&gt;Main Applicant successfully created:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Customer Name: &lt;/strong&gt;{!Get_Main_Applicant.First_Name__c} {!Get_Main_Applicant.Last_Name__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Phone: &lt;/strong&gt;{!Get_Main_Applicant.Mobile_Phone_Number__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Email: &lt;/strong&gt;{!Get_Main_Applicant.Email_Address__c}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>addFoot</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <stringValue>Work Pre-Approval Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <stringValue>Add Co Applicant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>checkExistingCustomer</name>
        <label>checkExistingCustomer</label>
        <locationX>1077</locationX>
        <locationY>1404</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Does_Person_Exist</targetReference>
        </connector>
        <fields>
            <name>coAppstxt</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 8px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is the Co-Applicant a New or Existing Customer?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>spouseRequired</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;A Spouse is mandatory as the marital agreement is: &lt;strong&gt;Married in Community of Property&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Please be sure to add the spouse of applicant: &lt;strong&gt;{!Get_Main_Applicant.First_Name__c} {!Get_Main_Applicant.Last_Name__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Main_Applicant.Marital_agreement__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Married in community of property (COP)</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>checkExistingCustomer_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>checkExistingCustomer_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>existingApplicantLookup</name>
                    <extensionName>c:LookupContainer</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>sObjectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchBarLabel</name>
                        <value>
                            <stringValue>Search existing customer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchBarPlaceholder</name>
                        <value>
                            <stringValue>Search customers...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>accountID.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>subtitleFields</name>
                        <value>
                            <stringValue>Description, PersonMobilePhone,Phone,PersonEmail</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>titleField</name>
                        <value>
                            <stringValue>Name,PersonMobilePhone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>appendQuery</name>
                        <value>
                            <stringValue>RecordType.Name = &apos;Person Account&apos; ORDER BY Name </stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>accountID.Id</assignToReference>
                        <name>selectedRecordId</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>errorDisp</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;You must select a customer to use the &quot;&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Use Existing Customer&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&quot; option&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varLookupError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>txtHelp2</name>
                    <fieldText>&lt;p&gt;* If a Customer cannot be found, a new Person Account will be created based off of the information captured on the Next screen for the Co-Applicant&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>addExistingFoot</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <stringValue>Use Existing Customer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <stringValue>Add New Co-Applicant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>accountID.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Co_Applicant_Validated</name>
        <label>Existing Co-Applicant Validated</label>
        <locationX>1385</locationX>
        <locationY>2038</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Existing_Co_Person_Values</targetReference>
        </connector>
        <fields>
            <name>coApp0</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>Create Co-Loan Applicant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>margin-bottom: 8px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Existing_Co_Applicant_Validated_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Existing_Co_Applicant_Validated_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>coLoanApplicant.Name_Title__c</objectFieldReference>
                </fields>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>coPersonAccount.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>coPersonAccount.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Existing_Co_Applicant_Validated_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mobile_Phone_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>coPersonAccount.Phone</elementReference>
                    </defaultValue>
                    <fieldText>Mobile Phone Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Email_Address</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>coPersonAccount.PersonEmail</elementReference>
                    </defaultValue>
                    <fieldText>Email Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>textMsg_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Phone or Email must be specified.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PhoneEmailValidation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>mandatoryTxt_0</name>
            <fieldText>&lt;p&gt;* &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;A Spouse is mandatory as the marital agreement is: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Married in Community of Property&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Main_Applicant.Marital_agreement__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Married in community of property (COP)</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Interview_Questions</name>
        <label>Interview Questions</label>
        <locationX>1552</locationX>
        <locationY>3912</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>All_questions_answered</targetReference>
        </connector>
        <fields>
            <name>questionsCo</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Co-Applicant Pre-Approval Interview Questions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 8px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>coAppTxt</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Co Applicant: &lt;/strong&gt;{!coPersonAccount.FirstName} {!coPersonAccount.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>requiredQuestions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The following Interview questions are mandatory when converting to Pre-Approval:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!missingQuestions}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>questionsRequiredVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Interview_Questions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Interview_Questions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>copMarried</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Marital Agreement: &lt;/strong&gt;Married in Community of Property (COP)&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Main_Applicant.Marital_agreement__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Married in community of property (COP)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.Marital_agreement__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Main_Applicant.Marital_agreement__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Married in community of property (COP)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.Are_you_buying_your_first_home__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.In_what_capacity_are_you_buying__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.What_type_of_bond_are_you_applying_for__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.Do_you_have_a_South_African_ID_number__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.Do_you_own_an_existing_property__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Interview_Questions_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.When_are_you_paid__c</objectFieldReference>
                </fields>
                <fields>
                    <name>additionalIncome</name>
                    <choiceReferences>multiAdditionalIncome</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you earn additional income from:</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.Nationality__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.What_is_your_employment_status__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.What_is_your_credit_status__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>loanApplicant.Notes__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>maximumApplicantsReached</name>
        <label>maximumApplicantsReached</label>
        <locationX>638</locationX>
        <locationY>1064</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>maxApps</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Maximum Permitted Applicants</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 8px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayTextMaximum</name>
            <fieldText>&lt;p&gt;You have reached the maximum permitted applicants for this Pre-Approval Opportunity:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>maximumApplicantsReached_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>maximumApplicantsReached_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>maximumApplicants</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>LoanApplicant</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Applicant_Count</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;First_Name__c&quot;,&quot;guid&quot;:&quot;column-4c7d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Last_Name__c&quot;,&quot;guid&quot;:&quot;column-d471&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email_Address__c&quot;,&quot;guid&quot;:&quot;column-a2c1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Email Address&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;IsActive__c&quot;,&quot;guid&quot;:&quot;column-b73b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Continue with Pre-Approval</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Co_Applicant_Validated</name>
        <label>New Co-Applicant Validated</label>
        <locationX>1074</locationX>
        <locationY>1925</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Customer_or_Previous</targetReference>
        </connector>
        <fields>
            <name>coApps</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create Co-Applicant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 8px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>spouseRequiredTxt</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;A Spouse is mandatory as the marital agreement is: &lt;strong&gt;Married in Community of Property&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Please be sure to add the spouse of applicant: &lt;strong&gt;{!Get_Main_Applicant.First_Name__c} {!Get_Main_Applicant.Last_Name__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Main_Applicant.Marital_agreement__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Married in community of property (COP)</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Co_Applicant_Validated_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Co_Applicant_Validated_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>coLoanApplicant.Name_Title__c</objectFieldReference>
                </fields>
                <fields>
                    <name>First_Name1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>coPersonAccount.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Only the first letter should be capital.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!First_Name1}, &quot;[A-Z]{1}[a-z]{1}.*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>firstnameRequired</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;First Name must be specified.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>blankNameFlag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Last_Name1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>coPersonAccount.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lastnameRequired</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Last Name must be specified.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>blankLastName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Phone2</name>
                    <dataType>String</dataType>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a valid phone number.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX ( UPPER ( {!Phone2} ) ,&quot;^[0-9+]{10,12}&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>duplicateContact</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This phone number already exists on the system.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ContactDuplicateFlag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Email_Field</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>coPersonAccount.PersonEmail</elementReference>
                    </defaultValue>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a valid email address.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Email_Field},{!$Label.EmailRegex})</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>duplicateEmail</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This email address already exists on the system. Please look up the customer on the previous screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>EmailDuplicateFlag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>textMsg</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Phone or Email must be specified.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PhoneEmailValidation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Co_Applicant_Validated_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>customPrevious</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <stringValue>Save Customer Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>723</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>Get_Loan_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>blankLastName</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blankNameFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CoApplicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coLoanApplicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
    <variables>
        <name>ContactDuplicateFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coPersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>createdCoAppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailDuplicateFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loanApplicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
    <variables>
        <name>manageApplicant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneEmailValidation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>questionsRequiredVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>spouseRelationCreateBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varApplicantCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varLookupError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
