force-app/main/default/flows/API_Service_Create_Subscription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>APEX_Create_Subscription_Key</name>
        <label>APEX Create Subscription Key</label>
        <locationX>1404</locationX>
        <locationY>282</locationY>
        <actionName>SRVAPICreateSubscriptionKey</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>a</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>names</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>$Record.SubscriptionId__c</assignToReference>
            <name>id</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>$Record.SubscriptionKey__c</assignToReference>
            <name>primaryKey</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>CorrectRecordTypeId</name>
        <label>CorrectRecordTypeId</label>
        <locationX>1029</locationX>
        <locationY>403</locationY>
        <defaultConnector>
            <targetReference>Assign_Type_ids_to_var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Type_ids_to_var.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Network</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Type_ids_to_var.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Developer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Key_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Key_0</name>
        <label>Get Key</label>
        <locationX>1217</locationX>
        <locationY>282</locationY>
        <defaultConnector>
            <targetReference>Assign_Type_ids_to_var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Key</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Type_ids_to_var.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APEX_Create_Subscription_Key</targetReference>
            </connector>
            <label>Get Key</label>
        </rules>
    </decisions>
    <description>Flow Description: Gets and creates a subscription key from BetterTech&apos;s domain.
No Front-End Access - Flow is record triggered based on the entry criteria.</description>
    <environments>Default</environments>
    <interviewLabel>API Service Create Subscription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>API Service Create Subscription</label>
    <loops>
        <name>Assign_Type_ids_to_var</name>
        <label>Assign Type ids to var</label>
        <locationX>1038</locationX>
        <locationY>179</locationY>
        <collectionReference>GetAccountRecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CorrectRecordTypeId</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccountRecordTypes</name>
        <label>GetAccountRecordTypes</label>
        <locationX>845</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Type_ids_to_var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>a</name>
        <label>a</label>
        <locationX>1597</locationX>
        <locationY>282</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>363</locationX>
        <locationY>93</locationY>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>GetAccountRecordTypes</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GetKeyForTheseRecordTypeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
