force-app/main/default/flows/Applicant_Validation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Date_time_and_Business_Hours_methods</name>
        <label>Date,time and Business Hours methods</label>
        <locationX>185</locationX>
        <locationY>1453</locationY>
        <actionName>DateTimeUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Latest_Open_Task</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>increment</name>
            <value>
                <elementReference>verificationHours</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>BusinessHours.addBusinessHours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessHoursName</name>
            <value>
                <stringValue>Task Schedule Hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateTimeString</name>
            <value>
                <elementReference>nowF</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DateTimeUtility</nameSegment>
        <outputParameters>
            <assignToReference>var_nextdate</assignToReference>
            <name>result</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification</name>
        <label>Send Custom Notification</label>
        <locationX>813</locationX>
        <locationY>1656</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>allDoneScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Case Verification Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CustomNotificationsUserList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>get_case.Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_notes_to_case_0</name>
        <label>Add notes to case</label>
        <locationX>2805</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>get_case.Verification_Failure_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>runningNotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Applicant_To_verification_Successful</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_notes_to_case_0_0</name>
        <label>Add notes to case</label>
        <locationX>2871</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>get_case.Verification_Failure_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>runningNotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Applicant_outstanding</name>
        <label>Applicant outstanding</label>
        <locationX>1530</locationX>
        <locationY>1501</locationY>
        <assignmentItems>
            <assignToReference>applicantOutstanding</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAllApplicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Applicant</name>
        <label>Assign Applicant</label>
        <locationX>1525</locationX>
        <locationY>1087</locationY>
        <assignmentItems>
            <assignToReference>get_Applicant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSelectedApplicant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>runningNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_case.Verification_Failure_Comment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Applicant_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_closed_successfully</name>
        <label>Assign Case closed successfully</label>
        <locationX>864</locationX>
        <locationY>779</locationY>
        <assignmentItems>
            <assignToReference>get_case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verification Successful</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_case.IsClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_case.caseOutcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verification Successful</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_case_outcome</name>
        <label>Assign case outcome</label>
        <locationX>472</locationX>
        <locationY>850</locationY>
        <assignmentItems>
            <assignToReference>get_case.caseOutcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lwcFailureReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_case.Verification_Failure_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>runningNotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cases</name>
        <label>Assign Cases</label>
        <locationX>2093</locationX>
        <locationY>1907</locationY>
        <assignmentItems>
            <assignToReference>get_case</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CaseOC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Applicant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OC_Get_Applicant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>runningNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CaseOC.Verification_Failure_Comment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PaRegenContext2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_opp_id</name>
        <label>Assign opp id</label>
        <locationX>1158</locationX>
        <locationY>1618</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_case.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_to_in_progress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Running_notes</name>
        <label>Assign Running notes</label>
        <locationX>2422</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>runningNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Running_NotesOnApplicantResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Verification_results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Running_Notes_From_Case</name>
        <label>Assign Running Notes From Case</label>
        <locationX>1120</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>runningNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_case.Verification_Failure_Comment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_to_addressList</name>
        <label>Assign User to addressList</label>
        <locationX>410</locationX>
        <locationY>1618</locationY>
        <assignmentItems>
            <assignToReference>CustomNotificationsUserList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_case.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Failure_Assignments</name>
        <label>Failure Assignments</label>
        <locationX>892</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>runningNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notes22</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lwcFailureReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FailureReasonPicklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Verification_failed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opp_Verification_failed</name>
        <label>Opp Verification failed</label>
        <locationX>762</locationX>
        <locationY>619</locationY>
        <assignmentItems>
            <assignToReference>oppVerificationFailed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verification Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Failed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reassign</name>
        <label>Reassign</label>
        <locationX>1318</locationX>
        <locationY>1546</locationY>
        <assignmentItems>
            <assignToReference>applicantOutstanding</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAllApplicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Show_Running_Notes_Error</name>
        <label>Show Running Notes Error</label>
        <locationX>2274</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>displayNoRunningNotesError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verification_passed_or_failed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Show_Running_Notes_Error_0</name>
        <label>Show Running Notes Error</label>
        <locationX>2161</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>displayNoRunningNotesError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>opp_Context</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_update</name>
        <label>Status update</label>
        <locationX>958</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>get_case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verification In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>abc</name>
        <choiceText>Complete Verification</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>completeVerification</elementReference>
        </value>
    </choices>
    <choices>
        <name>Application_Verification_Failed</name>
        <choiceText>Application Verification Failed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application Verification Failed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_Verification_Successful</name>
        <choiceText>Application Verification Successful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application Verification Successful</stringValue>
        </value>
    </choices>
    <choices>
        <name>Complete_Verification</name>
        <choiceText>Complete Verification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complete Verification</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_Profile</name>
        <choiceText>Credit Profile</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PA Requested - Verification failed - credit profile</stringValue>
        </value>
    </choices>
    <choices>
        <name>Documents</name>
        <choiceText>Documents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PA Requested - Verification failed - documents</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Affordability</name>
        <choiceText>No Affordability</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PA Requested - Verification failed - no affordability</stringValue>
        </value>
    </choices>
    <choices>
        <name>Revisit_Applicant_s</name>
        <choiceText>Revisit Applicant(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Revisit Applicant(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>revisitChoiceVar</name>
        <choiceText>Revisit Applicant(s)</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Value</name>
        <choiceText>Value</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PA Requested - Verification failed - value</stringValue>
        </value>
    </choices>
    <choices>
        <name>VerificationFailed</name>
        <choiceText>Not Successful</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>verificationSuccessful</name>
        <choiceText>Processed Successfully</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Already_porcessed</name>
        <label>Already porcessed?</label>
        <locationX>881</locationX>
        <locationY>956</locationY>
        <defaultConnector>
            <targetReference>Get_All_Applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Reason</defaultConnectorLabel>
        <rules>
            <name>Skip_Reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_case.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Verification In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_closed_successfully</targetReference>
            </connector>
            <label>Skip Reason</label>
        </rules>
    </decisions>
    <decisions>
        <name>Applicant_Validated</name>
        <label>Applicant Validated?</label>
        <locationX>1721</locationX>
        <locationY>1630</locationY>
        <defaultConnector>
            <targetReference>Applicant_outstanding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Applicants Not Done Yet</defaultConnectorLabel>
        <rules>
            <name>Applicant_Done</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopAllApplicants.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verification Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopAllApplicants.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verification Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopAllApplicants</targetReference>
            </connector>
            <label>Applicant Done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Application_results</name>
        <label>Application results</label>
        <locationX>638</locationX>
        <locationY>297</locationY>
        <defaultConnector>
            <targetReference>Assign_Case_closed_successfully</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Application Successful</defaultConnectorLabel>
        <rules>
            <name>Application_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_latest_Case.Domain_Failure_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Verification_failed</targetReference>
            </connector>
            <label>Application Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_all_applicants_done</name>
        <label>Are all applicants done?</label>
        <locationX>1614</locationX>
        <locationY>1412</locationY>
        <defaultConnector>
            <targetReference>choiceScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Applicants Done</defaultConnectorLabel>
        <rules>
            <name>Applicant_Outstanding1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicantOutstanding</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RedoApplicantScreen</targetReference>
            </connector>
            <label>Applicant Outstanding</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Open</name>
        <label>Case Open?</label>
        <locationX>1334</locationX>
        <locationY>1393</locationY>
        <defaultConnector>
            <targetReference>Reassign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Open</defaultConnectorLabel>
        <rules>
            <name>Case_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_case.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_BLG_Follow_Up_Verification</targetReference>
            </connector>
            <label>Case Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Complete_Case_Or_Revisit_Applicants</name>
        <label>Complete Case Or Revisit Applicants?</label>
        <locationX>1722</locationX>
        <locationY>1353</locationY>
        <defaultConnector>
            <targetReference>Already_porcessed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Complete case</defaultConnectorLabel>
        <rules>
            <name>Revisit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>revisitChoiceVar</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RedoApplicantScreen</targetReference>
            </connector>
            <label>Revisit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_BLG_Follow_Up_Verification</name>
        <label>Create BLG Follow Up - Verification</label>
        <locationX>785</locationX>
        <locationY>1281</locationY>
        <defaultConnector>
            <targetReference>allDoneScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t create</defaultConnectorLabel>
        <rules>
            <name>Verification_Outcome_Create</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>get_case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verification Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verification Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaRegenContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_linked_to_Case</targetReference>
            </connector>
            <label>Verification Outcome Create</label>
        </rules>
        <rules>
            <name>SubFlow_Context_End_Flow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaRegenContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>SubFlow Context,End Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_BLG_Follow_Up_Verification_0</name>
        <label>Create BLG Follow Up - Verification</label>
        <locationX>784</locationX>
        <locationY>1090</locationY>
        <defaultConnector>
            <targetReference>Create_BLG_Follow_Up_Verification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>SubFlow_Context_End_Flow_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PaRegenContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Stop Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Follow_Up_Already_Created</name>
        <label>Follow Up Already Created</label>
        <locationX>194</locationX>
        <locationY>1584</locationY>
        <defaultConnector>
            <targetReference>Create_Verification_follow_up_Issue_OTP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Follow Up</defaultConnectorLabel>
        <rules>
            <name>Follow_Up_Already_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Open_Task.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Follow Up Call: 2 - Pre-Approval Verification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification</targetReference>
            </connector>
            <label>Follow Up Already exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Handle_Verification_results</name>
        <label>Handle Verification results</label>
        <locationX>2529</locationX>
        <locationY>345</locationY>
        <defaultConnector>
            <targetReference>Add_notes_to_case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Verification Passed</defaultConnectorLabel>
        <rules>
            <name>Verification_Failed_reason_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerificationFailed</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>runningNotes</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FormulaRunningNotesLength</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Applicant_To_verification_Failed</targetReference>
            </connector>
            <label>Verification Failed, reason supplied</label>
        </rules>
        <rules>
            <name>Verification_failed_no_reason_supplied</name>
            <conditionLogic>(1 AND 2) OR(1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>VerificationFailed</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>runningNotes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FormulaRunningNotesLength</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Running_Notes_Error</targetReference>
            </connector>
            <label>Verification failed, no reason supplied</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_to_in_progress</name>
        <label>New to in progress</label>
        <locationX>953</locationX>
        <locationY>1517</locationY>
        <defaultConnector>
            <targetReference>getAllApplicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_to_in_progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_update</targetReference>
            </connector>
            <label>Change to in progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>opp_Context</name>
        <label>opp Context</label>
        <locationX>2327</locationX>
        <locationY>628</locationY>
        <defaultConnector>
            <targetReference>Verification_passed_or_failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_notes_to_case_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Context</name>
        <label>Opportunity Context</label>
        <locationX>908</locationX>
        <locationY>1791</locationY>
        <defaultConnector>
            <targetReference>get_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaRegenContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CaseOC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Context2</name>
        <label>Opportunity Context</label>
        <locationX>1498</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>get_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outstanding_Applicant</name>
        <label>Outstanding Applicant?</label>
        <locationX>1227</locationX>
        <locationY>1060</locationY>
        <defaultConnector>
            <targetReference>Already_porcessed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Applicant.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Applicant_Link</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PaRegenContext2</name>
        <label>PaRegenContext</label>
        <locationX>2086</locationX>
        <locationY>1048</locationY>
        <defaultConnector>
            <targetReference>incomeScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaRegenContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Applicants</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verification_Failed</name>
        <label>Verification Failed?</label>
        <locationX>986</locationX>
        <locationY>481</locationY>
        <defaultConnector>
            <targetReference>Loop_Applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, successful</defaultConnectorLabel>
        <rules>
            <name>Yes_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Applicants.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verification Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FailureReasonScreen</targetReference>
            </connector>
            <label>Yes, Failed</label>
        </rules>
    </decisions>
    <description>Flow Description: Flow to Progress the Case through the statuses, capture financials and generate PA Cert.

Front-End Access: Work Case button on the Case page.</description>
    <environments>Default</environments>
    <formulas>
        <name>affordabilityAmountValue</name>
        <dataType>Number</dataType>
        <expression>VALUE({!affordabilityAmountText})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ApplicantURLLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + &quot;/lightning/r/loanApplicant/&quot; +{!get_Applicant.Id} + &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>convertedNextDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!var_nextdate}) - 0.08334  + ( 1/1440)</expression>
    </formulas>
    <formulas>
        <name>FormulaRunningNotesLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!runningNotes})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <expression>&quot;Case &quot; + {!get_case.Subject} + &quot; verification completed. Please work the pre-approval opportunity.&quot;</expression>
    </formulas>
    <formulas>
        <name>nowF</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <name>runningNotesLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!runningNotes})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>verificationHours</name>
        <dataType>Number</dataType>
        <expression>{!Get_BLG_Rule.Attempt_2_Schedule_Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>verificationTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Follow Up Call: 2&quot; + &quot; - Pre-Approval Verification - &quot; + {!get_case.Opportunity__r.Name}</expression>
    </formulas>
    <interviewLabel>Applicant Validation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Applicant Validation Flow</label>
    <loops>
        <name>Loop_Applicants</name>
        <label>Loop Applicants</label>
        <locationX>994</locationX>
        <locationY>707</locationY>
        <collectionReference>Get_All_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verification_Failed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Case_for_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopAllApplicants</name>
        <label>loopAllApplicants</label>
        <locationX>1349</locationX>
        <locationY>1663</locationY>
        <collectionReference>getAllApplicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Applicant_Validated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_all_applicants_done</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Verification_follow_up_Issue_OTP</name>
        <label>Create Verification follow up - Issue OTP</label>
        <locationX>478</locationX>
        <locationY>1433</locationY>
        <connector>
            <targetReference>Update_Opp_SLA</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>convertedNextDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>convertedNextDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Opp_linked_to_Case.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>verificationTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>get_case.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Opp_linked_to_Case.Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Applicants</name>
        <label>Get All Applicants</label>
        <locationX>994</locationX>
        <locationY>849</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Running_Notes_From_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Applicant</name>
        <label>get Applicant</label>
        <locationX>1179</locationX>
        <locationY>1231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outstanding_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Verification Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Verification Successful</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Poor Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Consent Refused</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>1183</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Application_result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_for_Case_Summary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BLG_Rule</name>
        <label>Get BLG Rule</label>
        <locationX>331</locationX>
        <locationY>1356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Date_time_and_Business_Hours_methods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_linked_to_Case.Workflow_Description_Formula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Workflow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_case</name>
        <label>Get Case</label>
        <locationX>1019</locationX>
        <locationY>1711</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_opp_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_for_Summary</name>
        <label>Get Case for Summary</label>
        <locationX>1308</locationX>
        <locationY>698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_for_Case_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CaseOC</name>
        <label>Get CaseOC</label>
        <locationX>1078</locationX>
        <locationY>1907</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OC_Get_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppContextOppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>680</locationX>
        <locationY>1569</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_to_addressList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case Verification Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_latest_Case</name>
        <label>Get latest Case</label>
        <locationX>881</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Application_results</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Open_Task</name>
        <label>Get Latest Open Task</label>
        <locationX>47</locationX>
        <locationY>1582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Follow_Up_Already_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_linked_to_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_for_Case_Summary</name>
        <label>Get Opp for Case Summary</label>
        <locationX>1308</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_for_Summary.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_linked_to_Case</name>
        <label>Get Opp linked to Case</label>
        <locationX>473</locationX>
        <locationY>1280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BLG_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAllApplicants</name>
        <label>getAllApplicants</label>
        <locationX>1249</locationX>
        <locationY>1472</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Open</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <sortField>Is_Main_Applicant__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSelectedApplicant</name>
        <label>GetSelectedApplicant</label>
        <locationX>1632</locationX>
        <locationY>1199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedApplicantToRevisit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>OC_Get_Applicant</name>
        <label>OC Get Applicant</label>
        <locationX>1507</locationX>
        <locationY>1908</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OCApplicantId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Applicant_To_verification_Failed</name>
        <label>Update Applicant To verification Failed</label>
        <locationX>2746</locationX>
        <locationY>460</locationY>
        <connector>
            <targetReference>Add_notes_to_case_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Applicant.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Verification Failed</stringValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Applicant_To_verification_Successful</name>
        <label>Update Applicant To verification Successful</label>
        <locationX>2980</locationX>
        <locationY>180</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Applicant.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Verification Successful</stringValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>2980</locationX>
        <locationY>705</locationY>
        <connector>
            <targetReference>Opportunity_Context2</targetReference>
        </connector>
        <inputReference>get_case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case2</name>
        <label>Update Case</label>
        <locationX>1166</locationX>
        <locationY>1341</locationY>
        <connector>
            <targetReference>Update_Opportunity_Failed_0</targetReference>
        </connector>
        <inputReference>get_case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0</name>
        <label>Update Case</label>
        <locationX>472</locationX>
        <locationY>1012</locationY>
        <connector>
            <targetReference>Create_BLG_Follow_Up_Verification_0</targetReference>
        </connector>
        <inputReference>get_case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Success</name>
        <label>Update Case, Success</label>
        <locationX>572</locationX>
        <locationY>1145</locationY>
        <connector>
            <targetReference>Create_BLG_Follow_Up_Verification_0</targetReference>
        </connector>
        <inputReference>get_case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_SLA</name>
        <label>Update Opp SLA</label>
        <locationX>644</locationX>
        <locationY>1449</locationY>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_linked_to_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Attempts__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_SLA__c</field>
            <value>
                <elementReference>Get_BLG_Rule.Attempt_2_Schedule_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Deadline__c</field>
            <value>
                <elementReference>convertedNextDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>716</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>Update_Case_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Affordability_Amount__c</field>
            <value>
                <elementReference>affordabilityAmountValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Ready for Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>PA Requested - Verification complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Failed</name>
        <label>Update Opportunity, Failed</label>
        <locationX>599</locationX>
        <locationY>850</locationY>
        <connector>
            <targetReference>Assign_case_outcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Affordability_Amount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Ready for Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>PA Requested - Verification complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validation_Reject_reason__c</field>
            <value>
                <elementReference>runningNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Failed_0</name>
        <label>Update Opportunity, Failed</label>
        <locationX>1254</locationX>
        <locationY>1259</locationY>
        <connector>
            <targetReference>getAllApplicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Ready for Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>PA Requested - Verification in progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>allDoneScreen</name>
        <label>All Done Screen</label>
        <locationX>796</locationX>
        <locationY>1487</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>caseClosed</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Case Closed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;All applicants verified&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_case.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Verification Successful</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>verification_failed2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;All applicants verified, but with failures&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_case.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Verification Failed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Applicant_Link</name>
        <label>Applicant Link</label>
        <locationX>1397</locationX>
        <locationY>997</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>incomeScreen</targetReference>
        </connector>
        <fields>
            <name>lwcBanner</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please click on &quot;View Documents&quot; below to view applicant specific files in a new window.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 8px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ApplicantURL</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;{!ApplicantURLLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;View Documents&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Application_result</name>
        <label>Application result</label>
        <locationX>1183</locationX>
        <locationY>295</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_latest_Case</targetReference>
        </connector>
        <fields>
            <name>finanSummary</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Financial Summary</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Application_result_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Application_result_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>incomeAmt</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Total Income Amount: &lt;/strong&gt;{!Get_Application.Total_Income_Amount__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>disIncomeAmt</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Total Disposable Income Amount:&lt;/strong&gt; {!Get_Application.Total_Disposable_Income__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_result_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>expensesAmt</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Total Deductions Amount: &lt;/strong&gt;{!Get_Application.Total_Deductions_Amount__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>liabilityAmt</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Total Living Expenses Amount:&lt;/strong&gt; {!Get_Application.Total_Liability_Amount__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PreApprovalcert</name>
            <extensionName>c:preApprovalCert</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>affordabilityAmount</name>
                <value>
                    <elementReference>affordabilityAmountText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>forceRegen</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_case.Opportunity__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>runningNotes</name>
                <value>
                    <elementReference>runningNotes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedFailureReason</name>
                <value>
                    <elementReference>lwcFailureReason</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>runningNotes</assignToReference>
                <name>runningNotes</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>lwcFailureReason</assignToReference>
                <name>selectedFailureReason</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>affordabilityAmountText</assignToReference>
                <name>affordabilityAmount</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>choiceScreen</name>
        <label>choiceScreen</label>
        <locationX>1847</locationX>
        <locationY>1511</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Complete_Case_Or_Revisit_Applicants</targetReference>
        </connector>
        <fields>
            <name>doneText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;All applicants validated. Do you want to close of validation or revisit applicants?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>radio1</name>
            <choiceReferences>revisitChoiceVar</choiceReferences>
            <choiceReferences>abc</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Whats Next?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>contractualScreen</name>
        <label>contractualScreen</label>
        <locationX>1964</locationX>
        <locationY>753</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>existingExposureScreen</targetReference>
        </connector>
        <fields>
            <name>contractualLWC</name>
            <extensionName>c:applicantFinancialDetails</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loanApplicantId</name>
                <value>
                    <elementReference>get_Applicant.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>contractualExpenses</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_Applicant.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>runningNotes</name>
                <value>
                    <elementReference>runningNotes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRunningNotes</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>runningNotes</assignToReference>
                <name>runningNotes</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>deductionsScreen</name>
        <label>deductionsScreen</label>
        <locationX>1738</locationX>
        <locationY>875</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>livingExpensesScreen</targetReference>
        </connector>
        <fields>
            <name>deductionsLWC</name>
            <extensionName>c:applicantFinancialDetails</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loanApplicantId</name>
                <value>
                    <elementReference>get_Applicant.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>deductions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_Applicant.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>runningNotes</name>
                <value>
                    <elementReference>runningNotes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRunningNotes</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>runningNotes</assignToReference>
                <name>runningNotes</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>existingExposureScreen</name>
        <label>existingExposureScreen</label>
        <locationX>2069</locationX>
        <locationY>664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Show_Running_Notes_Error_0</targetReference>
        </connector>
        <fields>
            <name>existingExposureLWC</name>
            <extensionName>c:applicantFinancialDetails</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loanApplicantId</name>
                <value>
                    <elementReference>get_Applicant.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>existingExposure</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_Applicant.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRunningNotes</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>runningNotes</name>
                <value>
                    <elementReference>runningNotes</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>runningNotes</assignToReference>
                <name>runningNotes</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FailureReasonScreen</name>
        <label>FailureReasonScreen</label>
        <locationX>817</locationX>
        <locationY>396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Failure_Assignments</targetReference>
        </connector>
        <fields>
            <name>FailureReasonPicklist</name>
            <choiceReferences>Credit_Profile</choiceReferences>
            <choiceReferences>Documents</choiceReferences>
            <choiceReferences>No_Affordability</choiceReferences>
            <choiceReferences>Value</choiceReferences>
            <dataType>String</dataType>
            <fieldText>FailureReasonPicklist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>notes22</name>
            <defaultValue>
                <stringValue>{!runningNotes}</stringValue>
            </defaultValue>
            <fieldText>Running Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>incomeScreen</name>
        <label>incomeScreen</label>
        <locationX>1620</locationX>
        <locationY>949</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>deductionsScreen</targetReference>
        </connector>
        <fields>
            <name>incomeLWC</name>
            <extensionName>c:applicantFinancialDetails</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loanApplicantId</name>
                <value>
                    <elementReference>get_Applicant.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>income</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_Applicant.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRunningNotes</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>runningNotes</name>
                <value>
                    <elementReference>runningNotes</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>runningNotes</assignToReference>
                <name>runningNotes</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>livingExpensesScreen</name>
        <label>livingExpensesScreen</label>
        <locationX>1845</locationX>
        <locationY>817</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>contractualScreen</targetReference>
        </connector>
        <fields>
            <name>livingExpensesLWC</name>
            <extensionName>c:applicantFinancialDetails</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loanApplicantId</name>
                <value>
                    <elementReference>get_Applicant.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>livingExpenses</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_Applicant.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRunningNotes</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>runningNotes</name>
                <value>
                    <elementReference>runningNotes</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>runningNotes</assignToReference>
                <name>runningNotes</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RedoApplicantScreen</name>
        <label>RedoApplicantScreen</label>
        <locationX>1523</locationX>
        <locationY>1301</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetSelectedApplicant</targetReference>
        </connector>
        <fields>
            <name>CompletedApplicants</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>LoanApplicant</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Applicant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getAllApplicants</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9818&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-0098&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Is_Main_Applicant__c&quot;,&quot;guid&quot;:&quot;column-f737&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Is Main Applicant&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedApplicantToRevisit</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verification_passed_or_failed</name>
        <label>Verification passed or failed</label>
        <locationX>2275</locationX>
        <locationY>442</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Running_notes</targetReference>
        </connector>
        <fields>
            <name>noRunningNotesErrorDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(208, 48, 48);&quot;&gt;No reason for verification failure supplied. Please supply reason before continuing again&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>displayNoRunningNotesError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Whats_Next</name>
            <choiceReferences>verificationSuccessful</choiceReferences>
            <choiceReferences>VerificationFailed</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Applicant Result</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Running_NotesOnApplicantResult</name>
            <defaultValue>
                <stringValue>{!runningNotes}</stringValue>
            </defaultValue>
            <fieldText>Running Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>374</locationX>
        <locationY>1772</locationY>
        <connector>
            <targetReference>User_Setup_Checks_Subflow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>User_Setup_Checks_Subflow</name>
        <label>User Setup Checks - Subflow</label>
        <locationX>753</locationX>
        <locationY>1789</locationY>
        <connector>
            <targetReference>Opportunity_Context</targetReference>
        </connector>
        <flowName>User_Setup_Checks_Subflow</flowName>
    </subflows>
    <variables>
        <name>affordabilityAmountText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>applicantOutstanding</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>completeVerification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomNotificationsUserList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>displayNoRunningNotesError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lwcFailureReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OCApplicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppContextOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityContext</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppVerificationFailed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PaRegenContext</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>revisitChoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>runningNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SelectedApplicantToRevisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
    <variables>
        <name>var_nextdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
