force-app/main/default/flows/Applicant_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_opportunity_id_to_recordId</name>
        <label>Assign opportunity id to recordId</label>
        <locationX>960</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>oppRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMainApplicant</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Flow_running_in_case_context</name>
        <label>Flow running in case context?</label>
        <locationX>670</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>getMainApplicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Not Case Context</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Yes, Case Context</label>
        </rules>
    </decisions>
    <description>Flow Description: Houses custom component lwc Status Path to show Applicant status progression.

Front-End Access: Flow is on the Opportunity Page Layout.</description>
    <environments>Default</environments>
    <interviewLabel>Applicant Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Applicant Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>677</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>814</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_opportunity_id_to_recordId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCoApplicant</name>
        <label>getCoApplicant</label>
        <locationX>1100</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMainApplicant</name>
        <label>getMainApplicant</label>
        <locationX>961</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCoApplicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screen2</name>
        <label>screen2</label>
        <locationX>1269</locationX>
        <locationY>225</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Step</targetReference>
        </connector>
        <fields>
            <name>workFlowManager</name>
            <extensionName>c:workFlowManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>oppRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bondMode</name>
                <value>
                    <elementReference>bondMode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>finalSelectedRecordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>306</locationX>
        <locationY>212</locationY>
        <connector>
            <targetReference>Flow_running_in_case_context</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Next_Step</name>
        <label>Next Step</label>
        <locationX>1452</locationX>
        <locationY>225</locationY>
        <flowName>Applicant_Next_Step</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>finalSelectedRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>bondMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>caseContext</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>finalSelectedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedRecordId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
