force-app/main/default/flows/Assign_To_Verification_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Assign_Case_Owner</name>
        <label>Assign Case Owner</label>
        <locationX>446</locationX>
        <locationY>1622</locationY>
        <actionName>Invocable_AllocateCase</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Apex_Success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseGroup</name>
            <value>
                <stringValue>Direct Verification Team</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Invocable_AllocateCase</nameSegment>
        <outputParameters>
            <assignToReference>apexError</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>apexFailed</assignToReference>
            <name>failed</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>newOppOwner</assignToReference>
            <name>ownerId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Heading</name>
        <label>Assign Heading</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>followUpHeading</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Open_Task.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Main_Applicant_Docs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Myself_to_Case</name>
        <label>Assign Myself to Case</label>
        <locationX>314</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>verificationAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_for_Running_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Owner_to_Case</name>
        <label>Assign Opp Owner to Case</label>
        <locationX>578</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>verificationAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_for_Opp_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Team_Blank_True</name>
        <label>Assign Opp Team Blank True</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>oppTeamBlank</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>selectVerification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Direct_Opp</name>
        <label>Is Direct Opp</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>isDirectOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Team_Exists</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Myself</name>
        <choiceText>Myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Myself</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity_Owner</name>
        <choiceText>Opportunity Owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity Owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Override</name>
        <choiceText>Override</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Override</stringValue>
        </value>
    </choices>
    <choices>
        <name>Verification_Team</name>
        <choiceText>Verification Team</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verification Team</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_issue</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Apex_Success</name>
        <label>Apex Success??</label>
        <locationX>446</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>selectVerification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fail - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apexFailed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Direct_Opp</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_Verification_to_who</name>
        <label>Assign Verification to who?</label>
        <locationX>842</locationX>
        <locationY>2330</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Myself_Assign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Myself</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Myself_to_Case</targetReference>
            </connector>
            <label>Myself Assign</label>
        </rules>
        <rules>
            <name>Opp_Owner_Assign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Opportunity_Owner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opp_Owner_to_Case</targetReference>
            </connector>
            <label>Opp Owner Assign</label>
        </rules>
        <rules>
            <name>Is_Direct_Reassigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isDirectOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_for_Direct_Verification_Team</targetReference>
            </connector>
            <label>Is Direct Reassigned</label>
        </rules>
        <rules>
            <name>Verification_Team_Assign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Verification_Team</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_for_Verification</targetReference>
            </connector>
            <label>Verification Team Assign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Direct_Opportunity</name>
        <label>Direct Opportunity?</label>
        <locationX>446</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Team_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_for_Verification_Team</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Assign_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Opportunity_Owner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Myself</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isDirectOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Is_Direct_Opp</targetReference>
            </connector>
            <label>Not for Verification Team</label>
        </rules>
        <rules>
            <name>Yes_Direct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Owner.UserRole.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Direct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Owner</targetReference>
            </connector>
            <label>Yes, Direct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Co_Applicant</name>
        <label>Existing Co Applicant?</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Existing_Co_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Co_Applicant_Docs.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Application_WU_0</targetReference>
            </connector>
            <label>Existing Co App</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Team_Exists</name>
        <label>Opportunity Team Exists?</label>
        <locationX>446</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Get_Entitlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Team_Not_Exists_Block</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Team.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Verification_Team</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isDirectOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opp_Team_Blank_True</targetReference>
            </connector>
            <label>Team Not Exists - Block</label>
        </rules>
    </decisions>
    <description>DB: 18 july - compartmentalise

Flow Description: Flow to Assign Opp to Verification, launched from Wrap Up Opportunity H2 (main flow that houses entire skeleton of working opps)

Front-End Access: Work Opportunity button on the Opportunity page.</description>
    <dynamicChoiceSets>
        <name>callOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Outcome__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>applicantFullName</name>
        <dataType>String</dataType>
        <expression>{!Get_Main_Applicant_Docs.First_Name__c} +&quot; &quot;+ {!Get_Main_Applicant_Docs.Last_Name__c}</expression>
    </formulas>
    <formulas>
        <name>bondOppIdVar</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.Bond_Opportunity__c}</expression>
    </formulas>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Ready for Verification - &quot;+ {!Get_Opportunity.Name}</expression>
    </formulas>
    <formulas>
        <name>closeOffDateVerification</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + {!Get_Verification_BLG_Workflow.Close_off_Days__c}</expression>
    </formulas>
    <formulas>
        <name>Link_Bond</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!bondOppIdVar} , &quot;Click here to Navigate to the Bond Opportunity&quot; , &apos;_top&apos;)</expression>
    </formulas>
    <formulas>
        <name>Link_PreApproval</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!paIdOppVar} , &quot;Click here to Navigate to the Pre-Approval Opportunity&quot; , &apos;_top&apos;)</expression>
    </formulas>
    <formulas>
        <name>outstandingDocFinalMain</name>
        <dataType>String</dataType>
        <expression>IF({!outstandingDocsMain} = null, &quot;None&quot;, {!outstandingDocsMain} )</expression>
    </formulas>
    <formulas>
        <name>outstandingDocsMain</name>
        <dataType>String</dataType>
        <expression>IF({!mainMissingID} = &quot;ID&quot;, &quot;ID&quot;+ BR(), null) + 
IF({!mainMissingPayslip} = &quot;Payslip&quot;, &quot;Payslip&quot;+ BR(), null) + 
IF({!mainMissingBankS} = &quot;Bank Statement&quot;, &quot;Bank Statement&quot;+ BR(), null)</expression>
    </formulas>
    <formulas>
        <name>ownerVar</name>
        <dataType>String</dataType>
        <expression>LEFT({!ownerTrimVar},15)</expression>
    </formulas>
    <formulas>
        <name>sentTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>theTemplate</name>
        <dataType>String</dataType>
        <expression>&quot;PA Issued - Awaiting OTP (Attach Certificate)&quot;</expression>
    </formulas>
    <formulas>
        <name>userProfileVar</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>wrapUpHeading</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.Name} + &quot;: &quot; + {!outcomeSelected}</expression>
    </formulas>
    <interviewLabel>Assign To Verification Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign To Verification Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_for_Direct_Verification_Team</name>
        <label>Create Case for Direct Verification Team</label>
        <locationX>842</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Complete_Task_0</targetReference>
        </connector>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Get_Entitlement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>newOppOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_for_Opp_Owner</name>
        <label>Create Case for Opp Owner</label>
        <locationX>578</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>Update_Case_Owner_to_Opp_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Get_Entitlement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>verificationAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_for_Running_User</name>
        <label>Create Case for Running User</label>
        <locationX>314</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>Complete_Task_0</targetReference>
        </connector>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Get_Entitlement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>verificationAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_for_Verification</name>
        <label>Create Case for Verification</label>
        <locationX>1106</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Complete_Task_0</targetReference>
        </connector>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Get_Entitlement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verification_Failure_Comment__c</field>
            <value>
                <stringValue>Auto-Assign</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Co_Applicant_Docs</name>
        <label>Get Co Applicant Docs</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Co_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Entitlement</name>
        <label>Get Entitlement</label>
        <locationX>842</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Verification_to_who</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Approval Verification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Open_Task</name>
        <label>Get Latest Open Task</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Verification_BLG_Workflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application_WU_0</name>
        <label>Get Loan Application WU</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ManageApplicant_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Applicant_Docs</name>
        <label>Get Main Applicant Docs</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Co_Applicant_Docs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Owner</name>
        <label>Get Opp Owner</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Open_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Team</name>
        <label>Get Opportunity Team</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>selectVerification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Verification_BLG_Workflow</name>
        <label>Get Verification BLG Workflow</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Heading</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Approval Verification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Workflow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Complete_Task_0</name>
        <label>Complete Task</label>
        <locationX>842</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Update_Opportunity_Dependancies_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Applicant_Verification</name>
        <label>Update Applicant Verification</label>
        <locationX>842</locationX>
        <locationY>3062</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Applicant_Docs.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Verification</stringValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_to_Opp_Owner</name>
        <label>Update Case Owner to Opp Owner</label>
        <locationX>578</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>Complete_Task_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Case_for_Opp_Owner</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Dependancies_0_0_0_0_0_0_0_0</name>
        <label>Update Opportunity Dependancies</label>
        <locationX>842</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>Update_Applicant_Verification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>closeOffDateVerification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Attempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Ready for Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>PA Requested - Verification in progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <elementReference>wrapUpCommentVar</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>selectVerification</name>
        <label>selectVerification</label>
        <locationX>446</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Direct_Opportunity</targetReference>
        </connector>
        <fields>
            <name>verAssign</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assign for Verification</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Assign_to</name>
            <choiceReferences>Verification_Team</choiceReferences>
            <choiceReferences>Opportunity_Owner</choiceReferences>
            <choiceReferences>Myself</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Verification_Team</defaultSelectedChoiceReference>
            <fieldText>Assign to:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>oppTeamError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;An Opportunity Team does not exist for this Opportunity. Please select another Assign to option in order to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>oppTeamBlank</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>reassignFailed</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;No members available from the Pre Approval Verification team, please select another option.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>apexFailed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Assign Verification</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ManageApplicant_0_0</name>
        <label>Manage Applicants</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Get_Opportunity_Team</targetReference>
        </connector>
        <flowName>Manage_Applicants</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Loan_Application_WU_0.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>chatterPostMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;---- Customer Email Sent ----&gt;
Template Selection: {!theTemplate}
Sent To: {!applicantFullName}
Sent From: @[{!$User.Id}]
Sent Date: {!sentTime}</text>
    </textTemplates>
    <variables>
        <name>apexError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>apexFailed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>blankCallBack</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blankComment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blankOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callBackDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cancelHide</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ConsentRefused</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>convertPAToBondStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>convertToBondBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailBlank</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>exitToFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>followUpHeading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>forceRegenCert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>gitVariable2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isDirectOpp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isManualSLA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mainMissingBankS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Bank Statement</stringValue>
        </value>
    </variables>
    <variables>
        <name>mainMissingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ID</stringValue>
        </value>
    </variables>
    <variables>
        <name>mainMissingPayslip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Payslip</stringValue>
        </value>
    </variables>
    <variables>
        <name>newGeneralOppVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newOppOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppTeamBlank</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outcomeSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerTrimVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paExistVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>paIdOppVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paStageVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paStatusVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referenceNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referenceNo2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedApplicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statusCurrent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>verificationAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wrapUpCommentVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wrapUpVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
