force-app/main/default/flows/Betterbond_Campaign_Publish_Campaign_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>Check if the given input record is valid.</description>
        <name>Is_Input_Record_Valid</name>
        <label>Is Input Record Valid?</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Record Not Valid</defaultConnectorLabel>
        <rules>
            <name>Record_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iv_BB_Campaign_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaign_Platform_Event</targetReference>
            </connector>
            <label>Record Valid</label>
        </rules>
    </decisions>
    <description>This is an auto launched flow that will publish Campaign Event to Saleforce bus</description>
    <environments>Default</environments>
    <interviewLabel>Betterbond Campaign: Publish Campaign Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Betterbond Campaign: Publish Campaign Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create (Publish Event) Campaign Platform Event.</description>
        <name>Create_Campaign_Platform_Event</name>
        <label>Create: Campaign Platform Event</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <faultConnector>
            <targetReference>Create_Error_Log_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Agency_Branch_Id__c</field>
            <value>
                <elementReference>iv_BB_Campaign_Record.Branch__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_Agency_Id__c</field>
            <value>
                <elementReference>iv_BB_Campaign_Record.Agency__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_Network_Id__c</field>
            <value>
                <elementReference>iv_BB_Campaign_Record.Network__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Type_Id__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campign_URL_Link__c</field>
            <value>
                <elementReference>iv_BB_Campaign_Record.Test_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Developer_Name__c</field>
            <value>
                <elementReference>iv_BB_Campaign_Record.Developer__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Development_Name__c</field>
            <value>
                <elementReference>iv_BB_Campaign_Record.Development__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domain_Id__c</field>
            <value>
                <elementReference>iv_BB_Campaign_Record.Domain_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Type_Id__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>iv_BB_Campaign_Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_Type_Id__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>iv_BB_Campaign_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Minutes__c</field>
            <value>
                <elementReference>iv_BB_Campaign_Record.SLA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Type_Id__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>BB_Campaign__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Error log record</description>
        <name>Create_Error_Log_Message</name>
        <label>Create: Error Log Message</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>Better_Home__Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Better_Home__Type__c</field>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <object>Better_Home__Log_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Input_Record_Valid</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>This will hold the BB Campaign record that will be used as input</description>
        <name>iv_BB_Campaign_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BLG_Campaign__c</objectType>
    </variables>
</Flow>
