force-app/main/default/flows/BLG_Create_Initial_Task_Based_on_Opportunity_Stage_H2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>nextStartDueDate</name>
        <label>nextStartDueDate</label>
        <locationX>729</locationX>
        <locationY>1971</locationY>
        <actionName>DateTimeUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Initial_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>increment</name>
            <value>
                <elementReference>slaHours</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>BusinessHours.addBusinessHours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessHoursName</name>
            <value>
                <stringValue>Task Schedule Hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateTimeString</name>
            <value>
                <elementReference>$Record.Assignment_DateTime__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DateTimeUtility</nameSegment>
        <outputParameters>
            <assignToReference>var_nextDate</assignToReference>
            <name>result</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>nextStartDueDate_0_0</name>
        <label>nextStartDueDate</label>
        <locationX>1107</locationX>
        <locationY>1942</locationY>
        <actionName>DateTimeUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CreateInitialTaskforGeneral</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>increment</name>
            <value>
                <elementReference>slaMinutes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>BusinessHours.addBusinessHours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessHoursName</name>
            <value>
                <stringValue>Task Schedule Hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateTimeString</name>
            <value>
                <elementReference>$Record.Assignment_DateTime__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DateTimeUtility</nameSegment>
        <outputParameters>
            <assignToReference>var_nextDate</assignToReference>
            <name>result</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Bond_Subject_Var</name>
        <label>Assign Bond Subject Var</label>
        <locationX>729</locationX>
        <locationY>1771</locationY>
        <assignmentItems>
            <assignToReference>subjectVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BondTaskSubject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>nextStartDueDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PA_Subject_Var</name>
        <label>Assign PA Subject Var</label>
        <locationX>880</locationX>
        <locationY>1971</locationY>
        <assignmentItems>
            <assignToReference>subjectVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PATaskSubject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>nextStartDueDate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contact_Attempts</name>
        <label>Check Contact Attempts</label>
        <locationX>861</locationX>
        <locationY>1387</locationY>
        <defaultConnectorLabel>Has Attempts</defaultConnectorLabel>
        <rules>
            <name>X0_Attempts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Attempts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_BLG_Workflow.Attempt_1_Schedule__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Stage_0_0</targetReference>
            </connector>
            <label>0 Attempts</label>
        </rules>
        <rules>
            <name>OTP_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTP received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Stage_0_0</targetReference>
            </connector>
            <label>OTP Received</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hours_or_Days_0</name>
        <label>Hours or Days?</label>
        <locationX>721</locationX>
        <locationY>2252</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_to_Task_SLA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Days</defaultConnectorLabel>
        <rules>
            <name>Hours_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BLG_Workflow.Attempt_1_Schedule__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_to_Task_SLA_0</targetReference>
            </connector>
            <label>Hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SLA_or_COB_first</name>
        <label>Is SLA or COB first</label>
        <locationX>1099</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_SLA_Deadline_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>COB First</defaultConnectorLabel>
        <rules>
            <name>SLAFirst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>convertedNextDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>assignmentCOBDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_SLA_Deadline</targetReference>
            </connector>
            <label>SLA First</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Stage_0_0</name>
        <label>Opportunity Stage</label>
        <locationX>863</locationX>
        <locationY>1591</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_1st_General_Opp_Task</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_General_Opp_Record_Type_Id.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Profile Created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>nextStartDueDate_0_0</targetReference>
            </connector>
            <label>Create 1st General Opp Task</label>
        </rules>
        <rules>
            <name>Create_1st_PA_Task</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Pre_Approval_Opp_Record_Type_Id.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PA_Subject_Var</targetReference>
            </connector>
            <label>Create 1st PA Task</label>
        </rules>
        <rules>
            <name>Create_1st_Bond_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Bond_Opp_Record_Type_Id.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working (Bond)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bond_Subject_Var</targetReference>
            </connector>
            <label>Create 1st Bond Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tasks_Found</name>
        <label>Tasks Found?</label>
        <locationX>790</locationX>
        <locationY>554</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign_SLA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Task_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes - Task Found</label>
        </rules>
    </decisions>
    <description>Flow Description:
Creates the initial (1st) follow up task when an Opportunity is created

No Front-End Access - Flow is record triggered based on the entry criteria.

H2 = Separation of concern from H1 development that is already Live in Prod.</description>
    <environments>Default</environments>
    <formulas>
        <name>assignmentCOBDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(YEAR(DATEVALUE({!$Record.Assignment_DateTime__c}))) + &quot;-&quot; + TEXT(MONTH(DATEVALUE({!$Record.Assignment_DateTime__c}))) + &quot;-&quot; +
TEXT(DAY(DATEVALUE({!$Record.Assignment_DateTime__c}))) + &quot; 15:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>assignmentStripTimeText</name>
        <dataType>String</dataType>
        <expression>TEXT({!assignmentCOBDateTime})</expression>
    </formulas>
    <formulas>
        <name>BondTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;First Contact Attempt: 1 - &quot; +{!$Record.Workflow_Description_Formula__c}+ &quot; - &quot; + {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Ready for Validation&quot; + &quot; - &quot; + {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>convertedNextDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!var_nextDate}) - 0.08334</expression>
    </formulas>
    <formulas>
        <name>FollowUpFormulaAttempt1</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Assignment_DateTime__c} + ({!Get_BLG_Workflow.Attempt_1_Schedule__c}/60)</expression>
    </formulas>
    <formulas>
        <name>initialTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Initial Contact Attempt: &quot; + {!Get_BLG_Workflow.Name} + &quot; - &quot; + {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>nextDateOnly</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!convertedNextDate})</expression>
    </formulas>
    <formulas>
        <name>nextDateTimeValue</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!nextDateOnly}) + 0.62505</expression>
    </formulas>
    <formulas>
        <name>PATaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;First Contact Attempt: 1 - &quot; + {!Get_BLG_Workflow.Name} + &quot; - &quot; + {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>SLA75PercLapseDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!Get_Updated_Opp_Deadline.SLA_Deadline__c} - ({!Get_Campaign_SLA.SLA__c}/60/24)*0.25</expression>
    </formulas>
    <formulas>
        <name>slaHours</name>
        <dataType>Number</dataType>
        <expression>{!Get_BLG_Workflow.Attempt_1_Schedule__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>slaMinutes</name>
        <dataType>Number</dataType>
        <expression>({!Get_Campaign_SLA.SLA__c}/60)</expression>
        <scale>7</scale>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TodayDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Today}) + 0.62505</expression>
    </formulas>
    <interviewLabel>BLG Create Initial Task Based on Opportunity Stage H2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLG Create Initial Task Based on Opportunity Stage H2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Initial_Task</name>
        <label>Create Initial Task</label>
        <locationX>729</locationX>
        <locationY>2107</locationY>
        <connector>
            <targetReference>Hours_or_Days_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>nextDateTimeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>nextDateTimeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateInitialTaskforGeneral</name>
        <label>Create Initial Task for General</label>
        <locationX>1107</locationX>
        <locationY>2151</locationY>
        <connector>
            <targetReference>Is_SLA_or_COB_first</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>convertedNextDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>convertedNextDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>initialTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_BLG_Workflow</name>
        <label>Get BLG Workflow</label>
        <locationX>870</locationX>
        <locationY>829</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_General_Opp_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Workflow_Description_Formula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Workflow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bond_Opp_Record_Type_Id</name>
        <label>Get Bond Opp Record Type Id</label>
        <locationX>870</locationX>
        <locationY>1241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Attempts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bond</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_SLA</name>
        <label>Get Campaign for SLA</label>
        <locationX>871</locationX>
        <locationY>683</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BLG_Workflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BLG_Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_General_Opp_Record_Type_Id</name>
        <label>Get General Opp Record Type Id</label>
        <locationX>870</locationX>
        <locationY>953</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pre_Approval_Opp_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General_Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pre_Approval_Opp_Record_Type_Id</name>
        <label>Get Pre Approval Opp Record Type Id</label>
        <locationX>870</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bond_Opp_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre_Approval_Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>870</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tasks_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Deadline</name>
        <label>Get Updated Deadline</label>
        <locationX>194</locationX>
        <locationY>2250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_75_lapse_field_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Opp_Deadline</name>
        <label>Get Updated Opp Deadline</label>
        <locationX>1107</locationX>
        <locationY>3002</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_75_lapse_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_75_lapse_field</name>
        <label>Update 75% lapse field</label>
        <locationX>1107</locationX>
        <locationY>3149</locationY>
        <inputAssignments>
            <field>SLA_75_Lapse__c</field>
            <value>
                <elementReference>SLA75PercLapseDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Notification_Processed_Flag__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_75_lapse_field_0</name>
        <label>Update 75% lapse field</label>
        <locationX>50</locationX>
        <locationY>2250</locationY>
        <inputAssignments>
            <field>SLA_75_Lapse__c</field>
            <value>
                <elementReference>SLA75PercLapseDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Notification_Processed_Flag__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_SLA_Deadline</name>
        <label>Update Opportunity SLA Deadline</label>
        <locationX>1107</locationX>
        <locationY>2513</locationY>
        <connector>
            <targetReference>Get_Updated_Opp_Deadline</targetReference>
        </connector>
        <inputAssignments>
            <field>SLA_Deadline__c</field>
            <value>
                <elementReference>convertedNextDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_SLA_Deadline_0</name>
        <label>Update Opportunity SLA Deadline</label>
        <locationX>1330</locationX>
        <locationY>2324</locationY>
        <connector>
            <targetReference>Update_Task_SLA_to_COB</targetReference>
        </connector>
        <inputAssignments>
            <field>SLA_Deadline__c</field>
            <value>
                <elementReference>assignmentCOBDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_to_Task_SLA</name>
        <label>Update Opportunity to Task SLA</label>
        <locationX>730</locationX>
        <locationY>2440</locationY>
        <connector>
            <targetReference>Update_Task_SLA_to_COB_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Attempts__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_SLA__c</field>
            <value>
                <elementReference>Get_BLG_Workflow.Attempt_1_Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Deadline__c</field>
            <value>
                <elementReference>nextDateTimeValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_to_Task_SLA_0</name>
        <label>Update Opportunity to Task SLA</label>
        <locationX>535</locationX>
        <locationY>2250</locationY>
        <connector>
            <targetReference>Update_Task_SLA_to_COB_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Attempts__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_SLA__c</field>
            <value>
                <elementReference>Get_BLG_Workflow.Attempt_1_Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Deadline__c</field>
            <value>
                <elementReference>convertedNextDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_SLA_to_COB</name>
        <label>Update Task SLA to COB</label>
        <locationX>1330</locationX>
        <locationY>2494</locationY>
        <connector>
            <targetReference>Get_Updated_Opp_Deadline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateInitialTaskforGeneral</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>assignmentCOBDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>assignmentCOBDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_SLA_to_COB_0</name>
        <label>Update Task SLA to COB</label>
        <locationX>730</locationX>
        <locationY>2591</locationY>
        <connector>
            <targetReference>Get_Updated_Opp_Deadline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Initial_Task</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>nextDateTimeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>nextDateTimeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_SLA_to_COB_0_0</name>
        <label>Update Task SLA to COB</label>
        <locationX>350</locationX>
        <locationY>2250</locationY>
        <connector>
            <targetReference>Get_Updated_Deadline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Initial_Task</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>convertedNextDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>convertedNextDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>744</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
        <filterFormula>NOT({!$Record.RecordType.Name} = &quot;Duplicate Opportunity&quot;)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>subjectVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_nextDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
