force-app/main/default/flows/Capture_Applicant_Contractual_Expense.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Columns</name>
        <label>Assign Columns</label>
        <locationX>779</locationX>
        <locationY>1076</locationY>
        <assignmentItems>
            <assignToReference>vColumnsExpense</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Description__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColumnsExpense</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Monthly_Instalment_Amount__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColumnsExpense</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Exclude_Expense_From_Calculation__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Expense</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Running_Notes</name>
        <label>Assign Running Notes</label>
        <locationX>1253</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>runningNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>runningNotes2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_or_Update_Expense</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Running_Notes2</name>
        <label>Assign Running Notes</label>
        <locationX>1403</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>runningNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Running_Notes3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Loan_Application_Contractual_Expense</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Running_Notes3</name>
        <label>Assign Running Notes</label>
        <locationX>780</locationX>
        <locationY>1368</locationY>
        <assignmentItems>
            <assignToReference>runningNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Running_Notes4</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assignContractualExpenses</name>
        <label>assignContractualExpenses</label>
        <locationX>597</locationX>
        <locationY>874</locationY>
        <assignmentItems>
            <assignToReference>ExpenseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Contractual_Expenses.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Contractual_Expenses</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Financial_Expense</name>
        <choiceText>Financial Expense</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Financial Expense</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_not_at_this_time</name>
        <choiceText>No, not at this time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, not at this time</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Expense</name>
        <choiceText>Other Expense</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Expense</stringValue>
        </value>
    </choices>
    <choices>
        <name>test</name>
        <choiceText>test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>test</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_or_Update_Expense</name>
        <label>Add or Update Expense?</label>
        <locationX>1219</locationX>
        <locationY>882</locationY>
        <defaultConnector>
            <targetReference>Get_All_Application_Contractual_Expenses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractualButtons.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createExpense</targetReference>
            </connector>
            <label>Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Loan_Applicant_Active</name>
        <label>Is Loan Applicant Active?</label>
        <locationX>982</locationX>
        <locationY>302</locationY>
        <defaultConnector>
            <targetReference>applicantInactiveError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>InActive</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLoanApplicant.IsActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLoanApplication</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <description>FF: Added running notes</description>
    <dynamicChoiceSets>
        <name>expenseChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expense</stringValue>
            </value>
        </filters>
        <object>Income_and_Expense_Types__c</object>
        <outputAssignments>
            <assignToReference>ExpenseRecord.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>totalContractualAmount</name>
        <dataType>String</dataType>
        <expression>&quot;Total Contractual Amount: R&quot; + TEXT({!getLoanApplicant.Total_Contractual_Expenses__c})</expression>
    </formulas>
    <interviewLabel>Capture Applicant Contractual Expense {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capture Applicant Contractual Expense</label>
    <loops>
        <name>Loop_All_Contractual_Expenses</name>
        <label>Loop All Contractual Expenses</label>
        <locationX>776</locationX>
        <locationY>874</locationY>
        <collectionReference>Get_All_Application_Contractual_Expenses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignContractualExpenses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Columns</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Loan_Applicant_Liability_Contractual_Expense</name>
        <label>Create Loan Applicant Liability Contractual Expense</label>
        <locationX>1584</locationX>
        <locationY>684</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Monthly_Instalment_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expense_Category__c</field>
            <value>
                <stringValue>Contractual Expense</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanApplicantId</field>
            <value>
                <elementReference>getLoanApplicant.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanApplicationLiabilityId</field>
            <value>
                <elementReference>Create_Loan_Application_Contractual_Expense</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicantLiability</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Loan_Application_Contractual_Expense</name>
        <label>Create Loan Application Contractual Expense</label>
        <locationX>1434</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Create_Loan_Applicant_Liability_Contractual_Expense</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountType</field>
            <value>
                <elementReference>applicationLiability.AccountType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>applicationLiability.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expense_Category__c</field>
            <value>
                <stringValue>Contractual Expense</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanApplicationId</field>
            <value>
                <elementReference>getLoanApplication.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Instalment_Amount__c</field>
            <value>
                <elementReference>Monthly_Instalment_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Contractual Expense</stringValue>
            </value>
        </inputAssignments>
        <object>LoanApplicationLiability</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Application_Contractual_Expenses</name>
        <label>Get All Application Contractual Expenses</label>
        <locationX>1435</locationX>
        <locationY>1030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Contractual_Expenses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLoanApplication.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expense_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contractual Expense</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicationLiability</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Applicant_Contractual_Expenses</name>
        <label>Get Existing Applicant Contractual Expenses</label>
        <locationX>776</locationX>
        <locationY>693</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Application_Contractual_Expenses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicantId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLoanApplicant.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expense_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contractual Expense</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicantLiability</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Application_Contractual_Expenses</name>
        <label>Get Existing Application Contractual Expenses</label>
        <locationX>935</locationX>
        <locationY>574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existingContractualExpense</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLoanApplication.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expense_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contractual Expense</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicationLiability</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLoanApplicant</name>
        <label>getLoanApplicant</label>
        <locationX>776</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Loan_Applicant_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLoanApplication</name>
        <label>getLoanApplication</label>
        <locationX>776</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLoanApplicant.LoanApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>776</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Applicant_Contractual_Expenses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLoanApplication.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>applicantInactiveError</name>
        <label>applicantInactiveError</label>
        <locationX>1277</locationX>
        <locationY>183</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getLoanApplicant</targetReference>
        </connector>
        <fields>
            <name>name</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!getLoanApplicant.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>caseContext</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>captureApplicantDeductions</name>
            <extensionName>c:flowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Capture Applicant Deductions</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayHelp</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;This Applicant is not Active. Please re-activate the applicant and click Next to continue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>createExpense</name>
        <label>createExpense</label>
        <locationX>1287</locationX>
        <locationY>684</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Running_Notes2</targetReference>
        </connector>
        <fields>
            <name>name3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;{!getLoanApplicant.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>caseContext</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>createExpense_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>createExpense_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>applicationLiability.Description__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>applicationLiability.AccountType</objectFieldReference>
                </fields>
                <fields>
                    <name>Monthly_Instalment_Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Monthly Instalment Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>createExpense_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Running_Notes3</name>
            <defaultValue>
                <stringValue>{!runningNotes}</stringValue>
            </defaultValue>
            <fieldText>Running Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>caseContext</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Add Contractual Expense</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>existingContractualExpense</name>
        <label>existingContractualExpense</label>
        <locationX>1139</locationX>
        <locationY>684</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Running_Notes</targetReference>
        </connector>
        <fields>
            <name>name2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;{!getLoanApplicant.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>caseContext</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>existingContractualExpense_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>existingContractualExpense_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>existingDeductionTab</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>LoanApplicationLiability</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Applicant Contractual Expenses</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Existing_Application_Contractual_Expenses</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-55ec&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;AccountType&quot;,&quot;guid&quot;:&quot;column-a60f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Monthly_Instalment_Amount__c&quot;,&quot;guid&quot;:&quot;column-7ada&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Monthly Instalment Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Exclude_Expense_From_Calculation__c&quot;,&quot;guid&quot;:&quot;column-3fbf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Exclude Expense From Calculation?&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>existingDeductionTotal</name>
                    <extensionName>c:flowBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>totalContractualAmount</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>runningNotes2</name>
            <defaultValue>
                <stringValue>{!runningNotes}</stringValue>
            </defaultValue>
            <fieldText>Running Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>existingContractualExpense_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>existingContractualExpense_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>existingContractualExpense_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>contractualButtons</name>
                    <extensionName>runtime_industries_lending:flowFooter</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabelNext</name>
                        <value>
                            <stringValue>Update Contractual Expenses</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonLabelCustom</name>
                        <value>
                            <stringValue>Add Contractual Expense</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showPrevious</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Add Contractual Expenses</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Expense</name>
        <label>Expense</label>
        <locationX>779</locationX>
        <locationY>1215</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Running_Notes3</targetReference>
        </connector>
        <fields>
            <name>name4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;{!getLoanApplicant.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>caseContext</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Expense_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Expense_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Income23_0</name>
                    <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToQuery</name>
                        <value>
                            <elementReference>vColumnsExpense</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>editableColName</name>
                        <value>
                            <stringValue>Exclude_Expense_From_Calculation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputRecordIds</name>
                        <value>
                            <elementReference>ExpenseCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRowSelectable</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Running_Notes4</name>
            <defaultValue>
                <stringValue>{!runningNotes}</stringValue>
            </defaultValue>
            <fieldText>Running Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>caseContext</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Include/Exclude Contractual Expenses</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getLoanApplicant</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>applicationLiability</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicationLiability</objectType>
    </variables>
    <variables>
        <name>caseContext</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>contractualExpenses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicationLiability</objectType>
    </variables>
    <variables>
        <name>contractualRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicationLiability</objectType>
    </variables>
    <variables>
        <name>existingIncomes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingLiabilities</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expenseAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ExpenseCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpenseCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantLiability</objectType>
    </variables>
    <variables>
        <name>ExpenseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantLiability</objectType>
    </variables>
    <variables>
        <name>IncomeCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncomeCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantIncome</objectType>
    </variables>
    <variables>
        <name>IncomeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantIncome</objectType>
    </variables>
    <variables>
        <name>nameMatch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>runningNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vColumns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vColumnsExpense</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
