force-app/main/default/flows/Capture_Application_Terms.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Root_Business</name>
        <choiceText>Root Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Root Business</stringValue>
        </value>
    </choices>
    <description>Flow Description:
Update Deposit 1 (%), Deposit 2 (%), Deposit 3 (%), Deposit 4 (%) on Loan Application.

Front-End Access: “Application Terms” tab on Loan Application record page.</description>
    <environments>Default</environments>
    <interviewLabel>Capture Applicant Terms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capture Application Terms</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getLoanApplication</name>
        <label>getLoanApplication</label>
        <locationX>536</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>536</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>termCapture</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLoanApplication.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan_Application_Terms</name>
        <label>Update Loan Application Terms</label>
        <locationX>537</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLoanApplication.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deposit_1__c</field>
            <value>
                <elementReference>Deposit_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_2__c</field>
            <value>
                <elementReference>Deposit_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_3__c</field>
            <value>
                <elementReference>Deposit_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_4__c</field>
            <value>
                <elementReference>Deposit_4</elementReference>
            </value>
        </inputAssignments>
        <object>ResidentialLoanApplication</object>
    </recordUpdates>
    <screens>
        <name>termCapture</name>
        <label>termCapture</label>
        <locationX>536</locationX>
        <locationY>493</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Loan_Application_Terms</targetReference>
        </connector>
        <fields>
            <name>captureTerms</name>
            <extensionName>c:flowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Capture Applicant Terms</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>termCapture_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>termCapture_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deposit_1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>getLoanApplication.Deposit_1__c</elementReference>
                    </defaultValue>
                    <fieldText>Deposit 1 (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>termCapture_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deposit_2</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>getLoanApplication.Deposit_2__c</elementReference>
                    </defaultValue>
                    <fieldText>Deposit 2 (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>termCapture_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deposit_3</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>getLoanApplication.Deposit_3__c</elementReference>
                    </defaultValue>
                    <fieldText>Deposit 3 (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>termCapture_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deposit_4</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>getLoanApplication.Deposit_4__c</elementReference>
                    </defaultValue>
                    <fieldText>Deposit 4 (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Update Terms</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getLoanApplication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
