force-app/main/default/flows/Capture_Missing_Lead_Source_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Agent_Blank_True</name>
        <label>Assign Agent Blank True</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>agentBlank</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>agentSearch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Agent_BlankTrue</name>
        <label>Assign Agent Blank True</label>
        <locationX>1898</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>agentBlank</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignAgent_Blank_True</name>
        <label>Assign Agent Blank True</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>agentBlank</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Agent_Select</name>
        <label>Agent Selected?</label>
        <locationX>1766</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_Agent_BlankTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Block</defaultConnectorLabel>
        <rules>
            <name>Agent_Popula</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedAgent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Agent_on_GenOpp</targetReference>
            </connector>
            <label>Agent Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Agent_Selected</name>
        <label>Agent Selected?</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_Agent_Blank_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Block</defaultConnectorLabel>
        <rules>
            <name>Agent_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedAgent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Agent_on_General_Opp</targetReference>
            </connector>
            <label>Agent Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>AgentSelected</name>
        <label>Agent Selected?</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>AssignAgent_Blank_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Block</defaultConnectorLabel>
        <rules>
            <name>AgentPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedAgent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Agent_on_Gen_Opp</targetReference>
            </connector>
            <label>Agent Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Record_Type</name>
        <label>Check Opportunity Record Type</label>
        <locationX>1172</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Is_General_Opp_Agent_Populated_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bond</defaultConnectorLabel>
        <rules>
            <name>General</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_General_Opp_Agent_Populated</targetReference>
            </connector>
            <label>General</label>
        </rules>
        <rules>
            <name>PA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre_Approval_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_General_Opp_Agent_Populated_0</targetReference>
            </connector>
            <label>PA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DigiApp_Campaign</name>
        <label>Is DigiApp Campaign?</label>
        <locationX>1799</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Digi_App</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_BB_Campaign.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DigiApp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Opportunity_Record_Type</targetReference>
            </connector>
            <label>Digi App</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_General_Opp_Agent_Populated</name>
        <label>Is General Opp Agent Populated?</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>General_Agent_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Real_Estate_Agent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>agentSearch</targetReference>
            </connector>
            <label>General Agent Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_General_Opp_Agent_Populated_0</name>
        <label>Is General Opp Agent Populated?</label>
        <locationX>1172</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>General_Agent_Missing_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.General_Opportunity__r.Real_Estate_Agent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>agent_Search</targetReference>
            </connector>
            <label>General Agent Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_General_Opp_Agent_Populated_0_0</name>
        <label>Is General Opp Agent Populated?</label>
        <locationX>1964</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>General_Agent_Missing_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.General_Opportunity__r.Real_Estate_Agent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>agentSearchs</targetReference>
            </connector>
            <label>General Agent Missing</label>
        </rules>
    </decisions>
    <description>Flow Description: Flow to capture missing Lead Source when it is a Website/API campaign type Opportunity, launched from Wrap Up Opportunity H2 (main flow that houses entire skeleton of working opps)

Front-End Access: Work Opportunity button on the Opportunity page.</description>
    <environments>Default</environments>
    <interviewLabel>Capture Missing Lead Source - Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capture Missing Lead Source - Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1799</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_BB_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_BB_Campaign</name>
        <label>Get Opportunity BB Campaign</label>
        <locationX>1799</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_DigiApp_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.BLG_Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Agent_on_Gen_Opp</name>
        <label>Update Agent on Gen Opp</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Update_Agent_on_PAOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.General_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Real_Estate_Agent__c</field>
            <value>
                <elementReference>selectedAgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Agent_on_General_Opp</name>
        <label>Update Agent on General Opp</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Update_Agent_on_PA_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Real_Estate_Agent__c</field>
            <value>
                <elementReference>selectedAgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Agent_on_GenOpp</name>
        <label>Update Agent on Gen Opp</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Update_Agent_onPA_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.General_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Real_Estate_Agent__c</field>
            <value>
                <elementReference>selectedAgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Agent_on_PA_Opp</name>
        <label>Update Agent on PA Opp</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Real_Estate_Agent__c</field>
            <value>
                <elementReference>selectedAgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Agent_on_PAOpp</name>
        <label>Update Agent on PA Opp</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Real_Estate_Agent__c</field>
            <value>
                <elementReference>selectedAgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Agent_onPA_Opp</name>
        <label>Update Agent on PA Opp</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.PreApprovalOpportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Real_Estate_Agent__c</field>
            <value>
                <elementReference>selectedAgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>agent_Search</name>
        <label>agentSearch</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AgentSelected</targetReference>
        </connector>
        <fields>
            <name>leadSource_Missing</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 8px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lead Source Missing</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>agent_Search_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>agent_Search_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>campTxt</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;BLG Campaign: &lt;/strong&gt;{!Get_Opportunity.BLG_Campaign__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>TxtcampType</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Type of Campaign: &lt;/strong&gt;{!Get_Opportunity.BLG_Campaign__r.Type_of_Campaign__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>agent_Search_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>agent_Search_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>agent_Search_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_capture</name>
                    <fieldText>&lt;p&gt;Please select the lead source/agent before continuing to work the opportunity:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_2_of_agentRecordSearch</name>
                    <extensionName>c:recordSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select the agent that provided the opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queriedObjectType</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>userId</name>
                        <value>
                            <elementReference>Get_Opportunity.OwnerId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>workOppScope</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedAgent</assignToReference>
                        <name>queriedRecordId</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Copy_2_of_required</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The agent field is required.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>agentBlank</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>agent_Search_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_forceSpace</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>agentSearch</name>
        <label>agentSearch</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Agent_Selected</targetReference>
        </connector>
        <fields>
            <name>leadSourceMissing</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 8px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lead Source Missing</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>agentSearch_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>agentSearch_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>camp</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;BLG Campaign: &lt;/strong&gt;{!Get_Opportunity.BLG_Campaign__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>campType</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Type of Campaign: &lt;/strong&gt;{!Get_Opportunity.BLG_Campaign__r.Type_of_Campaign__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>agentSearch_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>agentSearch_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>agentSearch_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>capture</name>
                    <fieldText>&lt;p&gt;Please select the lead source/agent before continuing to work the opportunity:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>agentRecordSearch</name>
                    <extensionName>c:recordSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select the agent that provided the opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queriedObjectType</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>userId</name>
                        <value>
                            <elementReference>Get_Opportunity.OwnerId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>workOppScope</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedAgent</assignToReference>
                        <name>queriedRecordId</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>required</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The agent field is required.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>agentBlank</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>agentSearch_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>forceSpace</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>agentSearchs</name>
        <label>agentSearch</label>
        <locationX>1766</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Agent_Select</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_leadSourceMissing</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 8px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lead Source Missing</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>agentSearchs_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>agentSearchs_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_camp</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;BLG Campaign: &lt;/strong&gt;{!Get_Opportunity.BLG_Campaign__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_campType</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Type of Campaign: &lt;/strong&gt;{!Get_Opportunity.BLG_Campaign__r.Type_of_Campaign__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>agentSearchs_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>agentSearchs_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>agentSearchs_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_capture</name>
                    <fieldText>&lt;p&gt;Please select the lead source/agent before continuing to work the opportunity, the selected information will be populated on the &lt;strong&gt;General Opportunity&lt;/strong&gt;:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_agentRecordSearch</name>
                    <extensionName>c:recordSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select the agent that provided the opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queriedObjectType</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>userId</name>
                        <value>
                            <elementReference>Get_Opportunity.OwnerId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>workOppScope</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedAgent</assignToReference>
                        <name>queriedRecordId</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Copy_1_of_required</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The agent field is required.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>agentBlank</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>agentSearchs_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_2_of_forceSpace</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1673</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>agentBlank</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
