force-app/main/default/flows/Capture_Applicant_Expenses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Application_Liability_Id_0</name>
        <label>Assign Application Liability Id</label>
        <locationX>1119</locationX>
        <locationY>1713</locationY>
        <assignmentItems>
            <assignToReference>ExpenseRecord.LoanApplicationLiabilityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Loan_Application_Liability_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Liabilities</name>
        <label>Assign Existing Liabilities</label>
        <locationX>991</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>existingLiabilities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Existing_Liabilities.ExpenseType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Liabilities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Expense_Amount</name>
        <label>Assign Expense Amount</label>
        <locationX>1002</locationX>
        <locationY>3221</locationY>
        <assignmentItems>
            <assignToReference>expenseAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Populated_Expenses.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nameMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Populated_Expenses.ExpenseType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application_Expense_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_Columns</name>
        <label>Assign Screen Columns</label>
        <locationX>768</locationX>
        <locationY>1903</locationY>
        <assignmentItems>
            <assignToReference>vColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>IncomeSourceType</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>MonthlyIncomeAmount</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createExpenseRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_Columns_0</name>
        <label>Assign Screen Columns</label>
        <locationX>769</locationX>
        <locationY>2618</locationY>
        <assignmentItems>
            <assignToReference>vColumnsExpense</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ExpenseType__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColumnsExpense</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Amount__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Expense</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection2</name>
        <label>Assign to Collection</label>
        <locationX>966</locationX>
        <locationY>1713</locationY>
        <assignmentItems>
            <assignToReference>ExpenseCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExpenseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopIncomeandExpenses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignExpense</name>
        <label>AssignExpense</label>
        <locationX>1223</locationX>
        <locationY>1232</locationY>
        <assignmentItems>
            <assignToReference>ExpenseRecord.ExpenseType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopIncomeandExpenses.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseRecord.LoanApplicantId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLoanApplicant.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopIncomeandExpenses.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseRecord.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Liabilities.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpenseRecord.Expense_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Living Expense</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Monthly_Expense_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>loopExpenses</name>
        <label>loopExpenses</label>
        <locationX>1015</locationX>
        <locationY>2387</locationY>
        <assignmentItems>
            <assignToReference>ExpenseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopExpenseRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopExpenseRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Expense_to_0_0</name>
        <label>Set Expense to 0</label>
        <locationX>1368</locationX>
        <locationY>1520</locationY>
        <assignmentItems>
            <assignToReference>ExpenseRecord.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Loan_Application_Liability_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Financial_Expense</name>
        <choiceText>Financial Expense</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Financial Expense</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_not_at_this_time</name>
        <choiceText>No, not at this time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, not at this time</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Expense</name>
        <choiceText>Other Expense</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Expense</stringValue>
        </value>
    </choices>
    <choices>
        <name>test</name>
        <choiceText>test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>test</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Expense_Records_Sort_Asc</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Expense Records Sort Asc</label>
        <locationX>769</locationX>
        <locationY>1750</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>ExpenseCreateCollection</collectionReference>
        <connector>
            <targetReference>Assign_Screen_Columns</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>ExpenseType__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_Type</name>
        <label>Check Type</label>
        <locationX>1070</locationX>
        <locationY>1109</locationY>
        <defaultConnector>
            <targetReference>AssignExpense</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incometype</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopIncomeandExpenses.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Income</stringValue>
                </rightValue>
            </conditions>
            <label>Income</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Loan_Applicant_Active</name>
        <label>Is Loan Applicant Active?</label>
        <locationX>967</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>applicantInactiveError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLoanApplicant.IsActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLoanApplication</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Monthly_Expense_Populated</name>
        <label>Is Monthly Expense Populated</label>
        <locationX>1214</locationX>
        <locationY>1356</locationY>
        <defaultConnector>
            <targetReference>Create_Loan_Application_Liability_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Populated</defaultConnectorLabel>
        <rules>
            <name>Blank0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ExpenseRecord.Amount__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ExpenseRecord.Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Expense_to_0_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Available_to_Delete</name>
        <label>Records Available to Delete?</label>
        <locationX>456</locationX>
        <locationY>2969</locationY>
        <defaultConnector>
            <targetReference>getPopulatedExpenses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records to Delete</defaultConnectorLabel>
        <rules>
            <name>Records_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getExpenseRecordsDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteUnusedRecords_0</targetReference>
            </connector>
            <label>Records Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Available_to_Delete_0</name>
        <label>Records Available to Delete?</label>
        <locationX>526</locationX>
        <locationY>3357</locationY>
        <defaultConnectorLabel>No Records to Delete</defaultConnectorLabel>
        <rules>
            <name>Records_Available_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getExpenseRecordsDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteUnusedRecords_0_0</targetReference>
            </connector>
            <label>Records Available</label>
        </rules>
    </decisions>
    <description>DB: Extend column widths</description>
    <dynamicChoiceSets>
        <name>expenseChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expense</stringValue>
            </value>
        </filters>
        <object>Income_and_Expense_Types__c</object>
        <outputAssignments>
            <assignToReference>ExpenseRecord.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>totalExpenseAmount</name>
        <dataType>String</dataType>
        <expression>&quot;Total Expense Amount: R&quot; + TEXT({!getLoanApplicant.Total_Living_Expense_Amount__c})</expression>
    </formulas>
    <interviewLabel>Capture Applicant Expenses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capture Applicant Expenses</label>
    <loops>
        <name>Loop_Existing_Liabilities</name>
        <label>Loop Existing Liabilities</label>
        <locationX>776</locationX>
        <locationY>743</locationY>
        <collectionReference>Get_Existing_Applicant_Liabilities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Existing_Liabilities</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getIncomeExpense</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Populated_Expenses</name>
        <label>Loop Populated Expenses</label>
        <locationX>769</locationX>
        <locationY>3218</locationY>
        <collectionReference>getPopulatedExpenses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Expense_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Records_Available_to_Delete_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopExpenseRecords</name>
        <label>loopExpenseRecords</label>
        <locationX>767</locationX>
        <locationY>2387</locationY>
        <collectionReference>getExpenseRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loopExpenses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Screen_Columns_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopIncomeandExpenses</name>
        <label>loopIncomeandExpenses</label>
        <locationX>777</locationX>
        <locationY>1109</locationY>
        <collectionReference>getIncomeExpense</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Expense_Records_Sort_Asc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Loan_Application_Liability_0</name>
        <label>Create Loan Application Liability</label>
        <locationX>1241</locationX>
        <locationY>1713</locationY>
        <connector>
            <targetReference>Assign_Application_Liability_Id_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Expense_Category__c</field>
            <value>
                <stringValue>Living Expense</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanApplicationId</field>
            <value>
                <elementReference>getLoanApplication.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ExpenseRecord.ExpenseType__c</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicationLiability</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createExpenseRecords</name>
        <label>createExpenseRecords</label>
        <locationX>768</locationX>
        <locationY>2089</locationY>
        <connector>
            <targetReference>getExpenseRecords</targetReference>
        </connector>
        <inputReference>ExpenseCreateCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>deleteUnusedRecords_0</name>
        <label>deleteUnusedRecords</label>
        <locationX>769</locationX>
        <locationY>2978</locationY>
        <connector>
            <targetReference>getPopulatedExpenses</targetReference>
        </connector>
        <inputReference>getExpenseRecordsDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>deleteUnusedRecords_0_0</name>
        <label>deleteUnusedRecords</label>
        <locationX>752</locationX>
        <locationY>3536</locationY>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLoanApplication.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MonthlyPaymentAmount</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MonthlyPaymentAmount</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>LoanApplicationLiability</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Existing_Applicant_Liabilities</name>
        <label>Get Existing Applicant Liabilities</label>
        <locationX>776</locationX>
        <locationY>579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existingExpensesScr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicantId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLoanApplicant.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expense_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Living Expense</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicantLiability</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getExpenseRecords</name>
        <label>getExpenseRecords</label>
        <locationX>767</locationX>
        <locationY>2267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopExpenseRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicantId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLoanApplicant.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expense_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Living Expense</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicantLiability</object>
        <sortField>Amount__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getExpenseRecordsDelete</name>
        <label>getExpenseRecordsDelete</label>
        <locationX>769</locationX>
        <locationY>2858</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Available_to_Delete</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>LoanApplicantId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLoanApplicant.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicantLiability</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getIncomeExpense</name>
        <label>getIncomeExpense</label>
        <locationX>777</locationX>
        <locationY>954</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopIncomeandExpenses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>existingLiabilities</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expense</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Income_and_Expense_Types__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLoanApplicant</name>
        <label>getLoanApplicant</label>
        <locationX>776</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Loan_Applicant_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLoanApplication</name>
        <label>getLoanApplication</label>
        <locationX>776</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLoanApplicant.LoanApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>776</locationX>
        <locationY>454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Applicant_Liabilities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLoanApplication.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPopulatedExpenses</name>
        <label>getPopulatedExpenses</label>
        <locationX>769</locationX>
        <locationY>3098</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Populated_Expenses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicantId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLoanApplicant.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicantLiability</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_Expense_Amount</name>
        <label>Update Application Expense Amount</label>
        <locationX>892</locationX>
        <locationY>3391</locationY>
        <connector>
            <targetReference>Loop_Populated_Expenses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLoanApplication.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>nameMatch</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MonthlyPaymentAmount</field>
            <value>
                <elementReference>expenseAmount</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicationLiability</object>
    </recordUpdates>
    <screens>
        <name>applicantInactiveError</name>
        <label>applicantInactiveError</label>
        <locationX>1268</locationX>
        <locationY>183</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getLoanApplicant</targetReference>
        </connector>
        <fields>
            <name>captureExpensesError</name>
            <extensionName>c:flowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Capture Applicant Expenses</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayHelp</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This Applicant is not Active. Please re-activate the applicant and click Next to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>existingExpensesScr</name>
        <label>existingExpensesScr</label>
        <locationX>994</locationX>
        <locationY>606</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Existing_Liabilities</targetReference>
        </connector>
        <fields>
            <name>existingExpensesScr_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>existingExpensesScr_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>existingExpense</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>LoanApplicantLiability</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Applicant Expenses</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Existing_Applicant_Liabilities</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;ExpenseType__c&quot;,&quot;guid&quot;:&quot;column-d62e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Expense Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-0805&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>totalExpense</name>
                    <extensionName>c:flowBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>totalExpenseAmount</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Add/Edit Expenses</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Expense</name>
        <label>Expense</label>
        <locationX>769</locationX>
        <locationY>2738</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getExpenseRecordsDelete</targetReference>
        </connector>
        <fields>
            <name>Income23_0</name>
            <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>vColumnsExpense</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>editableColName</name>
                <value>
                    <stringValue>Amount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>ExpenseCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRowSelectable</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Update Expenses</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getLoanApplicant</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>applicationLiability</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicationLiability</objectType>
    </variables>
    <variables>
        <name>existingIncomes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingLiabilities</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expenseAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ExpenseCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpenseCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantLiability</objectType>
    </variables>
    <variables>
        <name>ExpenseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantLiability</objectType>
    </variables>
    <variables>
        <name>IncomeCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncomeCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantIncome</objectType>
    </variables>
    <variables>
        <name>IncomeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantIncome</objectType>
    </variables>
    <variables>
        <name>nameMatch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vColumns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vColumnsExpense</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
