force-app/main/default/flows/Case_Update_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NewCaseNotif</name>
        <label>NewCaseNotif</label>
        <locationX>538</locationX>
        <locationY>735</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotif.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CaseCreationNotifBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CaseCreationNotifTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>AssignRecipientID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>RecipientAssignment</name>
        <label>RecipientAssignment</label>
        <locationX>540</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>AssignRecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewCaseNotif</targetReference>
        </connector>
    </assignments>
    <description>Flow Description: Sends an assignment notification to the new owner of the Case when the Case owner has been changed.

No Front-End Access - Flow is record triggered based on the entry criteria.</description>
    <environments>Default</environments>
    <interviewLabel>Case Update Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Update Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCustomNotif</name>
        <label>GetCustomNotif</label>
        <locationX>542</locationX>
        <locationY>460</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecipientAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>411</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetCustomNotif</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.OwnerId})</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CaseCreatedNotif</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.Type}&lt;/p&gt;&lt;p&gt;{!$Record.CreatedDate}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CaseCreationNotifBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Verification Customer Name: {!$Record.Account.FirstName} {!$Record.Account.LastName}
Verification Creation Date: {!$Record.CreatedDate}</text>
    </textTemplates>
    <textTemplates>
        <name>CaseCreationNotifTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new Verification Case has been assigned to you!</text>
    </textTemplates>
    <textTemplates>
        <name>NotifRecipientID</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.OwnerId}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AssignRecipientID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.OwnerId</elementReference>
        </value>
    </variables>
</Flow>
