force-app/main/default/flows/Case_Creation_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NewCaseNotif</name>
        <label>NewCaseNotif</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotif.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CaseCreationNotifBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CaseCreationNotifTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>AssignRecipientID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>RecipientAssignment</name>
        <label>RecipientAssignment</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>AssignRecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewCaseNotif</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_owner_change</name>
        <label>Did owner change?</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Yes,Ignore</defaultConnectorLabel>
        <rules>
            <name>No_Execute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.originalcaseOwner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCustomNotif</targetReference>
            </connector>
            <label>No,Execute</label>
        </rules>
    </decisions>
    <description>Flow Description: Sends a creation notification to the owner of the Case when the Case has been created.

No Front-End Access - Flow is record triggered based on the entry criteria.</description>
    <environments>Default</environments>
    <interviewLabel>Case Creation Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Creation Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCustomNotif</name>
        <label>GetCustomNotif</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecipientAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Original_Case_Owner_Field</name>
        <label>Update Original Case Owner Field</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>originalcaseOwner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Original_Case_Owner_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>2F0052500000A8al2</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Run_Async</name>
            <connector>
                <targetReference>Did_owner_change</targetReference>
            </connector>
            <label>Run Async</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CaseCreatedNotif</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.Type}&lt;/p&gt;&lt;p&gt;{!$Record.CreatedDate}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CaseCreationNotifBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Verification Customer Name: {!$Record.Account.FirstName} {!$Record.Account.LastName}
Verification Creation Date: {!$Record.CreatedDate}</text>
    </textTemplates>
    <textTemplates>
        <name>CaseCreationNotifTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new Verification Case has been assigned to you!</text>
    </textTemplates>
    <textTemplates>
        <name>NotifRecipientID</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.OwnerId}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AssignRecipientID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.OwnerId</elementReference>
        </value>
    </variables>
</Flow>
