force-app/main/default/flows/Case_Assign_Owner_Sub_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Allocate_Case_Owner</name>
        <label>Allocate Case Owner</label>
        <locationX>792</locationX>
        <locationY>965</locationY>
        <actionName>Invocable_AllocateCase</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Had_Error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseGroup</name>
            <value>
                <stringValue>Verification Team</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Had_Error</name>
        <label>Had Error</label>
        <locationX>785</locationX>
        <locationY>1114</locationY>
        <defaultConnector>
            <targetReference>Set_Assignment_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Had Error</defaultConnectorLabel>
        <rules>
            <name>No_Error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Allocate_Case_Owner.failed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Allocate_Case_Owner.failed</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Owner</targetReference>
            </connector>
            <label>No Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Office_Admin_Assigned_to_Case</name>
        <label>Office Admin Assigned to Case?</label>
        <locationX>1018</locationX>
        <locationY>556</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Admin Assigned</defaultConnectorLabel>
        <rules>
            <name>Admin_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Owner.Profile.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Office_Admin_Profile.Id</elementReference>
                </rightValue>
            </conditions>
            <label>Admin Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opps_Team_or_Group</name>
        <label>Opps Team or Group</label>
        <locationX>783</locationX>
        <locationY>789</locationY>
        <defaultConnector>
            <targetReference>Allocate_Case_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Group</defaultConnectorLabel>
        <rules>
            <name>Opps_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Team_Member.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Owner_Team</targetReference>
            </connector>
            <label>Opps Team</label>
        </rules>
    </decisions>
    <description>DB: 18 april</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity Assign Owner Sub-flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Assign Owner Sub-flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>777</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Office_Admin_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Owner</name>
        <label>Get Case Owner</label>
        <locationX>777</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Office_Admin_Assigned_to_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Office_Admin_Profile</name>
        <label>Get Office Admin Profile</label>
        <locationX>777</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Office Administrator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Team_Member</name>
        <label>Get Opportunity Team Member</label>
        <locationX>791</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opps_Team_or_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Administrator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Assignment_Error</name>
        <label>Set Assignment Error</label>
        <locationX>978</locationX>
        <locationY>1113</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assignment_Failed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Case_Owner</name>
        <label>Set Case Owner</label>
        <locationX>793</locationX>
        <locationY>1302</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assignment_Failed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Allocate_Case_Owner.ownerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verification_Failure_Comment__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Case_Owner_Team</name>
        <label>Set Case Owner Team</label>
        <locationX>996</locationX>
        <locationY>789</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assignment_Failed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Opportunity_Team_Member.UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verification_Failure_Comment__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
