force-app/main/default/flows/Change_Agent_on_opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Vars</name>
        <label>Assign Vars</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.BLG_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BLG_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Running_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Vars</name>
        <label>Copy 1 of Assign Vars</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Real_Estate_Agent__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Real_Estate_Agent__r.Account.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Network__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Real_Estate_Agent__r.Account.Parent.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Wrap_Up_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_BLG_Campaign</targetReference>
        </connector>
    </assignments>
    <description>Flow Description: Update the Real Estate Agent on an Opportunity. Updates Network/Agency and Branch based off of the Real Estate Agent selected.

Front-End Access: “Change Agent” button on Opportunity Record Page.</description>
    <environments>Default</environments>
    <interviewLabel>Change Agent on opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Agent on opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_BLG_Campaign</name>
        <label>Get BLG Campaign</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Vars</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_of_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Create lead/manual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Branch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Branch__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agent_Select_scr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Gen_Opp</name>
        <label>Update Gen Opp</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Pa_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.General_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>Get_Opportunity.Real_Estate_Agent__r.Account.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLG_Campaign__c</field>
            <value>
                <elementReference>Get_Opportunity.BLG_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>Get_Opportunity.Real_Estate_Agent__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network__c</field>
            <value>
                <elementReference>Get_Opportunity.Real_Estate_Agent__r.Account.Parent.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Real_Estate_Agent__c</field>
            <value>
                <elementReference>Get_Opportunity.Real_Estate_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pa_Opp</name>
        <label>Update Pa Opp</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.PreApprovalOpportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>Get_Opportunity.Real_Estate_Agent__r.Account.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLG_Campaign__c</field>
            <value>
                <elementReference>Get_Opportunity.BLG_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>Get_Opportunity.Real_Estate_Agent__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network__c</field>
            <value>
                <elementReference>Get_Opportunity.Real_Estate_Agent__r.Account.Parent.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Real_Estate_Agent__c</field>
            <value>
                <elementReference>Get_Opportunity.Real_Estate_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Running_Opp</name>
        <label>Update Running Opp</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Gen_Opp</targetReference>
        </connector>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Agent_Select_scr</name>
        <label>Agent Select</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Vars</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity.Real_Estate_Agent__c</objectFieldReference>
        </fields>
        <fields>
            <name>Agent_Select_scr_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Agent_Select_scr_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>agentRecordSearch</name>
                    <extensionName>c:recordSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select the agent that provided the opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queriedObjectType</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contactContactScope</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedAgent</assignToReference>
                        <name>queriedRecordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Agent_Select_scr_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>2223</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
