force-app/main/default/flows/Close_Opportunity_Lost_or_Won_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Error_Trues</name>
        <label>Set Error True</label>
        <locationX>1682</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>showError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Won_Screen_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Trues_0</name>
        <label>Set Error True</label>
        <locationX>1294</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>showError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Lost_PA_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Trues_0_0</name>
        <label>Set Error True</label>
        <locationX>777</locationX>
        <locationY>725</locationY>
        <assignmentItems>
            <assignToReference>showError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Lost_Bond_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Closed_Lost_No_Documents_Received</name>
        <choiceText>Closed Lost - No Documents Received</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Lost - No Documents Received</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed_Won_Deal_Submitted</name>
        <choiceText>Closed Won - Deal Submitted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Won - Deal Submitted</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Status_Populated</name>
        <label>Check if Status Populated</label>
        <locationX>1566</locationX>
        <locationY>573</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Trues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status Empty</defaultConnectorLabel>
        <rules>
            <name>Populated</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>selectedStatusOutputVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedStatusOutputVar</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedStatusOutputVarIssued</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedStatusOutputVarIssued</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Task_0_0_0</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Status_Populated_0</name>
        <label>Check if Status Populated</label>
        <locationX>1178</locationX>
        <locationY>786</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Trues_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status Empty</defaultConnectorLabel>
        <rules>
            <name>Populated_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedStatusOutputVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedStatusOutputVar</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Task_0_0_0_0</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Status_Populated_0_0</name>
        <label>Check if Status Populated</label>
        <locationX>661</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Trues_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status Empty</defaultConnectorLabel>
        <rules>
            <name>Populated_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedStatusOutputVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedStatusOutputVar</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Task_0_0_0_0_0</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_Lost_or_Won</name>
        <label>Closed Lost or Won?</label>
        <locationX>776</locationX>
        <locationY>444</locationY>
        <defaultConnector>
            <targetReference>Close_Won_Screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Closed Won PA</defaultConnectorLabel>
        <rules>
            <name>Closed_General</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_to_Close.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Lost_Bond_Screen_0</targetReference>
            </connector>
            <label>Closed General</label>
        </rules>
        <rules>
            <name>Bond_Opp_OTP_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_to_Close.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTP received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_to_Close.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bond</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_Task</targetReference>
            </connector>
            <label>Bond Opp OTP Received</label>
        </rules>
        <rules>
            <name>Closed_Lost_PA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_to_Close.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre_Approval_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_to_Close.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Nurture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_to_Close.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PA Requested - Verification complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Lost_PA_Screen</targetReference>
            </connector>
            <label>Closed Lost PA</label>
        </rules>
        <rules>
            <name>Closed_Lost_Bond</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_to_Close.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bond</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Lost_Bond_Screen</targetReference>
            </connector>
            <label>Closed Lost Bond</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Latest_Task_Open</name>
        <label>Is Latest Task Open?</label>
        <locationX>1411</locationX>
        <locationY>254</locationY>
        <defaultConnector>
            <targetReference>Won_or_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Latest_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Task.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Task_0_0</targetReference>
            </connector>
            <label>Latest Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Won_or_Lost</name>
        <label>Won or Lost?</label>
        <locationX>1664</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Closed_Lostbond</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bond - Lost</defaultConnectorLabel>
        <rules>
            <name>Bond_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectCloseOffOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Closed_Won_Deal_Submitted</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Closed_Won_0</targetReference>
            </connector>
            <label>Bond - Won</label>
        </rules>
    </decisions>
    <description>Flow Description: Closes a Pre-Approval or Bond Opportunity as Won or Lost. Launched from Wrap Up Opportunity H2 and Wrap up Bond Subflow.

Front-End Access: Work Opportunity button on the Opportunity page.</description>
    <environments>Default</environments>
    <interviewLabel>Close Opportunity Lost or Won - Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Opportunity Lost or Won - Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Latest_Open_Task</name>
        <label>Get Latest Open Task</label>
        <locationX>783</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Closed_Lost_or_Won</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_to_Close.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Task</name>
        <label>Get Latest Task</label>
        <locationX>1142</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Close_Lost_Won_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_to_Close.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_to_Close</name>
        <label>Get Opportunity to Close</label>
        <locationX>783</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Open_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CloseGeneralOpportunity</name>
        <label>Close General Opportunity</label>
        <locationX>10</locationX>
        <locationY>433</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_to_Close.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Attempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>generalClose.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>generalClose.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Task_0_0</name>
        <label>Complete Task</label>
        <locationX>1672</locationX>
        <locationY>143</locationY>
        <connector>
            <targetReference>Won_or_Lost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Task_0_0_0</name>
        <label>Complete Task</label>
        <locationX>1846</locationX>
        <locationY>701</locationY>
        <connector>
            <targetReference>Update_Opportunity_Closed_Won_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Task_0_0_0_0</name>
        <label>Complete Task</label>
        <locationX>1453</locationX>
        <locationY>860</locationY>
        <connector>
            <targetReference>Update_Opportunity_Closed_Lost_PA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Task_0_0_0_0_0</name>
        <label>Complete Task</label>
        <locationX>669</locationX>
        <locationY>1026</locationY>
        <connector>
            <targetReference>Update_Opportunity_Closed_Lost_PA_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Task_0_0_0_0_0_0</name>
        <label>Complete Task</label>
        <locationX>167</locationX>
        <locationY>433</locationY>
        <connector>
            <targetReference>CloseGeneralOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Closed_Lost_PA</name>
        <label>Update Opportunity Closed Lost PA</label>
        <locationX>1596</locationX>
        <locationY>860</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_to_Close.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Attempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>selectedStatusOutputVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Closed_Lost_PA_0</name>
        <label>Update Opportunity Closed Lost PA</label>
        <locationX>669</locationX>
        <locationY>1182</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_to_Close.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Attempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>selectedStatusOutputVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Closed_Lostbond</name>
        <label>Update Opportunity Closed Lost</label>
        <locationX>1904</locationX>
        <locationY>192</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_to_Close.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Attempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>OTP Received - No Documents Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Closed_Won_0</name>
        <label>Update Opportunity Closed Won</label>
        <locationX>1903</locationX>
        <locationY>400</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_to_Close.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Attempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deal Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Closed_Won_0_0</name>
        <label>Update Opportunity Closed Won</label>
        <locationX>1989</locationX>
        <locationY>701</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_to_Close.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Attempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>selectedStatusOutputVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Close_Lost_Bond_Screen</name>
        <label>Close Lost Bond Screen</label>
        <locationX>559</locationX>
        <locationY>725</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_Status_Populated_0_0</targetReference>
        </connector>
        <fields>
            <name>openTaskWonHeading_0_0_0</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Get_Latest_Open_Task.Subject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 8px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Close_Lost_Bond_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Close_Lost_Bond_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_custName_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Name: &lt;/strong&gt;{!Get_Opportunity_to_Close.Account.FirstName} {!Get_Opportunity_to_Close.Account.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_stickyNote_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Comment/Sticky Note: &lt;/strong&gt;{!Get_Opportunity_to_Close.Comment__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_stageCurr_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Current Stage: &lt;/strong&gt;{!Get_Opportunity_to_Close.StageName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_statusCurr_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Current Status: &lt;/strong&gt;{!Get_Opportunity_to_Close.Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Close_Lost_Bond_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_slaDeadline_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;SLA Deadline: &lt;/strong&gt;{!Get_Opportunity_to_Close.SLA_Deadline__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_callback_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Call Back Date Time: &lt;/strong&gt;{!Get_Latest_Open_Task.Due_Date_Time__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_email_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Email: &lt;/strong&gt;{!Get_Opportunity_to_Close.Account.PersonEmail}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_contactNumber_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Contact Number: &lt;/strong&gt;{!Get_Opportunity_to_Close.Account.Phone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>statusClosedWonNoPAIssued_0_0</name>
            <extensionName>c:flowFilteredDependantPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>excludedValues</name>
                <value>
                    <stringValue>No PA Consent Received;No PA Documents Received</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStage</name>
                <value>
                    <stringValue>Closed Lost</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedStatusOutputVar</assignToReference>
                <name>selectedStatus</name>
            </outputParameters>
        </fields>
        <fields>
            <name>notWonError_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please select a status.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close off</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Close_Lost_Bond_Screen_0</name>
        <label>Close Lost Bond Screen</label>
        <locationX>305</locationX>
        <locationY>433</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Complete_Task_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>openTaskWonHeading_0_0_0_0</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Get_Latest_Open_Task.Subject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 8px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Close_Lost_Bond_Screen_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Close_Lost_Bond_Screen_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_custName_0_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Name: &lt;/strong&gt;{!Get_Opportunity_to_Close.Account.FirstName} {!Get_Opportunity_to_Close.Account.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_stickyNote_0_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Comment/Sticky Note: &lt;/strong&gt;{!Get_Opportunity_to_Close.Comment__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_stageCurr_0_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Current Stage: &lt;/strong&gt;{!Get_Opportunity_to_Close.StageName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_statusCurr_0_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Current Status: &lt;/strong&gt;{!Get_Opportunity_to_Close.Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Close_Lost_Bond_Screen_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_slaDeadline_0_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;SLA Deadline: &lt;/strong&gt;{!Get_Opportunity_to_Close.SLA_Deadline__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_callback_0_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Call Back Date Time: &lt;/strong&gt;{!Get_Latest_Open_Task.Due_Date_Time__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_email_0_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Email: &lt;/strong&gt;{!Get_Opportunity_to_Close.Account.PersonEmail}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_contactNumber_0_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Contact Number: &lt;/strong&gt;{!Get_Opportunity_to_Close.Account.Phone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>generalClose</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>StageName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Stage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <stringValue>Closed Lost</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Close off</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Close_Lost_PA_Screen</name>
        <label>Close Lost PA Screen</label>
        <locationX>1076</locationX>
        <locationY>684</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_Status_Populated_0</targetReference>
        </connector>
        <fields>
            <name>openTaskWonHeading_0_0</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Get_Latest_Open_Task.Subject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 8px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Close_Lost_PA_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Close_Lost_PA_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_custName_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Name: &lt;/strong&gt;{!Get_Opportunity_to_Close.Account.FirstName} {!Get_Opportunity_to_Close.Account.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_stickyNote_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Comment/Sticky Note: &lt;/strong&gt;{!Get_Opportunity_to_Close.Comment__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_stageCurr_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Current Stage: &lt;/strong&gt;{!Get_Opportunity_to_Close.StageName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_statusCurr_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Current Status: &lt;/strong&gt;{!Get_Opportunity_to_Close.Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Close_Lost_PA_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_slaDeadline_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;SLA Deadline: &lt;/strong&gt;{!Get_Opportunity_to_Close.SLA_Deadline__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_callback_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Call Back Date Time: &lt;/strong&gt;{!Get_Latest_Open_Task.Due_Date_Time__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_email_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Email: &lt;/strong&gt;{!Get_Opportunity_to_Close.Account.PersonEmail}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_contactNumber_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Contact Number: &lt;/strong&gt;{!Get_Opportunity_to_Close.Account.Phone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>statusClosedWonNoPAIssued_0</name>
            <extensionName>c:flowFilteredDependantPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>excludedValues</name>
                <value>
                    <stringValue>No OTP Received;OTP Received - No Documents Received</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStage</name>
                <value>
                    <stringValue>Closed Lost</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedStatusOutputVar</assignToReference>
                <name>selectedStatus</name>
            </outputParameters>
        </fields>
        <fields>
            <name>notWonError_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please select a status.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close off</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Close_Lost_Won_Screen</name>
        <label>Close Lost/Won Screen</label>
        <locationX>1274</locationX>
        <locationY>252</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Latest_Task_Open</targetReference>
        </connector>
        <fields>
            <name>openTaskHeading_0</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Get_Latest_Task.Subject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 8px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Close_Lost_Won_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Close_Lost_Won_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>custName_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Name: &lt;/strong&gt;{!Get_Opportunity_to_Close.Account.FirstName} {!Get_Opportunity_to_Close.Account.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>stickyNote_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Comment/Sticky Note: &lt;/strong&gt;{!Get_Opportunity_to_Close.Comment__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>stageCurr_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Current Stage: &lt;/strong&gt;{!Get_Opportunity_to_Close.StageName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>statusCurr_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Current Status: &lt;/strong&gt;{!Get_Opportunity_to_Close.Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Close_Lost_Won_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>slaDeadline_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;SLA Deadline: &lt;/strong&gt;{!Get_Opportunity_to_Close.SLA_Deadline__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>callback_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Call Back Date Time: &lt;/strong&gt;{!Get_Latest_Task.Due_Date_Time__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Latest_Open_Task.Subject</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Call Back</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>email_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Email: &lt;/strong&gt;{!Get_Opportunity_to_Close.Account.PersonEmail}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>contactNumber_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Contact Number: &lt;/strong&gt;{!Get_Opportunity_to_Close.Account.Phone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SelectCloseOffOption</name>
            <choiceReferences>Closed_Lost_No_Documents_Received</choiceReferences>
            <choiceReferences>Closed_Won_Deal_Submitted</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Bond Close Off Option:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Close off</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Close_Won_Screen_0</name>
        <label>Close Won Screen</label>
        <locationX>1358</locationX>
        <locationY>479</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_Status_Populated</targetReference>
        </connector>
        <fields>
            <name>openTaskWonHeading_0</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Get_Latest_Open_Task.Subject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 8px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Close_Won_Screen_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Close_Won_Screen_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_custName_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Name: &lt;/strong&gt;{!Get_Opportunity_to_Close.Account.FirstName} {!Get_Opportunity_to_Close.Account.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_stickyNote_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Comment/Sticky Note: &lt;/strong&gt;{!Get_Opportunity_to_Close.Comment__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_stageCurr_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Current Stage: &lt;/strong&gt;{!Get_Opportunity_to_Close.StageName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_statusCurr_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Current Status: &lt;/strong&gt;{!Get_Opportunity_to_Close.Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Close_Won_Screen_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_slaDeadline_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;SLA Deadline: &lt;/strong&gt;{!Get_Opportunity_to_Close.SLA_Deadline__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_callback_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Call Back Date Time: &lt;/strong&gt;{!Get_Latest_Open_Task.Due_Date_Time__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_email_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Email: &lt;/strong&gt;{!Get_Opportunity_to_Close.Account.PersonEmail}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_contactNumber_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Contact Number: &lt;/strong&gt;{!Get_Opportunity_to_Close.Account.Phone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>statusClosedWonNoPAIssued</name>
            <extensionName>c:flowFilteredDependantPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>excludedValues</name>
                <value>
                    <stringValue>Deal Submitted;PA Issued - No OTP Received;PA Issued - OTP Received</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedStatusOutputVar</assignToReference>
                <name>selectedStatus</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity_to_Close.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pre_Approval_Opportunity</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Opportunity_to_Close.PA_Issued_Date_Time__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>statusClosedWonPAIssued</name>
            <extensionName>c:flowFilteredDependantPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>excludedValues</name>
                <value>
                    <stringValue>Deal Submitted;PA not issued - Value;PA not issued - No affordability;PA not issued - Credit profile;PA not issued - Documents</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedStatusOutputVarIssued</assignToReference>
                <name>selectedStatus</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity_to_Close.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pre_Approval_Opportunity</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Opportunity_to_Close.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Nurture</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Opportunity_to_Close.PA_Issued_Date_Time__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>notWonError_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please select a status.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close off</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>657</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Get_Opportunity_to_Close</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedStatusOutputVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedStatusOutputVarIssued</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
