force-app/main/default/flows/Consent_Viewer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_User</name>
        <label>Check User</label>
        <locationX>600</locationX>
        <locationY>197</locationY>
        <actionName>SRVPPLGetUserprofile_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_Userprofile</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>requests</name>
            <value>
                <elementReference>Get_Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_in_People_Domain</name>
        <label>Create in People Domain</label>
        <locationX>886</locationX>
        <locationY>214</locationY>
        <actionName>SRVPPLPostPeople_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Successful</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>Get_Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>Get_Account.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>Get_Account.LastName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_in_People_Domain_0</name>
        <label>Create in People Domain</label>
        <locationX>1241</locationX>
        <locationY>50</locationY>
        <actionName>SRVPPLPostPeople_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Successful_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>Get_Account.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>Get_Account.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>Get_Contact.Phone</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Consents_Incomplete</name>
        <label>Consents Incomplete</label>
        <locationX>418</locationX>
        <locationY>1048</locationY>
        <assignmentItems>
            <assignToReference>consentsIncomplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Applicant_Status_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DomainID</name>
        <label>Set DomainID</label>
        <locationX>941</locationX>
        <locationY>618</locationY>
        <assignmentItems>
            <assignToReference>var_DomainId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_in_People_Domain.message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Scopes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DomainID_0</name>
        <label>Set DomainID</label>
        <locationX>600</locationX>
        <locationY>750</locationY>
        <assignmentItems>
            <assignToReference>var_DomainId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.DomainId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Scopes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DomainID_0_0</name>
        <label>Set DomainID</label>
        <locationX>755</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>var_DomainId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_User.domainId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Scopes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DomainID_0_0_0</name>
        <label>Set DomainID</label>
        <locationX>1107</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>var_DomainId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_in_People_Domain_0.message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Scopes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Scopes</name>
        <label>Set Scopes</label>
        <locationX>941</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>col_var_scopes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>MOBBPrequal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>exitToFlowVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>viewerScr</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ConsentRequirementsMet</name>
        <label>ConsentRequirementsMet?</label>
        <locationX>661</locationX>
        <locationY>1045</locationY>
        <defaultConnectorLabel>Requirements Met</defaultConnectorLabel>
        <rules>
            <name>Requirements_not_met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Updated_Get_Account.ConsentRequirementsMet__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Main_Applicant</targetReference>
            </connector>
            <label>Requirements not met</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Successful</name>
        <label>Create Successful</label>
        <locationX>934</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fatality</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Create_in_People_Domain.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_in_People_Domain_0.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_to_account</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Successful_0</name>
        <label>Create Successful</label>
        <locationX>1233</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fatality</defaultConnectorLabel>
        <rules>
            <name>Created_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Create_in_People_Domain_0.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_to_account_0_0</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Email_Exist</name>
        <label>Does Email Exist</label>
        <locationX>745</locationX>
        <locationY>18</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Email</defaultConnectorLabel>
        <rules>
            <name>Yes_Email_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Applicant.Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_in_People_Domain</targetReference>
            </connector>
            <label>Yes,Email Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exit_Flow</name>
        <label>Exit Flow?</label>
        <locationX>1083</locationX>
        <locationY>951</locationY>
        <defaultConnector>
            <targetReference>Updated_Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ExitFlowConsentRefused</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>exitToFlowVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Userprofile</name>
        <label>Found Userprofile</label>
        <locationX>746</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>Does_Email_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Go Create It</defaultConnectorLabel>
        <rules>
            <name>Found_It</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_User.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_to_account_0</targetReference>
            </connector>
            <label>Found It</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Domain_Id</name>
        <label>Has Domain Id</label>
        <locationX>593</locationX>
        <locationY>402</locationY>
        <defaultConnector>
            <targetReference>Set_DomainID_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.DomainId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_User</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Main_Applicant</name>
        <label>Is Main Applicant?</label>
        <locationX>694</locationX>
        <locationY>1255</locationY>
        <defaultConnector>
            <targetReference>Consents_Incomplete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Main Applicant</defaultConnectorLabel>
        <rules>
            <name>Yes_Main_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Applicant.Is_Main_Applicant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_to_No_Consent</targetReference>
            </connector>
            <label>Yes Main Applicant</label>
        </rules>
    </decisions>
    <description>Flow Description: Checks if consent requirements have been met for the Applicants/Creates People Domain Id. Launched as a subflow from Consent, IDV and Credit Check flow.

Front-End Access: “Work Opportunity” button on Opportunity Record Page.</description>
    <environments>Default</environments>
    <interviewLabel>Consent Viewer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consent Viewer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>466</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Domain_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Applicant.Contact.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1085</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_in_People_Domain_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Applicant</name>
        <label>Get Loan Applicant</label>
        <locationX>362</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_related_to_Account</name>
        <label>Get Opportunity related to Account</label>
        <locationX>825</locationX>
        <locationY>1043</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ConsentRequirementsMet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Updated_Get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Updated_Get_Account</name>
        <label>Updated Get Account</label>
        <locationX>940</locationX>
        <locationY>1043</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_related_to_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_to_account</name>
        <label>Save to account</label>
        <locationX>942</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Set_DomainID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DomainId__c</field>
            <value>
                <elementReference>Create_in_People_Domain.message</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Save_to_account_0</name>
        <label>Save to account</label>
        <locationX>755</locationX>
        <locationY>404</locationY>
        <connector>
            <targetReference>Set_DomainID_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DomainId__c</field>
            <value>
                <elementReference>Check_User.domainId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Save_to_account_0_0</name>
        <label>Save to account</label>
        <locationX>1106</locationX>
        <locationY>596</locationY>
        <connector>
            <targetReference>Set_DomainID_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DomainId__c</field>
            <value>
                <elementReference>Create_in_People_Domain_0.message</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_to_No_Consent</name>
        <label>Update Opportunity to No Consent</label>
        <locationX>370</locationX>
        <locationY>1260</locationY>
        <connector>
            <targetReference>Consents_Incomplete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_related_to_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>No PA consent received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1105</locationX>
        <locationY>348</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Loan_Applicant</targetReference>
        </connector>
        <fields>
            <name>Err_disp</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;ERROR: Unable to communicate with people domain.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please contact support&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>viewerScr</name>
        <label>viewerScr</label>
        <locationX>941</locationX>
        <locationY>875</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Exit_Flow</targetReference>
        </connector>
        <fields>
            <name>viewerScr_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>viewerScr_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>viewerScr_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cntViewer</name>
                    <extensionName>c:consentViewer</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>personId</name>
                        <value>
                            <elementReference>var_DomainId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>scopes</name>
                        <value>
                            <elementReference>col_var_scopes</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>applicantId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>consentRefused</name>
                        <value>
                            <elementReference>ConsentRefused</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>consentsIncomplete</assignToReference>
                        <name>consentsIncomplete</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>ExitFlowConsentRefused</assignToReference>
                        <name>exitFlow</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>exitToFlowVar</assignToReference>
                        <name>exitToFlow</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>viewerScr_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>37</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>Get_Loan_Applicant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Applicant_Status_Path</name>
        <label>Update Applicant Status Path</label>
        <locationX>418</locationX>
        <locationY>707</locationY>
        <flowName>Update_Applicant_Status_Path</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Loan_Applicant.SourceOpportunity__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>applicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_var_active_consents</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_var_added_consents</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_var_censent_yes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_var_consent_names</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_var_consents</name>
        <apexClass>SRVCNTGetConsentTypesResult</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_var_removed_consents</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_var_scopes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsentRefused</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>consentsIncomplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExitFlowConsentRefused</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>exitToFlowVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>People domain Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0012z00000BMtObAAL</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_DomainId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
