force-app/main/default/flows/Convert_to_Pre_Approval_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>DetailPageNavigation</name>
        <label>DetailPageNavigation</label>
        <locationX>3271</locationX>
        <locationY>2658</locationY>
        <actionName>c:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>DetailPageNavigation_0</name>
        <label>DetailPageNavigation</label>
        <locationX>2535</locationX>
        <locationY>3974</locationY>
        <actionName>c:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>DetailPageNavigation_0_0</name>
        <label>DetailPageNavigation</label>
        <locationX>3977</locationX>
        <locationY>3566</locationY>
        <actionName>c:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>DetailPageNavigation_0_0_0</name>
        <label>DetailPageNavigation</label>
        <locationX>4071</locationX>
        <locationY>4268</locationY>
        <actionName>c:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>DetailPageNavigation_0_0_0_0</name>
        <label>DetailPageNavigation</label>
        <locationX>3716</locationX>
        <locationY>5146</locationY>
        <actionName>c:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>DetailPageNavigation_0_0_0_0_0</name>
        <label>DetailPageNavigation</label>
        <locationX>2260</locationX>
        <locationY>1565</locationY>
        <actionName>c:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>DetailPageNavigation_0_0_0_0_0_0</name>
        <label>DetailPageNavigation</label>
        <locationX>2895</locationX>
        <locationY>4106</locationY>
        <actionName>c:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>DetailPageNavigation_0_0_0_0_0_0_0</name>
        <label>DetailPageNavigation</label>
        <locationX>2134</locationX>
        <locationY>3744</locationY>
        <actionName>c:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>DetailPageNavigation_0_0_0_0_0_0_0_0</name>
        <label>DetailPageNavigation</label>
        <locationX>2890</locationX>
        <locationY>3316</locationY>
        <actionName>c:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>DetailPageNavigation_0_0_0_0_0_0_0_0_0</name>
        <label>DetailPageNavigation</label>
        <locationX>1890</locationX>
        <locationY>885</locationY>
        <actionName>c:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Updated_Gen_Opp_Convert.Bond_Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>DetailPageNavigation_0_0_0_0_0_0_0_0_0_0</name>
        <label>DetailPageNavigation</label>
        <locationX>999</locationX>
        <locationY>2426</locationY>
        <actionName>c:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Updated_Gen.Bond_Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_General_Opp_ID</name>
        <label>Assign General Opp ID</label>
        <locationX>2601</locationX>
        <locationY>1071</locationY>
        <assignmentItems>
            <assignToReference>opportunityVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Updated_General_Opportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Myself</name>
        <choiceText>Myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Myself</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity_Owner</name>
        <choiceText>Opportunity Owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity Owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Override</name>
        <choiceText>Override</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Override</stringValue>
        </value>
    </choices>
    <choices>
        <name>Verification_Team</name>
        <choiceText>Verification Team</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verification Team</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_issue</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Continue_or_Consent_or_Close</name>
        <label>Continue or Consent or Close</label>
        <locationX>1995</locationX>
        <locationY>3146</locationY>
        <defaultConnector>
            <targetReference>Applicant_Next_Step_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Consent</defaultConnectorLabel>
        <rules>
            <name>COP_Co_App_Poor_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Updated_Latest_Co_Applicant.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Poor Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Main_Applicant_Post_Cons.Marital_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married in community of property (COP)</stringValue>
                </rightValue>
            </conditions>
            <label>COP - Co App Poor Credit</label>
        </rules>
        <rules>
            <name>Continue_to_Next</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>continueAfterConsent.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_Latest_Co_Applicant</targetReference>
            </connector>
            <label>Continue to Next</label>
        </rules>
    </decisions>
    <decisions>
        <name>Doc_Email_Or_Close_or_Received</name>
        <label>Doc Email Or Close or Received</label>
        <locationX>2885</locationX>
        <locationY>3749</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Close_Opp_off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>closeOffOpp_docs.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Opportunity_Lost_or_Won_Subflow_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Close Opp off</label>
        </rules>
        <rules>
            <name>Docs_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>alreadyReceivedDocs.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>uploadReceivedDocs</targetReference>
            </connector>
            <label>Docs Received</label>
        </rules>
        <rules>
            <name>Send_Doc_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>custEmailSend_docs.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MC_Email_Template_Selection_Multi_select_picklist_0_0_0_0</targetReference>
            </connector>
            <label>Send Doc Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_flow</name>
        <label>End flow?</label>
        <locationX>2594</locationX>
        <locationY>2149</locationY>
        <defaultConnector>
            <targetReference>ConvertToPAorClose_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Self_Employed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Applicant_linked_to_PA.What_is_your_employment_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self-employed</stringValue>
                </rightValue>
            </conditions>
            <label>Self Employed</label>
        </rules>
        <rules>
            <name>Poor_Credit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Applicant_linked_to_PA.What_is_your_credit_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I have judgements against me</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Main_Applicant_linked_to_PA.What_is_your_credit_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am currently under debt review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Main_Applicant_linked_to_PA.What_is_your_credit_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am currently under sequestration in terms of a court order</stringValue>
                </rightValue>
            </conditions>
            <label>Poor Credit</label>
        </rules>
        <rules>
            <name>Go_to_Consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>skipToConsent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>workApplicants_0</targetReference>
            </connector>
            <label>Go to Consent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Co_Applicant_0_0</name>
        <label>Existing Co Applicant?</label>
        <locationX>2376</locationX>
        <locationY>2969</locationY>
        <defaultConnector>
            <targetReference>Get_Updated_PA_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Updated_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Updated_Co_Applicant.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>workApplicants_0_0_0</targetReference>
            </connector>
            <label>Updated Applicant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opp_Closed_Poor_Credit</name>
        <label>Is Opp Closed Poor Credit?</label>
        <locationX>1987</locationX>
        <locationY>2427</locationY>
        <defaultConnector>
            <targetReference>Refused_Consent_or_Finish_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Poor_Credit_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Applicant_Post_Cons.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Poor Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_open_PA_Tasks</targetReference>
            </connector>
            <label>Poor Credit Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opp_on_awaiting_docs_0_0</name>
        <label>Is Opp on awaiting docs?</label>
        <locationX>2445</locationX>
        <locationY>3751</locationY>
        <defaultConnector>
            <targetReference>DetailPageNavigation_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IDV_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Applicant_Post_Cons.idvFinalScore__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>IDV Failed</label>
        </rules>
        <rules>
            <name>Awaiting_Docs_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Updated_PA_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA Requested - awaiting documents</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Call_Outcome_Latest_Task_on_PA</targetReference>
            </connector>
            <label>Await Docs</label>
        </rules>
        <rules>
            <name>Poor_Credit_Consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Updated_PA_Status.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_PA_Open_Task</targetReference>
            </connector>
            <label>Poor Credit Consent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PA_Linked_Closed</name>
        <label>Is PA Linked Closed?</label>
        <locationX>2408</locationX>
        <locationY>1564</locationY>
        <defaultConnector>
            <targetReference>Get_Main_Applicant_linked_to_PA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open</defaultConnectorLabel>
        <rules>
            <name>Convert_to_Bond_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>convertToBondBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_running_user_and_Opp_Owner_match_0_0</targetReference>
            </connector>
            <label>Convert to Bond True</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_PA_Linked.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PA_Linked.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PA_Linked.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DetailPageNavigation_0_0_0_0_0</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PA_Linked_Closed_0</name>
        <label>Is PA Linked Closed?</label>
        <locationX>1882</locationX>
        <locationY>1084</locationY>
        <defaultConnector>
            <targetReference>Bond_Wrap_Up_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open</defaultConnectorLabel>
        <rules>
            <name>Closed_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Applicant_Post_Cons.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Poor Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PA_Linked.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Poor credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DetailPageNavigation_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Red_Biometrics</name>
        <label>Is Red Biometrics?</label>
        <locationX>1228</locationX>
        <locationY>2430</locationY>
        <defaultConnector>
            <targetReference>DetailPageNavigation_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard Credit Check</defaultConnectorLabel>
        <rules>
            <name>Red_Biometrics</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Applicant_Post_Cons.CreditCheckDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Main_Applicant_Post_Cons.creditCheckScore__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>678.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Poor_Credit_Lost</targetReference>
            </connector>
            <label>Red Biometrics</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_running_user_and_Opp_Owner_match_0_0</name>
        <label>Is running user and Opp Owner match</label>
        <locationX>2407</locationX>
        <locationY>1304</locationY>
        <defaultConnector>
            <targetReference>Create_Pre_Approval_or_Bond_Opportunity_H2_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner No Match</defaultConnectorLabel>
        <rules>
            <name>Owner_Match_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ownerVar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Pre_Approval_or_Bond_Opportunity_H2_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Owner Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Applicant_Doc_Check_0</name>
        <label>Main Applicant Doc Check</label>
        <locationX>3893</locationX>
        <locationY>4148</locationY>
        <defaultConnector>
            <targetReference>docsMissingBlockVerify_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Docs for Main</defaultConnectorLabel>
        <rules>
            <name>Contains_Min_Required_Docs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Updated_Main_Applicant_0.Received_Documents__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_Main_Applicant_0.Received_Documents__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Payslip</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_Main_Applicant_0.Received_Documents__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bank Statement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Verification_BLG_Workflow</targetReference>
            </connector>
            <label>Contains Min Required Docs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manual_Consent_Sent</name>
        <label>Manual Consent Sent?</label>
        <locationX>2603</locationX>
        <locationY>2426</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ConsentIDVCredit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>consentIDVButton_consent.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>workApplicants_0</targetReference>
            </connector>
            <label>ConsentIDVCredit</label>
        </rules>
        <rules>
            <name>Send_Biometric_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sendBioLinkBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Biometric_Link_SubFlow</targetReference>
            </connector>
            <label>Send Biometric Link</label>
        </rules>
        <rules>
            <name>Manage_Applicant_Post_Convert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>manageAppsPostConvert.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Application_Post_Convert</targetReference>
            </connector>
            <label>Manage Applicant Post Convert</label>
        </rules>
        <rules>
            <name>Schedule_Follow_Up</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>scheduleNextConsentFollowUp.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Latest_Open_PA_Task.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Manual Follow Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PA_Linked.Contact_Attempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_BLG_Workflow_Rule_Linked_to_PA.Close_off_Contact_Attempts__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Schedule Manual Follow Up</label>
        </rules>
        <rules>
            <name>Schedule_Automated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scheduleNextConsentFollowUp.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wrap_Up_update_reason</targetReference>
            </connector>
            <label>Schedule Automated</label>
        </rules>
        <rules>
            <name>Close_off_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>closeOffOpp_consent.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Opportunity_Lost_or_Won_Subflow_0_0</targetReference>
            </connector>
            <label>Close off Opp</label>
        </rules>
        <rules>
            <name>Send_Manual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>custEmailSend_consent.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MC_Email_Template_Selection_Multi_select_picklist_0</targetReference>
            </connector>
            <label>Send Manual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Poor_Credit_Button_Decision</name>
        <label>Poor Credit Button Decision</label>
        <locationX>1230</locationX>
        <locationY>2115</locationY>
        <defaultConnector>
            <targetReference>Is_running_user_and_Opp_Owner_match_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Convert Bond</defaultConnectorLabel>
        <rules>
            <name>Send_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sendMailPoorCredBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MC_Email_Template_Selection_Multi_select_picklist_PoorCred_0</targetReference>
            </connector>
            <label>Send Mail</label>
        </rules>
        <rules>
            <name>No_Send_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>closeNoSendBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Send Mail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Refused_Consent_or_Finish_0</name>
        <label>Refused Consent or Finish</label>
        <locationX>2374</locationX>
        <locationY>2620</locationY>
        <defaultConnector>
            <targetReference>Updated_Co_Applicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Exit_Flow_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Applicant_Post_Cons.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consent Refused</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consent_Refused_0</targetReference>
            </connector>
            <label>Exit flow</label>
        </rules>
        <rules>
            <name>Exit_to_Flow_Post_Consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>exitToFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConvertToPAorClose_0_0</targetReference>
            </connector>
            <label>Exit to Flow Post Consent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Refused_Consent_or_Finish_0_0_0</name>
        <label>Refused Consent or Finish</label>
        <locationX>2123</locationX>
        <locationY>3561</locationY>
        <defaultConnector>
            <targetReference>Get_Updated_PA_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Exit_Flow_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Updated_Latest_Co_Applicant.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consent Refused</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consent_Refused_0_0_0</targetReference>
            </connector>
            <label>Exit</label>
        </rules>
        <rules>
            <name>Married_COP_Co_App_Poor_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Updated_Latest_Co_Applicant.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Poor Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Main_Applicant_Post_Cons.Marital_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married in community of property (COP)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_open_Tasks</targetReference>
            </connector>
            <label>Married COP - Co App Poor Credit</label>
        </rules>
        <rules>
            <name>Exit_to_Flow_Co_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>exitToFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConvertToPAorClose_0_0</targetReference>
            </connector>
            <label>Exit to Flow Co-App</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_mail_or_finish</name>
        <label>Send mail or finish</label>
        <locationX>1332</locationX>
        <locationY>3560</locationY>
        <defaultConnector>
            <targetReference>MC_Email_Template_Selection_Multi_select_picklist_PoorCred</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send Email</defaultConnectorLabel>
        <rules>
            <name>Finish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>closeNotSendMail.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Finish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_to_Consent</name>
        <label>Skip to Consent?</label>
        <locationX>2592</locationX>
        <locationY>849</locationY>
        <defaultConnector>
            <targetReference>Create_Pre_Approval_or_Bond_Opportunity_H2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False Create PA</defaultConnectorLabel>
        <rules>
            <name>Skip_to_Consent_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>skipToConsent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_General_Opp_ID</targetReference>
            </connector>
            <label>Skip to Consent True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verification_Decisions_0</name>
        <label>Verification Decisions</label>
        <locationX>3758</locationX>
        <locationY>3748</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mark_Ready_Verification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>readyForVerification_0.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Updated_Main_Applicant_0</targetReference>
            </connector>
            <label>Mark Ready Verification</label>
        </rules>
        <rules>
            <name>Mail_verify_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>verifymail_0.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MC_Email_Template_Selection_Multi_select_picklist_0_0</targetReference>
            </connector>
            <label>Send Mail</label>
        </rules>
        <rules>
            <name>Close_verify_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>closeOpp_verify_0.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Opportunity_Lost_or_Won_Subflow_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Close Off Opportunity</label>
        </rules>
        <rules>
            <name>Schedule_Next_follow_up_0</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>nextScheduling_0.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_PA_Open_Task.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Manual Follow Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PA_Linked.Contact_Attempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_BLG_Workflow_Rule_0.Close_off_Contact_Attempts__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Schedule Next Manual Follow Up</label>
        </rules>
        <rules>
            <name>Schedule_Next_Auto_Follow_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nextScheduling_0.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Call_Outcome_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Schedule Next Auto Follow Up</label>
        </rules>
    </decisions>
    <description>DB: 10 aug

Flow Description: Flow to Convert General op to Pre-Approval Opp, launched from Wrap Up Opportunity H2 (main flow that houses entire skeleton of working opps)

Front-End Access: Work Opportunity button on the Opportunity page.</description>
    <dynamicChoiceSets>
        <name>callOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Outcome__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>bondOppIdVar</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.Bond_Opportunity__c}</expression>
    </formulas>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Ready for Verification - &quot;+ {!Get_Opportunity.Name}</expression>
    </formulas>
    <formulas>
        <name>closeOffDateVerification</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + {!Get_Verification_BLG_Workflow.Close_off_Days__c}</expression>
    </formulas>
    <formulas>
        <name>Link_Bond</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!bondOppIdVar} , &quot;Click here to Navigate to the Bond Opportunity&quot; , &apos;_top&apos;)</expression>
    </formulas>
    <formulas>
        <name>Link_PreApproval</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!paIdOppVar} , &quot;Click here to Navigate to the Pre-Approval Opportunity&quot; , &apos;_top&apos;)</expression>
    </formulas>
    <formulas>
        <name>outstandingDocFinalMain</name>
        <dataType>String</dataType>
        <expression>IF({!outstandingDocsMain} = null, &quot;None&quot;, {!outstandingDocsMain} )</expression>
    </formulas>
    <formulas>
        <name>outstandingDocsMain</name>
        <dataType>String</dataType>
        <expression>IF({!mainMissingID} = &quot;ID&quot;, &quot;ID&quot;+ BR(), null) + 
IF({!mainMissingPayslip} = &quot;Payslip&quot;, &quot;Payslip&quot;+ BR(), null) + 
IF({!mainMissingBankS} = &quot;Bank Statement&quot;, &quot;Bank Statement&quot;+ BR(), null)</expression>
    </formulas>
    <formulas>
        <name>ownerVar</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Opportunity.OwnerId},15)</expression>
    </formulas>
    <formulas>
        <name>sentTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>theTemplate</name>
        <dataType>String</dataType>
        <expression>&quot;PA Issued - Awaiting OTP (Attach Certificate)&quot;</expression>
    </formulas>
    <formulas>
        <name>userProfileVar</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>wrapUpHeading</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.Name} + &quot;: &quot; + {!outcomeSelected}</expression>
    </formulas>
    <formulas>
        <name>wrapUpPAHeading</name>
        <dataType>String</dataType>
        <expression>{!Get_PA_Linked.Name} + &quot;: &quot; + {!outcomeSelected}</expression>
    </formulas>
    <interviewLabel>Convert to Pre-Approval Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert to Pre-Approval Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_BLG_Workflow_Rule_0</name>
        <label>Get BLG Workflow Rule</label>
        <locationX>3608</locationX>
        <locationY>3746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verification_Decisions_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Linked.Workflow_Description_Formula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Workflow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BLG_Workflow_Rule_Linked_to_PA</name>
        <label>Get BLG Workflow Rule Linked to PA</label>
        <locationX>2601</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Latest_Open_PA_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Linked.Workflow_Description_Formula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Workflow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Co_Applicant_linked_to_PA</name>
        <label>Get Co Applicant linked to PA</label>
        <locationX>2601</locationX>
        <locationY>1723</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BLG_Workflow_Rule_Linked_to_PA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_PA_Open_Task</name>
        <label>Get Latest PA Open Task</label>
        <locationX>3468</locationX>
        <locationY>3746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BLG_Workflow_Rule_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application_Post_Convert</name>
        <label>Get Loan Application Post Convert</label>
        <locationX>3007</locationX>
        <locationY>2307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ManageApplicant_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Applicant_linked_to_PA</name>
        <label>Get Main Applicant linked to PA</label>
        <locationX>2600</locationX>
        <locationY>1596</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Co_Applicant_linked_to_PA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Applicant_Post_Cons</name>
        <label>Get Main Applicant Post Cons</label>
        <locationX>1995</locationX>
        <locationY>2267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Opp_Closed_Poor_Credit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>2600</locationX>
        <locationY>704</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skip_to_Consent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PA_Linked</name>
        <label>Get PA Linked</label>
        <locationX>2601</locationX>
        <locationY>1381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_PA_Linked_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_General_Opportunity.PreApprovalOpportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Closed_Opp</name>
        <label>Get Updated Closed Opp</label>
        <locationX>1612</locationX>
        <locationY>3558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>poorCreditScreenClose</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_PA_Opp_Post_Consent.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Gen</name>
        <label>Get Updated Gen</label>
        <locationX>1369</locationX>
        <locationY>2428</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Red_Biometrics</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_General_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Gen_Opp_Convert</name>
        <label>Get Updated Gen Opp Convert</label>
        <locationX>2177</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Wrap_Up_Comment_Convert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_General_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_General_Opportunity</name>
        <label>Get Updated General Opportunity</label>
        <locationX>2601</locationX>
        <locationY>1225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PA_Linked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Main_Applicant_0</name>
        <label>Get Updated Main Applicant</label>
        <locationX>3900</locationX>
        <locationY>3986</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main_Applicant_Doc_Check_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Opp_post_ready_ver_0_0</name>
        <label>Get Updated Opp post ready ver</label>
        <locationX>3714</locationX>
        <locationY>4726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Call_Outcome_NoAttempt_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_PA_Opp_Post_Consent</name>
        <label>Get Updated PA Opp Post Consent</label>
        <locationX>2246</locationX>
        <locationY>2267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Applicant_Next_Step_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_PA_Status</name>
        <label>Get Updated PA Status</label>
        <locationX>2453</locationX>
        <locationY>3566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Opp_on_awaiting_docs_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_PA_Opp_Post_Consent.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Verification_BLG_Workflow</name>
        <label>Get Verification BLG Workflow</label>
        <locationX>3718</locationX>
        <locationY>4344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Complete_Task_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Approval Verification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Workflow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Latest_Open_PA_Task</name>
        <label>Latest Open PA Task</label>
        <locationX>2602</locationX>
        <locationY>2016</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>End_flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Updated_Co_Applicant</name>
        <label>Updated Co-Applicant</label>
        <locationX>2383</locationX>
        <locationY>2835</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Co_Applicant_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_PA_Opp_Post_Consent.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Updated_Latest_Co_Applicant</name>
        <label>Updated Latest Co-Applicant</label>
        <locationX>2005</locationX>
        <locationY>3378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Refused_Consent_or_Finish_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_PA_Opp_Post_Consent.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Complete_open_Gen_Tasks</name>
        <label>Complete open Gen Tasks</label>
        <locationX>1620</locationX>
        <locationY>2428</locationY>
        <connector>
            <targetReference>Update_Main_App_Poor_Credit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_open_PA_Tasks</name>
        <label>Complete open PA Tasks</label>
        <locationX>1764</locationX>
        <locationY>2428</locationY>
        <connector>
            <targetReference>Complete_open_Gen_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_PA_Opp_Post_Consent.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_open_Tasks</name>
        <label>Complete open Tasks</label>
        <locationX>1888</locationX>
        <locationY>3558</locationY>
        <connector>
            <targetReference>Update_Opp_Closed_Lost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_PA_Opp_Post_Consent.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_PA_Open_Task</name>
        <label>Complete PA Open Task</label>
        <locationX>2347</locationX>
        <locationY>3974</locationY>
        <connector>
            <targetReference>DetailPageNavigation_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Latest_Open_PA_Task.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Task_0_0</name>
        <label>Complete Task</label>
        <locationX>3718</locationX>
        <locationY>4479</locationY>
        <connector>
            <targetReference>Update_Opportunity_Dependancies_verification_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_PA_Open_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Awaiting_PA_Docs</name>
        <label>Update Awaiting PA Docs</label>
        <locationX>3204</locationX>
        <locationY>3746</locationY>
        <connector>
            <targetReference>verificationButtonsPostDocs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_PA_Status.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Attempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>PA Requested - awaiting documents</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Call_Outcome_Latest_Task_on_PA</name>
        <label>Update Call Outcome Latest Task on PA</label>
        <locationX>2624</locationX>
        <locationY>3747</locationY>
        <connector>
            <targetReference>EmailOrCloseOffOrTransitionDocs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Latest_Open_PA_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Outcome__c</field>
            <value>
                <elementReference>callOutcomeInputVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Main_App_Poor_Credit</name>
        <label>Update Main App Poor Credit</label>
        <locationX>1488</locationX>
        <locationY>2428</locationY>
        <connector>
            <targetReference>Get_Updated_Gen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Applicant_linked_to_PA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Poor Credit</stringValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Closed_Lost</name>
        <label>Update Opp Closed Lost</label>
        <locationX>1755</locationX>
        <locationY>3558</locationY>
        <connector>
            <targetReference>Get_Updated_Closed_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_PA_Opp_Post_Consent.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Poor credit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Dependancies_verification_0_0</name>
        <label>Update Opportunity Dependancies verification</label>
        <locationX>3714</locationX>
        <locationY>4576</locationY>
        <connector>
            <targetReference>Get_Updated_Opp_post_ready_ver_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>closeOffDateVerification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Attempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Ready for Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>PA Requested - Ready for verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <elementReference>wrapUpCommentVar</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Call_Outcome_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Task Call Outcome</label>
        <locationX>4071</locationX>
        <locationY>3886</locationY>
        <connector>
            <targetReference>Wrap_up_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_PA_Open_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Outcome__c</field>
            <value>
                <elementReference>callOutcomeInputVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Call_Outcome_NoAttempt_0_0_0_0</name>
        <label>Update Task Call Outcome</label>
        <locationX>3715</locationX>
        <locationY>4864</locationY>
        <connector>
            <targetReference>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_PA_Open_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Outcome__c</field>
            <value>
                <elementReference>callOutcomeInputVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Wrap_Up_Comment_Convert</name>
        <label>Update Wrap Up Comment Convert</label>
        <locationX>2031</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Is_PA_Linked_Closed_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <elementReference>wrapUpCommentVar</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Wrap_up_Update</name>
        <label>Wrap up Update</label>
        <locationX>4072</locationX>
        <locationY>4026</locationY>
        <connector>
            <targetReference>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <elementReference>wrapUpCommentVar</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Wrap_Up_update_reason</name>
        <label>Wrap Up update reason</label>
        <locationX>2879</locationX>
        <locationY>2658</locationY>
        <connector>
            <targetReference>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <elementReference>wrapUpCommentVar</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Consent_Refused_0</name>
        <label>Consent Refused</label>
        <locationX>2151</locationX>
        <locationY>2668</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConsentRefusedDisplay_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Consent Refused.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ConsentRefused</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>emailSent_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Email Sent.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ConsentRefused</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Consent_Refused_0_0_0</name>
        <label>Consent Refused</label>
        <locationX>2333</locationX>
        <locationY>3446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConsentRefusedDisplay_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Consent Refused.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ConsentRefused</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>emailSent_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Email Sent.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ConsentRefused</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConvertToPAorClose_0_0</name>
        <label>EmailOrCloseOff</label>
        <locationX>2599</locationX>
        <locationY>2287</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Manual_Consent_Sent</targetReference>
        </connector>
        <fields>
            <name>paWrapUpBanner</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>wrapUpPAHeading</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>custEmailSend_consent</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Send Customer Mail</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>consentIDVButton_consent</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Consent, IDV and Credit Check</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>sendBioLinkBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Send DigiApp Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scheduleNextConsentFollowUp</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Schedule Next Follow Up</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>manageAppsPostConvert</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Manage Applicants</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>closeOffOpp_consent</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Close off Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>docsMissingBlockVerify_0</name>
        <label>docsMissingBlockVerify</label>
        <locationX>3337</locationX>
        <locationY>4144</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>verificationButtonsPostDocs</targetReference>
        </connector>
        <fields>
            <name>minDocsMissing</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Minimum Required Documents Missing</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>missingDocsVerification</name>
            <fieldText>&lt;p&gt;You have not uploaded all of the minimum required documents needed to Mark as Ready for Verification:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>idMissing</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;ID&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>NOT(1)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Updated_Main_Applicant_0.Received_Documents__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>ID</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>bankstatMissing</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Bank Statement&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>NOT(1)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Updated_Main_Applicant_0.Received_Documents__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Bank Statement</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>payslipMissing</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Payslip&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>NOT(1)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Updated_Main_Applicant_0.Received_Documents__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Payslip</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>docUploadMissing</name>
            <extensionName>c:externalResourceCatLoader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Updated_Main_Applicant_0.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EmailOrCloseOffOrTransitionDocs</name>
        <label>EmailOrCloseOffOrTransitionDocs</label>
        <locationX>2760</locationX>
        <locationY>3747</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Doc_Email_Or_Close_or_Received</targetReference>
        </connector>
        <fields>
            <name>wrapUpPA</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>wrapUpPAHeading</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>custEmailSend_docs</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Send Customer Mail</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>alreadyReceivedDocs</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Already Received Documents</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>closeOffOpp_docs</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Close off Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Poor_Credit_Lost</name>
        <label>Poor Credit Lost</label>
        <locationX>1236</locationX>
        <locationY>2255</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Poor_Credit_Button_Decision</targetReference>
        </connector>
        <fields>
            <name>closedPoorCred</name>
            <fieldText>&lt;p&gt;The Opportunity stage for &lt;strong&gt;{!Get_Updated_PA_Opp_Post_Consent.Name}&lt;/strong&gt; has been updated to Closed Lost:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Status: &lt;/strong&gt;Poor Credit&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Credit Check Result: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Red&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sendMailPoorCredBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Send Customer Mail</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>closeNoSendBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Close Without Sending Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>convertBondBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Convert to Bond Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>poorCreditScreenClose</name>
        <label>poorCreditScreenClose</label>
        <locationX>1474</locationX>
        <locationY>3558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_mail_or_finish</targetReference>
        </connector>
        <fields>
            <name>poorCreditBanner</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Closed Lost - Poor Credit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 8px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>redCredit</name>
            <fieldText>&lt;p&gt;Due to the marital agreement and credit check result of the Co Applicant, the Opportunity stage for &lt;strong&gt;{!Get_Updated_Closed_Opp.Name}&lt;/strong&gt; has been updated to Closed Lost:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Marital Agreement: &lt;/strong&gt;Married in Community of Property (COP)&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Status:&lt;/strong&gt; Poor Credit&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Credit Check Result:&lt;/strong&gt; &lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Red&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sendPoorCreditMail</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Send Customer Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>closeNotSendMail</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Close Without Sending Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>uploadReceivedDocs</name>
        <label>uploadReceivedDocs</label>
        <locationX>3072</locationX>
        <locationY>3746</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Awaiting_PA_Docs</targetReference>
        </connector>
        <fields>
            <name>uploadDocsPostConsent</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Documents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>uploadReceivedDocs_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>uploadReceivedDocs_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>mainAppDoc_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Main Applicant: &lt;/strong&gt;{!Get_Main_Applicant_linked_to_PA.First_Name__c} {!Get_Main_Applicant_linked_to_PA.Last_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>mainAppDocUpload_0</name>
                    <extensionName>c:externalResourceCatLoader</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Main_Applicant_linked_to_PA.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>uploadReceivedDocs_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>uploadReceivedDocs_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>coAppName_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Co Applicant: &lt;/strong&gt;{!Get_Co_Applicant_linked_to_PA.First_Name__c} {!Get_Co_Applicant_linked_to_PA.Last_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>coAppDocUpload_0</name>
                    <extensionName>c:externalResourceCatLoader</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Co_Applicant_linked_to_PA.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Co_Applicant_linked_to_PA.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>verificationButtonsPostDocs</name>
        <label>verificationButtonsPostDocs</label>
        <locationX>3337</locationX>
        <locationY>3746</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Latest_PA_Open_Task</targetReference>
        </connector>
        <fields>
            <name>outcomeMsgPA</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>wrapUpPAHeading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>readyForVerification_0</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Mark as Ready for Verification</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>verifymail_0</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Send Customer Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>nextScheduling_0</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Schedule Next Follow Up</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>closeOpp_verify_0</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Close Off Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>workApplicants_0</name>
        <label>workApplicants</label>
        <locationX>2373</locationX>
        <locationY>2267</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Updated_PA_Opp_Post_Consent</targetReference>
        </connector>
        <fields>
            <name>WorkApplicant_0</name>
            <extensionName>c:flowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Work Applicants</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>applicantComponent_0</name>
            <extensionName>c:workFlowManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_PA_Linked.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedApplicantId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>spaceForce_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>workApplicants_0_0_0</name>
        <label>workApplicants</label>
        <locationX>2062</locationX>
        <locationY>2967</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Continue_or_Consent_or_Close</targetReference>
        </connector>
        <fields>
            <name>WorkApplicant_0_0_0_0_0</name>
            <extensionName>c:flowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Work Applicants</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>runConsentAgain_0</name>
            <fieldText>&lt;p&gt;Run Consent, IDV and Credit check for another Applicant or click on Continue:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>applicantComponent_0_0_0_0</name>
            <extensionName>c:workFlowManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Updated_PA_Opp_Post_Consent.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedApplicantId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>spaceForce_0_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>continueAfterConsent</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Continue</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2474</locationX>
        <locationY>550</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Accept or Override Follow Up H2</label>
        <locationX>3977</locationX>
        <locationY>3683</locationY>
        <connector>
            <targetReference>DetailPageNavigation_0_0</targetReference>
        </connector>
        <flowName>Accept_or_Override_Follow_Up_H2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>wrapUpInput</name>
            <value>
                <elementReference>wrapUpCommentVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Accept or Override Follow Up H2</label>
        <locationX>4071</locationX>
        <locationY>4137</locationY>
        <connector>
            <targetReference>DetailPageNavigation_0_0_0</targetReference>
        </connector>
        <flowName>Accept_or_Override_Follow_Up_H2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>wrapUpInput</name>
            <value>
                <elementReference>wrapUpCommentVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Accept or Override Follow Up H2</label>
        <locationX>3716</locationX>
        <locationY>5014</locationY>
        <connector>
            <targetReference>DetailPageNavigation_0_0_0_0</targetReference>
        </connector>
        <flowName>Accept_or_Override_Follow_Up_H2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>wrapUpInput</name>
            <value>
                <elementReference>wrapUpCommentVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Accept or Override Follow Up H2</label>
        <locationX>2890</locationX>
        <locationY>3453</locationY>
        <connector>
            <targetReference>DetailPageNavigation_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowName>Accept_or_Override_Follow_Up_H2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Updated_PA_Status.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>wrapUpInput</name>
            <value>
                <elementReference>wrapUpCommentVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Accept or Override Follow Up H2</label>
        <locationX>3140</locationX>
        <locationY>2658</locationY>
        <connector>
            <targetReference>DetailPageNavigation</targetReference>
        </connector>
        <flowName>Accept_or_Override_Follow_Up_H2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>wrapUpInput</name>
            <value>
                <elementReference>wrapUpCommentVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Accept or Override Follow Up H2</label>
        <locationX>2270</locationX>
        <locationY>3745</locationY>
        <connector>
            <targetReference>DetailPageNavigation_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowName>Accept_or_Override_Follow_Up_H2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Updated_PA_Status.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Applicant_Next_Step_0</name>
        <label>Applicant Next Step</label>
        <locationX>2116</locationX>
        <locationY>2267</locationY>
        <connector>
            <targetReference>Get_Main_Applicant_Post_Cons</targetReference>
        </connector>
        <flowName>Applicant_Next_Step</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>SelectedApplicantId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>exitToFlow</assignToReference>
            <name>exitToFlow</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Applicant_Next_Step_0_0_0</name>
        <label>Applicant Next Step</label>
        <locationX>1910</locationX>
        <locationY>2967</locationY>
        <connector>
            <targetReference>workApplicants_0_0_0</targetReference>
        </connector>
        <flowName>Applicant_Next_Step</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>SelectedApplicantId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Bond_Wrap_Up_0_0_0_0_0</name>
        <label>Bond - Wrap Up</label>
        <locationX>1720</locationX>
        <locationY>1081</locationY>
        <flowName>Wrap_Up_Opportunity_Bond_Subflow</flowName>
        <inputAssignments>
            <name>bypassBlock</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Updated_Gen_Opp_Convert.Bond_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Close_Opportunity_Lost_or_Won_Subflow_0_0</name>
        <label>Close Opportunity Lost or Won - Subflow</label>
        <locationX>2489</locationX>
        <locationY>2617</locationY>
        <flowName>Close_Opportunity_Lost_or_Won_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Close_Opportunity_Lost_or_Won_Subflow_0_0_0_0_0_0</name>
        <label>Close Opportunity Lost or Won - Subflow</label>
        <locationX>2895</locationX>
        <locationY>3954</locationY>
        <connector>
            <targetReference>DetailPageNavigation_0_0_0_0_0_0</targetReference>
        </connector>
        <flowName>Close_Opportunity_Lost_or_Won_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Updated_PA_Status.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Close_Opportunity_Lost_or_Won_Subflow_0_0_0_0_0_0_0_0_0_0</name>
        <label>Close Opportunity Lost or Won - Subflow</label>
        <locationX>3767</locationX>
        <locationY>3566</locationY>
        <connector>
            <targetReference>DetailPageNavigation_0_0</targetReference>
        </connector>
        <flowName>Close_Opportunity_Lost_or_Won_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Pre_Approval_or_Bond_Opportunity_H2_0</name>
        <label>Create Pre-Approval or Bond Opportunity H2</label>
        <locationX>2823</locationX>
        <locationY>943</locationY>
        <connector>
            <targetReference>Assign_General_Opp_ID</targetReference>
        </connector>
        <flowName>Create_Pre_Approval_or_Bond_Opportunity_H2</flowName>
        <inputAssignments>
            <name>paOrBond</name>
            <value>
                <stringValue>PA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>convertToBondBool</assignToReference>
            <name>convertToBondBool</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Pre_Approval_or_Bond_Opportunity_H2_0_0_0_0_0_0_0_0</name>
        <label>Create Pre-Approval or Bond Opportunity H2</label>
        <locationX>2352</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Get_Updated_Gen_Opp_Convert</targetReference>
        </connector>
        <flowName>Create_Pre_Approval_or_Bond_Opportunity_H2</flowName>
        <inputAssignments>
            <name>foreignOwner</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paOrBond</name>
            <value>
                <stringValue>Bond</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Pre_Approval_or_Bond_Opportunity_H2_0_0_0_0_0_0_0_0_0_0</name>
        <label>Create Pre-Approval or Bond Opportunity H2</label>
        <locationX>2177</locationX>
        <locationY>1216</locationY>
        <connector>
            <targetReference>Get_Updated_Gen_Opp_Convert</targetReference>
        </connector>
        <flowName>Create_Pre_Approval_or_Bond_Opportunity_H2</flowName>
        <inputAssignments>
            <name>foreignOwner</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paOrBond</name>
            <value>
                <stringValue>Bond</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ManageApplicant_0</name>
        <label>Manage Applicants</label>
        <locationX>2901</locationX>
        <locationY>2224</locationY>
        <connector>
            <targetReference>ConvertToPAorClose_0_0</targetReference>
        </connector>
        <flowName>Manage_Applicants</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Loan_Application_Post_Convert.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>MC_Email_Template_Selection_Multi_select_picklist_0</name>
        <label>MC Email Template Selection - Multi select picklist</label>
        <locationX>2728</locationX>
        <locationY>2813</locationY>
        <connector>
            <targetReference>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowName>MC_Email_Template_Selection_Multi_select_picklist</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>MC_Email_Template_Selection_Multi_select_picklist_0_0</name>
        <label>MC Email Template Selection - Multi select picklist</label>
        <locationX>3642</locationX>
        <locationY>3987</locationY>
        <flowName>MC_Email_Template_Selection_Multi_select_picklist</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>MC_Email_Template_Selection_Multi_select_picklist_0_0_0_0</name>
        <label>MC Email Template Selection - Multi select picklist</label>
        <locationX>2891</locationX>
        <locationY>3573</locationY>
        <connector>
            <targetReference>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowName>MC_Email_Template_Selection_Multi_select_picklist</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Updated_PA_Status.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>MC_Email_Template_Selection_Multi_select_picklist_PoorCred</name>
        <label>MC Email Template Selection - Multi select picklist</label>
        <locationX>1174</locationX>
        <locationY>3556</locationY>
        <flowName>MC_Email_Template_Selection_Multi_select_picklist</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Updated_Closed_Opp.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>MC_Email_Template_Selection_Multi_select_picklist_PoorCred_0</name>
        <label>MC Email Template Selection - Multi select picklist</label>
        <locationX>1063</locationX>
        <locationY>2113</locationY>
        <flowName>MC_Email_Template_Selection_Multi_select_picklist</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Updated_Gen.PreApprovalOpportunity__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Biometric_Link_SubFlow</name>
        <label>Send Biometric Link SubFlow</label>
        <locationX>3280</locationX>
        <locationY>2511</locationY>
        <connector>
            <targetReference>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowName>Send_Biometric_Link_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_PA_Linked.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>blankCallBack</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blankComment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blankOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callBackDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callOutcomeInputVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cancelHide</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ConsentRefused</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>convertPAToBondStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>convertToBondBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailBlank</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>exitToFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>forceRegenCert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>gitVariable2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>goToConsent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isManualSLA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mainMissingBankS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Bank Statement</stringValue>
        </value>
    </variables>
    <variables>
        <name>mainMissingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ID</stringValue>
        </value>
    </variables>
    <variables>
        <name>mainMissingPayslip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Payslip</stringValue>
        </value>
    </variables>
    <variables>
        <name>newGeneralOppVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppTeamBlank</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outcomeSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paExistVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>paIdOppVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paStageVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paStatusVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referenceNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referenceNo2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedApplicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skipToConsent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>taskVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>verificationAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wrapUpCommentVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wrapUpVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
