force-app/main/default/flows/Create_Pre_Approval_or_Bond_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>nextStartDate</name>
        <label>nextStartDate</label>
        <locationX>1587</locationX>
        <locationY>1339</locationY>
        <actionName>DateTimeUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Pre_Approval_Opp</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>BusinessHours.nextStartDate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessHoursName</name>
            <value>
                <stringValue>Task Schedule Hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateTimeString</name>
            <value>
                <elementReference>nowFormula</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>assignmentDate</assignToReference>
            <name>result</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_1_to_Count_Variable</name>
        <label>Add 1 to Count Variable</label>
        <locationX>1503</locationX>
        <locationY>3161</locationY>
        <assignmentItems>
            <assignToReference>applicantCountVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Applicant_to_List_Variable</name>
        <label>Add Applicant to List Variable</label>
        <locationX>1709</locationX>
        <locationY>3305</locationY>
        <assignmentItems>
            <assignToReference>applicantList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Applicants.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Comma_to_List</name>
        <label>Add Comma to List</label>
        <locationX>1601</locationX>
        <locationY>3486</locationY>
        <assignmentItems>
            <assignToReference>applicantList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Applicant_to_List_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_App_Ids</name>
        <label>Assign App Ids</label>
        <locationX>1409</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>loanApplications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Apps.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Apps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_Application_Id</name>
        <label>Assign Loan Application Id</label>
        <locationX>1593</locationX>
        <locationY>1717</locationY>
        <assignmentItems>
            <assignToReference>loanApplicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Loan_Application_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Main_Applicant</name>
        <label>Assign Main Applicant</label>
        <locationX>1390</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>mainApplicantVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Main_Loan_Applicant_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Loan_Application_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pre_Approval_Id</name>
        <label>Assign Pre-Approval Id</label>
        <locationX>1113</locationX>
        <locationY>1446</locationY>
        <assignmentItems>
            <assignToReference>preApprovalOppVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Pre_Approval_Opp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Relate_Pre_Approval_Opp_to_General_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Question_Var_True</name>
        <label>Assign Question Var True</label>
        <locationX>753</locationX>
        <locationY>692</locationY>
        <assignmentItems>
            <assignToReference>questionsRequiredVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interview_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Related_Opps</name>
        <label>Assign Related Opps</label>
        <locationX>1786</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>relatedOppIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Additional_Opps.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Additional_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Marital_Status</name>
        <label>Set Marital Status</label>
        <locationX>1503</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>mainApplicant.MaritalStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Married</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Record_for_Person</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Marital_Status_0</name>
        <label>Set Marital Status</label>
        <locationX>1287</locationX>
        <locationY>1067</locationY>
        <assignmentItems>
            <assignToReference>mainApplicant.MaritalStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Married</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Record_for_Person</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Marital_Status_0_0</name>
        <label>Set Marital Status</label>
        <locationX>1702</locationX>
        <locationY>1069</locationY>
        <assignmentItems>
            <assignToReference>mainApplicant.MaritalStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unmarried</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Record_for_Person</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Marital_Status_0_0_0</name>
        <label>Set Marital Status</label>
        <locationX>1084</locationX>
        <locationY>1064</locationY>
        <assignmentItems>
            <assignToReference>mainApplicant.MaritalStatus</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Record_for_Person</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_select_error</name>
        <label>Set Opp select error</label>
        <locationX>2571</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>varOppSelectError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>existingOpps_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Bond</name>
        <choiceText>Bond</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bond</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_New</name>
        <choiceText>Create New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Does_Exist</name>
        <choiceText>Customer Does Exist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Does Exist</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Does_Not_Exist</name>
        <choiceText>Customer Does Not Exist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer does not exist</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dr</name>
        <choiceText>Dr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>End_Flow1</name>
        <choiceText>End Flow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>End Flow</stringValue>
        </value>
    </choices>
    <choices>
        <name>End_Flow_Not_Applicable</name>
        <choiceText>End Flow (Not Applicable)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>End Flow (Not Applicable)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Finish_Flow1</name>
        <choiceText>Finish Flow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finish Flow</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mr</name>
        <choiceText>Mr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mrs</name>
        <choiceText>Mrs.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mrs.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ms</name>
        <choiceText>Ms.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ms.</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_additional_Income</name>
        <choiceText>No additional Income</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No additional Income</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Applicable</name>
        <choiceText>Not Applicable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Applicable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pre_Approval</name>
        <choiceText>Pre-Approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-Approval</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prof</name>
        <choiceText>Prof.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prof.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Additional_Loan_Apps_Exist</name>
        <label>Additional Loan Apps Exist?</label>
        <locationX>1973</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>Check_Existing_PA_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Existing_Loan_Applications</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>existingOpps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Additional_Loan_Apps_Exist_0</name>
        <label>Additional Loan Apps Exist?</label>
        <locationX>2206</locationX>
        <locationY>34</locationY>
        <defaultConnector>
            <targetReference>existingOpps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Existing_Loan_Applications</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>existingOpps_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Additional_Opps_Exist</name>
        <label>Additional Opps Exist?</label>
        <locationX>1382</locationX>
        <locationY>586</locationY>
        <defaultConnector>
            <targetReference>Interview_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Opps_Related_to_General_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Related_Additional_Opps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>All_questions_answered</name>
        <label>All questions answered?</label>
        <locationX>1117</locationX>
        <locationY>834</locationY>
        <defaultConnector>
            <targetReference>Do_Not_Create_PA_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass All Answered</defaultConnectorLabel>
        <rules>
            <name>Block</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>mainApplicant.Marital_agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mainApplicant.Are_you_buying_your_first_home__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mainApplicant.In_what_capacity_are_you_buying__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mainApplicant.Do_you_have_a_South_African_ID_number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mainApplicant.Do_you_own_an_existing_property__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mainApplicant.Nationality__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mainApplicant.What_is_your_employment_status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mainApplicant.What_is_your_credit_status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Question_Var_True</targetReference>
            </connector>
            <label>Block</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Existing_PA_Opps</name>
        <label>Check Existing PA Opps</label>
        <locationX>1973</locationX>
        <locationY>417</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Closed_Opps_Related_to_General_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>existingOpps</targetReference>
            </connector>
            <label>Existing Closed</label>
        </rules>
        <rules>
            <name>Existing_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_In_Progress_Opps_Related_to_General_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>existingOpps_0_0</targetReference>
            </connector>
            <label>Existing In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_selection_of_Opp</name>
        <label>Check selection of Opp</label>
        <locationX>2463</locationX>
        <locationY>775</locationY>
        <defaultConnector>
            <targetReference>Create_Additional_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Raise_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>additionalExistingOpps_0.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>existingOrNewBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_select_error</targetReference>
            </connector>
            <label>Raise Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_1</name>
        <label>Count &gt; 1</label>
        <locationX>1495</locationX>
        <locationY>3310</locationY>
        <defaultConnector>
            <targetReference>Add_Applicant_to_List_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicantCountVar</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comma_to_List</targetReference>
            </connector>
            <label>Yes &gt; 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Additional_Opportunity</name>
        <label>Create Additional Opportunity?</label>
        <locationX>2209</locationX>
        <locationY>774</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>existingOrNewBtnNoApps.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>existingOrNewBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interview_Questions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Not_Create_PA_Opp</name>
        <label>Do Not Create PA Opp?</label>
        <locationX>844</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Married_in_Community_of_Property1_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue with Creation</defaultConnectorLabel>
        <rules>
            <name>Poor_Credit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>mainApplicant.What_is_your_credit_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I have judgements against me</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mainApplicant.What_is_your_credit_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am currently under debt review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mainApplicant.What_is_your_credit_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am currently under sequestration in terms of a court order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Open_Tasks_General</targetReference>
            </connector>
            <label>Poor Credit</label>
        </rules>
        <rules>
            <name>Self_Employed_Do_not_Create</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>mainApplicant.What_is_your_employment_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self-employed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Open_Tasks_General_0</targetReference>
            </connector>
            <label>Self Employed - Do not Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>FHB</name>
        <label>FHB?</label>
        <locationX>1742</locationX>
        <locationY>2427</locationY>
        <defaultConnector>
            <targetReference>Get_Co_Loan_Applicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not FHB</defaultConnectorLabel>
        <rules>
            <name>FHB_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Applicant.Are_you_buying_your_first_home__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FHB_on_Applicant</targetReference>
            </connector>
            <label>FHB</label>
        </rules>
    </decisions>
    <decisions>
        <name>FHB_0</name>
        <label>FHB?</label>
        <locationX>1608</locationX>
        <locationY>2702</locationY>
        <defaultConnector>
            <targetReference>Get_All_Applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not FHB</defaultConnectorLabel>
        <rules>
            <name>FHB_Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Co_Loan_Applicant.Are_you_buying_your_first_home__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FHB_on_Applicant_0</targetReference>
            </connector>
            <label>FHB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_General_Opp_a_Repeat</name>
        <label>Is General Opp a Repeat?</label>
        <locationX>1741</locationX>
        <locationY>1864</locationY>
        <defaultConnector>
            <targetReference>Close_Out_Open_Tasks_on_General_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Brand New</defaultConnectorLabel>
        <rules>
            <name>Repeat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_General_Opportunity.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Repeat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pre_Approval_Repeat_Opp_Name</targetReference>
            </connector>
            <label>Repeat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Married_in_Community_of_Property1_0_0</name>
        <label>Married in Community of Property?</label>
        <locationX>1382</locationX>
        <locationY>933</locationY>
        <defaultConnector>
            <targetReference>Set_Marital_Status_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Undetermined</defaultConnectorLabel>
        <rules>
            <name>Yes_COP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>mainApplicant.Marital_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married in community of property (COP)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Marital_Status</targetReference>
            </connector>
            <label>Yes COP</label>
        </rules>
        <rules>
            <name>Married_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mainApplicant.Marital_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married - other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Marital_Status_0</targetReference>
            </connector>
            <label>Married Other</label>
        </rules>
        <rules>
            <name>Not_Married</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mainApplicant.Marital_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not married</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Marital_Status_0_0</targetReference>
            </connector>
            <label>Not Married</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Mail_or_Finish</name>
        <label>Send Mail or Finish?</label>
        <locationX>706</locationX>
        <locationY>1741</locationY>
        <defaultConnector>
            <targetReference>MC_Email_Template_Selection_Multi_select_picklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send Mail</defaultConnectorLabel>
        <rules>
            <name>Finish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finishBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Finish</label>
        </rules>
    </decisions>
    <description>DB: 11 aug

Flow Description: Creates a Pre-Approval or Bond Opportunity and is launched from the Wrap Up Opportunity flow

Front-End Access: Work Opportunity button on the Opportunity record page.</description>
    <dynamicChoiceSets>
        <name>AccountCollectionChoice</name>
        <collectionReference>AccountCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>existingGeneralOpps</name>
        <collectionReference>Get_All_Opps_Related_to_General_Opp</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Opportunity</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>multiAdditionalIncome</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_earn_any_additional_income_from_t__c</picklistField>
        <picklistObject>LoanApplicant</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>accountNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Person_Account.FirstName} + &quot; &quot; + {!Get_Person_Account.LastName}</expression>
    </formulas>
    <formulas>
        <name>assignmentDatePlus7</name>
        <dataType>DateTime</dataType>
        <expression>{!convertedAssignmentDate} + 7</expression>
    </formulas>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Ready for Verification - &quot;+ {!paOpportunityNameFormula}</expression>
    </formulas>
    <formulas>
        <name>coLoanApplicantName</name>
        <dataType>String</dataType>
        <expression>{!coLoanApplicant.First_Name__c} +&quot; &quot;+ {!coLoanApplicant.Last_Name__c}</expression>
    </formulas>
    <formulas>
        <name>convertedAssignmentDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!assignmentDate}) - 0.08334 + (1/1440)</expression>
    </formulas>
    <formulas>
        <name>generalOpportunityNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Person_Account.FirstName} + &quot; &quot; + {!Get_Person_Account.LastName}  + &quot; - General - &quot; + CASE( TEXT(MONTH(TODAY())),
&quot;1&quot;, &quot;January&quot;,
&quot;2&quot;, &quot;February&quot;,
&quot;3&quot;, &quot;March&quot;, 
&quot;4&quot;, &quot;April&quot;, 
&quot;5&quot;, &quot;May&quot;, 
&quot;6&quot;, &quot;June&quot;,
&quot;7&quot;, &quot;July&quot;,
&quot;8&quot;, &quot;August&quot;,
&quot;9&quot;, &quot;September&quot;,
&quot;10&quot;, &quot;October&quot;,
&quot;11&quot;, &quot;November&quot;,
&quot;12&quot;, &quot;December&quot;,
&quot;None&quot;)
+ &quot; &quot; + TEXT(Year(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>Link_PreApprovalOpp</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!preApprovalOppVar}, &quot;Click here to Navigate to the Pre-Approval Opportunity&quot; , &apos;_top&apos;)</expression>
    </formulas>
    <formulas>
        <name>loanApplicationNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Person_Account.FirstName} + &quot; &quot; + {!Get_Person_Account.LastName}  + &quot; - Loan Application - &quot; + CASE( TEXT(MONTH(TODAY())),
&quot;1&quot;, &quot;January&quot;,
&quot;2&quot;, &quot;February&quot;,
&quot;3&quot;, &quot;March&quot;, 
&quot;4&quot;, &quot;April&quot;, 
&quot;5&quot;, &quot;May&quot;, 
&quot;6&quot;, &quot;June&quot;,
&quot;7&quot;, &quot;July&quot;,
&quot;8&quot;, &quot;August&quot;,
&quot;9&quot;, &quot;September&quot;,
&quot;10&quot;, &quot;October&quot;,
&quot;11&quot;, &quot;November&quot;,
&quot;12&quot;, &quot;December&quot;,
&quot;None&quot;)
+ &quot; &quot; + TEXT(Year(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>missingQuestions</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!mainApplicant.Marital_agreement__c}, &quot;&quot;), &quot;Marital Agreement&quot; + BR(), null) +
IF(ISPICKVAL({!mainApplicant.In_what_capacity_are_you_buying__c}, &quot;&quot;), &quot;In what capacity are you buying&quot;+ BR(), null) +
IF(ISPICKVAL({!mainApplicant.Do_you_have_a_South_African_ID_number__c}, &quot;&quot;), &quot;Do you have a South African ID&quot;+ BR(), null) +
IF(ISPICKVAL({!mainApplicant.Nationality__c}, &quot;&quot;), &quot;Nationality&quot; + BR(), null)  +
IF(ISPICKVAL({!mainApplicant.What_is_your_employment_status__c}, &quot;&quot;), &quot;Employment Status&quot; + BR(), null)  +
IF(ISPICKVAL({!mainApplicant.What_is_your_credit_status__c}, &quot;&quot;), &quot;Credit Status&quot; + BR(), null)</expression>
    </formulas>
    <formulas>
        <name>nowFormula</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>paOpportunityNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Person_Account.FirstName} + &quot; &quot; + {!Get_Person_Account.LastName}  + &quot; - Pre-Approval - &quot; + CASE( TEXT(MONTH(TODAY())),
&quot;1&quot;, &quot;January&quot;,
&quot;2&quot;, &quot;February&quot;,
&quot;3&quot;, &quot;March&quot;, 
&quot;4&quot;, &quot;April&quot;, 
&quot;5&quot;, &quot;May&quot;, 
&quot;6&quot;, &quot;June&quot;,
&quot;7&quot;, &quot;July&quot;,
&quot;8&quot;, &quot;August&quot;,
&quot;9&quot;, &quot;September&quot;,
&quot;10&quot;, &quot;October&quot;,
&quot;11&quot;, &quot;November&quot;,
&quot;12&quot;, &quot;December&quot;,
&quot;None&quot;)
+ &quot; &quot; + TEXT(Year(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>repeatPAOppName</name>
        <dataType>String</dataType>
        <expression>{!Get_Person_Account.FirstName} + &quot; &quot; + {!Get_Person_Account.LastName}  + &quot; - Pre-Approval - &quot; + CASE( TEXT(MONTH(TODAY())),
&quot;1&quot;, &quot;January&quot;,
&quot;2&quot;, &quot;February&quot;,
&quot;3&quot;, &quot;March&quot;, 
&quot;4&quot;, &quot;April&quot;, 
&quot;5&quot;, &quot;May&quot;, 
&quot;6&quot;, &quot;June&quot;,
&quot;7&quot;, &quot;July&quot;,
&quot;8&quot;, &quot;August&quot;,
&quot;9&quot;, &quot;September&quot;,
&quot;10&quot;, &quot;October&quot;,
&quot;11&quot;, &quot;November&quot;,
&quot;12&quot;, &quot;December&quot;,
&quot;None&quot;)
+ &quot; &quot; + TEXT(Year(TODAY())) + &quot; - (Repeat)&quot;</expression>
    </formulas>
    <formulas>
        <name>slaDeadline</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + ({!Get_Campaign.SLA__c}/24)</expression>
    </formulas>
    <formulas>
        <name>todayPlus7Days</name>
        <dataType>Date</dataType>
        <expression>NOW() + 7</expression>
    </formulas>
    <interviewLabel>Create Pre-Approval or Bond Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Pre-Approval or Bond Opportunity</label>
    <loops>
        <name>Loop_All_Applicants</name>
        <label>Loop All Applicants</label>
        <locationX>1709</locationX>
        <locationY>3102</locationY>
        <collectionReference>Get_All_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_1_to_Count_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Loan_Applicants_for_MC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Apps</name>
        <label>Loop Apps</label>
        <locationX>1600</locationX>
        <locationY>214</locationY>
        <collectionReference>Check_Existing_Loan_Applications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_App_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Existing_Loan_Applicants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Related_Additional_Opps</name>
        <label>Loop Related Additional Opps</label>
        <locationX>1601</locationX>
        <locationY>585</locationY>
        <collectionReference>Get_All_Opps_Related_to_General_Opp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Related_Opps</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Existing_Loan_Applications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Loan_Application_0_0</name>
        <label>Create Loan Application</label>
        <locationX>1389</locationX>
        <locationY>1548</locationY>
        <connector>
            <targetReference>Create_Main_Loan_Applicant_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_General_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>loanApplicationNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_Pre_Approval_Opp</elementReference>
            </value>
        </inputAssignments>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Main_Loan_Applicant_0</name>
        <label>Create Main Loan Applicant</label>
        <locationX>1389</locationX>
        <locationY>1717</locationY>
        <connector>
            <targetReference>Assign_Main_Applicant</targetReference>
        </connector>
        <inputAssignments>
            <field>Are_you_buying_your_first_home__c</field>
            <value>
                <elementReference>mainApplicant.Are_you_buying_your_first_home__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact_Record_for_Person.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_earn_any_additional_income_from_t__c</field>
            <value>
                <elementReference>Do_you_earn_additional_income_from</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_have_a_South_African_ID_number__c</field>
            <value>
                <elementReference>mainApplicant.Do_you_have_a_South_African_ID_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_own_an_existing_property__c</field>
            <value>
                <elementReference>mainApplicant.Do_you_own_an_existing_property__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Address__c</field>
            <value>
                <elementReference>Get_Person_Account.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Get_Person_Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_what_capacity_are_you_buying__c</field>
            <value>
                <elementReference>mainApplicant.In_what_capacity_are_you_buying__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Main_Applicant__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Get_Person_Account.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanApplicationId</field>
            <value>
                <elementReference>Create_Loan_Application_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaritalStatus</field>
            <value>
                <elementReference>mainApplicant.MaritalStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_agreement__c</field>
            <value>
                <elementReference>mainApplicant.Marital_agreement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Phone_Number__c</field>
            <value>
                <elementReference>Get_Person_Account.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>accountNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_Title__c</field>
            <value>
                <elementReference>Get_Person_Account.PersonTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nationality__c</field>
            <value>
                <elementReference>mainApplicant.Nationality__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>mainApplicant.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceOpportunity__c</field>
            <value>
                <elementReference>Create_Pre_Approval_Opp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_your_credit_status__c</field>
            <value>
                <elementReference>mainApplicant.What_is_your_credit_status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_your_employment_status__c</field>
            <value>
                <elementReference>mainApplicant.What_is_your_employment_status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_type_of_bond_are_you_applying_for__c</field>
            <value>
                <elementReference>mainApplicant.What_type_of_bond_are_you_applying_for__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When_are_you_paid__c</field>
            <value>
                <elementReference>mainApplicant.When_are_you_paid__c</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Pre_Approval_Opp</name>
        <label>Create Pre-Approval Opp</label>
        <locationX>1389</locationX>
        <locationY>1393</locationY>
        <connector>
            <targetReference>Assign_Pre_Approval_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_General_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>Get_General_Opportunity.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_you_buying_your_first_home__c</field>
            <value>
                <elementReference>mainApplicant.Are_you_buying_your_first_home__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_DateTime__c</field>
            <value>
                <elementReference>convertedAssignmentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLG_Campaign__c</field>
            <value>
                <elementReference>Get_General_Opportunity.BLG_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>Get_General_Opportunity.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>assignmentDatePlus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsultantBranch__c</field>
            <value>
                <elementReference>Get_General_Opportunity.ConsultantBranch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsultantRegion__c</field>
            <value>
                <elementReference>Get_General_Opportunity.ConsultantRegion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsultantSubBranch__c</field>
            <value>
                <elementReference>Get_General_Opportunity.ConsultantSubBranch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Development_Agent__c</field>
            <value>
                <elementReference>Get_General_Opportunity.Development_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>General_Opportunity__c</field>
            <value>
                <elementReference>Get_General_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MC_Main_applicant_email_address__c</field>
            <value>
                <elementReference>Get_Contact_Record_for_Person.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>paOpportunityNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network__c</field>
            <value>
                <elementReference>Get_General_Opportunity.Network__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_General_Opportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreApprovalOpportunity__c</field>
            <value>
                <elementReference>Get_General_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Real_Estate_Agent__c</field>
            <value>
                <elementReference>Get_General_Opportunity.Real_Estate_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Pre_Approval_Opp_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>stageVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>statusVar</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_Existing_Loan_Applicants</name>
        <label>Check Existing Loan Applicants</label>
        <locationX>1798</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Additional_Loan_Apps_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>In</operator>
            <value>
                <elementReference>loanApplications</elementReference>
            </value>
        </filters>
        <filters>
            <field>BorrowerType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Borrower</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Check_Existing_Loan_Applications</name>
        <label>Check Existing Loan Applications</label>
        <locationX>1600</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Apps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>In</operator>
            <value>
                <elementReference>relatedOppIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Applicants</name>
        <label>Get All Applicants</label>
        <locationX>1523</locationX>
        <locationY>2804</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Applicants_to_Awaiting_Consent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Loan_Application_0_0</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Closed_Opps_Related_to_General_Opp</name>
        <label>Get All Closed Opps Related to General Opp</label>
        <locationX>1246</locationX>
        <locationY>541</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Additional_Opps_Exist</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>General_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_In_Progress_Opps_Related_to_General_Opp</name>
        <label>Get All In Progress Opps Related to General Opp</label>
        <locationX>1437</locationX>
        <locationY>416</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Closed_Opps_Related_to_General_Opp</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>General_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Opps_Related_to_General_Opp</name>
        <label>Get All Opps Related to General Opp</label>
        <locationX>1267</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_In_Progress_Opps_Related_to_General_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>General_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>1019</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_General_Opportunity.BLG_Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Co_Loan_Applicant</name>
        <label>Get Co-Loan Applicant</label>
        <locationX>1616</locationX>
        <locationY>2539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FHB_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Loan_Application_0_0</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record_for_Person</name>
        <label>Get Contact Record for Person</label>
        <locationX>1389</locationX>
        <locationY>1240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>nextStartDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Person_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_General_Opp_Record_Type_Id</name>
        <label>Get General Opp Record Type Id</label>
        <locationX>645</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pre_Approval_Opp_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General_Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_General_Opportunity</name>
        <label>Get General Opportunity</label>
        <locationX>911</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_General_Opp_Record_Type_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Applicant</name>
        <label>Get Main Applicant</label>
        <locationX>1750</locationX>
        <locationY>2247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FHB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Loan_Application_0_0</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mainApplicantVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account</name>
        <label>Get Person Account</label>
        <locationX>1134</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Opps_Related_to_General_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_General_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pre_Approval_Opp_Record_Type_Id</name>
        <label>Get Pre-Approval Opp Record Type Id</label>
        <locationX>777</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_General_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre_Approval_Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Opp</name>
        <label>Get Updated Opp</label>
        <locationX>714</locationX>
        <locationY>1447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>poorCredit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_General_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Opp_Self_Employed</name>
        <label>Get Updated Opp Self Employed</label>
        <locationX>494</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>bondSpecialistScr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_General_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Open_Tasks_General</name>
        <label>Close Open Tasks General</label>
        <locationX>714</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Update_Opp_Status_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_General_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Open_Tasks_General_0</name>
        <label>Close Open Tasks General</label>
        <locationX>648</locationX>
        <locationY>918</locationY>
        <connector>
            <targetReference>Update_Opp_Status_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_General_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Out_Open_Tasks_on_General_Opp</name>
        <label>Close Out Open Tasks on General Opp</label>
        <locationX>1749</locationX>
        <locationY>2096</locationY>
        <connector>
            <targetReference>Get_Main_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_General_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Relate_Pre_Approval_Opp_to_General_Opp</name>
        <label>Relate Pre-Approval Opp to General Opp</label>
        <locationX>1250</locationX>
        <locationY>1548</locationY>
        <connector>
            <targetReference>Create_Loan_Application_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_General_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>General_Opportunity__c</field>
            <value>
                <elementReference>Create_Pre_Approval_Opp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreApprovalOpportunity__c</field>
            <value>
                <elementReference>Create_Pre_Approval_Opp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Applicants_to_Awaiting_Consent</name>
        <label>Update Applicants to Awaiting Consent</label>
        <locationX>1827</locationX>
        <locationY>2968</locationY>
        <connector>
            <targetReference>Loop_All_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Loan_Application_0_0</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Consent</stringValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FHB_on_Applicant</name>
        <label>Update FHB on Applicant</label>
        <locationX>1839</locationX>
        <locationY>2539</locationY>
        <connector>
            <targetReference>Get_Co_Loan_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Applicant.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_First_Time_Home_Buyer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FHB_on_Applicant_0</name>
        <label>Update FHB on Applicant</label>
        <locationX>1786</locationX>
        <locationY>2788</locationY>
        <connector>
            <targetReference>Get_All_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Co_Loan_Applicant.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_First_Time_Home_Buyer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loan_Applicants_for_MC</name>
        <label>Update Loan Applicants for MC</label>
        <locationX>1992</locationX>
        <locationY>3106</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Pre_Approval_Opp</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loan_Applicants__c</field>
            <value>
                <elementReference>applicantList</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Status_0</name>
        <label>Update Opp Status</label>
        <locationX>714</locationX>
        <locationY>1316</locationY>
        <connector>
            <targetReference>Get_Updated_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_General_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Poor credit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Status_0_0</name>
        <label>Update Opp Status</label>
        <locationX>494</locationX>
        <locationY>918</locationY>
        <connector>
            <targetReference>Get_Updated_Opp_Self_Employed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_General_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Self employed / does not meet the minimum criteria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pre_Approval_Repeat_Opp_Name</name>
        <label>Update Pre-Approval Repeat Opp Name</label>
        <locationX>1527</locationX>
        <locationY>1980</locationY>
        <connector>
            <targetReference>Close_Out_Open_Tasks_on_General_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Pre_Approval_Opp</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>repeatPAOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>bondSpecialistScr</name>
        <label>bondSpecialistScr</label>
        <locationX>495</locationX>
        <locationY>1209</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>closedSelfEmployed</name>
            <fieldText>&lt;p&gt;The following Opportunity stage has been updated to Closed Lost:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Opportunity: &lt;/strong&gt;{!Get_Updated_Opp_Self_Employed.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Status: &lt;/strong&gt;{!Get_Updated_Opp_Self_Employed.Status__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;Employment Status:&lt;/strong&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt; Self-Employed&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Opportunity should be referred to a Bond Specialist.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>existingOpps</name>
        <label>existingOpps</label>
        <locationX>2366</locationX>
        <locationY>399</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Additional_Opportunity</targetReference>
        </connector>
        <fields>
            <name>textMsgH</name>
            <extensionName>c:flowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create Pre-Approval or Bond Opportunity Workflow</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>existingOpps_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>existingOpps_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>messageHelp</name>
                    <fieldText>&lt;p&gt;The following additional Closed Opportunities exist on &lt;strong&gt;{!generalOpportunityNameFormula}&lt;/strong&gt;:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Would you like to create a new Pre-Approval Opportunity for this General Opportunity?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>additionalExistingOpps</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Opportunity</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_All_Closed_Opps_Related_to_General_Opp</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-448b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Opportunity Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-d4ef&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Created Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-7ce3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Stage&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-8e01&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Owner_Name__c&quot;,&quot;guid&quot;:&quot;column-1e1f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Owner Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>existingOpps_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>existingOpps_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>existingOpps_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>existingOrNewBtnNoApps</name>
                    <extensionName>runtime_industries_lending:flowFooter</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>showPrevious</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonLabelNext</name>
                        <value>
                            <stringValue>Create new Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonLabelCustom</name>
                        <value>
                            <stringValue>Cancel</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>existingOpps_0</name>
        <label>existingOpps</label>
        <locationX>2469</locationX>
        <locationY>32</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_selection_of_Opp</targetReference>
        </connector>
        <fields>
            <name>textMsgH_0</name>
            <extensionName>c:flowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create Pre-Approval or Bond Opportunity Workflow</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>existingOpps_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>existingOpps_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>messageHelp_0</name>
                    <fieldText>&lt;p&gt;The following additional Opportunities already exist on &lt;strong&gt;{!generalOpportunityNameFormula} &lt;/strong&gt;:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>additionalExistingOpps_0</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Opportunity</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Opportunities</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_All_Opps_Related_to_General_Opp</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-448b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Opportunity Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-d4ef&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Created Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-684f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Stage&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-62b6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>oppErrDisp</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;You must select an Opportunity to use the &quot;Continue with existing Opportunity&quot; option&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varOppSelectError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>existingLoanApp_0</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ResidentialLoanApplication</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Applications</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Check_Existing_Loan_Applications</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-fdce&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Loan Application Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-c65f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Created Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>existingApplicant_0</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>LoanApplicant</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Applicants</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Check_Existing_Loan_Applicants</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-36a5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Loan Applicant Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-1108&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Created Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>existingOpps_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>existingOpps_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>existingOpps_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>existingOrNewBtn</name>
                    <extensionName>runtime_industries_lending:flowFooter</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabelNext</name>
                        <value>
                            <stringValue>Create new Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonLabelCustom</name>
                        <value>
                            <stringValue>Continue with selected Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showPrevious</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>existingOpps_0_0</name>
        <label>existingOpps</label>
        <locationX>1982</locationX>
        <locationY>625</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textMsgH_0_0</name>
            <extensionName>c:flowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create Pre-Approval or Bond Opportunity Workflow</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>existingOpps_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>existingOpps_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inProgressMsg_0</name>
                    <fieldText>&lt;p&gt;The following additional Opportunities are in progress for: &lt;strong&gt;{!generalOpportunityNameFormula}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You are not allowed to Create a new Opportunity while another is in progress.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If the stage is set to Closed, you will be able to Create a new Opportunity for this existing General Opportunity.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>inProgressTable_0</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Opportunity</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_All_In_Progress_Opps_Related_to_General_Opp</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3847&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Opportunity Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-b1ab&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-e62c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-dfdf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Owner_Name__c&quot;,&quot;guid&quot;:&quot;column-4890&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Owner Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Interview_Questions</name>
        <label>Interview Questions</label>
        <locationX>1390</locationX>
        <locationY>776</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>All_questions_answered</targetReference>
        </connector>
        <fields>
            <name>questions_0_0</name>
            <extensionName>c:flowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pre-Approval Interview Questions</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>requiredQuestions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The following Interview questions are mandatory when converting to Pre-Approval:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!missingQuestions}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>questionsRequiredVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Interview_Questions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Interview_Questions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>mainApplicant.Marital_agreement__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>mainApplicant.Are_you_buying_your_first_home__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>mainApplicant.In_what_capacity_are_you_buying__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>mainApplicant.What_type_of_bond_are_you_applying_for__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>mainApplicant.Do_you_have_a_South_African_ID_number__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>mainApplicant.Do_you_own_an_existing_property__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Interview_Questions_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>mainApplicant.When_are_you_paid__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Do_you_earn_additional_income_from</name>
                    <choiceReferences>multiAdditionalIncome</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you earn additional income from:</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>mainApplicant.Nationality__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>mainApplicant.What_is_your_employment_status__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>mainApplicant.What_is_your_credit_status__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>mainApplicant.Notes__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>poorCredit</name>
        <label>poorCredit</label>
        <locationX>714</locationX>
        <locationY>1584</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Mail_or_Finish</targetReference>
        </connector>
        <fields>
            <name>closedPoorCreditLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 8px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Closed Lost - Poor Credit</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>poorCreditPrompt</name>
            <fieldText>&lt;p&gt;The Opportunity stage for &lt;strong&gt;{!Get_Updated_Opp.Name} &lt;/strong&gt;has been updated to Closed Lost:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Status:&lt;/strong&gt; {!Get_Updated_Opp.Status__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Credit Check Result:&lt;/strong&gt; &lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Red&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sendEmailBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Send Customer Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>finishBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Close Without Sending Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>291</locationX>
        <locationY>391</locationY>
        <connector>
            <targetReference>Get_General_Opp_Record_Type_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Applicants</name>
        <label>Add Applicants</label>
        <locationX>1749</locationX>
        <locationY>1717</locationY>
        <connector>
            <targetReference>Is_General_Opp_a_Repeat</targetReference>
        </connector>
        <flowName>Add_Applicants</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>loanApplicationId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>MC_Email_Template_Selection_Multi_select_picklist</name>
        <label>MC Email Template Selection - Multi select picklist</label>
        <locationX>715</locationX>
        <locationY>1951</locationY>
        <flowName>MC_Email_Template_Selection_Multi_select_picklist</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Updated_Opp.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>createNewCustomer</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Create New Customer&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>additionalOppColumns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>additionalOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>applicantCountVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>applicantList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignmentDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CoApplicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coLoanApplicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
    <variables>
        <name>ConsentRefused</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>coPersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ExitFlowConsentRefused</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>loanApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loanApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loanApplications</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mainApplicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
    <variables>
        <name>mainApplicantVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mainPersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NameValidation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PhoneEmailValidation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>preApprovalOppVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>questionsRequiredVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypePerson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0128d000000cIo6AAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>relatedOppIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedApplicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stageVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Working</stringValue>
        </value>
    </variables>
    <variables>
        <name>statusVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PA Requested - awaiting consent</stringValue>
        </value>
    </variables>
    <variables>
        <name>varOppSelectError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
