force-app/main/default/flows/Delete_CCR_s_ACR_s_when_deactivating_a_user.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Var</name>
        <label>Assign Contact Var</label>
        <locationX>374</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>Get_User_Contact.AccountId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ACR_s_Found</name>
        <label>ACR&apos;s Found?</label>
        <locationX>374</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_Var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ACRs_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ACR_s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_ACR_s</targetReference>
            </connector>
            <label>ACRs Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CCR_s_Found</name>
        <label>CCR&apos;s Found?</label>
        <locationX>374</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Get_ACR_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CCR_s_Found2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CCR_s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_All_CCR_s</targetReference>
            </connector>
            <label>CCR&apos;s Found</label>
        </rules>
    </decisions>
    <description>When deleting a user, all Contact Contact and Account Contact relationships must be deleted.</description>
    <environments>Default</environments>
    <interviewLabel>Delete CCR&apos;s &amp; ACR&apos;s when deactivating a user {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete CCR&apos;s &amp; ACR&apos;s when deactivating a user</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_ACR_s</name>
        <label>Delete ACR&apos;s</label>
        <locationX>242</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Assign_Contact_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_User_Contact.AccountId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_All_CCR_s</name>
        <label>Delete All CCR&apos;s</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Get_ACR_s</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FinServ__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__RelatedContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Contact.Id</elementReference>
            </value>
        </filters>
        <object>FinServ__ContactContactRelation__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_ACR_s</name>
        <label>Get ACR&apos;s</label>
        <locationX>374</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ACR_s_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_User_Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CCR_s</name>
        <label>Get CCR&apos;s</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CCR_s_Found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FinServ__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__RelatedContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__ContactContactRelation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Contact</name>
        <label>Get User Contact</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CCR_s</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Consultant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>374</locationX>
        <locationY>1308</locationY>
        <inputReference>Get_User_Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Run_Async</name>
            <connector>
                <targetReference>Get_User_Contact</targetReference>
            </connector>
            <label>Run Async</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
