force-app/main/default/flows/Do_Full_Credit_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Do_full_credit_check</name>
        <label>Do full credit check</label>
        <locationX>538</locationX>
        <locationY>417</locationY>
        <actionName>SRVCRDCreditCheckController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_Apex_Successful</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>loanApplicantId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>apexSuccess</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Was_Apex_Successful</name>
        <label>Was Apex Successful?</label>
        <locationX>531</locationX>
        <locationY>533</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apexSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loan_Applicant</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow Description: Flow kicks off once simple credit check is completed.

No Front-End Access - Flow is record triggered based on the entry criteria.</description>
    <environments>Default</environments>
    <interviewLabel>Do Full Credit Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Do Full Credit Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Loan_Applicant</name>
        <label>Update Loan Applicant</label>
        <locationX>539</locationX>
        <locationY>748</locationY>
        <inputAssignments>
            <field>creditCheckIsFullCheckDone__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>creditCheckRagIndicator__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Red</stringValue>
            </value>
        </filters>
        <filters>
            <field>creditCheckIsFullCheckDone__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>idvFinalScore__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Personal_ID_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>LoanApplicant</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Do_full_credit_check</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>apexSuccess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
