force-app/main/default/flows/Email_Send_Status_Chatter_Post.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_picklist_values2</name>
        <label>Get picklist values</label>
        <locationX>662</locationX>
        <locationY>471</locationY>
        <actionName>GetPicklistValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>picklistValues</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Template_Selection__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PicklistValuesList</assignToReference>
            <name>picklistValues</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_Email_send_status</name>
        <label>Post Email send status</label>
        <locationX>822</locationX>
        <locationY>735</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Clear_mark_successfully</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterBodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_value_to_var</name>
        <label>Assign value to var</label>
        <locationX>1068</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>selectedTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklistValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>picklistValues</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Find_selected_value</name>
        <label>Find selected value</label>
        <locationX>1058</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>picklistValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Match</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Template_Selection__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_to_var</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <description>Flow Description: Creates a chatter post on the Opportunity once Marketing Cloud updates the entry criteria field of the flow to indicate that the email delivered successfully.

No Front-End Access - Flow is record triggered based on the entry criteria.</description>
    <environments>Default</environments>
    <interviewLabel>Email Send Status Chatter Post {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Send Status Chatter Post</label>
    <loops>
        <name>picklistValues</name>
        <label>picklistValues</label>
        <locationX>820</locationX>
        <locationY>530</locationY>
        <collectionReference>PicklistValuesList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_selected_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Post_Email_send_status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Clear_mark_successfully</name>
        <label>Clear mark successfully</label>
        <locationX>823</locationX>
        <locationY>904</locationY>
        <inputAssignments>
            <field>mcEmailSendSuccesful__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>302</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>Post_Email_send_status</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mcEmailSendSuccesful__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterBodyTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;----Email Delivered Successfully ----&gt;
Selected Template: {!$Record.Template_Selection__c}
Sent successfully @ {!Date}</text>
    </textTemplates>
    <variables>
        <name>Date</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>PicklistValuesList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
