force-app/main/default/flows/Feedback_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Default_Values</name>
        <label>Assign Default Values</label>
        <locationX>311</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>varFeedback.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFeedback.Link_to_related_record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_paste_browser_URL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFeedback.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Problem_Suggestion_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFeedback.Issue_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>issueDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Feedback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_true</name>
        <label>Error true</label>
        <locationX>464</locationX>
        <locationY>96</locationY>
        <assignmentItems>
            <assignToReference>noDescriptionError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>feedbackScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>New_or_Existing</name>
        <label>New or Existing</label>
        <locationX>608</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>No_description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Save New</defaultConnectorLabel>
        <rules>
            <name>Check_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkOrLog.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Feedbacks</targetReference>
            </connector>
            <label>Check Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_description</name>
        <label>No description</label>
        <locationX>457</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Description supplied</defaultConnectorLabel>
        <rules>
            <name>No_description2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DescriptionLength</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_true</targetReference>
            </connector>
            <label>No description</label>
        </rules>
    </decisions>
    <description>Flow Description: Utility flow used to report Problems or Suggestions.

Front-End Access: Launched from the Utility Bar - Feedback.</description>
    <environments>Default</environments>
    <formulas>
        <name>DescriptionLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!issueDescription})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Feedback Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Feedback Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Feedback</name>
        <label>Create Feedback</label>
        <locationX>161</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>Submitted2</targetReference>
        </connector>
        <inputReference>varFeedback</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Feedbacks</name>
        <label>Get Feedbacks</label>
        <locationX>834</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TicketResolved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Feedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_selected_record</name>
        <label>Update selected record</label>
        <locationX>1088</locationX>
        <locationY>579</locationY>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
        <inputReference>selectedFeedback</inputReference>
    </recordUpdates>
    <screens>
        <name>feedbackScreen</name>
        <label>feedbackScreen</label>
        <locationX>616</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_or_Existing</targetReference>
        </connector>
        <fields>
            <name>checkOrLog</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New or Existing</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Follow Up On Existing Requests</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Create New Request</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Problem_Suggestion_Name</name>
            <dataType>String</dataType>
            <fieldText>Problem / Suggestion Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>NOT 1</conditionLogic>
                <conditions>
                    <leftValueReference>checkOrLog.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_paste_browser_URL</name>
            <dataType>String</dataType>
            <fieldText>Please paste browser URL</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>NOT 1</conditionLogic>
                <conditions>
                    <leftValueReference>checkOrLog.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>noDescription</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(198, 53, 53);&quot;&gt;Please supply a description below&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>noDescriptionError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Problem_Suggestion_Description</name>
            <extensionName>c:flowRichTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Problem / Suggestion Description</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>outputValue</name>
                <value>
                    <elementReference>issueDescription</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>issueDescription</assignToReference>
                <name>outputValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>NOT 1</conditionLogic>
                <conditions>
                    <leftValueReference>checkOrLog.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>varFeedback.Type__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>NOT 1</conditionLogic>
                <conditions>
                    <leftValueReference>checkOrLog.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>varFeedback.Priority__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>NOT 1</conditionLogic>
                <conditions>
                    <leftValueReference>checkOrLog.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>999</locationX>
        <locationY>412</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen3</targetReference>
        </connector>
        <fields>
            <name>FeedbackTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Feedback__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Open Requests</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Feedbacks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a9b4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Issue Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-99fc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Priority__c&quot;,&quot;guid&quot;:&quot;column-ba06&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Priority&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedFeedback</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen3</name>
        <label>Screen3</label>
        <locationX>1175</locationX>
        <locationY>412</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_selected_record</targetReference>
        </connector>
        <fields>
            <name>RichText2</name>
            <extensionName>c:flowRichTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>outputValue</name>
                <value>
                    <elementReference>selectedFeedback.Issue_Description__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>selectedFeedback.Status__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>selectedFeedback.TicketResolved__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Submitted2</name>
        <label>Submitted</label>
        <locationX>50</locationX>
        <locationY>383</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>submitted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you, your feedback has been saved.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>902</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>feedbackScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>issueDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>noDescriptionError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedFeedback</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Feedback__c</objectType>
    </variables>
    <variables>
        <name>varFeedback</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Feedback__c</objectType>
    </variables>
</Flow>
