force-app/main/default/flows/Financial_Detail_Summary_on_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Sections</name>
        <label>Add Sections</label>
        <locationX>948</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>sectionsVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>LoanApplicant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sectionsVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>LoanApplicationLiability</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sectionsVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>LoanApplicantIncome</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>financialType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_opportunity_id_to_recordId</name>
        <label>Assign opportunity id to recordId</label>
        <locationX>546</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Contractual_Expenses</name>
        <choiceText>Contractual Expenses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contractual Expenses</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deductions</name>
        <choiceText>Deductions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deductions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existing_Exposure</name>
        <choiceText>Existing Exposure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Exposure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gross_Income</name>
        <choiceText>Gross Income</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gross Income</stringValue>
        </value>
    </choices>
    <choices>
        <name>Income</name>
        <choiceText>Income</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Income</stringValue>
        </value>
    </choices>
    <choices>
        <name>Living_Expenses</name>
        <choiceText>Living Expenses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Living Expenses</stringValue>
        </value>
    </choices>
    <choices>
        <name>Terms</name>
        <choiceText>Terms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Terms</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Flow_Running_In_Case_Context</name>
        <label>Flow Running In Case Context?</label>
        <locationX>416</locationX>
        <locationY>74</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Not Case Context</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Yes, Case Context</label>
        </rules>
    </decisions>
    <description>Flow Description: Summary of Pre-Approval Opportunity Financials.

Front-End Access: Financial Summary Tab on Opportunity.</description>
    <environments>Default</environments>
    <formulas>
        <name>summaryHeader</name>
        <dataType>String</dataType>
        <expression>{!Get_Loan_Application.Name}</expression>
    </formulas>
    <interviewLabel>Financial Detail Summary on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Financial Detail Summary on Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>423</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_opportunity_id_to_recordId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application</name>
        <label>Get Loan Application</label>
        <locationX>695</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Sections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Loan_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>financialType</name>
        <label>financialType</label>
        <locationX>824</locationX>
        <locationY>614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>headerSummary</name>
            <extensionName>c:flowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>summaryHeader</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>financialType_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>financialType_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>totalGross</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;Total Gross Income: &lt;strong&gt;{!Get_Loan_Application.Total_Gross_Income_Amount__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>totalIncome</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Total Income Amount: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Loan_Application.Total_Income_Amount__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>totalLivingExpenses</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Total Living Expense Amount: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Loan_Application.Total_Liability_Amount__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>totalBondRepay</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Total Existing Bond Repayments: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Loan_Application.Total_Existing_Bond_Repayments__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>totalNett</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Total Nett Income: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Loan_Application.Total_Nett_Income__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>totalContractual</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Total Contractual Expenses Amount: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Loan_Application.Total_Contractual_Expenses_Amount__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>financialType_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>totalGrossRTI</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Total Gross Income RTI Amount: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Loan_Application.Total_Gross_Income_RTI_Amount__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>totalIncomeRTI</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Total Income RTI Amount: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Loan_Application.Total_Income_RTI_Amount__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>totalDeductions</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Total Deductions Amount: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Loan_Application.Total_Deductions_Amount__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>totalBondRepaySettle</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Existing Bond Repayments to be settled: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Loan_Application.Existing_Bond_Repayments_to_be_Settled__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>totalDisposable</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Total Disposable Income: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Loan_Application.Total_Disposable_Income__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>financialType_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>financialType_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>financialType_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>term</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;Loan Term: &lt;strong&gt;{!Get_Loan_Application.Loan_Term__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>financialType_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>financialType_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deposit1</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;Deposit 1 (%): &lt;strong&gt;{!Get_Loan_Application.Deposit_1__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>financialType_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deposit2</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Deposit 2 (%): &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Loan_Application.Deposit_2__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>financialType_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deposit3</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Deposit 3 (%): &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Loan_Application.Deposit_3__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>financialType_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deposit4</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Deposit 4 (%): &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Loan_Application.Deposit_4__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>financialType_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>financialType_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>financialDetailSummary</name>
                    <extensionName>runtime_industries_lending:svFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Loan_Application.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>entities</name>
                        <value>
                            <elementReference>sectionsVar</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>view</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Refresh</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Flow_Running_In_Case_Context</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseContext</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sectionsVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
