force-app/main/default/flows/Manage_Applicant_Bond.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Applicant_to_List_Var</name>
        <label>Add Applicant to List Var</label>
        <locationX>444</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>applicantList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Active_Applicants.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Active_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Comma_to_List</name>
        <label>Add Comma to List</label>
        <locationX>56</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>applicantList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Applicant_to_List_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_1_to_Count_Var</name>
        <label>Assign 1 to Count Var</label>
        <locationX>58</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>applicantCountVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Count_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Active_cop_true</name>
        <label>Assign Active cop true</label>
        <locationX>2966</locationX>
        <locationY>1940</locationY>
        <assignmentItems>
            <assignToReference>activeCOPBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Remaining_COP_InActive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Active_Non_COP_true</name>
        <label>Assign Active Non COP true</label>
        <locationX>2974</locationX>
        <locationY>2619</locationY>
        <assignmentItems>
            <assignToReference>activeNonCOPBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Remaining_Non_COP_InActive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Active_Table_Columns</name>
        <label>Assign Active Table Columns</label>
        <locationX>1965</locationX>
        <locationY>1505</locationY>
        <assignmentItems>
            <assignToReference>vColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Marital_agreement__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Is_Main_Applicant__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>IsActive__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remaining_Collection_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Applicant_Count_1</name>
        <label>Assign Applicant Count 1</label>
        <locationX>1943</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>varApplicantCount1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Applicant_Count_All</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Main_Bond_Applicant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Applicant_Count_2</name>
        <label>Assign Applicant Count 2</label>
        <locationX>401</locationX>
        <locationY>2880</locationY>
        <assignmentItems>
            <assignToReference>varApplicantCount2</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Applicant_Count_All_Final</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_the_Applicant_Count_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Both_Blank_True</name>
        <label>Assign Both Blank True</label>
        <locationX>1217</locationX>
        <locationY>2317</locationY>
        <assignmentItems>
            <assignToReference>bothSelectBlank</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deactivate_Applicant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Both_Blank_True_0</name>
        <label>Assign Both Blank True</label>
        <locationX>1538</locationX>
        <locationY>2010</locationY>
        <assignmentItems>
            <assignToReference>bothSelectBlank</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activate_Applicant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Main_Applicant</name>
        <label>Assign Main Applicant</label>
        <locationX>1612</locationX>
        <locationY>952</locationY>
        <assignmentItems>
            <assignToReference>applicantCollectionMain</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Main_Only.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Main_Only</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Main_Applicant_0</name>
        <label>Assign Main Applicant</label>
        <locationX>2724</locationX>
        <locationY>951</locationY>
        <assignmentItems>
            <assignToReference>applicantCollectionMain</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Main_and_Co_COP.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Main_and_Co_COP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Non_COP_False</name>
        <label>Assign Non COP False</label>
        <locationX>2208</locationX>
        <locationY>2311</locationY>
        <assignmentItems>
            <assignToReference>nonCOPBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Remove</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Non_COP_True</name>
        <label>Assign Non COP True</label>
        <locationX>2444</locationX>
        <locationY>2321</locationY>
        <assignmentItems>
            <assignToReference>nonCOPBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Remaining_Non_COP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Re_Upload_OTP_Output_Var_True</name>
        <label>Assign Re-Upload OTP Output Var True</label>
        <locationX>96</locationX>
        <locationY>2215</locationY>
        <assignmentItems>
            <assignToReference>varReUploadOTP</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Active_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Remaining_2_3_4</name>
        <label>Assign Remaining 2,3,4</label>
        <locationX>1552</locationX>
        <locationY>1283</locationY>
        <assignmentItems>
            <assignToReference>remainingApplicantCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Remaining_2_3_4.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Remaining_2_3_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Remaining_3_4</name>
        <label>Assign Remaining 3,4</label>
        <locationX>2738</locationX>
        <locationY>1283</locationY>
        <assignmentItems>
            <assignToReference>remainingApplicantCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Remaining_3_4.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Remaining_3_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Remaining_COP</name>
        <label>Assign Remaining COP</label>
        <locationX>2745</locationX>
        <locationY>1738</locationY>
        <assignmentItems>
            <assignToReference>remainingCOP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Remaining_COP.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Remaining_COP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Remaining_Non_COP</name>
        <label>Assign Remaining Non COP</label>
        <locationX>2802</locationX>
        <locationY>2321</locationY>
        <assignmentItems>
            <assignToReference>remainingNonCOP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Remaining_Non_COP.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Remaining_Non_COP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Out_Collections_Vars</name>
        <label>Clear Out Collections/Vars</label>
        <locationX>1103</locationX>
        <locationY>202</locationY>
        <assignmentItems>
            <assignToReference>applicantCollectionMain</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>remainingApplicantCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activeBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inactiveBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>remainingCOP</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>remainingNonCOP</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activeCOPBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inactiveCOPBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activeNonCOPBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inactiveNonCOPBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bothSelectBlank</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Loan_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inactive_COP</name>
        <label>Inactive COP</label>
        <locationX>3104</locationX>
        <locationY>2232</locationY>
        <assignmentItems>
            <assignToReference>inactiveCOPBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Remaining_Non_COP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inactive_Non_COPs</name>
        <label>Inactive Non COP</label>
        <locationX>3149</locationX>
        <locationY>2880</locationY>
        <assignmentItems>
            <assignToReference>inactiveNonCOPBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Remove</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vColumns_Length</name>
        <label>vColumns Length</label>
        <locationX>2130</locationX>
        <locationY>1282</locationY>
        <assignmentItems>
            <assignToReference>vColumnsLentgh</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>vColumns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>columns_Assigned</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Action_Married_COP_0</name>
        <label>Action Married COP</label>
        <locationX>730</locationX>
        <locationY>1089</locationY>
        <defaultConnector>
            <targetReference>Update_Co_AppInActive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Deactivate_COP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Deactivate_Both_Apps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Co_App_Inactive</targetReference>
            </connector>
            <label>Deactivate COP</label>
        </rules>
        <rules>
            <name>Married_COP_Boolean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nonCOPBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Co_App_Inactive</targetReference>
            </connector>
            <label>Married COP Boolean</label>
        </rules>
    </decisions>
    <decisions>
        <name>Action_Married_COP_Activate</name>
        <label>Action Married COP Activate</label>
        <locationX>464</locationX>
        <locationY>992</locationY>
        <defaultConnector>
            <targetReference>Update_Co_App_Active_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Activate_COP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Activate_Both</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Co_App_Active</targetReference>
            </connector>
            <label>Activate COP</label>
        </rules>
        <rules>
            <name>Married_COP_Boolean_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nonCOPBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Co_App_Active</targetReference>
            </connector>
            <label>Married COP Boolean</label>
        </rules>
    </decisions>
    <decisions>
        <name>Active_COP_Exist</name>
        <label>Active COP Exist</label>
        <locationX>2690</locationX>
        <locationY>1926</locationY>
        <defaultConnector>
            <targetReference>Get_Remaining_COP_InActive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active COPs</defaultConnectorLabel>
        <rules>
            <name>Active_COP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Remaining_COP_Active</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Active_cop_true</targetReference>
            </connector>
            <label>Active COP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Active_Non_COP_Exist</name>
        <label>Active Non COP Exist?</label>
        <locationX>2743</locationX>
        <locationY>2517</locationY>
        <defaultConnector>
            <targetReference>Get_Remaining_Non_COP_InActive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active COPs</defaultConnectorLabel>
        <rules>
            <name>Active_Non_COP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Remaining_Non_COP_Active</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Active_Non_COP_true</targetReference>
            </connector>
            <label>Active Non COP</label>
        </rules>
    </decisions>
    <decisions>
        <name>columns_Assigned</name>
        <label>Columns Assigned?</label>
        <locationX>2123</locationX>
        <locationY>1413</locationY>
        <defaultConnector>
            <targetReference>Assign_Active_Table_Columns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vColumnsLentgh</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remaining_Collection_Exist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_the_Applicant_Count_Change</name>
        <label>Did the Applicant Count Change?</label>
        <locationX>268</locationX>
        <locationY>2882</locationY>
        <defaultConnector>
            <targetReference>Get_All_Active_Applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Applicants Unchanged</defaultConnectorLabel>
        <rules>
            <name>Applicant_Count_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicantCount1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varApplicantCount2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Re_Upload_OTP_Output_Var_True</targetReference>
            </connector>
            <label>Applicant Count Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>InActive_COP_Exist</name>
        <label>InActive COP Exist</label>
        <locationX>3093</locationX>
        <locationY>2075</locationY>
        <defaultConnector>
            <targetReference>Get_Remaining_Non_COP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No InActive COPs</defaultConnectorLabel>
        <rules>
            <name>InActive_COPs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Remaining_COP_InActive</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactive_COP</targetReference>
            </connector>
            <label>InActive COP</label>
        </rules>
    </decisions>
    <decisions>
        <name>InActive_Non_COP_Exist</name>
        <label>InActive Non COP Exist</label>
        <locationX>3139</locationX>
        <locationY>2724</locationY>
        <defaultConnector>
            <targetReference>Add_Remove</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No InActive Non COPs</defaultConnectorLabel>
        <rules>
            <name>InActive_Non_COP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Remaining_Non_COP_InActive</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactive_Non_COPs</targetReference>
            </connector>
            <label>InActive Non COP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Activate_Both_Populated</name>
        <label>Is Activate Both Populated?</label>
        <locationX>1081</locationX>
        <locationY>987</locationY>
        <defaultConnector>
            <targetReference>Action_Married_COP_Activate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Activate</defaultConnectorLabel>
        <rules>
            <name>Cancel_Activate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelBtnActive.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Application</targetReference>
            </connector>
            <label>Cancel Activate</label>
        </rules>
        <rules>
            <name>Activate_Both_Blank_Block</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>inactiveCOPBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Activate_Both</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Activate_Both</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>activateCoAppBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Both_Blank_True_0</targetReference>
            </connector>
            <label>Activate Both Blank - Block</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Count_1</name>
        <label>Is Count &gt; 1?</label>
        <locationX>50</locationX>
        <locationY>681</locationY>
        <defaultConnector>
            <targetReference>Add_Applicant_to_List_Var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicantCountVar</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comma_to_List</targetReference>
            </connector>
            <label>Yes &gt; 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Deactivate_Both_Populated</name>
        <label>Is Deactivate Both Populated?</label>
        <locationX>950</locationX>
        <locationY>1096</locationY>
        <defaultConnector>
            <targetReference>Action_Married_COP_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deactivate</defaultConnectorLabel>
        <rules>
            <name>Cancel_Deactivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelBtnDeactivate.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Application</targetReference>
            </connector>
            <label>Cancel Deactivate</label>
        </rules>
        <rules>
            <name>Deactivate_Both_Blank_Block</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>activeCOPBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Deactivate_Both_Apps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Deactivate_Both_Apps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>deactivateCoAppBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Both_Blank_True</targetReference>
            </connector>
            <label>Deactivate Both Blank - Block</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Applicant_Married_COP</name>
        <label>Main Applicant Married COP?</label>
        <locationX>1934</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_Main_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Main Other</defaultConnectorLabel>
        <rules>
            <name>Main_Is_COP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Bond_Applicant.Marital_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married in community of property (COP)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recip_Spouse_Role</targetReference>
            </connector>
            <label>Main Is COP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manage_Applicant_Decisions</name>
        <label>Manage Applicant Decisions</label>
        <locationX>2134</locationX>
        <locationY>2869</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Deactivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deactivateCoBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_Applicant</targetReference>
            </connector>
            <label>Deactivate</label>
        </rules>
        <rules>
            <name>Activate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activateCoBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Applicant</targetReference>
            </connector>
            <label>Activate</label>
        </rules>
        <rules>
            <name>Add_Additional_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addAdditionalAppBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Bond_Applicants</targetReference>
            </connector>
            <label>Add Additional Applicant</label>
        </rules>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelAppBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remaining_Collection_Exist</name>
        <label>Remaining Collection Exist?</label>
        <locationX>2124</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Add_Remove</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Remaining_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>remainingApplicantCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Remaining_COP</targetReference>
            </connector>
            <label>Remaining Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remaining_COP_Exist</name>
        <label>Remaining COP Exist?</label>
        <locationX>2329</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Get_Remaining_Non_COP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>COP_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Remaining_COP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Remaining_COP</targetReference>
            </connector>
            <label>COP Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remaining_Non_COP_Exists</name>
        <label>Remaining Non COP Exist?</label>
        <locationX>2329</locationX>
        <locationY>2211</locationY>
        <defaultConnector>
            <targetReference>Assign_Non_COP_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Non_COP_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Remaining_Non_COP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Non_COP_True</targetReference>
            </connector>
            <label>Non COP Exist</label>
        </rules>
    </decisions>
    <description>DB: 23 july

Flow Description: Add/Activate/Deactivate Bond Applicants and is launched from the Wrap Up Opportunity Bond Subflow which is ultimately launched from the Wrap Up Opportunity H2 flow

Front-End Access: Work Opportunity button on the Opportunity page.</description>
    <environments>Default</environments>
    <interviewLabel>Manage Applicants - Bond {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Applicants - Bond</label>
    <loops>
        <name>Loop_All_Active_Applicants</name>
        <label>Loop All Active Applicants</label>
        <locationX>267</locationX>
        <locationY>839</locationY>
        <collectionReference>Get_All_Active_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_1_to_Count_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_MC_Active_Applicant_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Main_and_Co_COP</name>
        <label>Loop Main and Co COP</label>
        <locationX>2547</locationX>
        <locationY>951</locationY>
        <collectionReference>Get_Main_and_Co_COP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Main_Applicant_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Remaining_Applicants_3_and_or_4</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Main_Only</name>
        <label>Loop Main Only</label>
        <locationX>1779</locationX>
        <locationY>952</locationY>
        <collectionReference>Get_Main_Only</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Main_Applicant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Remaining_Applicants_2_3_4</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Remaining_2_3_4</name>
        <label>Loop Remaining 2,3,4</label>
        <locationX>1778</locationX>
        <locationY>1283</locationY>
        <collectionReference>Get_Remaining_Applicants_2_3_4</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Remaining_2_3_4</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>vColumns_Length</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Remaining_3_4</name>
        <label>Loop Remaining 3,4</label>
        <locationX>2552</locationX>
        <locationY>1283</locationY>
        <collectionReference>Get_Remaining_Applicants_3_and_or_4</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Remaining_3_4</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>vColumns_Length</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Remaining_COP</name>
        <label>Loop Remaining COP</label>
        <locationX>2560</locationX>
        <locationY>1738</locationY>
        <collectionReference>Get_Remaining_COP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Remaining_COP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Remaining_COP_Active</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Remaining_Non_COP</name>
        <label>Loop Remaining Non COP</label>
        <locationX>2605</locationX>
        <locationY>2321</locationY>
        <collectionReference>Get_Remaining_Non_COP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Remaining_Non_COP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Remaining_Non_COP_Active</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Active_Applicants</name>
        <label>Get All Active Applicants</label>
        <locationX>275</locationX>
        <locationY>1619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Active_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_Count_All</name>
        <label>Get Applicant Count All</label>
        <locationX>1943</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Applicant_Count_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_Count_All_Final</name>
        <label>Get Applicant Count All Final</label>
        <locationX>527</locationX>
        <locationY>2880</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Applicant_Count_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Co_App_Spouse</name>
        <label>Get Co App Spouse</label>
        <locationX>2410</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Main_and_Co_COP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_to_Contact_Relation_Spouse.FinServ__RelatedContact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Co_Applicant_Added</name>
        <label>Get Co-Applicant Added</label>
        <locationX>658</locationX>
        <locationY>2880</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applicant_Count_All_Final</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_to_Contact_Relation_Spouse</name>
        <label>Get Contact to Contact Relation Spouse</label>
        <locationX>2266</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Co_App_Spouse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recip_Spouse_Role.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Bond_Applicant.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__ContactContactRelation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application</name>
        <label>Get Loan Application</label>
        <locationX>1943</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_Linked_to_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_and_Co_COP</name>
        <label>Get Main and Co COP</label>
        <locationX>2547</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Main_and_Co_COP</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Bond_Applicant.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Co_App_Spouse.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Bond_Applicant</name>
        <label>Get Main Bond Applicant</label>
        <locationX>1943</locationX>
        <locationY>629</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main_Applicant_Married_COP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Only</name>
        <label>Get Main Only</label>
        <locationX>1779</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Main_Only</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Linked_to_Application</name>
        <label>Get Opp Linked to Application</label>
        <locationX>2093</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applicant_Count_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recip_Spouse_Role</name>
        <label>Get Recip Spouse Role</label>
        <locationX>2120</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_to_Contact_Relation_Spouse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COP Spouse</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__ReciprocalRole__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Remaining_Applicants_2_3_4</name>
        <label>Get Remaining Applicants 2,3,4</label>
        <locationX>1778</locationX>
        <locationY>1119</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Remaining_2_3_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Remaining_Applicants_3_and_or_4</name>
        <label>Get Remaining Applicants 3 and/or 4</label>
        <locationX>2551</locationX>
        <locationY>1134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Remaining_3_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Co_App_Spouse.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Remaining_COP</name>
        <label>Get Remaining COP</label>
        <locationX>2337</locationX>
        <locationY>1600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remaining_COP_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>remainingApplicantCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Marital_agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Married in community of property (COP)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Remaining_COP_Active</name>
        <label>Get Remaining COP Active</label>
        <locationX>2559</locationX>
        <locationY>1924</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_COP_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>remainingCOP</elementReference>
            </value>
        </filters>
        <filters>
            <field>Marital_agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Married in community of property (COP)</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Remaining_COP_InActive</name>
        <label>Get Remaining COP InActive</label>
        <locationX>3118</locationX>
        <locationY>1845</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InActive_COP_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>remainingCOP</elementReference>
            </value>
        </filters>
        <filters>
            <field>Marital_agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Married in community of property (COP)</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Remaining_Non_COP</name>
        <label>Get Remaining Non COP</label>
        <locationX>2337</locationX>
        <locationY>2076</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remaining_Non_COP_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>remainingApplicantCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Marital_agreement__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Married in community of property (COP)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Remaining_Non_COP_Active</name>
        <label>Get Remaining Non COP Active</label>
        <locationX>2604</locationX>
        <locationY>2515</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Non_COP_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>remainingNonCOP</elementReference>
            </value>
        </filters>
        <filters>
            <field>Marital_agreement__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Married in community of property (COP)</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Remaining_Non_COP_InActive</name>
        <label>Get Remaining Non COP InActive</label>
        <locationX>3147</locationX>
        <locationY>2515</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InActive_Non_COP_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>remainingNonCOP</elementReference>
            </value>
        </filters>
        <filters>
            <field>Marital_agreement__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Married in community of property (COP)</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Co_App_Active</name>
        <label>Update Co-App Active</label>
        <locationX>351</locationX>
        <locationY>1162</locationY>
        <connector>
            <targetReference>Update_Co_App_Active_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>activateBothTable.selectedRecordIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Co_App_Active_0</name>
        <label>Update Co-App Active</label>
        <locationX>595</locationX>
        <locationY>1162</locationY>
        <connector>
            <targetReference>Get_All_Active_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CoApplicantActivateTbl.selectedRecordIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Co_App_Inactive</name>
        <label>Update Co-App Inactive</label>
        <locationX>651</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Update_Co_AppInActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>deactivateListTable.selectedRecordIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Co_AppInActive</name>
        <label>Update Co-App InActive</label>
        <locationX>806</locationX>
        <locationY>1611</locationY>
        <connector>
            <targetReference>Get_All_Active_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CoApplicantDeactivateTbl.selectedRecordIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MC_Active_Applicant_List</name>
        <label>Update MC Active Applicant List</label>
        <locationX>609</locationX>
        <locationY>835</locationY>
        <connector>
            <targetReference>Clear_Out_Collections_Vars</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loan_Applicants__c</field>
            <value>
                <elementReference>applicantList</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Activate_Applicant</name>
        <label>Activate Applicant</label>
        <locationX>1331</locationX>
        <locationY>2119</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Activate_Both_Populated</targetReference>
        </connector>
        <fields>
            <name>manageApps_0_0</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Manage Applicants</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Activate_Applicant_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Activate_Applicant_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayInstru_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Select the applicants to Activate:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CoApplicantActivateTbl</name>
                    <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToQuery</name>
                        <value>
                            <elementReference>vColumns</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputRecordIds</name>
                        <value>
                            <elementReference>remainingNonCOP</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRowSelectable</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>inactiveNonCOPBool</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Activate_Applicant_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Activate_Applicant_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>bothActivated</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Due to the marital agreement, both of the below COP Applicants will be Activated:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Activate_Both</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Activate Both COP Applicants?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>inactiveNonCOPBool</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>requireSelect</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;A selection is required.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>bothSelectBlank</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>activateBothTable</name>
                    <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>inputRecordIds</name>
                        <value>
                            <elementReference>remainingCOP</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToQuery</name>
                        <value>
                            <elementReference>vColumns</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordIds</name>
                        <value>
                            <elementReference>remainingCOP</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>inactiveCOPBool</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>activateCoAppBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Activate</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cancelBtnActive</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Remove</name>
        <label>Add/Remove</label>
        <locationX>2142</locationX>
        <locationY>2735</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manage_Applicant_Decisions</targetReference>
        </connector>
        <fields>
            <name>Add_Remove_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Remove_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>manageApps_0_0_0</name>
                    <extensionName>c:customFlowBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Manage Applicants</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cssCustomStyle</name>
                        <value>
                            <stringValue>margin-bottom: 7px</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>displayInstru_0_0_0</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;The main applicant cannot be deactivated.&lt;/li&gt;&lt;li&gt;A maximum of four Co Applicants are permitted on a bond.&lt;/li&gt;&lt;li&gt;If the marital agreement of the main applicant is Married in Community of Property, a Co Applicant is mandatory and cannot be deactivated.&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>viewOTPFile_0</name>
                    <extensionName>c:otpFileUploader</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>opportunityId</name>
                        <value>
                            <elementReference>Get_Opp_Linked_to_Application.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>viewOnly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>View OTP File</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>MainApplicantTable_0</name>
                    <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToQuery</name>
                        <value>
                            <elementReference>vColumns</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputRecordIds</name>
                        <value>
                            <elementReference>applicantCollectionMain</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CoApplicantTable_0</name>
                    <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToQuery</name>
                        <value>
                            <elementReference>vColumns</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputRecordIds</name>
                        <value>
                            <elementReference>remainingApplicantCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRowSelectable</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>remainingApplicantCollection</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>addAdditionalAppBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Add Additional Applicant</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varApplicantCount1</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>4.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>activateCoBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Activate Co Applicant</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>inactiveCOPBool</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>inactiveNonCOPBool</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>deactivateCoBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Deactivate Co Applicant</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>activeCOPBool</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>activeNonCOPBool</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>cancelAppBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Continue</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deactivate_Applicant</name>
        <label>Deactivate Applicant</label>
        <locationX>1103</locationX>
        <locationY>2428</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Deactivate_Both_Populated</targetReference>
        </connector>
        <fields>
            <name>manageApps_0</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Manage Applicants</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Deactivate_Applicant_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Deactivate_Applicant_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayInstru_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Select the applicants to Deactivate:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CoApplicantDeactivateTbl</name>
                    <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToQuery</name>
                        <value>
                            <elementReference>vColumns</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputRecordIds</name>
                        <value>
                            <elementReference>remainingNonCOP</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRowSelectable</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>activeNonCOPBool</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Deactivate_Applicant_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Deactivate_Applicant_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>bothDeactivate</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Due to the marital agreement, both of the below COP Applicants will be deactivated:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Deactivate_Both_Apps</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Deactivate Both COP Applicants?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>activeNonCOPBool</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>selectRequire</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;A selection is required.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>bothSelectBlank</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>deactivateListTable</name>
                    <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToQuery</name>
                        <value>
                            <elementReference>vColumns</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputRecordIds</name>
                        <value>
                            <elementReference>remainingCOP</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRowSelectable</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordIds</name>
                        <value>
                            <elementReference>remainingCOP</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>activeCOPBool</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>deactivateCoAppBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Deactivate</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cancelBtnDeactivate</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1817</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Loan_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Bond_Applicants</name>
        <label>Add Bond Applicants</label>
        <locationX>786</locationX>
        <locationY>2880</locationY>
        <connector>
            <targetReference>Get_Co_Applicant_Added</targetReference>
        </connector>
        <flowName>Add_Bond_Applicants</flowName>
        <inputAssignments>
            <name>manageApplicant</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>activeBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>activeCOPBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>activeNonCOPBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>applicantCollectionMain</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>applicantCountVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>applicantList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bothSelectBlank</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inactiveBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inactiveCOPBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inactiveNonCOPBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>nonCOPBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>remainingApplicantCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>remainingCOP</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>remainingNonCOP</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApplicantCount1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varApplicantCount2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varReUploadOTP</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vColumns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vColumnsLentgh</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
