force-app/main/default/flows/Manage_Applicants_Bond.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Applicant_to_List_Var</name>
        <label>Add Applicant to List Var</label>
        <locationX>444</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>applicantList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Active_Applicants.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Active_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Comma_to_List</name>
        <label>Add Comma to List</label>
        <locationX>56</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>applicantList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Applicant_to_List_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_1_to_Count_Var</name>
        <label>Assign 1 to Count Var</label>
        <locationX>57</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>applicantCountVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Count_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Activate_Deactivate_List</name>
        <label>Assign Activate/Deactivate List</label>
        <locationX>2267</locationX>
        <locationY>1577</locationY>
        <assignmentItems>
            <assignToReference>deactivateActivateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Activate_Deactivate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Activate_Deactivate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Active</name>
        <label>Assign Active</label>
        <locationX>1932</locationX>
        <locationY>1461</locationY>
        <assignmentItems>
            <assignToReference>active</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Active.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Active_Co_Apps_False</name>
        <label>Assign Active Co Apps False</label>
        <locationX>1905</locationX>
        <locationY>1045</locationY>
        <assignmentItems>
            <assignToReference>activeCoAppsVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Remove</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Active_Co_Apps_True</name>
        <label>Assign Active Co Apps True</label>
        <locationX>1787</locationX>
        <locationY>1287</locationY>
        <assignmentItems>
            <assignToReference>activeCoAppsVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Active_Table_Columns</name>
        <label>Assign Active Table Columns</label>
        <locationX>1243</locationX>
        <locationY>910</locationY>
        <assignmentItems>
            <assignToReference>vColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Marital_agreement__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Is_Main_Applicant__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>IsActive__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opp_from_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Applicant_Collection</name>
        <label>Assign Applicant Collection</label>
        <locationX>1578</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>applicantCollectionMain</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Main_Applicants.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Main_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Applicant_Count_1</name>
        <label>Assign Applicant Count 1</label>
        <locationX>1371</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>varApplicantCount1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Applicant_Count_All</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Co_Applicant_Initial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Applicant_Count_2</name>
        <label>Assign Applicant Count 2</label>
        <locationX>2086</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>varApplicantCount2</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Applicant_Count_All_Final</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_the_Applicant_Count_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Co_Applicant_Collection</name>
        <label>Assign Co Applicant Collection</label>
        <locationX>1404</locationX>
        <locationY>787</locationY>
        <assignmentItems>
            <assignToReference>applicantCollectionCo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Co_Applicants.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Co_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_InActive</name>
        <label>Assign InActive</label>
        <locationX>1496</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>inactive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_InActive.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_InActive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inactive_Co_Apps_False</name>
        <label>Assign Inactive Co Apps False</label>
        <locationX>1373</locationX>
        <locationY>1014</locationY>
        <assignmentItems>
            <assignToReference>inactiveCoAppsVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Active_Non_COP_Co_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inactive_Co_Apps_True</name>
        <label>Assign Inactive Co Apps True</label>
        <locationX>1336</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>inactiveCoAppsVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_InActive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Re_Upload_OTP_Output_Var_True</name>
        <label>Assign Re-Upload OTP Output Var True</label>
        <locationX>1684</locationX>
        <locationY>82</locationY>
        <assignmentItems>
            <assignToReference>varReUploadOTP</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Loan_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Out_Collections</name>
        <label>Clear Out Collections</label>
        <locationX>557</locationX>
        <locationY>577</locationY>
        <assignmentItems>
            <assignToReference>active</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inactive</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>applicantCollectionCo</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>applicantCollectionMain</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Loan_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vColumns_Length</name>
        <label>vColumns Length</label>
        <locationX>982</locationX>
        <locationY>631</locationY>
        <assignmentItems>
            <assignToReference>vColumnsLentgh</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>vColumns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>columns_Assigned</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Bond</name>
        <choiceText>Bond</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bond</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Does_Exist</name>
        <choiceText>Customer Does Exist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Does Exist</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Does_Not_Exist</name>
        <choiceText>Customer Does Not Exist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer does not exist</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dr</name>
        <choiceText>Dr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>End_Flow1</name>
        <choiceText>End Flow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>End Flow</stringValue>
        </value>
    </choices>
    <choices>
        <name>End_Flow_Not_Applicable</name>
        <choiceText>End Flow (Not Applicable)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>End Flow (Not Applicable)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Finish_Flow1</name>
        <choiceText>Finish Flow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finish Flow</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mr</name>
        <choiceText>Mr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mrs</name>
        <choiceText>Mrs.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mrs.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ms</name>
        <choiceText>Ms.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ms.</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Applicable</name>
        <choiceText>Not Applicable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Applicable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pre_Approval</name>
        <choiceText>Pre-Approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-Approval</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prof</name>
        <choiceText>Prof.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prof.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Active_Co_Apps_Exist</name>
        <label>Active Co Apps Exist?</label>
        <locationX>1657</locationX>
        <locationY>1152</locationY>
        <defaultConnector>
            <targetReference>Assign_Active_Co_Apps_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active Co Apps</defaultConnectorLabel>
        <rules>
            <name>Active_Co_Apps</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Active_Non_COP_Co_Applicants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_All_Active_Co_Applicants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Active_Co_Apps_True</targetReference>
            </connector>
            <label>Active Co Apps</label>
        </rules>
    </decisions>
    <decisions>
        <name>Already_Co_Applicant</name>
        <label>Already Co-Applicant?</label>
        <locationX>1649</locationX>
        <locationY>498</locationY>
        <defaultConnector>
            <targetReference>Loop_Main_Applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Co-Applicant don&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>Co_Applicant_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Co_Applicant_Initial.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Main_Applicants</targetReference>
            </connector>
            <label>Co-Applicant Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>columns_Assigned</name>
        <label>Columns Assigned?</label>
        <locationX>918</locationX>
        <locationY>800</locationY>
        <defaultConnector>
            <targetReference>Assign_Active_Table_Columns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vColumnsLentgh</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_from_Application</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deactivate_or_Cancel</name>
        <label>Deactivate or Cancel?</label>
        <locationX>510</locationX>
        <locationY>1491</locationY>
        <defaultConnector>
            <targetReference>Get_Loan_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Deactivate_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deactivateCoApplicantBtn_0.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Co_App_Inactive</targetReference>
            </connector>
            <label>Deactivate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deactivate_or_Cancel_0</name>
        <label>Deactivate or Cancel?</label>
        <locationX>382</locationX>
        <locationY>1810</locationY>
        <defaultConnector>
            <targetReference>Get_Loan_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Activate_Co_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activateCoAppBtn_0_0.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Co_App_Active</targetReference>
            </connector>
            <label>Activate Co App</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_the_Applicant_Count_Change</name>
        <label>Did the Applicant Count Change?</label>
        <locationX>1953</locationX>
        <locationY>196</locationY>
        <defaultConnector>
            <targetReference>Get_Loan_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Applicants Unchanged</defaultConnectorLabel>
        <rules>
            <name>Applicant_Count_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicantCount1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varApplicantCount2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Re_Upload_OTP_Output_Var_True</targetReference>
            </connector>
            <label>Applicant Count Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_to_Contact_Exist</name>
        <label>Does Contact to Contact Exist?</label>
        <locationX>2172</locationX>
        <locationY>1281</locationY>
        <defaultConnector>
            <targetReference>Get_Remaining_for_Activate_Deactivate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exists</defaultConnectorLabel>
        <rules>
            <name>Contact_to_Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_to_Contact_for_Spouse.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Co_App_Linked_as_Spouse</targetReference>
            </connector>
            <label>Contact to Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inactive_Co_Apps_Exist</name>
        <label>Inactive Co Apps Exist?</label>
        <locationX>1199</locationX>
        <locationY>1130</locationY>
        <defaultConnector>
            <targetReference>Assign_Inactive_Co_Apps_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Inactive Co Apps</defaultConnectorLabel>
        <rules>
            <name>Inactive_Co_Apps</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Inactive_Non_COP_Co_Applicants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_All_Inactive_Co_Applicants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inactive_Co_Apps_True</targetReference>
            </connector>
            <label>Inactive Co Apps</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Count_1</name>
        <label>Is Count &gt; 1?</label>
        <locationX>50</locationX>
        <locationY>520</locationY>
        <defaultConnector>
            <targetReference>Add_Applicant_to_List_Var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicantCountVar</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comma_to_List</targetReference>
            </connector>
            <label>Yes &gt; 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manage_Applicant_Decisions</name>
        <label>Manage Applicant Decisions</label>
        <locationX>2698</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Get_Loan_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Deactivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deactivateCoApplicantBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_Applicant</targetReference>
            </connector>
            <label>Deactivate</label>
        </rules>
        <rules>
            <name>Activate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activateCoAppBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Applicant</targetReference>
            </connector>
            <label>Activate</label>
        </rules>
        <rules>
            <name>Add_Additional_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addAdditionalApplicantBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Bond_Applicants</targetReference>
            </connector>
            <label>Add Additional Applicant</label>
        </rules>
        <rules>
            <name>Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelManageAppsBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Cancel</label>
        </rules>
    </decisions>
    <description>DB: 6 july</description>
    <dynamicChoiceSets>
        <name>AccountCollectionChoice</name>
        <collectionReference>AccountCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ActiveApplicants</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LoanApplicant</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ApplicantstoRemove</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>LoanApplicant</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>multiAdditionalIncome</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_earn_any_additional_income_from_t__c</picklistField>
        <picklistObject>LoanApplicant</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>coLoanApplicantName</name>
        <dataType>String</dataType>
        <expression>{!coLoanApplicant.First_Name__c} +&quot; &quot;+ {!coLoanApplicant.Last_Name__c}</expression>
    </formulas>
    <formulas>
        <name>todayPlus7Days</name>
        <dataType>Date</dataType>
        <expression>NOW() + 7</expression>
    </formulas>
    <formulas>
        <name>urlLinkVarF</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + &quot;/lightning/r/loanApplicant/&quot; +{!Get_Main_Applicant.Id} + &quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>Manage Applicants - Bond {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Applicants - Bond</label>
    <loops>
        <name>Loop_Activate_Deactivate</name>
        <label>Loop Activate/Deactivate</label>
        <locationX>2435</locationX>
        <locationY>1577</locationY>
        <collectionReference>Get_Remaining_for_Activate_Deactivate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Activate_Deactivate_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Manage_Applicant_Decisions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Active</name>
        <label>Loop Active</label>
        <locationX>1931</locationX>
        <locationY>1287</locationY>
        <collectionReference>Get_All_Active_Non_COP_Co_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Remove</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_All_Active_Applicants</name>
        <label>Loop All Active Applicants</label>
        <locationX>267</locationX>
        <locationY>678</locationY>
        <collectionReference>Get_All_Active_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_1_to_Count_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clear_Out_Collections</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Co_Applicants</name>
        <label>Loop Co Applicants</label>
        <locationX>1229</locationX>
        <locationY>781</locationY>
        <collectionReference>Get_Applicant_Count_Co</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Co_Applicant_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>vColumns_Length</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_InActive</name>
        <label>Loop InActive</label>
        <locationX>1495</locationX>
        <locationY>1271</locationY>
        <collectionReference>Get_All_Inactive_Non_COP_Co_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_InActive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Active_Non_COP_Co_Applicants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Main_Applicants</name>
        <label>Loop Main Applicants</label>
        <locationX>1229</locationX>
        <locationY>598</locationY>
        <collectionReference>Get_Applicant_Count_Main</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Applicant_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Co_Applicants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Active_Applicants</name>
        <label>Get All Active Applicants</label>
        <locationX>267</locationX>
        <locationY>822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Active_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_from_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Active_Co_Applicants</name>
        <label>Get All Active Co Applicants</label>
        <locationX>1664</locationX>
        <locationY>1014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Co_Apps_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Active_Non_COP_Co_Applicants</name>
        <label>Get All Active Non COP Co Applicants</label>
        <locationX>1494</locationX>
        <locationY>1014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Active_Co_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Marital_agreement__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Married in community of property (COP)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Inactive_Co_Applicants</name>
        <label>Get All Inactive Co Applicants</label>
        <locationX>1079</locationX>
        <locationY>1128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inactive_Co_Apps_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Inactive_Non_COP_Co_Applicants</name>
        <label>Get All Inactive Non COP Co Applicants</label>
        <locationX>933</locationX>
        <locationY>1128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Inactive_Co_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Marital_agreement__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Married in community of property (COP)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_Count_All</name>
        <label>Get Applicant Count All</label>
        <locationX>1371</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Applicant_Count_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_Count_All_Final</name>
        <label>Get Applicant Count All Final</label>
        <locationX>2213</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Applicant_Count_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_Count_Co</name>
        <label>Get Applicant Count Co</label>
        <locationX>1228</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applicant_Count_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_Count_Main</name>
        <label>Get Applicant Count Main</label>
        <locationX>1132</locationX>
        <locationY>328</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applicant_Count_Co</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Co_App_Linked_as_Spouse</name>
        <label>Get Co App Linked as Spouse</label>
        <locationX>2435</locationX>
        <locationY>1277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Remaining_for_Activate_Deactivate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_to_Contact_for_Spouse.FinServ__RelatedContact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Co_Applicant_Added</name>
        <label>Get Co-Applicant Added</label>
        <locationX>2343</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applicant_Count_All_Final</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_Linked_to_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Co_Applicant_Initial</name>
        <label>Get Co Applicant Initial</label>
        <locationX>1504</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_Linked_to_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_to_Contact_for_Spouse</name>
        <label>Get Contact to Contact for Spouse</label>
        <locationX>2437</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_to_Contact_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recip_Role.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Applicant.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__ContactContactRelation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application</name>
        <label>Get Loan Application</label>
        <locationX>1228</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applicant_Count_Main</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Applicant</name>
        <label>Get Main Applicant</label>
        <locationX>795</locationX>
        <locationY>1128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Inactive_Non_COP_Co_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_from_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_from_Application</name>
        <label>Get Opp from Application</label>
        <locationX>927</locationX>
        <locationY>956</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Main_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Linked_to_Application</name>
        <label>Get Opp Linked to Application</label>
        <locationX>1657</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Co_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recip_Role</name>
        <label>Get Recip Role</label>
        <locationX>2236</locationX>
        <locationY>1108</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_to_Contact_for_Spouse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COP Spouse</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__ReciprocalRole__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Remaining_for_Activate_Deactivate</name>
        <label>Get Remaining for Activate/Deactivate</label>
        <locationX>2435</locationX>
        <locationY>1418</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Activate_Deactivate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Co_App_Linked_as_Spouse.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Marital_agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Married in community of property (COP)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Co_App_Active</name>
        <label>Update Co-App Active</label>
        <locationX>154</locationX>
        <locationY>1750</locationY>
        <connector>
            <targetReference>Get_All_Active_Applicants</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CoApplicantActivateTbl.selectedRecordIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>activateBothTable.selectedRecordIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Co_App_Inactive</name>
        <label>Update Co-App Inactive</label>
        <locationX>276</locationX>
        <locationY>1644</locationY>
        <connector>
            <targetReference>Get_All_Active_Applicants</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CoApplicantDeactivateTbl.selectedRecordIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>deactivateListTable.selectedRecordIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <screens>
        <name>Activate_Applicant</name>
        <label>Activate Applicant</label>
        <locationX>516</locationX>
        <locationY>1808</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Deactivate_or_Cancel_0</targetReference>
        </connector>
        <fields>
            <name>manageApps_0_0</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Manage Applicants</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Activate_Applicant_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Activate_Applicant_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayInstru_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Select the applicants to Activate:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CoApplicantActivateTbl</name>
                    <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToQuery</name>
                        <value>
                            <elementReference>vColumns</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputRecordIds</name>
                        <value>
                            <elementReference>inactive</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRowSelectable</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordIds</name>
                        <value>
                            <elementReference>selectedApplicants</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Co_App_Linked_as_Spouse.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>inactive</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Activate_Applicant_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Activate_Applicant_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>bothActivated</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Due to the marital agreement, both of the below Applicants will be Activated:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>activateBothTable</name>
                    <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>inputRecordIds</name>
                        <value>
                            <elementReference>deactivateActivateList</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToQuery</name>
                        <value>
                            <elementReference>vColumns</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordIds</name>
                        <value>
                            <elementReference>deactivateActivateList</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Co_App_Linked_as_Spouse.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>deactivateActivateList</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>activateCoAppBtn_0_0</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Activate</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cancelManageAppsBtn_0_0</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Remove</name>
        <label>Add/Remove</label>
        <locationX>2130</locationX>
        <locationY>1108</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Recip_Role</targetReference>
        </connector>
        <fields>
            <name>Add_Remove_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Remove_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>manageApps</name>
                    <extensionName>c:customFlowBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Manage Applicants</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cssCustomStyle</name>
                        <value>
                            <stringValue>margin-bottom: 7px</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>displayInstru</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;The main applicant cannot be deactivated.&lt;/li&gt;&lt;li&gt;A maximum of four Co Applicants are permitted on a bond.&lt;/li&gt;&lt;li&gt;If the marital agreement of the main applicant is Married in Community of Property, a Co Applicant is mandatory and cannot be deactivated.&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>viewOTPFile</name>
                    <extensionName>c:otpFileUploader</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>opportunityId</name>
                        <value>
                            <elementReference>Get_Opp_Linked_to_Application.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>viewOnly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>View OTP File</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>MainApplicantTable</name>
                    <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToQuery</name>
                        <value>
                            <elementReference>vColumns</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputRecordIds</name>
                        <value>
                            <elementReference>applicantCollectionMain</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CoApplicantTable</name>
                    <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToQuery</name>
                        <value>
                            <elementReference>vColumns</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputRecordIds</name>
                        <value>
                            <elementReference>applicantCollectionCo</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRowSelectable</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Co_Applicant_Initial.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>addAdditionalApplicantBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Add Additional Applicant</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varApplicantCount1</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>4.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>activateCoAppBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Activate Co Applicant</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>inactiveCoAppsVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>deactivateCoApplicantBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Deactivate Co Applicant</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>activeCoAppsVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>cancelManageAppsBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Continue</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deactivate_Applicant</name>
        <label>Deactivate Applicant</label>
        <locationX>518</locationX>
        <locationY>1669</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Deactivate_or_Cancel</targetReference>
        </connector>
        <fields>
            <name>manageApps_0</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Manage Applicants</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Deactivate_Applicant_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Deactivate_Applicant_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayInstru_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Select the applicants to Deactivate:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CoApplicantDeactivateTbl</name>
                    <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToQuery</name>
                        <value>
                            <elementReference>vColumns</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputRecordIds</name>
                        <value>
                            <elementReference>active</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRowSelectable</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordIds</name>
                        <value>
                            <elementReference>selectedApplicants</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Co_App_Linked_as_Spouse.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>active</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Deactivate_Applicant_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Deactivate_Applicant_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>bothDeactivate</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Due to the marital agreement, both of the below Applicants will be deactivated:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>deactivateListTable</name>
                    <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToQuery</name>
                        <value>
                            <elementReference>vColumns</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputRecordIds</name>
                        <value>
                            <elementReference>deactivateActivateList</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRowSelectable</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordIds</name>
                        <value>
                            <elementReference>deactivateActivateList</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Co_App_Linked_as_Spouse.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>deactivateActivateList</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>deactivateCoApplicantBtn_0</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Deactivate</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cancelManageAppsBtn_0</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1102</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Loan_Application</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Add_Bond_Applicants</name>
        <label>Add Bond Applicants</label>
        <locationX>2466</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>Get_Co_Applicant_Added</targetReference>
        </connector>
        <flowName>Add_Bond_Applicants</flowName>
        <inputAssignments>
            <name>manageApplicant</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>createNewCustomer</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Create New Customer&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>active</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>activeCoAppsVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>additionalOppColumns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>additionalOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>applicantCollectionCo</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>applicantCollectionMain</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>applicantCountVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>applicantList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coAppBlock</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CoApplicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coLoanApplicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>coPersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>deactivateActivateList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inactive</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inactiveCoAppsVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>loanApplicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
    <variables>
        <name>loanApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loanApplications</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mainApplicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
    <variables>
        <name>mainApplicantColl</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mainPersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NameValidation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PhoneEmailValidation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypePerson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0128d000000cIo6AAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>relatedOppIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedApplicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedApplicants</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApplicantCount1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varApplicantCount2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varReUploadOTP</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vColumns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vColumns2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vColumnsLentgh</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
