force-app/main/default/flows/Manage_Applicants.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Applicant_to_List_Var</name>
        <label>Add Applicant to List Var</label>
        <locationX>341</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>applicantList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Active_Applicants.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Active_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Comma_to_List</name>
        <label>Add Comma to List</label>
        <locationX>56</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>applicantList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Applicant_to_List_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_1_to_Count_Var</name>
        <label>Assign 1 to Count Var</label>
        <locationX>58</locationX>
        <locationY>692</locationY>
        <assignmentItems>
            <assignToReference>applicantCountVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Count_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Active_Table_Columns</name>
        <label>Assign Active Table Columns</label>
        <locationX>1289</locationX>
        <locationY>910</locationY>
        <assignmentItems>
            <assignToReference>vColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Marital_agreement__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Is_Main_Applicant__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>IsActive__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pre_Approval_Opp_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Applicant_Collection</name>
        <label>Assign Applicant Collection</label>
        <locationX>1624</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>applicantCollectionMain</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Main_Applicants.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Main_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Co_Applicant_Block_False</name>
        <label>Assign Co Applicant Block False</label>
        <locationX>1831</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>coAppBlock</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>workCoApplicant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Co_Applicant_Block_true</name>
        <label>Assign Co Applicant Block true</label>
        <locationX>2174</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>coAppBlock</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>workCoApplicant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Co_Applicant_Collection</name>
        <label>Assign Co Applicant Collection</label>
        <locationX>1448</locationX>
        <locationY>783</locationY>
        <assignmentItems>
            <assignToReference>applicantCollectionCo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Co_Applicants.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Co_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vColumns_Length</name>
        <label>vColumns Length</label>
        <locationX>1028</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>vColumnsLentgh</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>vColumns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>columns_Assigned</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_Co_Applicant</name>
        <label>Already Co-Applicant?</label>
        <locationX>1685</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Loop_Main_Applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Co-Applicant don&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>Co_Applicant_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Co_Applicant_Initial.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Should_Co_App_Block</targetReference>
            </connector>
            <label>Co-Applicant Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>columns_Assigned</name>
        <label>Columns Assigned?</label>
        <locationX>964</locationX>
        <locationY>800</locationY>
        <defaultConnector>
            <targetReference>Assign_Active_Table_Columns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vColumnsLentgh</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pre_Approval_Opp_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_Manage_Applicant_or_Consent</name>
        <label>Continue, Manage Applicant or Consent?</label>
        <locationX>1927</locationX>
        <locationY>543</locationY>
        <defaultConnector>
            <targetReference>Opp_on_Ready_for_Verification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Consent</defaultConnectorLabel>
        <rules>
            <name>Continue_Next</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>continue.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Continue Next</label>
        </rules>
        <rules>
            <name>Manage_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>manageApplicantsCo.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Main_Applicants</targetReference>
            </connector>
            <label>Manage Applicant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Count_1</name>
        <label>Is Count &gt; 1?</label>
        <locationX>50</locationX>
        <locationY>549</locationY>
        <defaultConnector>
            <targetReference>Add_Applicant_to_List_Var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicantCountVar</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comma_to_List</targetReference>
            </connector>
            <label>Yes &gt; 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manage_Applicant_Decisions</name>
        <label>Manage Applicant Decisions</label>
        <locationX>1560</locationX>
        <locationY>1213</locationY>
        <defaultConnector>
            <targetReference>Get_Loan_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Deactivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deactivateCoApplicantBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Co_App_Inactive</targetReference>
            </connector>
            <label>Deactivate</label>
        </rules>
        <rules>
            <name>Activate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activateCoAppBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Co_App_Active</targetReference>
            </connector>
            <label>Activate</label>
        </rules>
        <rules>
            <name>Add_Additional_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addAdditionalApplicantBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Applicants_0</targetReference>
            </connector>
            <label>Add Additional Applicant</label>
        </rules>
        <rules>
            <name>Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelManageAppsBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Cancel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_on_Ready_for_Verification</name>
        <label>Opp on Ready for Verification?</label>
        <locationX>1928</locationX>
        <locationY>748</locationY>
        <defaultConnector>
            <targetReference>Applicant_Next_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Opp_on_Ready_for_Verification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Linked_to_PA.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Verification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Applicant_Next_Step_0</targetReference>
            </connector>
            <label>Is Opp on Ready for Verification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Co_App_Block</name>
        <label>Should Co App Block?</label>
        <locationX>1824</locationX>
        <locationY>263</locationY>
        <defaultConnector>
            <targetReference>Assign_Co_Applicant_Block_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Co Applicant Pass</defaultConnectorLabel>
        <rules>
            <name>Co_Applicant_Block</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Co_Applicant_Initial.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Verification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Co_Applicant_Initial.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Poor Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp_Linked_to_PA.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Verification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Co_Applicant_Block_true</targetReference>
            </connector>
            <label>Co Applicant Block</label>
        </rules>
    </decisions>
    <description>DB: 23 july

Flow Description: Add/Activate/Deactivate Pre-Approval Applicants and is launched from the Wrap Up Opportunity H2 flow

Front-End Access: Work Opportunity button on the Opportunity page.</description>
    <environments>Default</environments>
    <interviewLabel>Manage Applicants {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Applicants</label>
    <loops>
        <name>Loop_Active_Applicants</name>
        <label>Loop Active Applicants</label>
        <locationX>253</locationX>
        <locationY>748</locationY>
        <collectionReference>Get_All_Active_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_1_to_Count_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_MC_Active_Applicant_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Co_Applicants</name>
        <label>Loop Co Applicants</label>
        <locationX>1275</locationX>
        <locationY>783</locationY>
        <collectionReference>Get_Applicant_Count_Co</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Co_Applicant_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>vColumns_Length</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Main_Applicants</name>
        <label>Loop Main Applicants</label>
        <locationX>1275</locationX>
        <locationY>598</locationY>
        <collectionReference>Get_Applicant_Count_Main</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Applicant_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Co_Applicants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Active_Applicants</name>
        <label>Get All Active Applicants</label>
        <locationX>252</locationX>
        <locationY>881</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Active_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_Count_Co</name>
        <label>Get Applicant Count Co</label>
        <locationX>1283</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Co_Applicant_Initial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_Count_Main</name>
        <label>Get Applicant Count Main</label>
        <locationX>1282</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applicant_Count_Co</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Co_Applicant_Added</name>
        <label>Get Co-Applicant Added</label>
        <locationX>127</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Active_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_Linked_to_PA.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Co_Applicant_Initial</name>
        <label>Get Co Applicant Initial</label>
        <locationX>1430</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_Linked_to_PA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application</name>
        <label>Get Loan Application</label>
        <locationX>1274</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applicant_Count_Main</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Applicant_0</name>
        <label>Get Main Applicant</label>
        <locationX>1074</locationX>
        <locationY>1065</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Remove</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pre_Approval_Opp_0.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Linked_to_PA</name>
        <label>Get Opp Linked to PA</label>
        <locationX>1575</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Co_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pre_Approval_Opp_0</name>
        <label>Get Pre-Approval Opp</label>
        <locationX>1073</locationX>
        <locationY>918</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Main_Applicant_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Co_App_Active</name>
        <label>Update Co-App Active</label>
        <locationX>253</locationX>
        <locationY>1215</locationY>
        <connector>
            <targetReference>Get_All_Active_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Co_Applicant_Initial.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Co_App_Inactive</name>
        <label>Update Co-App Inactive</label>
        <locationX>406</locationX>
        <locationY>1084</locationY>
        <connector>
            <targetReference>Get_All_Active_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Co_Applicant_Initial.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MC_Active_Applicant_List</name>
        <label>Update MC Active Applicant List</label>
        <locationX>600</locationX>
        <locationY>571</locationY>
        <connector>
            <targetReference>Get_Loan_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loan_Applicants__c</field>
            <value>
                <elementReference>applicantList</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Add_Remove</name>
        <label>Add/Remove</label>
        <locationX>1568</locationX>
        <locationY>1065</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manage_Applicant_Decisions</targetReference>
        </connector>
        <fields>
            <name>Add_Remove_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Remove_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>manageApps</name>
                    <extensionName>c:customFlowBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Manage Applicants</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cssCustomStyle</name>
                        <value>
                            <stringValue>margin-bottom: 7px</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>displayInstru</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;The main applicant cannot be deactivated.&lt;/li&gt;&lt;li&gt;A maximum of one Co Applicant is permitted on a Pre-Approval.&lt;/li&gt;&lt;li&gt;If the marital agreement of the main applicant is Married in Community of Property, a Co Applicant is mandatory and cannot be deactivated.&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>MainApplicantTable</name>
                    <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToQuery</name>
                        <value>
                            <elementReference>vColumns</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputRecordIds</name>
                        <value>
                            <elementReference>applicantCollectionMain</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CoApplicantTable</name>
                    <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToQuery</name>
                        <value>
                            <elementReference>vColumns</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputRecordIds</name>
                        <value>
                            <elementReference>applicantCollectionCo</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRowSelectable</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Co_Applicant_Initial.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>activateCoAppBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Activate Co Applicant</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Main_Applicant_0.Marital_agreement__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Married in community of property (COP)</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Co_Applicant_Initial.IsActive__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>deactivateCoApplicantBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Deactivate Co Applicant</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Main_Applicant_0.Marital_agreement__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Married in community of property (COP)</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Co_Applicant_Initial.IsActive__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>addAdditionalApplicantBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Add Additional Applicant</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Co_Applicant_Initial.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>cancelManageAppsBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>workCoApplicant</name>
        <label>workCoApplicant</label>
        <locationX>1997</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Continue_Manage_Applicant_or_Consent</targetReference>
        </connector>
        <fields>
            <name>COappLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Co Applicant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 8px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>verificationMsg</name>
            <fieldText>&lt;p&gt;Before assigning for verification, please ensure that the Co Applicant information is in order:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opp_Linked_to_PA.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Ready for Verification</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>workCoApplicant_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workCoApplicant_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>coAppInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Co Applicant: &lt;/strong&gt;{!Get_Co_Applicant_Initial.First_Name__c} {!Get_Co_Applicant_Initial.Last_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Status:&lt;/strong&gt; {!Get_Co_Applicant_Initial.Status__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Marital Agreement: &lt;/strong&gt;{!Get_Co_Applicant_Initial.Marital_agreement__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>workCoApplicant_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>coAppInformation</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Phone: &lt;/strong&gt;{!Get_Co_Applicant_Initial.Mobile_Phone_Number__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email: &lt;/strong&gt;{!Get_Co_Applicant_Initial.Email_Address__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>workCoApplicant_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workCoApplicant_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>runConsent</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Run Consent, IDV and Credit check?:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>applicantComponentWork</name>
                    <extensionName>c:workFlowManager</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayOnly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Co_Applicant_Initial.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SelectedApplicantId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Co_Applicant_Initial.IsActive__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>coAppInactiveErr</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The Co Applicant is marked as Inactive.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;To run Consent, IDV and Credit check the Co Applicant must be Activated by clicking on Manage Applicants. &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Co_Applicant_Initial.IsActive__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Co_Applicant_Initial.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Awaiting Consent</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Co_Applicant_Initial.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Awaiting Credit Check</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>workCoApplicant_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workCoApplicant_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>consentComplete</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Consent, IDV and Credit Check completed. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Current Co Applicant Status:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>readOnlyWorkApp</name>
                    <extensionName>c:workFlowManager</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayOnly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Co_Applicant_Initial.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Co_Applicant_Initial.Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Awaiting Consent</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Co_Applicant_Initial.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Co_Applicant_Initial.Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Awaiting Credit Check</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>assignVerBlockCo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The Co Applicant must be progressed to Awaiting Verification in order to Assign for Verification.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Alternatively, the Co Applicant can be deactivated by clicking on Manage Applicants if the marital agreement is not Married (In Community of Property).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>coAppBlock</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>workCoApplicant_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workCoApplicant_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>docUpload</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Upload Documents?:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>docsUploading</name>
                    <extensionName>c:externalResourceCatLoader</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Co_Applicant_Initial.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Co_Applicant_Initial.Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Awaiting Consent</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>workCoApplicant_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>workCoApplicant_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>addOrDeactivate</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Add or Deactivate a Co-Applicant?:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;(If the marital agreement is not Married COP, you are able to deactivate the Co-Applicant)&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>manageApplicantsCo</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Manage Applicants</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderNext</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>continue</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Continue</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>coAppBlock</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1148</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Loan_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Applicants_0</name>
        <label>Add Applicants</label>
        <locationX>127</locationX>
        <locationY>1340</locationY>
        <connector>
            <targetReference>Get_Co_Applicant_Added</targetReference>
        </connector>
        <flowName>Add_Applicants</flowName>
        <inputAssignments>
            <name>manageApplicant</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Applicant_Next_Step</name>
        <label>Applicant Next Step</label>
        <locationX>1938</locationX>
        <locationY>951</locationY>
        <flowName>Applicant_Next_Step</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>SelectedApplicantId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Applicant_Next_Step_0</name>
        <label>Applicant Next Step</label>
        <locationX>2217</locationX>
        <locationY>552</locationY>
        <connector>
            <targetReference>Get_Loan_Application</targetReference>
        </connector>
        <flowName>Applicant_Next_Step</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>SelectedApplicantId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>applicantCollectionCo</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>applicantCollectionMain</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>applicantCountVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>applicantList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coAppBlock</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedApplicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vColumns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vColumnsLentgh</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
