force-app/main/default/flows/Manual_Opportunity_Creation_Bond_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>nextStartDate_0</name>
        <label>nextStartDate</label>
        <locationX>1161</locationX>
        <locationY>2349</locationY>
        <actionName>DateTimeUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Attempting_Contact_BLG_Workflow</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>increment</name>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>BusinessHours.nextStartDate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessHoursName</name>
            <value>
                <stringValue>SA Default</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateTimeString</name>
            <value>
                <elementReference>nowFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DateTimeUtility</nameSegment>
        <outputParameters>
            <assignToReference>assignmentDate</assignToReference>
            <name>result</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Agent_selected_False</name>
        <label>Assign Agent selected False</label>
        <locationX>563</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>agentSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_General_Opp_Id_0</name>
        <label>Assign General Opp Id</label>
        <locationX>923</locationX>
        <locationY>2840</locationY>
        <assignmentItems>
            <assignToReference>generalOppVarId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_General_Opp</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_General_Opp_Id_0_0</name>
        <label>Assign General Opp Id</label>
        <locationX>1413</locationX>
        <locationY>2841</locationY>
        <assignmentItems>
            <assignToReference>generalOppVarId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_General_Opp_0</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Vars</name>
        <label>Assign Owner Vars</label>
        <locationX>1665</locationX>
        <locationY>634</locationY>
        <assignmentItems>
            <assignToReference>SelectedOppOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempOppOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempOppOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Agent_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_Vars_0</name>
        <label>Assign Owner Vars</label>
        <locationX>1194</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>SelectedOppOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Opp_Owner_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Myself_Office_Admin_Block</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>campaignSLANotPopulated</name>
        <label>campaignSLANotPopulated</label>
        <locationX>1380</locationX>
        <locationY>2125</locationY>
        <assignmentItems>
            <assignToReference>campaignSLABlank</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>blankSLAerror</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PassNumberVar</name>
        <label>PassNumberVar</label>
        <locationX>564</locationX>
        <locationY>915</locationY>
        <assignmentItems>
            <assignToReference>ScreenOneDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Agent_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AccountIds</name>
        <label>Set AccountIds</label>
        <locationX>1161</locationX>
        <locationY>1515</locationY>
        <assignmentItems>
            <assignToReference>col_var_AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Agent_Details.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_var_AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Agent_Details.Account.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_BLG_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DA_Id</name>
        <label>Set DA Id</label>
        <locationX>1298</locationX>
        <locationY>1353</locationY>
        <assignmentItems>
            <assignToReference>var_Development_Agent_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedAgent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_AccountIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Opp_Owner_Id</name>
        <label>Set Default Opp Owner Id</label>
        <locationX>1969</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>var_Opp_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Owner_Id</name>
        <label>Set Owner Id</label>
        <locationX>1970</locationX>
        <locationY>1164</locationY>
        <assignmentItems>
            <assignToReference>var_Opp_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedOppOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_var_ContactIds</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_onbehalf_default</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_Owner_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Owner_Id_0</name>
        <label>Set Owner Id</label>
        <locationX>1853</locationX>
        <locationY>978</locationY>
        <assignmentItems>
            <assignToReference>var_Opp_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_var_ContactIds</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_onbehalf_default</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_Owner_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_REA_Id</name>
        <label>Set REA Id</label>
        <locationX>1033</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>var_Real_Estate_Agent_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedAgent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_AccountIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Show_Agent_Error</name>
        <label>Show Agent Error</label>
        <locationX>1711</locationX>
        <locationY>487</locationY>
        <assignmentItems>
            <assignToReference>showSelectAgentError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agent_Select_scr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SubFlow_Done</name>
        <label>SubFlow Done</label>
        <locationX>1031</locationX>
        <locationY>1037</locationY>
        <assignmentItems>
            <assignToReference>subFlowDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Branch_Sub</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Bond</name>
        <choiceText>Bond</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bond</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_for_myself</name>
        <choiceText>Create for myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create for myself</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_New</name>
        <choiceText>Create New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_on_behalf_of_someone</name>
        <choiceText>Create on behalf of someone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create on behalf of someone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Does_Exist</name>
        <choiceText>Customer Does Exist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Does Exist</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Does_Not_Exist</name>
        <choiceText>Customer Does Not Exist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer does not exist</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dr</name>
        <choiceText>Dr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>End_Flow1</name>
        <choiceText>End Flow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>End Flow</stringValue>
        </value>
    </choices>
    <choices>
        <name>End_Flow_Not_Applicable</name>
        <choiceText>End Flow (Not Applicable)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>End Flow (Not Applicable)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Finish_Flow1</name>
        <choiceText>Finish Flow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finish Flow</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mr</name>
        <choiceText>Mr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mrs</name>
        <choiceText>Mrs.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mrs.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ms</name>
        <choiceText>Ms.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ms.</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_exit</name>
        <choiceText>No, exit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, exit</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_not_at_this_time</name>
        <choiceText>No, not at this time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, not at this time</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Applicable</name>
        <choiceText>Not Applicable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Applicable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Applicable_Direct</name>
        <choiceText>Not Applicable (Direct)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Applicable (Direct)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_at_this_time</name>
        <choiceText>Not at this time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not at this time</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pre_Approval</name>
        <choiceText>Pre-Approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-Approval</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prof</name>
        <choiceText>Prof.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prof.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Agent_Record_Type</name>
        <label>Agent Record Type</label>
        <locationX>1161</locationX>
        <locationY>1197</locationY>
        <defaultConnector>
            <targetReference>Set_AccountIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>REA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agent_Contact.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Real_Estate_Agent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_REA_Id</targetReference>
            </connector>
            <label>REA</label>
        </rules>
        <rules>
            <name>DA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agent_Contact.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_DA_Id</targetReference>
            </connector>
            <label>DA</label>
        </rules>
    </decisions>
    <decisions>
        <name>For_Myself</name>
        <label>For Myself</label>
        <locationX>1631</locationX>
        <locationY>1162</locationY>
        <defaultConnector>
            <targetReference>Get_Agent_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Self</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Owner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_for_myself</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_onbehalf_default</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner_Id_0</targetReference>
            </connector>
            <label>Self</label>
        </rules>
        <rules>
            <name>OnBehalf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Owner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_on_behalf_of_someone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner_Id</targetReference>
            </connector>
            <label>OnBehalf</label>
        </rules>
    </decisions>
    <decisions>
        <name>For_Myself_Office_Admin_Block</name>
        <label>For Myself Office Admin Block</label>
        <locationX>860</locationX>
        <locationY>916</locationY>
        <defaultConnector>
            <targetReference>PassNumberVar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Myself_Office_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Owner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_for_myself</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Office Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>blockOfficeAdminScr</targetReference>
            </connector>
            <label>Myself Office Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Agent_Populated</name>
        <label>Is Agent Populated</label>
        <locationX>1440</locationX>
        <locationY>497</locationY>
        <defaultConnector>
            <targetReference>Show_Agent_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agent Not Selected</defaultConnectorLabel>
        <rules>
            <name>Agent_Not_Selected</name>
            <conditionLogic>(1 AND 2) OR(3 AND 4 AND 6) OR (2 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Owner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_for_myself</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedAgent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Owner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_on_behalf_of_someone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedOppOwner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenOneDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenOneDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Direct</targetReference>
            </connector>
            <label>Agent Selected, Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Agent_Selected</name>
        <label>Is Agent Selected</label>
        <locationX>556</locationX>
        <locationY>1131</locationY>
        <defaultConnector>
            <targetReference>Get_Agent_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agent Selected (Default)</defaultConnectorLabel>
        <rules>
            <name>SubFlow_Is_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subFlowDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubFlow_Done</targetReference>
            </connector>
            <label>SubFlow Is Done</label>
        </rules>
        <rules>
            <name>Agent_Is_Not_Applicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedAgent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Agent_selected_False</targetReference>
            </connector>
            <label>Agent Is Not Applicable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Agent_Selected_0_0</name>
        <label>Is Agent Selected</label>
        <locationX>1153</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>Create_General_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agent Selected</defaultConnectorLabel>
        <rules>
            <name>Agent_Is_Not_Applicable_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedAgent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_General_Opp_0</targetReference>
            </connector>
            <label>Agent Is Not Applicable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Direct</name>
        <label>Is Direct?</label>
        <locationX>1432</locationX>
        <locationY>920</locationY>
        <defaultConnector>
            <targetReference>Get_Agent_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Direct</defaultConnectorLabel>
        <rules>
            <name>Yes_Direct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedAgent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_Vars_0</targetReference>
            </connector>
            <label>Yes,Direct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opp_Owner_User_Setup_In_Order</name>
        <label>Is Opp Owner User Setup In Order?</label>
        <locationX>1961</locationX>
        <locationY>716</locationY>
        <defaultConnector>
            <targetReference>Get_User_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Setup in Order</defaultConnectorLabel>
        <rules>
            <name>Timezone_Locale_Error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Owner_User.LocaleSidKey</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>en_ZA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_Owner_User.LanguageLocaleKey</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>en_US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_Owner_User.TimeZoneSidKey</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Africa/Johannesburg</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>timeZoneErrorScr</targetReference>
            </connector>
            <label>Timezone/Locale Error</label>
        </rules>
        <rules>
            <name>Region_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Region_Branch_Sub.var_Region</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>blankRegion</targetReference>
            </connector>
            <label>Region Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Populate_SelectedOwnerId</name>
        <label>Populate SelectedOwnerId</label>
        <locationX>1583</locationX>
        <locationY>795</locationY>
        <defaultConnector>
            <targetReference>Is_Agent_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Populate</defaultConnectorLabel>
        <rules>
            <name>Populate_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedOppOwner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Owner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_on_behalf_of_someone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_Vars</targetReference>
            </connector>
            <label>Populate Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>SLA_Populated_on_Campaign</name>
        <label>SLA Populated on Campaign?</label>
        <locationX>1153</locationX>
        <locationY>2125</locationY>
        <defaultConnector>
            <targetReference>campaignSLANotPopulated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SLA Not Populated</defaultConnectorLabel>
        <rules>
            <name>SLA_Populated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Selected.SLA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>nextStartDate_0</targetReference>
            </connector>
            <label>SLA Populated</label>
        </rules>
    </decisions>
    <description>This flow is no longer in use. 
Requirement change - A new General Opportunity for the Bond is no longer created when the Pre-Approval is lost.</description>
    <dynamicChoiceSets>
        <name>AccountCollectionChoice</name>
        <collectionReference>AccountCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ccs_Campaigns</name>
        <collectionReference>Get_BLG_Campaigns</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>BLG_Campaign__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recordChoicePerson</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128d000000cIo6AAE</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>assignmentDatePlus7</name>
        <dataType>DateTime</dataType>
        <expression>{!convertedAssignmentDate} + 7</expression>
    </formulas>
    <formulas>
        <name>closeOffDateAttemptingContact</name>
        <dataType>DateTime</dataType>
        <expression>{!convertedAssignmentDate} + {!Get_Attempting_Contact_BLG_Workflow.Close_off_Days__c}</expression>
    </formulas>
    <formulas>
        <name>coLoanApplicantName</name>
        <dataType>String</dataType>
        <expression>{!coLoanApplicant.First_Name__c} +&quot; &quot;+ {!coLoanApplicant.Last_Name__c}</expression>
    </formulas>
    <formulas>
        <name>convertedAssignmentDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!assignmentDate}) - 0.08334 + (1/1440)</expression>
    </formulas>
    <formulas>
        <name>convertedNextDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!var_nextDate}) - 0.08334 +( 1/1440)</expression>
    </formulas>
    <formulas>
        <name>form_user_id</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!opportunity.OwnerId}), {!$User.Id}, {!opportunity.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>generalOpportunityNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Person_for_Opp.FirstName} + &quot; &quot; + {!Get_Person_for_Opp.LastName} + &quot; - General (OTP Received) - &quot; + CASE( TEXT(MONTH(TODAY())),
&quot;1&quot;, &quot;January&quot;,
&quot;2&quot;, &quot;February&quot;,
&quot;3&quot;, &quot;March&quot;, 
&quot;4&quot;, &quot;April&quot;, 
&quot;5&quot;, &quot;May&quot;, 
&quot;6&quot;, &quot;June&quot;,
&quot;7&quot;, &quot;July&quot;,
&quot;8&quot;, &quot;August&quot;,
&quot;9&quot;, &quot;September&quot;,
&quot;10&quot;, &quot;October&quot;,
&quot;11&quot;, &quot;November&quot;,
&quot;12&quot;, &quot;December&quot;,
&quot;None&quot;)
+ &quot; &quot; + TEXT(Year(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>Link_Bond</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!bondOppIdVar}, &quot;Click here to Navigate to the Bond Opportunity&quot; , &apos;_top&apos;)</expression>
    </formulas>
    <formulas>
        <name>Link_CreateGeneral</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!generalOppVarId}, &quot;Click here to Navigate to the General Opportunity&quot; , &apos;_top&apos;)</expression>
    </formulas>
    <formulas>
        <name>nowFormula</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>ownerVar</name>
        <dataType>String</dataType>
        <expression>LEFT({!ownerTrimVar},15)</expression>
    </formulas>
    <formulas>
        <name>repeatGenOppName</name>
        <dataType>String</dataType>
        <expression>{!Get_Person_for_Opp.FirstName} + &quot; &quot; + {!Get_Person_for_Opp.LastName} + &quot; - General - &quot; + CASE( TEXT(MONTH(TODAY())),
&quot;1&quot;, &quot;January&quot;,
&quot;2&quot;, &quot;February&quot;,
&quot;3&quot;, &quot;March&quot;, 
&quot;4&quot;, &quot;April&quot;, 
&quot;5&quot;, &quot;May&quot;, 
&quot;6&quot;, &quot;June&quot;,
&quot;7&quot;, &quot;July&quot;,
&quot;8&quot;, &quot;August&quot;,
&quot;9&quot;, &quot;September&quot;,
&quot;10&quot;, &quot;October&quot;,
&quot;11&quot;, &quot;November&quot;,
&quot;12&quot;, &quot;December&quot;,
&quot;None&quot;)
+ &quot; &quot; + TEXT(Year(TODAY())) + &quot; - (Repeat)&quot;</expression>
    </formulas>
    <formulas>
        <name>SLAdateOnly</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!slaDeadline})</expression>
    </formulas>
    <formulas>
        <name>SLADateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!SLAdateOnly}) + 0.62505</expression>
    </formulas>
    <formulas>
        <name>slaDeadline</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + ({!Get_Campaign_Selected.SLA__c}/24)</expression>
    </formulas>
    <formulas>
        <name>timeExtractSLA</name>
        <dataType>String</dataType>
        <expression>RIGHT(TEXT({!SLADateTime}),8)</expression>
    </formulas>
    <formulas>
        <name>todayPlus7Days</name>
        <dataType>Date</dataType>
        <expression>NOW() + 7</expression>
    </formulas>
    <interviewLabel>Manual Opportunity Creation - Bond Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manual Opportunity Creation - Bond Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_General_Opp</name>
        <label>Create General Opp</label>
        <locationX>923</locationX>
        <locationY>2709</locationY>
        <connector>
            <targetReference>Assign_General_Opp_Id_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Person_for_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_DateTime__c</field>
            <value>
                <elementReference>convertedAssignmentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLG_Campaign__c</field>
            <value>
                <elementReference>Get_Campaign_Selected.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>closeOffDateAttemptingContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsultantBranch__c</field>
            <value>
                <elementReference>Region_Branch_Sub.var_Branch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsultantRegion__c</field>
            <value>
                <elementReference>Region_Branch_Sub.var_Region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsultantSubBranch__c</field>
            <value>
                <elementReference>Region_Branch_Sub.var_SubBranch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Development_Agent__c</field>
            <value>
                <elementReference>var_Development_Agent_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>generalOpportunityNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_SLA__c</field>
            <value>
                <elementReference>Get_Campaign_Selected.SLA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>var_Opp_Owner_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Real_Estate_Agent__c</field>
            <value>
                <elementReference>var_Real_Estate_Agent_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_General_Opp_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Profile Created</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_General_Opp_0</name>
        <label>Create General Opp</label>
        <locationX>1413</locationX>
        <locationY>2701</locationY>
        <connector>
            <targetReference>Assign_General_Opp_Id_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Person_for_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_DateTime__c</field>
            <value>
                <elementReference>convertedAssignmentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLG_Campaign__c</field>
            <value>
                <elementReference>Get_Campaign_Selected.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>closeOffDateAttemptingContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsultantBranch__c</field>
            <value>
                <elementReference>Get_User_Contact.Account.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsultantRegion__c</field>
            <value>
                <elementReference>Get_User_Contact.Account.Parent.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsultantSubBranch__c</field>
            <value>
                <elementReference>Get_User_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Development_Agent__c</field>
            <value>
                <elementReference>var_Development_Agent_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>generalOpportunityNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_SLA__c</field>
            <value>
                <elementReference>Get_Campaign_Selected.SLA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>var_Opp_Owner_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Real_Estate_Agent__c</field>
            <value>
                <elementReference>var_Real_Estate_Agent_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_General_Opp_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Profile Created</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Agent_Contact</name>
        <label>Get Agent Contact</label>
        <locationX>1357</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Myself_Office_Admin_Block</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAgent</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agent_Details</name>
        <label>Get Agent Details</label>
        <locationX>1369</locationX>
        <locationY>1150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agent_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAgent</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Attempting_Contact_BLG_Workflow</name>
        <label>Get Attempting Contact BLG Workflow</label>
        <locationX>1161</locationX>
        <locationY>2486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Agent_Selected_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attempting Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Workflow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BLG_Campaigns</name>
        <label>Get BLG Campaigns</label>
        <locationX>1161</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Lookup</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Agency__c</field>
            <operator>In</operator>
            <value>
                <elementReference>col_var_AccountIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Branch__c</field>
            <operator>In</operator>
            <value>
                <elementReference>col_var_AccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BLG_Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bond_Opp_Record_Type_Id</name>
        <label>Get Bond Opp Record Type Id</label>
        <locationX>1969</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_for_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bond</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Selected</name>
        <label>Get Campaign Selected</label>
        <locationX>1161</locationX>
        <locationY>1956</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SLA_Populated_on_Campaign</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedBLGCampaign</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaignSelection.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_General_Opp_Record_Type_Id</name>
        <label>Get General Opp Record Type Id</label>
        <locationX>1969</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PA_Opp_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General_Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PA_Opp_Record_Type_Id</name>
        <label>Get PA Opp Record Type Id</label>
        <locationX>1969</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bond_Opp_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre_Approval_Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_for_Opp</name>
        <label>Get Person for Opp</label>
        <locationX>1969</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Default_Opp_Owner_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bondCustomerIdVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Owner_User</name>
        <label>Get Selected Owner User</label>
        <locationX>1970</locationX>
        <locationY>880</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Opp_Owner_User_Setup_In_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Opp_Owner_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Contact</name>
        <label>Get User Contact</label>
        <locationX>1826</locationX>
        <locationY>596</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agent_Select_scr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Consultant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Opp_Owner_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>1161</locationX>
        <locationY>1809</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Campaign_Selected</targetReference>
        </connector>
        <fields>
            <name>newGeneral</name>
            <fieldText>&lt;p&gt;Select the campaign of the new General Opportunity for customer: &lt;strong&gt;{!Get_Person_for_Opp.FirstName} {!Get_Person_for_Opp.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The new General Opportunity will be created and converted to a Bond.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Lookup_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Lookup_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>campaignSelection</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>BLG_Campaign_Manual__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Campaign</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>agentSelected</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>searchCampaigns</name>
                    <extensionName>c:recordSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>campaignScope</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Campaign</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>userId</name>
                        <value>
                            <elementReference>selectedAgent</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SelectedBLGCampaign</assignToReference>
                        <name>queriedRecordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>agentSelected</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_Lookup_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create General Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Agent_Select_scr</name>
        <label>Agent Select</label>
        <locationX>1772</locationX>
        <locationY>873</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Populate_SelectedOwnerId</targetReference>
        </connector>
        <fields>
            <name>createGeneralBond</name>
            <fieldText>&lt;p&gt;Select the source of the new General Opportunity for customer: &lt;strong&gt;{!Get_Person_for_Opp.FirstName} {!Get_Person_for_Opp.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Owner</name>
            <choiceReferences>Create_for_myself</choiceReferences>
            <choiceReferences>Create_on_behalf_of_someone</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Create_for_myself</defaultSelectedChoiceReference>
            <fieldText>Opportunity Owner</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_onbehalf_default</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Agent_Select_scr_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Agent_Select_scr_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>selectAgentError</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(221, 78, 78);&quot;&gt;Please search for a name before continuing&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>showSelectAgentError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>agentRecordSearch</name>
                    <extensionName>c:recordSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select the agent that provided the opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queriedObjectType</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contactContactScope</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>userId</name>
                        <value>
                            <elementReference>var_Opp_Owner_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedAgent</assignToReference>
                        <name>queriedRecordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>var_onbehalf_default</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Opportunity_Owner</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Create_for_myself</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>recordSearchOwner</name>
                    <extensionName>c:recordSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Opportunity Owner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryFilter</name>
                        <value>
                            <stringValue> AND( Profile.Name = &apos;Consultant&apos; OR Profile.name = &apos;Team Lead&apos;) AND IsActive = TRUE ORDER BY Name </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queriedRecordId</name>
                        <value>
                            <elementReference>SelectedOppOwner</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queriedObjectType</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contactContactScope</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>tempOppOwner</assignToReference>
                        <name>queriedRecordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_onbehalf_default</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Opportunity_Owner</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Create_on_behalf_of_someone</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Agent_Select_scr_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>blankRegion</name>
        <label>blankRegion</label>
        <locationX>2199</locationX>
        <locationY>771</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>incorrectUserSetup</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Missing or Incorrect User Setup</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>timezoneError</name>
            <fieldText>&lt;p&gt;Please review the &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Region&lt;/span&gt; user setup for this opportunity&apos;s owner and try again: &lt;strong&gt;{!Get_Selected_Owner_User.FirstName}&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The user Region is required to populate a Reference Number.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>blankSLAerror</name>
        <label>blankSLAerror</label>
        <locationX>1541</locationX>
        <locationY>2125</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>slaBlankBanner</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Campaign SLA Not Populated</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>campaignSLAerrorMsg</name>
            <fieldText>&lt;p&gt;The campaign that you have selected for this opportunity does not have a SLA populated:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Campaign: &lt;/strong&gt;{!Get_Campaign_Selected.Name}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Please ensure that the missing campaign setup data is captured and try gain.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>blockOfficeAdminScr</name>
        <label>blockOfficeAdminScr</label>
        <locationX>1236</locationX>
        <locationY>671</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Agent_Select_scr</targetReference>
        </connector>
        <fields>
            <name>profileLimit</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Profile/Permission Limitation</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>adminBlockHelp</name>
            <fieldText>&lt;p&gt;The Profile that you are assigned to only allows for creating opportunities on behalf of someone.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click on Next and select the above mentioned option.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>timeZoneErrorScr</name>
        <label>timeZoneErrorScr</label>
        <locationX>2215</locationX>
        <locationY>651</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>userErrorBanner</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Missing or Incorrect User Setup</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>userSetupError</name>
            <fieldText>&lt;p&gt;Please review the Time Zone, Locale and Language user setup for this opportunity&apos;s owner and try again: &lt;strong&gt;{!Get_Selected_Owner_User.FirstName} &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1425</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_General_Opp_Record_Type_Id</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Region_Branch_Sub</name>
        <label>Region/Branch Sub</label>
        <locationX>1639</locationX>
        <locationY>1037</locationY>
        <connector>
            <targetReference>For_Myself</targetReference>
        </connector>
        <flowName>Region_Branch_Sub</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>var_Opp_Owner_Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>createNewCustomer</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Create New Customer&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>agentSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>applicantVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
    <variables>
        <name>assignmentDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blankLastnameFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blankNameFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bondCustomerIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bondOppIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignSLABlank</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>col_var_AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_var_ContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coLoanApplicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactDuplicateFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailDuplicateFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>generalOppVarId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppToConvertVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerTrimVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PhoneEmailValidation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypePerson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0128d000000cIo6AAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>ScreenOneDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>selectedAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedBLGCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedOppOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOppRecVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>selectedOppVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showSelectAgentError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>subFlowDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>tempOppOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Development_Agent_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_nextDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_onbehalf_default</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Opp_Owner_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Real_Estate_Agent_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExistingCustError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varExistingOppError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
