force-app/main/default/flows/MC_Deselect_Applicant_Email_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_there_something_to_Deselect</name>
        <label>Is there something to Deselect?</label>
        <locationX>768</locationX>
        <locationY>891</locationY>
        <defaultConnector>
            <targetReference>Get_Co_Applicant_Trigger_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing</defaultConnectorLabel>
        <rules>
            <name>Yes_Deselect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Applicant_Trigger_True.emailSendTrigger_Applicant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deselect_Main_Applicant_trigger_to_false</targetReference>
            </connector>
            <label>Yes Deselect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_something_to_Deselect_0</name>
        <label>Is there something to Deselect?</label>
        <locationX>963</locationX>
        <locationY>1281</locationY>
        <defaultConnectorLabel>Nothing</defaultConnectorLabel>
        <rules>
            <name>Yes_Deselect_Co_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Co_Applicant_Trigger_True.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deselect_Co_Applicant_trigger_to_false</targetReference>
            </connector>
            <label>Yes Deselect Co App</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_trigger_Selected</name>
        <label>Opp trigger Selected?</label>
        <locationX>768</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Trigger_Selected_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.emailSendTrigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deselect_Opportunity_Email_Trigger</targetReference>
            </connector>
            <label>Opp Trigger Selected True</label>
        </rules>
    </decisions>
    <description>Flow Description: Used for Marketing Cloud campaigns. Deselects/Unchecks the email trigger on Applicants if selected.

No Front-End Access - Flow is record triggered based on the entry criteria.</description>
    <environments>Default</environments>
    <interviewLabel>MC Deselect Applicant Email Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MC Deselect Applicant Email Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Co_Applicant_Trigger_True</name>
        <label>Get Co Applicant Trigger True</label>
        <locationX>971</locationX>
        <locationY>1102</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_something_to_Deselect_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>emailSendTrigger_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Applicant_Trigger_True</name>
        <label>Get Main Applicant Trigger True</label>
        <locationX>777</locationX>
        <locationY>746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_something_to_Deselect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>emailSendTrigger_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Deselect_Co_Applicant_trigger_to_false</name>
        <label>Deselect Co Applicant trigger to false</label>
        <locationX>972</locationX>
        <locationY>1481</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Co_Applicant_Trigger_True.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>emailSendTrigger_Applicant__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Deselect_Main_Applicant_trigger_to_false</name>
        <label>Deselect Main Applicant trigger to false</label>
        <locationX>776</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>Get_Co_Applicant_Trigger_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Applicant_Trigger_True.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>emailSendTrigger_Applicant__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Deselect_Opportunity_Email_Trigger</name>
        <label>Deselect Opportunity Email Trigger</label>
        <locationX>777</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Get_Main_Applicant_Trigger_True</targetReference>
        </connector>
        <inputAssignments>
            <field>emailSendTrigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Opp_trigger_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>emailSendTrigger__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
