force-app/main/default/flows/MC_Email_Template_Selection_Bond.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Post_Chatter_to_Opportunity</name>
        <label>Post Chatter to Opportunity</label>
        <locationX>1300</locationX>
        <locationY>2396</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatterPostMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>blankEmailTrue</name>
        <label>blankEmailTrue</label>
        <locationX>1552</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>emailBlankVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>mainEmailBlank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>selectedTemplate</name>
        <label>selectedTemplate</label>
        <locationX>1401</locationX>
        <locationY>1536</locationY>
        <assignmentItems>
            <assignToReference>theselectedTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_we_get_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>selectedTemplate_0</name>
        <label>selectedTemplate</label>
        <locationX>996</locationX>
        <locationY>1532</locationY>
        <assignmentItems>
            <assignToReference>theselectedTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Template_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_we_get_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>selectedTemplate_0_0</name>
        <label>selectedTemplate</label>
        <locationX>1191</locationX>
        <locationY>1533</locationY>
        <assignmentItems>
            <assignToReference>theselectedTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Template_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_we_get_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>selectedTemplate_0_0_0</name>
        <label>selectedTemplate</label>
        <locationX>1570</locationX>
        <locationY>1544</locationY>
        <assignmentItems>
            <assignToReference>theselectedTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Template_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_we_get_Applicants</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Assign_to_expert_Home_Loan_Consultant_No_Answer</name>
        <choiceText>Assign to expert Home Loan Consultant (No Answer)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assign to expert Home Loan Consultant (No Answer)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Assign_to_expert_Home_Loan_Consultant_Spoke_to_client</name>
        <choiceText>Assign to expert Home Loan Consultant (Spoke to client)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assign to expert Home Loan Consultant (Spoke to client)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Awaiting_OTP_Follow_up</name>
        <choiceText>Awaiting OTP (Follow-up)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Awaiting OTP (Follow-up)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Awaiting_OTP_No_Answer</name>
        <choiceText>Awaiting OTP (No Answer)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Awaiting OTP (No Answer)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Awaiting_OTP_Spoke_to_client</name>
        <choiceText>Awaiting OTP (Spoke to client)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Awaiting OTP (Spoke to client)</stringValue>
        </value>
    </choices>
    <choices>
        <name>FHB_Assign_to_expert_Home_Loan_Consultant_No_Answer</name>
        <choiceText>FHB Assign to expert Home Loan Consultant (No Answer)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FHB Assign to expert Home Loan Consultant (No Answer)</stringValue>
        </value>
    </choices>
    <choices>
        <name>FHB_Assign_to_expert_Home_Loan_Consultant_Spoke_to_client</name>
        <choiceText>FHB Assign to expert Home Loan Consultant (Spoke to client)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FHB Assign to expert Home Loan Consultant (Spoke to client)</stringValue>
        </value>
    </choices>
    <choices>
        <name>FHB_Awaiting_OTP_Follow_up</name>
        <choiceText>FHB Awaiting OTP (Follow-up)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FHB Awaiting OTP (Follow-up)</stringValue>
        </value>
    </choices>
    <choices>
        <name>FHB_Awaiting_OTP_No_Answer</name>
        <choiceText>FHB Awaiting OTP (No Answer)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FHB Awaiting OTP (No Answer)</stringValue>
        </value>
    </choices>
    <choices>
        <name>FHB_Awaiting_OTP_Spoke_to_client</name>
        <choiceText>FHB Awaiting OTP (Spoke to client)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FHB Awaiting OTP (Spoke to client)</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Did_we_get_Applicants</name>
        <label>Did we get Applicants</label>
        <locationX>1287</locationX>
        <locationY>1803</locationY>
        <defaultConnector>
            <targetReference>Is_Smart_Service_Templates_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Got Applicants</defaultConnectorLabel>
        <rules>
            <name>No_Applicants_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Applicants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>applicantsDoNoExist</targetReference>
            </connector>
            <label>No Applicants Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_First_Time_Home_Buyer</name>
        <label>Is First Time Home Buyer?</label>
        <locationX>1275</locationX>
        <locationY>1168</locationY>
        <defaultConnector>
            <targetReference>Is_Smart_Service_Templates_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>FHB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bond_Opportunity_Record.Are_you_buying_your_first_home__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Smart_Service_Templates</targetReference>
            </connector>
            <label>Yes FHB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Person_Email_Populated</name>
        <label>Is Person Email Populated?</label>
        <locationX>1506</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>mainEmailBlank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Blank</defaultConnectorLabel>
        <rules>
            <name>Email_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Person_Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Person_Account.PersonEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Type</targetReference>
            </connector>
            <label>Email Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Smart_Service_Templates</name>
        <label>Is Smart Service Templates?</label>
        <locationX>1082</locationX>
        <locationY>1169</locationY>
        <defaultConnector>
            <targetReference>Display_Person_Account_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Smart_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Type.Type_of_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Smart Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Person_Account_0_0_0</targetReference>
            </connector>
            <label>Smart Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Smart_Service_Templates_0</name>
        <label>Is Smart Service Templates?</label>
        <locationX>1445</locationX>
        <locationY>1169</locationY>
        <defaultConnector>
            <targetReference>Display_Person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Smart_Service_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Type.Type_of_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Smart Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Person_Account_0</targetReference>
            </connector>
            <label>Is Smart Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Smart_Service_Templates_0_0</name>
        <label>Is Smart Service Templates?</label>
        <locationX>1289</locationX>
        <locationY>2010</locationY>
        <defaultConnector>
            <targetReference>Email_Image_Viewer_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Smart_Service_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Type.Type_of_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Smart Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Image_Viewer_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Smart Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Email_Populated</name>
        <label>New Email Populated?</label>
        <locationX>1824</locationX>
        <locationY>526</locationY>
        <defaultConnector>
            <targetReference>blankEmailTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank Email</defaultConnectorLabel>
        <rules>
            <name>Populated_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Field</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_Field</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Person_with_new_Email</targetReference>
            </connector>
            <label>Populated Email</label>
        </rules>
    </decisions>
    <description>Flow Description: Triggers Marketing Cloud Comms for Bond Opportunities and is launched from the Wrap Up opportunity Bond Subflow which is ultimately launched from  Wrap Up Opportunity H2 flow

Front-End Access: Work Opportunity button on the Opportunity page.</description>
    <dynamicChoiceSets>
        <name>documentSelectionPick</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Selection__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>accountFullName</name>
        <dataType>String</dataType>
        <expression>{!Get_Person_Account.FirstName} + &quot; &quot; + {!Get_Person_Account.LastName}</expression>
    </formulas>
    <formulas>
        <name>sentTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>smartServiceTemplateSelection</name>
        <dataType>String</dataType>
        <expression>CASE({!theselectedTemplate}, 
&quot;Awaiting OTP (No Answer)&quot; , &quot;Awaiting_OTP_No_Answer&quot; ,
&quot;Awaiting OTP (Spoke to client)&quot; , &quot;Awaiting_OTP_Spoke_to_client&quot; ,
&quot;Awaiting OTP (Follow-up)&quot; , &quot;Awaiting_OTP_Follow_up&quot; ,
&quot;Assign to expert Home Loan Consultant (No Answer)&quot; , &quot;Assign_to_expert_Home_Loan_Consultant_No_Answer&quot; ,
&quot;Assign to expert Home Loan Consultant (Spoke to client)&quot; , &quot;Assign_to_expert_Home_Loan_Consultant_Spoke_to_client&quot; ,
&quot;FHB Awaiting OTP (No Answer)&quot; , &quot;FHB_Awaiting_OTP_No_Answer&quot; ,
&quot;FHB Awaiting OTP (Follow-up)&quot; , &quot;FHB_Awaiting_OTP_Follow_up&quot; ,
&quot;FHB Awaiting OTP (Spoke to client)&quot; , &quot;FHB_Awaiting_OTP_Spoke_to_client&quot; ,
&quot;FHB Assign to expert Home Loan Consultant (No Answer)&quot; , &quot;FHB_Assign_to_expert_Home_Loan_Consultant_No_Answer&quot; ,
&quot;FHB Assign to expert Home Loan Consultant (Spoke to client)&quot; , &quot;FHB_Assign_to_expert_Home_Loan_Consultant_Spoke_to_client&quot; ,
&quot;No Template Selected&quot; )</expression>
    </formulas>
    <formulas>
        <name>templateSelection</name>
        <dataType>String</dataType>
        <expression>CASE({!theselectedTemplate}, 
&quot;Awaiting OTP (No Answer)&quot; , &quot;Awaiting_OTP_No_Answer&quot; ,
&quot;Awaiting OTP (Spoke to client)&quot; , &quot;Awaiting_OTP_Spoke_to_client&quot; ,
&quot;Awaiting OTP (Follow-up)&quot; , &quot;Awaiting_OTP_Follow_up&quot; ,
&quot;Assign to expert Home Loan Consultant (No Answer)&quot; , &quot;Assign_to_expert_Home_Loan_Consultant_No_Answer&quot; ,
&quot;Assign to expert Home Loan Consultant (Spoke to client)&quot; , &quot;Assign_to_expert_Home_Loan_Consultant_Spoke_to_client&quot; ,
&quot;FHB Awaiting OTP (No Answer)&quot; , &quot;FHB_Awaiting_OTP_No_Answer&quot; ,
&quot;FHB Awaiting OTP (Follow-up)&quot; , &quot;FHB_Awaiting_OTP_Follow_up&quot; ,
&quot;FHB Awaiting OTP (Spoke to client)&quot; , &quot;FHB_Awaiting_OTP_Spoke_to_client&quot; ,
&quot;FHB Assign to expert Home Loan Consultant (No Answer)&quot; , &quot;FHB_Assign_to_expert_Home_Loan_Consultant_No_Answer&quot; ,
&quot;FHB Assign to expert Home Loan Consultant (Spoke to client)&quot; , &quot;FHB_Assign_to_expert_Home_Loan_Consultant_Spoke_to_client&quot; ,
&quot;No Template Selected&quot; )</expression>
    </formulas>
    <interviewLabel>MC Email Template Selection - Bond {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MC Email Template Selection - Bond</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Bond_Opportunity_Record</name>
        <label>Get Bond Opportunity Record</label>
        <locationX>1282</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Type</name>
        <label>Get Campaign Type</label>
        <locationX>1282</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_Task_on_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity_Record.BLG_Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Co_Loan_Applicant</name>
        <label>Get Co Loan Applicant</label>
        <locationX>1282</locationX>
        <locationY>925</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Loan_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BorrowerType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Borrower</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Applicants</name>
        <label>Get Loan Applicants</label>
        <locationX>1282</locationX>
        <locationY>1044</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_First_Time_Home_Buyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application</name>
        <label>Get Loan Application</label>
        <locationX>1282</locationX>
        <locationY>703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Main_Loan_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Loan_Applicant</name>
        <label>Get Main Loan Applicant</label>
        <locationX>1282</locationX>
        <locationY>805</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Co_Loan_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Task_on_Opp</name>
        <label>Get Open Task on Opp</label>
        <locationX>1282</locationX>
        <locationY>569</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Loan_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account</name>
        <label>Get Person Account</label>
        <locationX>1282</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Person_Email_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Person_Account</name>
        <label>Get Updated Person Account</label>
        <locationX>1476</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Person_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the &apos;emailSendTrigger&apos; checkbox, which launches journey in MC to send selected email</description>
        <name>Update_MC_Trigger_on_Opp</name>
        <label>Update MC Trigger on Opp</label>
        <locationX>1300</locationX>
        <locationY>2253</locationY>
        <connector>
            <targetReference>Post_Chatter_to_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Template_Selection__c</field>
            <value>
                <elementReference>theselectedTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>emailSendTrigger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Person_with_new_Email</name>
        <label>Update Person with new Email</label>
        <locationX>1612</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>Get_Updated_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Person_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email_Field</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>applicantsDoNoExist</name>
        <label>applicantsDoNoExist</label>
        <locationX>950</locationX>
        <locationY>1855</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>applicantMissing</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Missing Applicant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>loanApplicantsDoNotExist</name>
            <fieldText>&lt;p&gt;Loan Applicants do not exist for this opportunity&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Person_Account</name>
        <label>Select Email Template</label>
        <locationX>1400</locationX>
        <locationY>1371</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>selectedTemplate</targetReference>
        </connector>
        <fields>
            <name>emailMcLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Marketing Cloud Email Send</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Person_Account_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Person_Account_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>accountTxt</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account:&lt;/strong&gt; {!accountFullName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;First Time Home Buyer:&lt;/strong&gt; No&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Person_Account_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>campaignTxt</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Campaign Type: &lt;/strong&gt;{!Get_Campaign_Type.Type_of_Campaign__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Email_Template</name>
            <choiceReferences>Awaiting_OTP_No_Answer</choiceReferences>
            <choiceReferences>Awaiting_OTP_Spoke_to_client</choiceReferences>
            <choiceReferences>Awaiting_OTP_Follow_up</choiceReferences>
            <choiceReferences>Assign_to_expert_Home_Loan_Consultant_No_Answer</choiceReferences>
            <choiceReferences>Assign_to_expert_Home_Loan_Consultant_Spoke_to_client</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>theselectedTemplate</elementReference>
            </defaultValue>
            <fieldText>Please select an Email Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Person_Account_0</name>
        <label>Select Email Template</label>
        <locationX>1570</locationX>
        <locationY>1370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>selectedTemplate_0_0_0</targetReference>
        </connector>
        <fields>
            <name>mcEmailBanner</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Marketing Cloud Email Send</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Person_Account_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Person_Account_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>accountTxt_0</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;﻿Account: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!accountFullName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;First Time Home Buyer: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;No&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Person_Account_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>campaignTxt_0</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Campaign Type: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Campaign_Type.Type_of_Campaign__c} Campaign&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Email_Template_0</name>
            <choiceReferences>Awaiting_OTP_No_Answer</choiceReferences>
            <choiceReferences>Awaiting_OTP_Spoke_to_client</choiceReferences>
            <choiceReferences>Awaiting_OTP_Follow_up</choiceReferences>
            <choiceReferences>Assign_to_expert_Home_Loan_Consultant_No_Answer</choiceReferences>
            <choiceReferences>Assign_to_expert_Home_Loan_Consultant_Spoke_to_client</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>theselectedTemplate</elementReference>
            </defaultValue>
            <fieldText>Please select an Email Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Person_Account_0_0</name>
        <label>Select Email Template</label>
        <locationX>995</locationX>
        <locationY>1365</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>selectedTemplate_0</targetReference>
        </connector>
        <fields>
            <name>mcEmailSendLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Marketing Cloud Email Send</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Person_Account_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Person_Account_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>accountInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account:&lt;/strong&gt; {!accountFullName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;First Time Home Buyer:&lt;/strong&gt; Yes&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Person_Account_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>campaignTxt_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Campaign Type: &lt;/strong&gt;{!Get_Campaign_Type.Type_of_Campaign__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Email_Template_0_0</name>
            <choiceReferences>FHB_Awaiting_OTP_No_Answer</choiceReferences>
            <choiceReferences>FHB_Awaiting_OTP_Spoke_to_client</choiceReferences>
            <choiceReferences>FHB_Awaiting_OTP_Follow_up</choiceReferences>
            <choiceReferences>FHB_Assign_to_expert_Home_Loan_Consultant_No_Answer</choiceReferences>
            <choiceReferences>FHB_Assign_to_expert_Home_Loan_Consultant_Spoke_to_client</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>theselectedTemplate</elementReference>
            </defaultValue>
            <fieldText>Please select an Email Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Person_Account_0_0_0</name>
        <label>Select Email Template</label>
        <locationX>1191</locationX>
        <locationY>1370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>selectedTemplate_0_0</targetReference>
        </connector>
        <fields>
            <name>mcSendLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Marketing Cloud Email Send</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Person_Account_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Person_Account_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>accountTxt_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account: &lt;/strong&gt;{!accountFullName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;First Time Home Buyer:&lt;/strong&gt; Yes&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Person_Account_0_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>campaignTxt_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Campaign Type: &lt;/strong&gt;{!Get_Campaign_Type.Type_of_Campaign__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Email_Template_0_0_0</name>
            <choiceReferences>FHB_Awaiting_OTP_No_Answer</choiceReferences>
            <choiceReferences>FHB_Awaiting_OTP_Spoke_to_client</choiceReferences>
            <choiceReferences>FHB_Awaiting_OTP_Follow_up</choiceReferences>
            <choiceReferences>FHB_Assign_to_expert_Home_Loan_Consultant_No_Answer</choiceReferences>
            <choiceReferences>FHB_Assign_to_expert_Home_Loan_Consultant_Spoke_to_client</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>theselectedTemplate</elementReference>
            </defaultValue>
            <fieldText>Please select an Email Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Image_Viewer_0_0_0_0_0</name>
        <label>Email Template Display</label>
        <locationX>1109</locationX>
        <locationY>2008</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_MC_Trigger_on_Opp</targetReference>
        </connector>
        <fields>
            <name>ProceedGreeting6</name>
            <fieldText>&lt;p&gt;Hi &lt;strong&gt;{!Get_Bond_Opportunity_Record.Owner.FirstName}!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>mainOnlyDocs</name>
            <fieldText>&lt;p&gt;Below is the preview of the selected email template to send. Upon confirmation, this mail will be sent to: &lt;strong&gt;{!accountFullName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendMainVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>coOnly</name>
            <fieldText>&lt;p&gt;Below is the preview of the selected email template to send. Upon confirmation, this mail will be sent to: &lt;strong&gt;{!Get_Co_Loan_Applicant.First_Name__c} {!Get_Co_Loan_Applicant.Last_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendCoVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>mainAndCo</name>
            <fieldText>&lt;p&gt;Below is the preview of the selected email template to send. Upon confirmation, this mail will be sent to: &lt;strong&gt;{!accountFullName} &lt;/strong&gt;and &lt;strong&gt;{!Get_Co_Loan_Applicant.First_Name__c} {!Get_Co_Loan_Applicant.Last_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendBothVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>mainOnly</name>
            <fieldText>&lt;p&gt;Below is the preview of the selected email template to send. Upon confirmation, this mail will be sent to: &lt;strong&gt;{!accountFullName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendMainVar</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>sendCoVar</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>sendBothVar</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CreditCheckFollowupNonSS</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>templateSelection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>45%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Proceed6</name>
            <fieldText>&lt;p&gt;Would you like to proceed?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send Mail</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Image_Viewer_0_0_0_0_0_0_0</name>
        <label>Email Template Display</label>
        <locationX>1516</locationX>
        <locationY>2009</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_MC_Trigger_on_Opp</targetReference>
        </connector>
        <fields>
            <name>ProceedGreeting6_0_0</name>
            <fieldText>&lt;p&gt;Hi &lt;strong&gt;{!Get_Bond_Opportunity_Record.Owner.FirstName}!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>mainOnlyDocs_0</name>
            <fieldText>&lt;p&gt;Below is the preview of the selected email template to send. Upon confirmation, this mail will be sent to: &lt;strong&gt;{!accountFullName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendMainVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>coOnly_0</name>
            <fieldText>&lt;p&gt;Below is the preview of the selected email template to send. Upon confirmation, this mail will be sent to: &lt;strong&gt;{!Get_Co_Loan_Applicant.First_Name__c} {!Get_Co_Loan_Applicant.Last_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendCoVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>mainAndCo_0</name>
            <fieldText>&lt;p&gt;Below is the preview of the selected email template to send. Upon confirmation, this mail will be sent to: &lt;strong&gt;{!accountFullName} &lt;/strong&gt;and &lt;strong&gt;{!Get_Co_Loan_Applicant.First_Name__c} {!Get_Co_Loan_Applicant.Last_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendBothVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CreditCheckFollowupNonSS_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>smartServiceTemplateSelection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>45%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Proceed6_0_0</name>
            <fieldText>&lt;p&gt;Would you like to proceed?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send Mail</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>mainEmailBlank</name>
        <label>mainEmailBlank</label>
        <locationX>1737</locationX>
        <locationY>337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Email_Populated</targetReference>
        </connector>
        <fields>
            <name>missingEmail</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Missing Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>loanApplicantsDoNotExist_0_0</name>
            <fieldText>&lt;p&gt;The email address has not been populated for the following customer: &lt;strong&gt;{!Get_Person_Account.FirstName} {!Get_Person_Account.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>mainEmailBlank_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>mainEmailBlank_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>capturetxt</name>
                    <fieldText>&lt;p&gt;Please capture the missing information in order to continue with the email send:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Email_Field</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a valid email address.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Email_Field},{!$Label.EmailRegex})</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>emailBlankError</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The Email field is required to continue with the email send.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>emailBlankVar</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>mainEmailBlank_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Continue Email Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1156</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Get_Bond_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>chatterPostMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;---- Customer Email Sent ----&gt;
Template Selection: {!theselectedTemplate}
Sent To: {!accountFullName}
Sent From: @[{!$User.Id}]
Sent Date: {!sentTime}</text>
    </textTemplates>
    <variables>
        <name>creditReportAvailable_Co</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>creditReportAvailable_Main</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>emailBlankVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedNothing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sendBothVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>sendCoVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>sendMainVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>theselectedTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
