force-app/main/default/flows/MC_Email_Template_Selection_Multi_select_picklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Post_Chatter_to_Opportunity</name>
        <label>Post Chatter to Opportunity</label>
        <locationX>1667</locationX>
        <locationY>4250</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatterPostMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Credit_Var_true</name>
        <label>Assign Credit Var true</label>
        <locationX>1008</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>creditReportAvailable_Main</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Credit_Check_Report_link_populated_Main_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Credit_Var_true_0</name>
        <label>Assign Credit Var true</label>
        <locationX>1015</locationX>
        <locationY>2215</locationY>
        <assignmentItems>
            <assignToReference>creditReportAvailable_Co</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Credit_report_availability_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_nothing_selected_true</name>
        <label>Assign nothing selected true</label>
        <locationX>1125</locationX>
        <locationY>2828</locationY>
        <assignmentItems>
            <assignToReference>selectedNothing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Documentation_Requests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>blankEmailTrue</name>
        <label>blankEmailTrue</label>
        <locationX>1552</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>emailBlankVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>mainEmailBlank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>selectedTemplate</name>
        <label>selectedTemplate</label>
        <locationX>1378</locationX>
        <locationY>1545</locationY>
        <assignmentItems>
            <assignToReference>theselectedTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_we_get_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>selectedTemplate_0</name>
        <label>selectedTemplate</label>
        <locationX>995</locationX>
        <locationY>1589</locationY>
        <assignmentItems>
            <assignToReference>theselectedTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Template_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_we_get_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>selectedTemplate_0_0</name>
        <label>selectedTemplate</label>
        <locationX>1202</locationX>
        <locationY>1567</locationY>
        <assignmentItems>
            <assignToReference>theselectedTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Template_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_we_get_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>selectedTemplate_0_0_0</name>
        <label>selectedTemplate</label>
        <locationX>1641</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>theselectedTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Template_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_we_get_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sendBoth</name>
        <label>sendBoth</label>
        <locationX>681</locationX>
        <locationY>3269</locationY>
        <assignmentItems>
            <assignToReference>sendBothVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MC_Trigger_on_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sendCo</name>
        <label>sendCo</label>
        <locationX>1497</locationX>
        <locationY>3677</locationY>
        <assignmentItems>
            <assignToReference>sendCoVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Co_Applicant_MC_Doc_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sendMain</name>
        <label>sendMain</label>
        <locationX>1088</locationX>
        <locationY>3235</locationY>
        <assignmentItems>
            <assignToReference>sendMainVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MC_Trigger_on_Applicant_Main</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Consent_form_reminder_follow_up</name>
        <choiceText>Consent form reminder - follow up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consent form reminder - follow up</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_check_positive_requesting_docs_to_complete_PA_Documents_Required</name>
        <choiceText>Credit check positive - requesting docs to complete PA (Documents Required)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit check positive - requesting docs to complete PA (Documents Required)</stringValue>
        </value>
    </choices>
    <choices>
        <name>FHB_Consent_form_reminder_follow_up</name>
        <choiceText>FHB Consent form reminder - follow up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FHB Consent form reminder - follow up</stringValue>
        </value>
    </choices>
    <choices>
        <name>FHB_Credit_check_positive_requesting_docs_to_complete_PA_Documents_Required</name>
        <choiceText>FHB Credit check positive - requesting docs to complete PA (Documents Required)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FHB Credit check positive - requesting docs to complete PA (Documents Required)</stringValue>
        </value>
    </choices>
    <choices>
        <name>FHB_PA_No_Answer</name>
        <choiceText>FHB PA - No Answer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FHB PA - No Answer</stringValue>
        </value>
    </choices>
    <choices>
        <name>FHB_PA_requested_docs_follow_up</name>
        <choiceText>FHB PA requested - docs follow up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FHB PA requested - docs follow up</stringValue>
        </value>
    </choices>
    <choices>
        <name>FHB_PA_sending_consent_form_spoke_to_client</name>
        <choiceText>FHB PA - sending consent form (spoke to client)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FHB PA - sending consent form (spoke to client)</stringValue>
        </value>
    </choices>
    <choices>
        <name>FHB_Poor_credit_post_conversation</name>
        <choiceText>FHB Poor credit - post conversation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FHB Poor credit - post conversation</stringValue>
        </value>
    </choices>
    <choices>
        <name>PA_issued_awaiting_OTP_attach_PA_certificate</name>
        <choiceText>PA issued - awaiting OTP (attach PA certificate)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PA issued - awaiting OTP (attach PA certificate)</stringValue>
        </value>
    </choices>
    <choices>
        <name>PA_no_answer</name>
        <choiceText>PA - no answer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PA - no answer</stringValue>
        </value>
    </choices>
    <choices>
        <name>PA_requested_docs_follow_up</name>
        <choiceText>PA requested - docs follow up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PA requested - docs follow up</stringValue>
        </value>
    </choices>
    <choices>
        <name>PA_sending_consent_form_spoke_to_client</name>
        <choiceText>PA - sending consent form (spoke to client)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PA - sending consent form (spoke to client)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Poor_credit_post_conversation</name>
        <choiceText>Poor credit - post conversation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Poor credit - post conversation</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Block_Issue_PA_Email_based_on_Opp_Stage</name>
        <label>Block Issue PA Email based on Opp Stage</label>
        <locationX>1641</locationX>
        <locationY>3323</locationY>
        <defaultConnector>
            <targetReference>Is_Smart_Service_Templates_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Block_PA_Not_Issued</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Nurture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>theselectedTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA issued - awaiting OTP (attach PA certificate)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>blockPAIssueEmail</targetReference>
            </connector>
            <label>Block - PA Not Issued</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_report_availability_check</name>
        <label>Credit report availability check</label>
        <locationX>1268</locationX>
        <locationY>2338</locationY>
        <defaultConnector>
            <targetReference>creditReportChecksFail_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failure</defaultConnectorLabel>
        <rules>
            <name>Full_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>creditReportAvailable_Main</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>creditReportAvailable_Co</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Template_Selection_for_MC</targetReference>
            </connector>
            <label>Full Pass</label>
        </rules>
        <rules>
            <name>Main_Applicant_Only_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>creditReportAvailable_Main</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Co_Loan_Applicant.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Template_Selection_for_MC</targetReference>
            </connector>
            <label>Main Applicant Only Pass</label>
        </rules>
        <rules>
            <name>Main_Applicant_and_Co_Applicant_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>creditReportAvailable_Main</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Main_Loan_Applicant.Marital_agreement__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Married in community of property (COP)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Template_Selection_for_MC</targetReference>
            </connector>
            <label>Main Applicant and Co-Applicant Pass</label>
        </rules>
        <rules>
            <name>Married_COP_Check_Fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Loan_Applicant.Marital_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married in community of property (COP)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>creditReportAvailable_Main</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>creditReportAvailable_Co</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Co_Loan_Applicant.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Poor Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>creditReportChecksFail_0</targetReference>
            </connector>
            <label>Married COP Check Fail</label>
        </rules>
        <rules>
            <name>COP_Co_Applicant_Poor_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Co_Loan_Applicant.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Poor Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Main_Loan_Applicant.Marital_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married in community of property (COP)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Template_Selection_for_MC</targetReference>
            </connector>
            <label>COP - Co Applicant Poor Credit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Document_Request_Applicable</name>
        <label>Customer Document Request Applicable</label>
        <locationX>1643</locationX>
        <locationY>1876</locationY>
        <defaultConnector>
            <targetReference>Block_Issue_PA_Email_based_on_Opp_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesApplicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>theselectedTemplate</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Documents Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Smart_Service</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Smart_Service_0</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Credit_Check_Report_link_populated_Main</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_we_get_Applicants</name>
        <label>Did we get Applicants</label>
        <locationX>1268</locationX>
        <locationY>1786</locationY>
        <defaultConnector>
            <targetReference>Customer_Document_Request_Applicable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Got Applicants</defaultConnectorLabel>
        <rules>
            <name>No_Applicants_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Applicants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>applicantsDoNoExist</targetReference>
            </connector>
            <label>No Applicants Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Docs_Selected</name>
        <label>Docs Selected?</label>
        <locationX>1364</locationX>
        <locationY>3126</locationY>
        <defaultConnector>
            <targetReference>noDocumentsSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Docs Selected</defaultConnectorLabel>
        <rules>
            <name>Docs_Requested_Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicant_1_docs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>applicant_2_docs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>applicant_1_docs</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>applicant_2_docs</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Co_Email_Populated_and_Credit_check_In_order</targetReference>
            </connector>
            <label>Docs Requested Both</label>
        </rules>
        <rules>
            <name>Docs_Requested_Main</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicant_1_docs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>applicant_1_docs</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendMain</targetReference>
            </connector>
            <label>Docs Requested Main</label>
        </rules>
        <rules>
            <name>Docs_Requested_Co</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicant_2_docs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>applicant_2_docs</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Person_Email_and_Credit_Report_In_Order</targetReference>
            </connector>
            <label>Docs Requested Co</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Co_Email_Populated_and_Credit_check_In_order</name>
        <label>Is Co Email Populated and Credit check In order?</label>
        <locationX>860</locationX>
        <locationY>3175</locationY>
        <defaultConnector>
            <targetReference>sendBoth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Email_Blank_Co</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Co_Loan_Applicant.Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Co_Loan_Applicant.Email_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>blankEmailCo</targetReference>
            </connector>
            <label>Email Blank Co</label>
        </rules>
        <rules>
            <name>Credit_report_Missing_Co</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>creditReportAvailable_Co</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Co_Loan_Applicant.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Poor Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>creditReportMissingCo_0</targetReference>
            </connector>
            <label>Credit report Missing Co</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Credit_Check_Report_link_populated_Main</name>
        <label>Is Credit Check Report link populated Main</label>
        <locationX>1269</locationX>
        <locationY>1953</locationY>
        <defaultConnector>
            <targetReference>Is_Credit_Check_Report_link_populated_Main_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Credit link not available</defaultConnectorLabel>
        <rules>
            <name>Credit_Report_Link_Available_for_Main</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Loan_Applicant.CreditReportPublicViewLink__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Credit_Var_true</targetReference>
            </connector>
            <label>Credit Report Link Available for Main</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Credit_Check_Report_link_populated_Main_0</name>
        <label>Is Credit Check Report link populated Main</label>
        <locationX>1269</locationX>
        <locationY>2153</locationY>
        <defaultConnector>
            <targetReference>Credit_report_availability_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Credit link not available</defaultConnectorLabel>
        <rules>
            <name>Credit_Report_Link_Available_Co</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Co_Loan_Applicant.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Co_Loan_Applicant.CreditReportPublicViewLink__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Credit_Var_true_0</targetReference>
            </connector>
            <label>Credit Report Link Available Co</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_First_Time_Home_Buyer</name>
        <label>Is First Time Home Buyer?</label>
        <locationX>1275</locationX>
        <locationY>1167</locationY>
        <defaultConnector>
            <targetReference>Is_Smart_Service_Templates_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not FHB</defaultConnectorLabel>
        <rules>
            <name>FHB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Are_you_buying_your_first_home__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Smart_Service_Templates</targetReference>
            </connector>
            <label>Yes FHB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Person_Email_and_Credit_Report_In_Order</name>
        <label>Is Person Email and Credit Report In Order?</label>
        <locationX>1487</locationX>
        <locationY>3302</locationY>
        <defaultConnector>
            <targetReference>Update_MC_Trigger_on_Applicant_Co</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Co_Email_Bank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Co_Loan_Applicant.Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Co_Loan_Applicant.Email_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>emailBlankCo</targetReference>
            </connector>
            <label>Co Email Bank</label>
        </rules>
        <rules>
            <name>Credit_Report_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>creditReportAvailable_Co</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Co_Loan_Applicant.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Poor Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>creditReportMissingCo</targetReference>
            </connector>
            <label>Credit Report Not Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Person_Email_Populated</name>
        <label>Is Person Email Populated?</label>
        <locationX>1506</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>mainEmailBlank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Blank</defaultConnectorLabel>
        <rules>
            <name>Email_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Person_Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Person_Account.PersonEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Type</targetReference>
            </connector>
            <label>Email Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Smart_Service_Templates</name>
        <label>Is Smart Service Templates?</label>
        <locationX>1061</locationX>
        <locationY>1169</locationY>
        <defaultConnector>
            <targetReference>Display_Person_Account_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Smart_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Type.Type_of_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Smart Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Person_Account_0_0_0</targetReference>
            </connector>
            <label>Smart Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Smart_Service_Templates_0</name>
        <label>Is Smart Service Templates?</label>
        <locationX>1501</locationX>
        <locationY>1165</locationY>
        <defaultConnector>
            <targetReference>Display_Person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Smart_Service_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Type.Type_of_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Smart Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Person_Account_0</targetReference>
            </connector>
            <label>Is Smart Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Smart_Service_Templates_0_0</name>
        <label>Is Smart Service Templates?</label>
        <locationX>1641</locationX>
        <locationY>3837</locationY>
        <defaultConnector>
            <targetReference>Email_Image_Viewer_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Smart_Service_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Type.Type_of_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Smart Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Image_Viewer_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Smart Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Email_Populated</name>
        <label>New Email Populated?</label>
        <locationX>1824</locationX>
        <locationY>526</locationY>
        <defaultConnector>
            <targetReference>blankEmailTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank Email</defaultConnectorLabel>
        <rules>
            <name>Populated_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Field</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_Field</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Person_with_new_Email</targetReference>
            </connector>
            <label>Populated Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_on_Doc_Request_Step</name>
        <label>Validation on Doc Request Step</label>
        <locationX>1364</locationX>
        <locationY>2910</locationY>
        <defaultConnector>
            <targetReference>Docs_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Nothing_Selected</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND (5 OR 6) AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>applicant_1_docs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>applicant_1_docs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>applicant_2_docs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>applicant_2_docs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Document_Requests_Comment_Main</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Document_Requests_Comment_Main</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Document_Requests_Comment_Co</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Document_Requests_Comment_Co</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_nothing_selected_true</targetReference>
            </connector>
            <label>Nothing Selected</label>
        </rules>
    </decisions>
    <description>Flow Description: Triggers Marketing Cloud Comms for Pre-Approval Opportunities and is launched from the Wrap Up Opportunity H2 flow

Front-End Access: Work Opportunity button on the Opportunity page.</description>
    <dynamicChoiceSets>
        <name>documentSelectionPick</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Selection__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>accountFullName</name>
        <dataType>String</dataType>
        <expression>{!Get_Person_Account.FirstName} + &quot; &quot; + {!Get_Person_Account.LastName}</expression>
    </formulas>
    <formulas>
        <name>oppOwnerIdTrim</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Opportunity_Record.OwnerId},15)</expression>
    </formulas>
    <formulas>
        <name>plusOne</name>
        <dataType>Number</dataType>
        <expression>{!Get_Opportunity_Record.Contact_Attempts__c} +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>sentTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>smartServiceTemplateSelection</name>
        <dataType>String</dataType>
        <expression>CASE({!theselectedTemplate}, 
&quot;PA - no answer&quot; , &quot;SSPA_E01_PAlead_noanswer&quot; ,
&quot;PA - sending consent form (spoke to client)&quot; , &quot;SSPA_E02_PAlead_sendingconsentform_spoketoclient&quot; ,
&quot;Consent form reminder - follow up&quot; , &quot;SSPA_E03_Consentformsent_followup&quot; ,
&quot;Credit check positive - requesting docs to complete PA (Documents Required)&quot; , &quot;SSPA_E04_CreditCheckPositive_requestingdocsforPA&quot; ,
&quot;PA requested - docs follow up&quot; , &quot;SSPA_E05_PArequested_awaitingdocsfollow_up&quot; ,
&quot;FHB PA - No Answer&quot; , &quot;SSFHB_E01_PALead_Noanswer&quot; ,
&quot;FHB PA - sending consent form (spoke to client)&quot; , &quot;SSFHB_E02_PALead_Spoketoclient&quot; ,
&quot;FHB Consent form reminder - follow up&quot; , &quot;SSFHB_E03_PALead_Consentformsent_followup&quot; ,
&quot;FHB Credit check positive - requesting docs to complete PA (Documents Required)&quot; , &quot;SSFHB_E04_CreditCheckPositive_requestingdocsforPA&quot; ,
&quot;FHB PA requested - docs follow up&quot; , &quot;SSFHB_E05_PArequested_awaitingdocsfollow_up&quot; ,
&quot;No Template Selected&quot; )</expression>
    </formulas>
    <formulas>
        <name>templateSelection</name>
        <dataType>String</dataType>
        <expression>CASE({!theselectedTemplate}, 
&quot;PA - no answer&quot; , &quot;BBPA_E01_PAlead_noanswer&quot; ,
&quot;PA - sending consent form (spoke to client)&quot; , &quot;BBPA_E02_PAlead_sendingconsentform_spoketoclient&quot; ,
&quot;Consent form reminder - follow up&quot; , &quot;BBPA_E03_Consentformsent_followup&quot; ,
&quot;Credit check positive - requesting docs to complete PA (Documents Required)&quot; , &quot;BBPA_E04a_CreditCheckPositive_requestingdocsforPA&quot; ,
&quot;Poor credit - post conversation&quot; , &quot;BBPA_E04b_Poorcreditcheck_postconversation&quot; ,
&quot;PA requested - docs follow up&quot; , &quot;BBPA_E05_PArequested_awaitingdocsfollow_up&quot; ,
&quot;PA issued - awaiting OTP (attach PA certificate)&quot; , &quot;BBPA_E06_PAissued_awaitingOTP_attachedPAcert&quot; ,
&quot;FHB PA - No Answer&quot; , &quot;BBFHB_E01_PALead_Noanswer&quot; ,
&quot;FHB PA - sending consent form (spoke to client)&quot; , &quot;BBFHB_E02_PALead_Spoketoclient&quot; ,
&quot;FHB Consent form reminder - follow up&quot; , &quot;BBFHB_E03_PALead_Consentformsent_followup&quot; ,
&quot;FHB Credit check positive - requesting docs to complete PA (Documents Required)&quot; , &quot;BBFHB_E04a_CreditCheckPositive_requestingdocsforPA&quot; ,
&quot;FHB Poor credit - post conversation&quot; , &quot;BBFHB_E04b_Poorcreditcheck_postconversation&quot; ,
&quot;FHB PA requested - docs follow up&quot; , &quot;BBFHB_E06_PArequested_awaitingdocsfollow_up&quot; ,
&quot;FHB PA issued - awaiting OTP (attach PA certificate)&quot; , &quot;BBFHB_E05_PAissued_sendingPACert_awaitingOTP&quot; ,
&quot;No Template Selected&quot; )</expression>
    </formulas>
    <interviewLabel>MC Email Template Selection - Multi select picklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MC Email Template Selection - Multi select picklist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Campaign_Type</name>
        <label>Get Campaign Type</label>
        <locationX>1282</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_Task_on_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.BLG_Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Co_Loan_Applicant</name>
        <label>Get Co Loan Applicant</label>
        <locationX>1282</locationX>
        <locationY>925</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Loan_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BorrowerType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Borrower</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Applicants</name>
        <label>Get Loan Applicants</label>
        <locationX>1282</locationX>
        <locationY>1045</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_First_Time_Home_Buyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application</name>
        <label>Get Loan Application</label>
        <locationX>1282</locationX>
        <locationY>685</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Main_Loan_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Loan_Applicant</name>
        <label>Get Main Loan Applicant</label>
        <locationX>1282</locationX>
        <locationY>805</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Co_Loan_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Task_on_Opp</name>
        <label>Get Open Task on Opp</label>
        <locationX>1282</locationX>
        <locationY>565</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Loan_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>1282</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account</name>
        <label>Get Person Account</label>
        <locationX>1282</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Person_Email_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Person_Account</name>
        <label>Get Updated Person Account</label>
        <locationX>1476</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Person_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Co_Applicant_MC_Doc_Request</name>
        <label>Update Co-Applicant MC Doc Request</label>
        <locationX>1206</locationX>
        <locationY>3685</locationY>
        <connector>
            <targetReference>Is_Smart_Service_Templates_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Co_Loan_Applicant.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Document_Requirements_Comment__c</field>
            <value>
                <elementReference>Document_Requests_Comment_Co</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Documents__c</field>
            <value>
                <elementReference>applicant_2_docs</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Main_Applicant_MC_Doc_Request</name>
        <label>Update Main Applicant MC Doc Request</label>
        <locationX>974</locationX>
        <locationY>3559</locationY>
        <connector>
            <targetReference>Update_Co_Applicant_MC_Doc_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Loan_Applicant.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Document_Requirements_Comment__c</field>
            <value>
                <elementReference>Document_Requests_Comment_Main</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Documents__c</field>
            <value>
                <elementReference>applicant_1_docs</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Main_Applicant_MC_Doc_Request_0</name>
        <label>Update Main Applicant MC Doc Request</label>
        <locationX>209</locationX>
        <locationY>3834</locationY>
        <connector>
            <targetReference>Is_Smart_Service_Templates_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Loan_Applicant.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Document_Requirements_Comment__c</field>
            <value>
                <elementReference>Document_Requests_Comment_Main</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Documents__c</field>
            <value>
                <elementReference>applicant_1_docs</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the &apos;emailSendTrigger_Applicant&apos; checkbox, which launches journey in MC to send selected email to applicable applicant</description>
        <name>Update_MC_Trigger_on_Applicant_Co</name>
        <label>Update MC Trigger on Applicant Co</label>
        <locationX>1496</locationX>
        <locationY>3494</locationY>
        <connector>
            <targetReference>sendCo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>emailSendTrigger_Applicant__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the &apos;emailSendTrigger_Applicant&apos; checkbox, which launches journey in MC to send selected email to applicable applicant</description>
        <name>Update_MC_Trigger_on_Applicant_Main</name>
        <label>Update MC Trigger on Applicant Main</label>
        <locationX>974</locationX>
        <locationY>3234</locationY>
        <connector>
            <targetReference>Update_Main_Applicant_MC_Doc_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>emailSendTrigger_Applicant__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the &apos;emailSendTrigger_Applicant&apos; checkbox, which launches journey in MC to send selected email to applicable applicant</description>
        <name>Update_MC_Trigger_on_Applicants</name>
        <label>Update MC Trigger on Applicants</label>
        <locationX>681</locationX>
        <locationY>3397</locationY>
        <connector>
            <targetReference>Update_Main_Applicant_MC_Doc_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>emailSendTrigger_Applicant__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the &apos;emailSendTrigger&apos; checkbox, which launches journey in MC to send selected email</description>
        <name>Update_MC_Trigger_on_Opp</name>
        <label>Update MC Trigger on Opp</label>
        <locationX>1667</locationX>
        <locationY>4106</locationY>
        <connector>
            <targetReference>Post_Chatter_to_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Template_Selection__c</field>
            <value>
                <elementReference>theselectedTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>emailSendTrigger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Person_with_new_Email</name>
        <label>Update Person with new Email</label>
        <locationX>1612</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>Get_Updated_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Person_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email_Field</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Template_Selection_for_MC</name>
        <label>Update Template Selection for MC</label>
        <locationX>1372</locationX>
        <locationY>2607</locationY>
        <connector>
            <targetReference>Documentation_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Template_Selection__c</field>
            <value>
                <elementReference>theselectedTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>applicantsDoNoExist</name>
        <label>applicantsDoNoExist</label>
        <locationX>1001</locationX>
        <locationY>1867</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>applicantMissing</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Missing Applicant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>loanApplicantsDoNotExist</name>
            <fieldText>&lt;p&gt;Loan Applicants do not exist for this opportunity&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>blankEmailCo</name>
        <label>blankEmailCo</label>
        <locationX>429</locationX>
        <locationY>3181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Main_Applicant_MC_Doc_Request_0</targetReference>
        </connector>
        <fields>
            <name>missingEmailLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Missing Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>loanApplicantsDoNotExist_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;The email address has not been populated for customer (Co Applicant) &lt;strong&gt;{!Get_Co_Loan_Applicant.First_Name__c} {!Get_Co_Loan_Applicant.Last_Name__c}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please capture the missing information on the customer&apos;s Person Account.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The email will only be sent to Main Applicant &lt;strong&gt;{!Get_Person_Account.FirstName} {!Get_Person_Account.LastName}&lt;/strong&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>blockPAIssueEmail</name>
        <label>blockPAIssueEmail</label>
        <locationX>1881</locationX>
        <locationY>3323</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>paNotIssued</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>PA Not Issued</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>blockIssuePAMail</name>
            <fieldText>&lt;p&gt;A PA must be issued in order to send the below email:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!theselectedTemplate}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>creditReportChecksFail_0</name>
        <label>creditReportChecksFail</label>
        <locationX>1021</locationX>
        <locationY>2477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>missingCredReport</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Missing Credit Report</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>marriedCOPFail</name>
            <fieldText>&lt;p&gt;Credit Report not available for Co-Applicant.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The marital agreement for the main applicant is &lt;strong&gt;Married in Community of Property&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A credit report must be generated for the Co-Applicant in order to proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>creditReportChecksFail_0_0</name>
        <label>creditReportChecksFail</label>
        <locationX>972</locationX>
        <locationY>2338</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>credReportMissing</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Missing Credit Report</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>marriedCOPFail_0</name>
            <fieldText>&lt;p&gt;A Credit Report is not available for the Main Applicant or Co-Applicant.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A credit report must be generated in order to proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>creditReportMissingCo</name>
        <label>creditReportMissingCo</label>
        <locationX>1126</locationX>
        <locationY>3358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>missingEmailHeading</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Missing Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>loanApplicantsDoNotExist_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;A Credit Report is not available for Co-Applicant &lt;strong&gt;{!Get_Co_Loan_Applicant.First_Name__c} {!Get_Co_Loan_Applicant.Last_Name__c}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A credit report must be generated in order to proceed with the email send.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>creditReportMissingCo_0</name>
        <label>creditReportMissingCo</label>
        <locationX>201</locationX>
        <locationY>2980</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Main_Applicant_MC_Doc_Request_0</targetReference>
        </connector>
        <fields>
            <name>missingEmailBanner</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Missing Credit Report</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>loanApplicantsDoNotExist_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;A Credit Report is not available for Co Applicant &lt;strong&gt;{!Get_Co_Loan_Applicant.First_Name__c} {!Get_Co_Loan_Applicant.Last_Name__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A credit report must be generated in order to proceed with the email send to the Co Applicant.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The email will only be sent to Main Applicant &lt;strong&gt;{!Get_Main_Loan_Applicant.First_Name__c} {!Get_Main_Loan_Applicant.Last_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Person_Account</name>
        <label>Select Email Template</label>
        <locationX>1378</locationX>
        <locationY>1402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>selectedTemplate</targetReference>
        </connector>
        <fields>
            <name>emailMcLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Marketing Cloud Email Send</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Person_Account_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Person_Account_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>accountTxt</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account:&lt;/strong&gt; {!accountFullName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;First Time Home Buyer:&lt;/strong&gt; No&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Person_Account_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>campaignTxt</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Campaign Type: &lt;/strong&gt;{!Get_Campaign_Type.Type_of_Campaign__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Email_Template</name>
            <choiceReferences>PA_no_answer</choiceReferences>
            <choiceReferences>PA_sending_consent_form_spoke_to_client</choiceReferences>
            <choiceReferences>Consent_form_reminder_follow_up</choiceReferences>
            <choiceReferences>Credit_check_positive_requesting_docs_to_complete_PA_Documents_Required</choiceReferences>
            <choiceReferences>Poor_credit_post_conversation</choiceReferences>
            <choiceReferences>PA_requested_docs_follow_up</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select an Email Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Person_Account_0</name>
        <label>Select Email Template</label>
        <locationX>1642</locationX>
        <locationY>1400</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>selectedTemplate_0_0_0</targetReference>
        </connector>
        <fields>
            <name>mcEmailBanner</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Marketing Cloud Email Send</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Person_Account_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Person_Account_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>accountTxt_0</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Account: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!accountFullName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;First Time Home Buyer: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;No&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Person_Account_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>campaignTxt_0</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Campaign Type: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Campaign_Type.Type_of_Campaign__c} Campaign&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Email_Template_0</name>
            <choiceReferences>PA_no_answer</choiceReferences>
            <choiceReferences>PA_sending_consent_form_spoke_to_client</choiceReferences>
            <choiceReferences>Consent_form_reminder_follow_up</choiceReferences>
            <choiceReferences>Credit_check_positive_requesting_docs_to_complete_PA_Documents_Required</choiceReferences>
            <choiceReferences>PA_requested_docs_follow_up</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select an Email Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Person_Account_0_0</name>
        <label>Select Email Template</label>
        <locationX>995</locationX>
        <locationY>1408</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>selectedTemplate_0</targetReference>
        </connector>
        <fields>
            <name>mcEmailSendLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Marketing Cloud Email Send</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Person_Account_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Person_Account_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>accountInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account:&lt;/strong&gt; {!accountFullName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;First Time Home Buyer:&lt;/strong&gt; Yes&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Person_Account_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>campaignTxt_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Campaign Type: &lt;/strong&gt;{!Get_Campaign_Type.Type_of_Campaign__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Email_Template_0_0</name>
            <choiceReferences>FHB_PA_No_Answer</choiceReferences>
            <choiceReferences>FHB_PA_sending_consent_form_spoke_to_client</choiceReferences>
            <choiceReferences>FHB_Consent_form_reminder_follow_up</choiceReferences>
            <choiceReferences>FHB_Credit_check_positive_requesting_docs_to_complete_PA_Documents_Required</choiceReferences>
            <choiceReferences>FHB_Poor_credit_post_conversation</choiceReferences>
            <choiceReferences>FHB_PA_requested_docs_follow_up</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select an Email Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Person_Account_0_0_0</name>
        <label>Select Email Template</label>
        <locationX>1202</locationX>
        <locationY>1408</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>selectedTemplate_0_0</targetReference>
        </connector>
        <fields>
            <name>mcSendLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Marketing Cloud Email Send</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Person_Account_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Person_Account_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>accountTxt_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account: &lt;/strong&gt;{!accountFullName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;First Time Home Buyer:&lt;/strong&gt; Yes&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Person_Account_0_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>campaignTxt_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Campaign Type: &lt;/strong&gt;{!Get_Campaign_Type.Type_of_Campaign__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Email_Template_0_0_0</name>
            <choiceReferences>FHB_PA_No_Answer</choiceReferences>
            <choiceReferences>FHB_PA_sending_consent_form_spoke_to_client</choiceReferences>
            <choiceReferences>FHB_Consent_form_reminder_follow_up</choiceReferences>
            <choiceReferences>FHB_Credit_check_positive_requesting_docs_to_complete_PA_Documents_Required</choiceReferences>
            <choiceReferences>FHB_PA_requested_docs_follow_up</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select an Email Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Documentation_Requests</name>
        <label>Documentation Requests</label>
        <locationX>1372</locationX>
        <locationY>2773</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validation_on_Doc_Request_Step</targetReference>
        </connector>
        <fields>
            <name>banMain</name>
            <extensionName>c:flowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Get_Main_Loan_Applicant.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>validationNothingSelectedTxt</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;You must select a document or capture a document request comment for at least one applicant.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>selectedNothing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>previousDocRequestMain</name>
            <fieldText>&lt;p&gt;The following documents have been requested for the main applicant with a previous document request email send:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Main_Loan_Applicant.Requested_Documents__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Main_Loan_Applicant.Requested_Documents__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Required_Documents</name>
            <fieldText>Required Documents</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Required_Documents_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>applicant_1_docs</name>
                    <choiceReferences>documentSelectionPick</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Document_Requests_Comment_Main</name>
            <fieldText>Document Requests Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>spacer1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ban1</name>
            <extensionName>c:flowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Get_Co_Loan_Applicant.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Co_Loan_Applicant.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>previousDocRequest</name>
            <fieldText>&lt;p&gt;The following documents have been requested for the co applicant with a previous document request email send:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Co_Loan_Applicant.Requested_Documents__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Co_Loan_Applicant.Requested_Documents__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Required_Documents2</name>
            <fieldText>Required Documents</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Required_Documents2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>applicant_2_docs</name>
                    <choiceReferences>documentSelectionPick</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Co_Loan_Applicant.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Document_Requests_Comment_Co</name>
            <fieldText>Document Requests Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Co_Loan_Applicant.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Image_Viewer_0_0_0_0_0</name>
        <label>Email Template Display</label>
        <locationX>1511</locationX>
        <locationY>3963</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_MC_Trigger_on_Opp</targetReference>
        </connector>
        <fields>
            <name>ProceedGreeting6</name>
            <fieldText>&lt;p&gt;Hi &lt;strong&gt;{!Get_Opportunity_Record.Owner.FirstName}!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>mainOnlyDocs</name>
            <fieldText>&lt;p&gt;Below is the preview of the selected email template to send. Upon confirmation, this mail will be sent to: &lt;strong&gt;{!accountFullName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendMainVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>coOnly</name>
            <fieldText>&lt;p&gt;Below is the preview of the selected email template to send. Upon confirmation, this mail will be sent to: &lt;strong&gt;{!Get_Co_Loan_Applicant.First_Name__c} {!Get_Co_Loan_Applicant.Last_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendCoVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>mainAndCo</name>
            <fieldText>&lt;p&gt;Below is the preview of the selected email template to send. Upon confirmation, this mail will be sent to: &lt;strong&gt;{!accountFullName} &lt;/strong&gt;and &lt;strong&gt;{!Get_Co_Loan_Applicant.First_Name__c} {!Get_Co_Loan_Applicant.Last_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendBothVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>mainOnly</name>
            <fieldText>&lt;p&gt;Below is the preview of the selected email template to send. Upon confirmation, this mail will be sent to: &lt;strong&gt;{!accountFullName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendMainVar</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>sendCoVar</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>sendBothVar</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CreditCheckFollowupNonSS</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>templateSelection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>45%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Proceed6</name>
            <fieldText>&lt;p&gt;Would you like to proceed?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send Mail</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Image_Viewer_0_0_0_0_0_0_0</name>
        <label>Email Template Display</label>
        <locationX>1876</locationX>
        <locationY>3912</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_MC_Trigger_on_Opp</targetReference>
        </connector>
        <fields>
            <name>ProceedGreeting6_0_0</name>
            <fieldText>&lt;p&gt;Hi &lt;strong&gt;{!Get_Opportunity_Record.Owner.FirstName}!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>mainOnlyDocs_0</name>
            <fieldText>&lt;p&gt;Below is the preview of the selected email template to send. Upon confirmation, this mail will be sent to: &lt;strong&gt;{!accountFullName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendMainVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>coOnly_0</name>
            <fieldText>&lt;p&gt;Below is the preview of the selected email template to send. Upon confirmation, this mail will be sent to: &lt;strong&gt;{!Get_Co_Loan_Applicant.First_Name__c} {!Get_Co_Loan_Applicant.Last_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendCoVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>mainAndCo_0</name>
            <fieldText>&lt;p&gt;Below is the preview of the selected email template to send. Upon confirmation, this mail will be sent to: &lt;strong&gt;{!accountFullName} &lt;/strong&gt;and &lt;strong&gt;{!Get_Co_Loan_Applicant.First_Name__c} {!Get_Co_Loan_Applicant.Last_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendBothVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CreditCheckFollowupNonSS_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>smartServiceTemplateSelection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>45%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Proceed6_0_0</name>
            <fieldText>&lt;p&gt;Would you like to proceed?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send Mail</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>emailBlankCo</name>
        <label>emailBlankCo</label>
        <locationX>1260</locationX>
        <locationY>3444</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>missingEmailHead</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Missing Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>loanApplicantsDoNotExist_0_0_0_0</name>
            <fieldText>&lt;p&gt;The email address has not been populated for customer (Co Applicant) &lt;strong&gt;{!Get_Co_Loan_Applicant.First_Name__c} {!Get_Co_Loan_Applicant.Last_Name__c}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please capture the missing information on the customer&apos;s Person Account and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>mainEmailBlank</name>
        <label>mainEmailBlank</label>
        <locationX>1737</locationX>
        <locationY>337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Email_Populated</targetReference>
        </connector>
        <fields>
            <name>missingEmail</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Missing Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>loanApplicantsDoNotExist_0_0</name>
            <fieldText>&lt;p&gt;The email address has not been populated for the following customer: &lt;strong&gt;{!Get_Person_Account.FirstName} {!Get_Person_Account.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>mainEmailBlank_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>mainEmailBlank_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>capturetxt</name>
                    <fieldText>&lt;p&gt;Please capture the missing information in order to continue with the email send:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Email_Field</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a valid email address.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Email_Field},{!$Label.EmailRegex})</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>emailBlankError</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The Email field is required to continue with the email send.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>emailBlankVar</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>mainEmailBlank_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Continue Email Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>noDocumentsSelected</name>
        <label>noDocumentsSelected</label>
        <locationX>983</locationX>
        <locationY>2765</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Documentation_Requests</targetReference>
        </connector>
        <fields>
            <name>noDocsSelected</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>No Documents Selected</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>loanApplicantsDoNotExist_0</name>
            <fieldText>&lt;p&gt;No documents have been selected. This template requires documents.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Select Documents</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1156</locationX>
        <locationY>75</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>chatterPostMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;---- Customer Email Sent ----&gt;
Template Selection: {!theselectedTemplate}
Sent To: {!accountFullName}
Sent From: @[{!$User.Id}]
Sent Date: {!sentTime}</text>
    </textTemplates>
    <variables>
        <name>creditReportAvailable_Co</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>creditReportAvailable_Main</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>emailBlankVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recSingleLoanApplicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>selectedNothing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sendBothVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>sendCoVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>sendMainVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>theselectedTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
