force-app/main/default/flows/On_Create_or_Update_Application_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Created_By</name>
        <label>Created By?</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Subflow_Get_Commission_Entity_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Integration User</defaultConnectorLabel>
        <rules>
            <name>Integration_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>no-reply@betterbond.co.za</stringValue>
                </rightValue>
            </conditions>
            <label>Integration User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Record</name>
        <label>Is New Record?</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Existing Record</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_By</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Is_New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>On Create or Update: Application Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Create or Update: Application Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application_Out</name>
        <label>Create: Application Out</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Application_DomainId__c</field>
            <value>
                <elementReference>$Record.DomainId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Entity_Id__c</field>
            <value>
                <elementReference>Subflow_Get_Commission_Entity_ID.v_Comm_Entity_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application_out__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Record</targetReference>
        </connector>
        <object>ResidentialLoanApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Get_Commission_Entity_ID</name>
        <label>Subflow: Get Commission Entity ID</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Create_Application_Out</targetReference>
        </connector>
        <flowName>SubFlow_Post_General_Opportunity_Owner</flowName>
        <inputAssignments>
            <name>iv_General_Opportunity</name>
            <value>
                <elementReference>$Record.Opportunity</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
