force-app/main/default/flows/On_Create_or_Update_Applicant_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Created_By</name>
        <label>Created By</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_Event_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Integration_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Email</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>Is Integration User</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNew</name>
        <label>IsNew</label>
        <locationX>226</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant_Consent_Document</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Is_New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>On Create or Update: Applicant Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Create or Update: Applicant Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event_Record</name>
        <label>Create Event Record</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_RecordType__c</field>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DomainId__c</field>
            <value>
                <elementReference>$Record.DomainId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsNew__c</field>
            <value>
                <elementReference>f_Is_New</elementReference>
            </value>
        </inputAssignments>
        <object>Applicant_Out__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsNew</targetReference>
        </connector>
        <object>LoanApplicant</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Applicant_Consent_Document</name>
        <label>Get: Applicant Consent Document</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Created_By</targetReference>
        </connector>
        <flowName>Subflow_Get_Applicant_Consent_Document</flowName>
        <inputAssignments>
            <name>iv_Account_Id</name>
            <value>
                <elementReference>$Record.Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>iv_Applicant_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
