force-app/main/default/flows/On_Create_or_Update_Opportunity_Pre_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Did_Record_Owner_or_Status_Change</name>
        <label>Did Record Owner or Status Change?</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Record Owner/Status Did Not Change</defaultConnectorLabel>
        <rules>
            <name>Record_Owner_Status_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Pre_Approval_Opportunity_Owner_Changed</targetReference>
            </connector>
            <label>Record Owner/Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Applicant_linked_to_General_Opportunity_and_Application_not_linked_to_Pre_App</name>
        <label>Is Applicant linked to General Opportunity and Application not linked to Pre-Approval Opportunity</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>False Path</defaultConnectorLabel>
        <rules>
            <name>True_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.General_Opportunity__r.Loan_Applicant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Application_by_OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loan_Application</targetReference>
            </connector>
            <label>True Path</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Record</name>
        <label>Is New Record?</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Did_Record_Owner_or_Status_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Record</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Application_by_OpportunityId</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Is_New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>On Create or Update: Opportunity (Pre-Approval) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Create or Update: Opportunity (Pre-Approval)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Loan_Application_by_OpportunityId</name>
        <label>Get: Loan Application by OpportunityId</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Applicant_linked_to_General_Opportunity_and_Application_not_linked_to_Pre_App</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Applicant</name>
        <label>Update: Applicant</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.General_Opportunity__r.Loan_Applicant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SourceOpportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loan_Application</name>
        <label>Update: Loan Application</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.General_Opportunity__r.Loan_Applicant__r.LoanApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ResidentialLoanApplication</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Approval Opportunity</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Pre_Approval_Opportunity_Owner_Changed</name>
        <label>Subflow: Pre-Approval Opportunity Owner Changed</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <flowName>Subflow_Pre_Approval_Opportunity_Owner_Changed</flowName>
        <inputAssignments>
            <name>iv_Pre_Approval_Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
