force-app/main/default/flows/On_Create_or_Update_Bond_Lead_out.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>This will tell us if the triggering record can upsert to the API.</description>
        <name>Is_API_Upsert_required</name>
        <label>Is API Upsert required?</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Upsert not Required</defaultConnectorLabel>
        <rules>
            <name>Upsert_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_Upsert_In_API</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pre_Approval_Opportunity_Out</targetReference>
            </connector>
            <label>Upsert Required</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will tell us if the triggering record is new or an update.</description>
        <name>Is_it_a_New_Record</name>
        <label>Is it a New Record?</label>
        <locationX>248</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Is_API_Upsert_required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update record</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_Is_New_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Pre_Approval_Opportunity_Out_Event</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>If true then we have a new record</description>
        <name>f_Is_New_Record</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>This will return true if any of the fields which can be sent to API have been modified.</description>
        <name>f_Upsert_In_API</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.OwnerId}) ||
ISCHANGED({!$Record.Main_Applicant_ID__c})</expression>
    </formulas>
    <interviewLabel>On Create or Update: Bond Lead out {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Create or Update: Bond Lead out</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>This will create the Pre-Approval Opportunity - Out Event to trigger the mule.</description>
        <name>Create_Pre_Approval_Opportunity_Out_Event</name>
        <label>Create: Pre-Approval Opportunity - Out Event</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Agent_Agency_ID__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_Assignment_Id__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_Branch_ID__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_Id__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_Network_ID__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Applicants_Name__c</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicants__c</field>
            <value>
                <elementReference>$Record.Account.DomainId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bond_ID__c</field>
            <value>
                <elementReference>$Record.Domain_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consultant_Assignment_ID__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Consultant_Branch_Id__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Consultant_ID__c</field>
            <value>
                <elementReference>Com_Entity_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consultant_Region_Id__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Consultant_SubBranch_Id__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Converted_To_PreApproval__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>General_Lead_ID__c</field>
            <value>
                <elementReference>$Record.General_Opportunity__r.Domain_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initiation_Type__c</field>
            <value>
                <stringValue>BB Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Details__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Reason_Type_Id__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Owner__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Application_Id__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PreApproval_Lead_Id__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Details__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Admin_Id__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Seller_Id__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>BB Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>smartLink_Url__c</field>
        </inputAssignments>
        <object>Pre_Approval_Opportunity_Out__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Update_Pre_Approval_Opportunity_Out</name>
        <label>Update: Pre-Approval Opportunity Out</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Applicants_Name__c</field>
            <value>
                <elementReference>Get_Main_Applicant.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicants__c</field>
            <value>
                <elementReference>Get_Main_Applicant.Domain_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bond_ID__c</field>
            <value>
                <elementReference>$Record.Domain_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consultant_ID__c</field>
            <value>
                <elementReference>Com_Entity_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Pre_Approval_Opportunity_Out__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Co_Applicants</name>
        <label>Get Co-Applicants</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>248</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subflow_Get_Commission_Entity_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Consultant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Consultant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application</name>
        <label>Get Loan Application</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Main_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Applicant</name>
        <label>Get  Main Applicant</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Co_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loan_Application</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128d000000clbOAAQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128d000000cbf0AAA</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>This will call the Subflow: Get Commission Entity Id</description>
        <name>Subflow_Get_Commission_Entity_Id</name>
        <label>Subflow: Get Commission Entity Id</label>
        <locationX>248</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Is_it_a_New_Record</targetReference>
        </connector>
        <flowName>Subflow_Get_Commission_Entity_Id</flowName>
        <inputAssignments>
            <name>iv_AccountId</name>
            <value>
                <elementReference>$Record.ConsultantRegion__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>iv_ContactId</name>
            <value>
                <elementReference>get_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Create_Pre_Approval_Opportunity_Out_Event</assignToReference>
            <name>Commission_Entity_Id</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Com_Entity_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
