force-app/main/default/flows/On_Update_Opportunity_General_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Is_Converting_to_Pre_Approval_Opportunity_or_Bond_Opportunity</name>
        <label>Is Converting to Pre-Approval Opportunity or Bond Opportunity</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Is_Pre_Approval_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PreApprovalOpportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bond_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_Pre_Approval_using_Applicant_Id</targetReference>
            </connector>
            <label>Is Pre-Approval Opportunity</label>
        </rules>
        <rules>
            <name>Is_Bond_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bond_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_Bond_Opportunity_using_Applicant_Id</targetReference>
            </connector>
            <label>Is Bond Opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>On Update: Opportunity (General Opportunity) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Update: Opportunity (General Opportunity)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Application_Bond_Opportunity_using_Applicant_Id</name>
        <label>Update: Application Bond Opportunity using Applicant_Id</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Bond_Opportunity_base_on_General_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Applicant__r.LoanApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Bond_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>ResidentialLoanApplication</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_Pre_Approval_using_Applicant_Id</name>
        <label>Update: Application (Pre-Approval Opportunity) using Applicant_Id</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Pre_Approval_Opportunity_base_on_General_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Applicant__r.LoanApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.PreApprovalOpportunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>ResidentialLoanApplication</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bond_Opportunity_base_on_General_Opportunity</name>
        <label>Update: Bond Opportunity base on General Opportunity</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Applicant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SourceOpportunity__c</field>
            <value>
                <elementReference>$Record.Bond_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pre_Approval_Opportunity_base_on_General_Opportunity</name>
        <label>Update: Pre-Approval Opportunity base on General Opportunity</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Applicant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SourceOpportunity__c</field>
            <value>
                <elementReference>$Record.PreApprovalOpportunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Converting_to_Pre_Approval_Opportunity_or_Bond_Opportunity</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( 3 OR 4)</filterLogic>
        <filters>
            <field>Loan_Applicant__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>PreApprovalOpportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bond_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>v_Pre_Approval_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
