force-app/main/default/flows/Opportunity_Assign_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Opportunity_Owner</name>
        <label>Get Opportunity Owner</label>
        <locationX>701</locationX>
        <locationY>208</locationY>
        <actionName>Invocable_AllocateOpportunity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Had_Error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunityGroup</name>
            <value>
                <elementReference>Get_BLG_Campaign.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Invocable_AllocateOpportunity</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Had_Error</name>
        <label>Had Error</label>
        <locationX>834</locationX>
        <locationY>210</locationY>
        <defaultConnector>
            <targetReference>Set_Assignment_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Had Error</defaultConnectorLabel>
        <rules>
            <name>No_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Owner.failed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Owner</targetReference>
            </connector>
            <label>No Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Campaign_Active</name>
        <label>Is Campaign Active</label>
        <locationX>534</locationX>
        <locationY>210</locationY>
        <defaultConnectorLabel>Do not Assign</defaultConnectorLabel>
        <rules>
            <name>No_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blgCampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Campaign</label>
        </rules>
        <rules>
            <name>Acitve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BLG_Campaign.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Owner</targetReference>
            </connector>
            <label>Acitve</label>
        </rules>
    </decisions>
    <description>Added error check and active check on Campaign.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity Assign Owner - Autolaunch - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Assign Owner Sub-flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_BLG_Campaign</name>
        <label>Get BLG Campaign</label>
        <locationX>393</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Campaign_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>blgCampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Assignment_Error</name>
        <label>Set Assignment Error</label>
        <locationX>1029</locationX>
        <locationY>275</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assignment_Error_Message__c</field>
            <value>
                <elementReference>Get_Opportunity_Owner.errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_Failed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opp_Owner</name>
        <label>Set Opp Owner</label>
        <locationX>1029</locationX>
        <locationY>141</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assignment_Failed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Opportunity_Owner.ownerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>15</locationX>
        <locationY>191</locationY>
        <connector>
            <targetReference>Get_BLG_Campaign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>blgCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
