force-app/main/default/flows/QandA_RecordTriggered_check_for_all_answers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Count_Q_A_Records</name>
        <label>Count Q&amp;A Records</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>v_ListLength</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Related_Q_A</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X4_Questions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>X4_Questions</name>
        <label>4 Questions?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_ListLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_to_trigger_BRE</targetReference>
            </connector>
            <label>All Received</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>QandA_RecordTriggered check for all answers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QandA_RecordTriggered check for all answers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_Q_A</name>
        <label>Get All Related Q&amp;A</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Q_A_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>General_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.General_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Question_And_Answer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_to_trigger_BRE</name>
        <label>Update Opp to trigger BRE</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.General_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>automationMessage__c</field>
            <value>
                <stringValue>AllQuestionsReceived</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Related_Q_A</targetReference>
        </connector>
        <object>Question_And_Answer__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>v_ListLength</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
