force-app/main/default/flows/Reopen_or_Convert_Closed_PA_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Owner_Var</name>
        <label>Assign Owner Var</label>
        <locationX>1502</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ownerTrimVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PA_Opportunity.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_running_user_and_Opp_Owner_match</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Myself</name>
        <choiceText>Myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Myself</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity_Owner</name>
        <choiceText>Opportunity Owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity Owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Override</name>
        <choiceText>Override</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Override</stringValue>
        </value>
    </choices>
    <choices>
        <name>Verification_Team</name>
        <choiceText>Verification Team</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verification Team</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_issue</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_running_user_and_Opp_Owner_match</name>
        <label>Is running user and Opp Owner match</label>
        <locationX>1502</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Create_Pre_Approval_or_Bond_Opportunity_H2_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner No Match</defaultConnectorLabel>
        <rules>
            <name>Owner_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ownerVar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Pre_Approval_or_Bond_Opportunity_H2_0_0</targetReference>
            </connector>
            <label>Owner Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reopen_Convert_or_Cancel</name>
        <label>Reopen Convert or Cancel</label>
        <locationX>1832</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Convert_to_Bond</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>closedWonPAtoBondBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_Var</targetReference>
            </connector>
            <label>Convert to Bond</label>
        </rules>
        <rules>
            <name>Reopen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>reopenPANurtureBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_OTP</targetReference>
            </connector>
            <label>Reopen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reopen_Convert_or_Cancel_0</name>
        <label>Reopen Convert or Cancel</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Convert_to_Bond_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>uploadOTPDocsBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Owner_Var</targetReference>
            </connector>
            <label>Convert to Bond</label>
        </rules>
        <rules>
            <name>Reopen_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>reopenPABtnDocs.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Documents</targetReference>
            </connector>
            <label>Reopen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reopen_Convert_or_Cancel_0_0</name>
        <label>Reopen Convert or Cancel</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Convert_to_Bond_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>otpLoadBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Owner_Var</targetReference>
            </connector>
            <label>Convert to Bond</label>
        </rules>
        <rules>
            <name>Reopen_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>reopenPAConBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Consent</targetReference>
            </connector>
            <label>Reopen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reopen_PA_Opp</name>
        <label>Reopen PA Opp</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>errorScr_ReopenNotAllow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reopen Not Allowed</defaultConnectorLabel>
        <rules>
            <name>Awaiting_Consent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_PA_Opportunity.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No PA consent received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>reopenConsent</targetReference>
            </connector>
            <label>Awaiting Consent</label>
        </rules>
        <rules>
            <name>Awaiting_Documents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PA_Opportunity.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No PA documents received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>reopenDocs</targetReference>
            </connector>
            <label>Awaiting Documents</label>
        </rules>
        <rules>
            <name>Awaiting_OTP_No_OTP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_PA_Opportunity.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA Issued - No OTP Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PA_Opportunity.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA Issued - awaiting OTP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>reopenGeneral_0</targetReference>
            </connector>
            <label>Awaiting OTP/No OTP</label>
        </rules>
        <rules>
            <name>OTP_Received_and_No_Bond</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_PA_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>reopenGeneral_0</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
    </decisions>
    <description>Flow Description: Flow to Reopen a Closed Pre-Approval or Convert the Closed PA to a Bond, launched from Wrap Up Opportunity H2 (main flow that houses entire skeleton of working opps)

Front-End Access: Work Opportunity button on the Opportunity page.</description>
    <dynamicChoiceSets>
        <name>callOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Outcome__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>bondOppIdVar</name>
        <dataType>String</dataType>
        <expression>{!Get_PA_Opportunity.Bond_Opportunity__c}</expression>
    </formulas>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Ready for Verification - &quot;+ {!Get_PA_Opportunity.Name}</expression>
    </formulas>
    <formulas>
        <name>Link_Bond</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!bondOppIdVar} , &quot;Click here to Navigate to the Bond Opportunity&quot; , &apos;_top&apos;)</expression>
    </formulas>
    <formulas>
        <name>Link_PreApproval</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!paIdOppVar} , &quot;Click here to Navigate to the Pre-Approval Opportunity&quot; , &apos;_top&apos;)</expression>
    </formulas>
    <formulas>
        <name>outstandingDocFinalMain</name>
        <dataType>String</dataType>
        <expression>IF({!outstandingDocsMain} = null, &quot;None&quot;, {!outstandingDocsMain} )</expression>
    </formulas>
    <formulas>
        <name>outstandingDocsMain</name>
        <dataType>String</dataType>
        <expression>IF({!mainMissingID} = &quot;ID&quot;, &quot;ID&quot;+ BR(), null) + 
IF({!mainMissingPayslip} = &quot;Payslip&quot;, &quot;Payslip&quot;+ BR(), null) + 
IF({!mainMissingBankS} = &quot;Bank Statement&quot;, &quot;Bank Statement&quot;+ BR(), null)</expression>
    </formulas>
    <formulas>
        <name>ownerVar</name>
        <dataType>String</dataType>
        <expression>LEFT({!ownerTrimVar},15)</expression>
    </formulas>
    <formulas>
        <name>sentTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>theTemplate</name>
        <dataType>String</dataType>
        <expression>&quot;PA Issued - Awaiting OTP (Attach Certificate)&quot;</expression>
    </formulas>
    <formulas>
        <name>userProfileVar</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>wrapUpHeading</name>
        <dataType>String</dataType>
        <expression>{!Get_PA_Opportunity.Name} + &quot;: &quot; + {!outcomeSelected}</expression>
    </formulas>
    <interviewLabel>Reopen or Convert Closed PA Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reopen or Convert Closed PA Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Last_Available_Task</name>
        <label>Get Last Available Task</label>
        <locationX>1370</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Call_Outcome_No_Contact_Made_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PA_Application</name>
        <label>Get PA Application</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reopen_PA_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PA_Opportunity</name>
        <label>Get PA Opportunity</label>
        <locationX>1370</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PA_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Gen_Opportunity_0</name>
        <label>Get Updated Gen Opportunity</label>
        <locationX>1502</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bond_Wrap_Up_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Opportunity.General_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Applicant_Consent</name>
        <label>Update Applicant Consent</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Last_Available_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Consent</stringValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Applicant_Documents</name>
        <label>Update Applicant Documents</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Last_Available_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Documents</stringValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Applicant_Verification</name>
        <label>Update Applicant Verification</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Last_Available_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Verification</stringValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Consent</name>
        <label>Update Opp Consent</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Applicant_Consent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Attempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>PA Requested - awaiting consent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Documents</name>
        <label>Update Opp Documents</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Applicant_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Attempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>PA Requested - awaiting documents</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_OTP</name>
        <label>Update Opp OTP</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Applicant_Verification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PA_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Attempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Nurture</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>PA Issued - awaiting OTP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Call_Outcome_No_Contact_Made_0</name>
        <label>Update Task Call Outcome - No Contact Made</label>
        <locationX>1370</locationX>
        <locationY>1682</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Last_Available_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Outcome__c</field>
            <value>
                <stringValue>No Contact Attempt Made</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>errorScr_ReopenNotAllow</name>
        <label>errorScr_ReopenNotAllow</label>
        <locationX>2690</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>reopenNotPermitted</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Reopen Not Permitted</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>reopenBlock</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_PA_Opportunity.Name} &lt;/strong&gt;cannot be re-opened due to the stage and status at close off:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Current Stage:&lt;/strong&gt; {!Get_PA_Opportunity.StageName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Current Status: &lt;/strong&gt;{!Get_PA_Opportunity.Status__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please create a new General Opportunity for this customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>reopenConsent</name>
        <label>reopenConsent</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reopen_Convert_or_Cancel_0_0</targetReference>
        </connector>
        <fields>
            <name>reopenOpp</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload OTP or Reopen</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>reopenClosedOpp_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Option 1: &lt;/strong&gt;Reopen &lt;strong&gt;{!Get_PA_Opportunity.General_Opportunity__r.Name} &lt;/strong&gt;with the following stage and status and Convert to a Bond:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;New Stage: &lt;/strong&gt;Bond&lt;/p&gt;&lt;p&gt;&lt;strong&gt;New Status:&lt;/strong&gt; PA Issued - OTP Received&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Pre-Approval Opportunity will be auto closed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A new Bond Opportunity will be created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Option 2: &lt;/strong&gt;Reopen &lt;strong&gt;{!Get_PA_Opportunity.Name}&lt;/strong&gt; with the following stage and status:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;New Stage:&lt;/strong&gt; Working&lt;/p&gt;&lt;p&gt;&lt;strong&gt;New Status:&lt;/strong&gt; Awaiting consent&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Would you like to reopen &lt;strong&gt;{!Get_PA_Opportunity.Name} &lt;/strong&gt;with the following stage and status?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Current Stage: &lt;/strong&gt;{!Get_PA_Opportunity.StageName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Current Status: &lt;/strong&gt;{!Get_PA_Opportunity.Status__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;New Stage:&lt;/strong&gt; Working&lt;/p&gt;&lt;p&gt;&lt;strong&gt;New Status:&lt;/strong&gt; Awaiting Consent&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>otpLoadBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Upload OTP - Convert to Bond Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>reopenPAConBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Reopen Pre-Approval</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cancelConsentBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Reopen Opportunity</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>reopenDocs</name>
        <label>reopenDocs</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reopen_Convert_or_Cancel_0</targetReference>
        </connector>
        <fields>
            <name>reopenClosedOp</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload OTP or Reopen</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>reopenClosedOpp_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Option 1: &lt;/strong&gt;Reopen &lt;strong&gt;{!Get_PA_Opportunity.General_Opportunity__r.Name} &lt;/strong&gt;with the following stage and status and Convert to a Bond:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;New Stage: &lt;/strong&gt;Bond&lt;/p&gt;&lt;p&gt;&lt;strong&gt;New Status&lt;/strong&gt;: PA Issued - OTP Received&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Pre-Approval Opportunity will be auto closed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A new Bond Opportunity will be created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Option 2: &lt;/strong&gt;Reopen &lt;strong&gt;{!Get_PA_Opportunity.Name}&lt;/strong&gt; with the following stage and status:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;New Stage: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Working&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;New Status:&lt;/strong&gt; Awaiting documents&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>uploadOTPDocsBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Upload OTP - Convert to Bond Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>reopenPABtnDocs</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Reopen Pre-Approval Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CancelDocsBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Reopen Opportunity</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>reopenGeneral_0</name>
        <label>reopenPAorConvertBond</label>
        <locationX>1832</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reopen_Convert_or_Cancel</targetReference>
        </connector>
        <fields>
            <name>convertClosedWonPAtoBond</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload OTP or Reopen</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>reopenClosedOpp_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Option 1:&lt;/strong&gt; Reopen &lt;strong&gt;{!Get_PA_Opportunity.General_Opportunity__r.Name}&lt;/strong&gt; with the following stage and status and Convert to a Bond:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;New Stage:&lt;/strong&gt; Bond&lt;/li&gt;&lt;li&gt;&lt;strong&gt;New Status:&lt;/strong&gt; PA Issued - OTP Received&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;The Pre-Approval Opportunity will be auto closed.&lt;/p&gt;&lt;p&gt;A new Bond Opportunity will be created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Option 2:&lt;/strong&gt; Reopen &lt;strong&gt;{!Get_PA_Opportunity.Name}&lt;/strong&gt; with the following stage and status:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;New Stage:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; Nurture&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;New Status: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;PA Issued - awaiting OTP&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>closedWonPAtoBondBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Upload OTP - Convert to Bond Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>reopenPANurtureBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Reopen Pre-Approval Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cancelConvertBondBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Reopen Opportunity</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PA_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Bond_Wrap_Up_0_0</name>
        <label>Bond - Wrap Up</label>
        <locationX>1502</locationX>
        <locationY>1190</locationY>
        <flowName>Wrap_Up_Opportunity_Bond_Subflow</flowName>
        <inputAssignments>
            <name>bypassBlock</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Updated_Gen_Opportunity_0.Bond_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Pre_Approval_or_Bond_Opportunity_H2_0_0</name>
        <label>Create Pre-Approval or Bond Opportunity H2</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Get_Updated_Gen_Opportunity_0</targetReference>
        </connector>
        <flowName>Create_Pre_Approval_or_Bond_Opportunity_H2</flowName>
        <inputAssignments>
            <name>paOrBond</name>
            <value>
                <stringValue>Bond</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_PA_Opportunity.General_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Pre_Approval_or_Bond_Opportunity_H2_0_0_0</name>
        <label>Create Pre-Approval or Bond Opportunity H2</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Get_Updated_Gen_Opportunity_0</targetReference>
        </connector>
        <flowName>Create_Pre_Approval_or_Bond_Opportunity_H2</flowName>
        <inputAssignments>
            <name>foreignOwner</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paOrBond</name>
            <value>
                <stringValue>Bond</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_PA_Opportunity.General_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>blankCallBack</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blankComment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blankOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callBackDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cancelHide</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ConsentRefused</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>convertPAToBondStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>convertToBondBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailBlank</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>exitToFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>followUpHeading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>forceRegenCert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isManualSLA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mainMissingBankS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Bank Statement</stringValue>
        </value>
    </variables>
    <variables>
        <name>mainMissingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ID</stringValue>
        </value>
    </variables>
    <variables>
        <name>mainMissingPayslip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Payslip</stringValue>
        </value>
    </variables>
    <variables>
        <name>newGeneralOppVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppTeamBlank</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outcomeSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerTrimVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paExistVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>paIdOppVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paStageVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paStatusVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referenceNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referenceNo2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedApplicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statusCurrent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>verificationAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wrapUpCommentVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wrapUpVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
