force-app/main/default/flows/Reopen_Closed_Bond_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Is_Bond_Reopen_Allowed</name>
        <label>Is Bond Reopen Allowed?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>errorScr_ReopenNotAllow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cannot be Reopened</defaultConnectorLabel>
        <rules>
            <name>Reopen_Bond</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bond_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bond_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bond_Opportunity.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Deal Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>reopenBond</targetReference>
            </connector>
            <label>Reopen Bond</label>
        </rules>
    </decisions>
    <description>Flow Description: Flow to Reopen a Closed Bond Opportunity, launched from Wrap Up Opportunity H2 (main flow that houses entire skeleton of working opps)

Front-End Access: Work Opportunity button on the Opportunity page.</description>
    <environments>Default</environments>
    <interviewLabel>Reopen or Convert Closed Bond {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reopen Closed Bond Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Bond_Application</name>
        <label>Get Bond Application</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Bond_Reopen_Allowed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bond_Opportunity</name>
        <label>Get Bond Opportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bond_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Available_Task</name>
        <label>Get Last Available Task</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Call_Outcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Bond_Applicant_Status</name>
        <label>Update Bond Applicant Status</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Last_Available_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting OTP</stringValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bond_Opp_Awaiting_OTP</name>
        <label>Update Bond Opp Awaiting OTP</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Bond_Applicant_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Attempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Working (Bond)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting OTP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Call_Outcome</name>
        <label>Update Task Call Outcome</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Last_Available_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Outcome__c</field>
            <value>
                <stringValue>No Contact Attempt Made</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>errorScr_ReopenNotAllow</name>
        <label>errorScr_ReopenNotAllow</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>reopenNotAllowed</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Reopen Not Permitted</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>reopenBlock</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!Get_Bond_Opportunity.Name}&lt;/strong&gt; cannot be re-opened due to the stage and status at close off:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Current Stage:&lt;/strong&gt; {!Get_Bond_Opportunity.StageName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Current Status: &lt;/strong&gt;{!Get_Bond_Opportunity.Status__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>reopenBond</name>
        <label>reopenBond</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Bond_Opp_Awaiting_OTP</targetReference>
        </connector>
        <fields>
            <name>reopenBondTxtMsg</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Reopen Bond</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>reopenBondTxt</name>
            <fieldText>&lt;p&gt;Reopen &lt;strong&gt;{!Get_Bond_Opportunity.Name}&lt;/strong&gt; with the following stage and status:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;New Stage: &lt;/strong&gt;Bond&lt;/p&gt;&lt;p&gt;&lt;strong&gt;New Status:&lt;/strong&gt; Awaiting OTP&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>reopenBondBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Reopen Bond Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cancelBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bond_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
