force-app/main/default/flows/Screenflow_Send_Link_to_External_Sources.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Screenflow: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screenflow: Send Link to External Sources</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_BB_Camapign_by_Record_Id</name>
        <label>Get BB Camapign by Record Id</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Network_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credentials_by_Record_Id</name>
        <label>Get Credentials by Record Id</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_the_Send_Email_Trigger_to_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Credentials__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Credentials__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Network_Account</name>
        <label>Get Network Account</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Credentials_by_Record_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_BB_Camapign_by_Record_Id.Network__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Last_Sent_Value_to_Current_Time</name>
        <label>Update Last Sent Value to Current Time</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_the_Send_Email_Trigger_to_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Credentials__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Credentials__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Send_Email_Trigger_to_False</name>
        <label>Update the Send Email Trigger to False</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_BB_Camapign_by_Record_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_Email_Trigger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>BLG_Campaign__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Send_Email_Trigger_to_True</name>
        <label>Update the Send Email Trigger to True</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Last_Sent_Value_to_Current_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_BB_Camapign_by_Record_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_Email_Trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>BLG_Campaign__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_BB_Camapign_by_Record_Id</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BLG_Campaign__c</objectType>
    </variables>
</Flow>
