force-app/main/default/flows/Send_Link_to_External_Sources.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>51</locationX>
        <locationY>807</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Last_Sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>var_Recepient_Email_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Updated: BB Lead Credentials</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>text_temp_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assignment_Recipient_Email_Adress</name>
        <label>Assignment: Recipient Email Adress</label>
        <locationX>52</locationX>
        <locationY>656</locationY>
        <assignmentItems>
            <assignToReference>var_Recepient_Email_Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CampaignContact.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_Is_User_Team_Lead</name>
        <label>Is User Team Lead?</label>
        <locationX>802</locationX>
        <locationY>296</locationY>
        <defaultConnector>
            <targetReference>screen_Error_Not_Team_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_Team_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_Profile_Team_Lead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BB_Campaign</targetReference>
            </connector>
            <label>User is Team Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_BB_Campaign_Exist</name>
        <label>Does BB Campaign Exist</label>
        <locationX>524</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BB_Campaign_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BB_Campaign.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CampaignContact</targetReference>
            </connector>
            <label>BB Campaign Exists</label>
        </rules>
        <rules>
            <name>BB_Campaign_Doesn_t_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BB_Campaign.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_Error_BB_Campaign_Null</targetReference>
            </connector>
            <label>BB Campaign Doesn&apos;t Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_CampaignContact_Exist</name>
        <label>Does CampaignContact Exist?</label>
        <locationX>219</locationX>
        <locationY>658</locationY>
        <defaultConnector>
            <targetReference>screen_Error_BB_Campaign_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CampaignContact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CampaignContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Recipient_Email_Adress</targetReference>
            </connector>
            <label>CampaignContact Exists</label>
        </rules>
        <rules>
            <name>CampaignContact_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CampaignContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_Error_CampaignContact_not_found</targetReference>
            </connector>
            <label>CampaignContact is Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Link to External Sources {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BB Campaign Send Link to External Sources</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_BB_Campaign</name>
        <label>Get BB Campaign</label>
        <locationX>524</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_BB_Campaign_Exist</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CampaignContact</name>
        <label>Get CampaignContact</label>
        <locationX>227</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Link_Button</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_BB_Campaign.CampaignContact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignContact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Last_Sent_Date</name>
        <label>Update Last Sent Date</label>
        <locationX>51</locationX>
        <locationY>937</locationY>
        <connector>
            <targetReference>Email_sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CampaignContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignContact__c</object>
    </recordUpdates>
    <screens>
        <name>Email_sent</name>
        <label>Email sent</label>
        <locationX>50</locationX>
        <locationY>1071</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screen_Confirmation</name>
            <fieldText>&lt;p&gt;The email has been sent.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Error_BB_Campaign_Null</name>
        <label>screen Error BB Campaign is Null</label>
        <locationX>534</locationX>
        <locationY>647</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text_Error_null_Screen</name>
            <fieldText>&lt;p&gt;Cant fetch Campaign Contact&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Error_CampaignContact_not_found</name>
        <label>screen Error CampaignContact not found</label>
        <locationX>224</locationX>
        <locationY>812</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text_CampaignContact_is_null</name>
            <fieldText>&lt;p&gt;Cmapaign:&lt;/p&gt;&lt;p&gt;Unable to find Campaign Contact. Please contact your Administrator regarding this problem.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Error_Not_Team_Lead</name>
        <label>Error: Not Team Lead</label>
        <locationX>1096</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text_Error_Note_team_Lead</name>
            <fieldText>&lt;p&gt;Unfortunately, you don&apos;t have the necessary permissions to use this function&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_Link_Button</name>
        <label>Send Link Button</label>
        <locationX>227</locationX>
        <locationY>522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Does_CampaignContact_Exist</targetReference>
        </connector>
        <fields>
            <name>text_Info_About_Button</name>
            <fieldText>&lt;p&gt;Clicking send button will send the information that allows an external source to send us leads.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The button was previosly lasts sent on:&lt;/p&gt;&lt;p&gt;{!Get_CampaignContact.Last_sent__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_BB_Campaign.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Reciever: {!Get_CampaignContact.Contact__r.FirstName} {!Get_CampaignContact.Contact__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Email: {!Get_CampaignContact.Contact__r.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>684</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>decision_Is_User_Team_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>text_temp_Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://betterbondsa--bbdev2.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0682z000001dXja?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;logo.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Good day,&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; {!Get_CampaignContact.Contact__r.FirstName} {!Get_CampaignContact.Contact__r.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Kindly find the updated credentials:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Certifiacte:&lt;/strong&gt; {!Get_CampaignContact.Cetificate__c}{!Get_CampaignContact}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Client_Id: &lt;/strong&gt;{!Get_CampaignContact.Client_Id__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Secret Key:&lt;/strong&gt; {!Get_CampaignContact.Secret_Key__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Secret Key:&lt;/strong&gt; H438G98-H43KV82H8V2FD3-VBH4898492VH&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Subscription Key:&lt;/strong&gt; Formula (From BB Campaign)&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Json:&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;		&quot;aggregateObj&quot; : {&lt;/p&gt;&lt;p&gt;			&quot;@type&quot; : &quot;ExampleObj&quot;&lt;/p&gt;&lt;p&gt;			&quot;nameHead&quot; : Christopher,&lt;/p&gt;&lt;p&gt;		}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BLG_Campaign__c</objectType>
    </variables>
    <variables>
        <name>var_Profile_Team_Lead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>F00e8d000000ttxCAAQ</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Recepient_Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
