force-app/main/default/flows/SubFlow_Update_Opportunity_Stage_and_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Did_proper_documents_received</name>
        <label>Did proper documents received?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>iv_Loan_Applicant_Record.Received_Documents__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iv_Loan_Applicant_Record.Received_Documents__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Passport</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iv_Loan_Applicant_Record.Received_Documents__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bank Statement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iv_Loan_Applicant_Record.Received_Documents__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Payslip</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Source_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SubFlow: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow: Update Opportunity Stage and Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Source_Opportunity</name>
        <label>Get: Source Opportunity</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_New_Values_for_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iv_Loan_Applicant_Record.SourceOpportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_New_Values_for_Fields</name>
        <label>Set New Values for Fields</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>UpdateApplicantStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iv_Loan_Applicant_Record.SourceOpportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Ready for Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>PA Requested - Ready for verification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateApplicantStatus</name>
        <label>Update Applicant Status</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iv_Loan_Applicant_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Ready For Verification</stringValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_proper_documents_received</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>iv_Loan_Applicant_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
</Flow>
