force-app/main/default/flows/Subflow_Applicant_IDV_Status_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action_Send_IDV_Status_changed_notification</name>
        <label>Action: Send IDV Status changed notification</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <faultConnector>
            <targetReference>Create_Log_Message_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Notification_Recipient_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Applicat IDV Status Changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>IDVstatuschangednotificationbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>iv_Applicant.SourceOpportunity__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Apex_Action_Task_Due_Date</name>
        <label>Apex Action: Task Due Date</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>DateTimeUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_IDV_Status_Changed_Task_Follow_Up</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Log_Message_Error_1</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>businessHoursName</name>
            <value>
                <stringValue>Task Schedule Hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateTimeString</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>increment</name>
            <value>
                <elementReference>Get_Attempting_Contact_BLG_Workflow.Attempt_1_Schedule__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>BusinessHours.addBusinessHours</stringValue>
            </value>
        </inputParameters>
        <nameSegment>DateTimeUtility</nameSegment>
        <outputParameters>
            <assignToReference>var_due_date_result</assignToReference>
            <name>result</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_Assign_Notification_Recipient_Id</name>
        <label>Assignment: Assign Notification Recipient Id</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Notification_Recipient_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iv_Applicant.SourceOpportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Send_IDV_Status_changed_notification</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>f_task_due_date</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(DATEVALUE(DATETIMEVALUE({!var_due_date_result}) - 0.08334)) + 0.62505</expression>
    </formulas>
    <interviewLabel>Subflow: Applicant IDV Status Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Applicant IDV Status Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_IDV_Status_Changed_Task_Follow_Up</name>
        <label>Create: IDV Status Changed Task(Follow-Up)</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>f_task_due_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>iv_Applicant.SourceOpportunity__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Manual/Telephonic Credit Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>iv_Applicant.SourceOpportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>iv_Applicant.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Log_Message</name>
        <label>Create: Log Message Error</label>
        <locationX>968</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Better_Home__Message__c</field>
            <value>
                <stringValue>Could not find Workflow, Get failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Better_Home__Type__c</field>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <object>Better_Home__Log_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Log_Message_Error</name>
        <label>Create: Log Message Error</label>
        <locationX>440</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Better_Home__Message__c</field>
            <value>
                <stringValue>Action: Send IDV Status Changed Notification Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Better_Home__Type__c</field>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <object>Better_Home__Log_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Log_Message_Error_1</name>
        <label>Create: Log Message Error</label>
        <locationX>704</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>Better_Home__Message__c</field>
            <value>
                <stringValue>Apex Action: Date,time and Business Hours methods Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Better_Home__Type__c</field>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <object>Better_Home__Log_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get</name>
        <label>Get: IDV Status changed notification type</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Assign_Notification_Recipient_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IDV_Status_changed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Attempting_Contact_BLG_Workflow</name>
        <label>Get: Attempting Contact BLG Workflow</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Apex_Action_Task_Due_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Log_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attempting Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Workflow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Attempting_Contact_BLG_Workflow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>IDVstatuschangednotificationbody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Opportunity: {!iv_Applicant.SourceOpportunity__r.Name}
Applicant: {!iv_Applicant.Name}</text>
    </textTemplates>
    <variables>
        <name>iv_Applicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
    <variables>
        <name>Notification_Recipient_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_due_date_result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
