force-app/main/default/flows/Subflow_Get_Applicant_Consent_Document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Does_Document_Exist</name>
        <label>Does Document Exist?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Does not Exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ContentDocumentLink_by_LinkedEntityId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ContentDocumentLink_by_LinkedEntityId.ContentDocument.Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consent Document</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ContentDocumentLink_for_Applicant</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <description>This Subflow will get the consent document from an account record and place it to the related applicant records.</description>
    <environments>Default</environments>
    <interviewLabel>Subflow: Get Applicant Consent Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Get Applicant Consent Document</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ContentDocumentLink_for_Applicant</name>
        <label>Create: ContentDocumentLink for Applicant</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Get_ContentDocumentLink_by_LinkedEntityId.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>iv_Applicant_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>SELECT Id,ContentDocument.title,ContentDocument.Id FROM ContentDocumentLink WHERE LinkedEntityId = &apos;:account_id&apos;</description>
        <name>Get_ContentDocumentLink_by_LinkedEntityId</name>
        <label>Get: ContentDocumentLink by LinkedEntityId</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Document_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iv_Account_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ContentDocumentLink_by_LinkedEntityId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>iv_Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iv_Applicant_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
