force-app/main/default/flows/SubFlow_Post_General_Opportunity_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Is_Contact_Found</name>
        <label>Is Contact Found?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Get_Commission_Entity_Id</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SubFlow: Post General Opportunity Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow: Post General Opportunity Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Consultant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iv_General_Opportunity.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Get_Commission_Entity_Id</name>
        <label>Subflow: Get Commission Entity Id</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <flowName>Subflow_Get_Commission_Entity_Id</flowName>
        <inputAssignments>
            <name>iv_AccountId</name>
            <value>
                <elementReference>iv_General_Opportunity.ConsultantRegion__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>iv_ContactId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>v_Comm_Entity_Id</assignToReference>
            <name>Commission_Entity_Id</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>iv_General_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>v_Comm_Entity_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
