force-app/main/default/flows/Subflow_Check_If_PA_Bond_Opportunity_has_an_application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Is_Application_and_Main_Applicant_Available</name>
        <label>Is Application and Main Applicant Available?</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Application and Main Applicant Available</defaultConnectorLabel>
        <rules>
            <name>Application_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_by_OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Application</targetReference>
            </connector>
            <label>Application Not Available</label>
        </rules>
        <rules>
            <name>Application_Found_No_Main_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_by_OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Applicant_Using_ApplicationId_and_Source_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Main_Applicant_from_Existing_Applicationy_1_of_Create_Main_Applicant</targetReference>
            </connector>
            <label>Application Found No Main Applicant</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Applicant_Name</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity_by_Id.Account.FirstName} &amp; &quot; &quot; &amp; {!Get_Opportunity_by_Id.Account.LastName}</expression>
    </formulas>
    <formulas>
        <name>f_LoanApplication_Name</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity_by_Id.Account.FirstName} &amp; &quot; &quot; &amp; {!Get_Opportunity_by_Id.Account.LastName} &amp; &quot;- Loan Application - &quot; + CASE( TEXT(MONTH(TODAY())),
&quot;1&quot;, &quot;January&quot;,
&quot;2&quot;, &quot;February&quot;,
&quot;3&quot;, &quot;March&quot;, 
&quot;4&quot;, &quot;April&quot;, 
&quot;5&quot;, &quot;May&quot;, 
&quot;6&quot;, &quot;June&quot;,
&quot;7&quot;, &quot;July&quot;,
&quot;8&quot;, &quot;August&quot;,
&quot;9&quot;, &quot;September&quot;,
&quot;10&quot;, &quot;October&quot;,
&quot;11&quot;, &quot;November&quot;,
&quot;12&quot;, &quot;December&quot;,
&quot;None&quot;)
+ &quot; &quot; + TEXT(Year(TODAY()))</expression>
    </formulas>
    <interviewLabel>Subflow: Check If PA/Bond Opportunity has an application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Check If PA/Bond Opportunity has an application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application</name>
        <label>Create: Application</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_Main_Applicant</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Opportunity_by_Id.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>f_LoanApplication_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Opportunity_by_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Main_Applicant</name>
        <label>Create: Main Applicant</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Opportunity_by_Id.Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Main_Applicant__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanApplicationId</field>
            <value>
                <elementReference>Create_Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>f_Applicant_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceOpportunity__c</field>
            <value>
                <elementReference>Get_Opportunity_by_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Main_Applicant_from_Existing_Applicationy_1_of_Create_Main_Applicant</name>
        <label>Create: Main Applicant from Existing Applicationy_1_of_Create_Main_Applicant</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Opportunity_by_Id.Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Main_Applicant__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanApplicationId</field>
            <value>
                <elementReference>Get_Application_by_OpportunityId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Opportunity_by_Id.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceOpportunity__c</field>
            <value>
                <elementReference>Get_Opportunity_by_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Applicant_Using_ApplicationId_and_Source_Opportunity</name>
        <label>Get: Applicant Using ApplicationId and Source Opportunity</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Application_and_Main_Applicant_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_by_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_by_OpportunityId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Application_by_OpportunityId</name>
        <label>Get: Application by OpportunityId</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applicant_Using_ApplicationId_and_Source_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_by_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_by_Id</name>
        <label>Get: Opportunity by Id</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Application_by_OpportunityId</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iv_Oportunity_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Approval Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bond Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_by_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Iv_Oportunity_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
