force-app/main/default/flows/Sync_Applicant_Template_Selection_from_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Template_Selection</name>
        <label>Assign Template Selection</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Loop_Applicants.MC_Template_Selection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Template_Selection__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Applicants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Applicants</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opp_RecordType</name>
        <label>Opp RecordType</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Gen opp - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_other_opp_types</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Application</targetReference>
            </connector>
            <label>All other opp types</label>
        </rules>
    </decisions>
    <description>Flow to update all applicants template selection field when the template selection field on opportunity is updated - MC Requirement</description>
    <environments>Default</environments>
    <interviewLabel>Sync Applicant Template Selection from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Applicant Template Selection from Opportunity</label>
    <loops>
        <name>Loop_Applicants</name>
        <label>Loop Applicants</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Loan_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Template_Selection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Applicants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Loan_Applicants</name>
        <label>Get Loan Applicants</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application</name>
        <label>Get Loan Application</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Loan_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Applicants</name>
        <label>Update Applicants</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>ApplicantsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opp_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Template_Selection__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicantsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
</Flow>
