force-app/main/default/flows/Triggered_Account_Get_People_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetPeopleId</name>
        <label>GetPeopleId</label>
        <locationX>657</locationX>
        <locationY>738</locationY>
        <actionName>SRVPPLPostPeople_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SRVPPLPostPeople_Invocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>GetPeopleId_0</name>
        <label>GetPeopleId</label>
        <locationX>996</locationX>
        <locationY>733</locationY>
        <actionName>SRVPPLPostPeople_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_ID_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>Get_Contact.Phone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SRVPPLPostPeople_Invocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Does_Email_Exist</name>
        <label>Does Email Exist</label>
        <locationX>875</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>GetPeopleId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Exists</defaultConnectorLabel>
        <rules>
            <name>No_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>No Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_ID</name>
        <label>Has ID</label>
        <locationX>649</locationX>
        <locationY>915</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetPeopleId.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_update</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_ID_0</name>
        <label>Has ID</label>
        <locationX>989</locationX>
        <locationY>1019</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Success_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetPeopleId_0.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_update_0</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Once a person account is created then get the Domain Id from the People Domain</description>
    <environments>Default</environments>
    <interviewLabel>Triggered Account Get People Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Triggered Account Get People Id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>995</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPeopleId_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Success_update</name>
        <label>Success</label>
        <locationX>456</locationX>
        <locationY>903</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DomainId__c</field>
            <value>
                <elementReference>GetPeopleId.message</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Success_update_0</name>
        <label>Success</label>
        <locationX>661</locationX>
        <locationY>1049</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DomainId__c</field>
            <value>
                <elementReference>GetPeopleId_0.message</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>758</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Does_Email_Exist</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
