force-app/main/default/flows/Update_opp_if_region_is_blank.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>f_OppName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.FirstName} + &quot; &quot; + {!$Record.Account.LastName}  + &quot; - &quot; + &quot;General&quot; + &quot; - &quot; + CASE( TEXT(MONTH(TODAY())),
&quot;1&quot;, &quot;January&quot;,
&quot;2&quot;, &quot;February&quot;,
&quot;3&quot;, &quot;March&quot;,
&quot;4&quot;, &quot;April&quot;,
&quot;5&quot;, &quot;May&quot;,
&quot;6&quot;, &quot;June&quot;,
&quot;7&quot;, &quot;July&quot;,
&quot;8&quot;, &quot;August&quot;,
&quot;9&quot;, &quot;September&quot;,
&quot;10&quot;, &quot;October&quot;,
&quot;11&quot;, &quot;November&quot;,
&quot;12&quot;, &quot;December&quot;,
&quot;None&quot;)
+ &quot; &quot; + TEXT(Year(TODAY()))</expression>
    </formulas>
    <interviewLabel>Update opp if region is blank {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update opp if region is blank</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Betterbond_contact_rt</name>
        <label>Get Betterbond contact rt</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_Owner_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Betterbond Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Owner_Contact</name>
        <label>Get Opp Owner Contact</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Consultant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Betterbond_contact_rt.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>ConsultantBranch__c</field>
            <value>
                <elementReference>Get_Opp_Owner_Contact.Account.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsultantRegion__c</field>
            <value>
                <elementReference>Get_Opp_Owner_Contact.Account.Parent.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsultantSubBranch__c</field>
            <value>
                <elementReference>Get_Opp_Owner_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>f_OppName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Betterbond_contact_rt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>created_by_mule</stringValue>
            </value>
        </filters>
        <filters>
            <field>ConsultantRegion__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
