force-app/main/default/flows/Update_Opp_Team_Members_on_Opp_Owner_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_Save_List</name>
        <label>Add to Save List</label>
        <locationX>270</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>oppTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_User_Team_Member.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_User_Team_Member.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOppTeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_User_Team_Member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Opp_Team_Members</name>
        <label>Found Opp Team Members</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Team_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_Opp_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Opp_Team_Members</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow to update Opportunity team Members based on Default User Team Member when opportunity owner changes</description>
    <environments>Default</environments>
    <interviewLabel>Update Opp Team Members on Opp Owner Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opp Team Members on Opp Owner Change</label>
    <loops>
        <name>For_Each_User_Team_Member</name>
        <label>For Each User Team Member</label>
        <locationX>182</locationX>
        <locationY>792</locationY>
        <collectionReference>Get_Default_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Save_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Opp_Team_Mebers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Opp_Team_Mebers</name>
        <label>Insert Opp Team Mebers</label>
        <locationX>182</locationX>
        <locationY>1092</locationY>
        <inputReference>newOppTeamMembers</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Opp_Team_Members</name>
        <label>Delete Existing Opp Team Members</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Get_Default_Team_Members</targetReference>
        </connector>
        <inputReference>Get_all_Opp_Team_Members</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_all_Opp_Team_Members</name>
        <label>Get all Opp Team Members</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Opp_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Team_Members</name>
        <label>Get Default Team Members</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_User_Team_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Opp_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newOppTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>oppTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
