force-app/main/default/flows/Update_Agency_details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Copy_1_of_Data_Populated</name>
        <label>Copy 1 of Data Populated?</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Real_Estate_Agent__r.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Data_Populated</name>
        <label>Copy 2 of Data Populated?</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values2</targetReference>
            </connector>
            <label>Copy 2 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Data_Populated</name>
        <label>Data Populated?</label>
        <locationX>611</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Real_Estate_Agent__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Data_Populated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow Description: Updates the Agency/Branch/Network on the Opportunity based on the Real Estate Agent populated.

No Front-End Access - Flow is record triggered based on the entry criteria.</description>
    <environments>Default</environments>
    <interviewLabel>Update Agency details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Agency details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Data_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Real_Estate_Agent__r.Account.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Values2</name>
        <label>Assign Values</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>$Record.Real_Estate_Agent__r.Account.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>$Record.Real_Estate_Agent__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network__c</field>
            <value>
                <elementReference>$Record.Real_Estate_Agent__r.Account.Parent.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Data_Populated</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Real_Estate_Agent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>weNeedAVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
