force-app/main/default/flows/Upload_PA_Documents_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Myself</name>
        <choiceText>Myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Myself</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity_Owner</name>
        <choiceText>Opportunity Owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity Owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Override</name>
        <choiceText>Override</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Override</stringValue>
        </value>
    </choices>
    <choices>
        <name>Verification_Team</name>
        <choiceText>Verification Team</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verification Team</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_issue</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Main_Applicant_Doc_Check</name>
        <label>Main Applicant Doc Check</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>docsMissingBlockVerify_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Docs for Main</defaultConnectorLabel>
        <rules>
            <name>Contains_All_Docs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Updated_Main_Applicant.Received_Documents__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_Main_Applicant.Received_Documents__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Payslip</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_Main_Applicant.Received_Documents__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bank Statement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_PA_Task_Open_0</targetReference>
            </connector>
            <label>Contains All Docs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verification_Decisions</name>
        <label>Verification Decisions</label>
        <locationX>908</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ready_for_Verification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>readyForVerification.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Updated_Main_Applicant</targetReference>
            </connector>
            <label>Ready for Verification</label>
        </rules>
        <rules>
            <name>Mail_verify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>verifymail.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Call_Outcome_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Mail verify</label>
        </rules>
        <rules>
            <name>Close_verify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>closeOpp_verify.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Opportunity_Lost_or_Won_Subflow_0_0_0_0_0</targetReference>
            </connector>
            <label>Close verify</label>
        </rules>
        <rules>
            <name>Schedule_ManualNext_follow_up</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>nextScheduling.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Open_Task.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Manual Follow Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Contact_Attempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_BLG_Workflow_Rule.Close_off_Contact_Attempts__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_or_Override_Follow_Up_H2_0_0</targetReference>
            </connector>
            <label>Schedule Manual follow up</label>
        </rules>
        <rules>
            <name>Schedule_Auto_FollowUp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nextScheduling.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Call_Outcome_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Schedule Auto FollowUp</label>
        </rules>
    </decisions>
    <description>DB: 18 july - compartmentalise

Flow Description: Flow to Upload Pre-Approval Opp documents, launched from Wrap Up Opportunity H2 (main flow that houses entire skeleton of working opps)

Front-End Access: Work Opportunity button on the Opportunity page.</description>
    <dynamicChoiceSets>
        <name>callOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Outcome__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>applicantFullName</name>
        <dataType>String</dataType>
        <expression>{!Get_Main_Applicant_Docs.First_Name__c} +&quot; &quot;+ {!Get_Main_Applicant_Docs.Last_Name__c}</expression>
    </formulas>
    <formulas>
        <name>autoFollowUpNotExist</name>
        <dataType>Number</dataType>
        <expression>{!Get_BLG_Workflow_Rule.Close_off_Contact_Attempts__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>bondOppIdVar</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.Bond_Opportunity__c}</expression>
    </formulas>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Ready for Verification - &quot;+ {!Get_Opportunity.Name}</expression>
    </formulas>
    <formulas>
        <name>closeOffDateVerification</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + {!Get_Verification_BLG_Workflow.Close_off_Days__c}</expression>
    </formulas>
    <formulas>
        <name>Link_Bond</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!bondOppIdVar} , &quot;Click here to Navigate to the Bond Opportunity&quot; , &apos;_top&apos;)</expression>
    </formulas>
    <formulas>
        <name>Link_PreApproval</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!paIdOppVar} , &quot;Click here to Navigate to the Pre-Approval Opportunity&quot; , &apos;_top&apos;)</expression>
    </formulas>
    <formulas>
        <name>outstandingDocFinalMain</name>
        <dataType>String</dataType>
        <expression>IF({!outstandingDocsMain} = null, &quot;None&quot;, {!outstandingDocsMain} )</expression>
    </formulas>
    <formulas>
        <name>outstandingDocsMain</name>
        <dataType>String</dataType>
        <expression>IF({!mainMissingID} = &quot;ID&quot;, &quot;ID&quot;+ BR(), null) + 
IF({!mainMissingPayslip} = &quot;Payslip&quot;, &quot;Payslip&quot;+ BR(), null) + 
IF({!mainMissingBankS} = &quot;Bank Statement&quot;, &quot;Bank Statement&quot;+ BR(), null)</expression>
    </formulas>
    <formulas>
        <name>ownerVar</name>
        <dataType>String</dataType>
        <expression>LEFT({!ownerTrimVar},15)</expression>
    </formulas>
    <formulas>
        <name>sentTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>theTemplate</name>
        <dataType>String</dataType>
        <expression>&quot;PA Issued - Awaiting OTP (Attach Certificate)&quot;</expression>
    </formulas>
    <formulas>
        <name>userProfileVar</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>wrapUpHeading</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.Name} + &quot;: &quot; + {!outcomeSelected}</expression>
    </formulas>
    <interviewLabel>Upload PA Documents Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upload PA Documents Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_BLG_Workflow_Rule</name>
        <label>Get BLG Workflow Rule</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Verification_BLG_Workflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Workflow_Description_Formula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Workflow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Co_Applicant_Docs</name>
        <label>Get Co Applicant Docs</label>
        <locationX>908</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>uploadApplicantDocs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Open_Task</name>
        <label>Get Latest Open Task</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BLG_Workflow_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_PA_Task_Open_0</name>
        <label>Get Latest PA Task Open</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Complete_Task_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Applicant_Docs</name>
        <label>Get Main Applicant Docs</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Co_Applicant_Docs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Open_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Main_Applicant</name>
        <label>Get Updated Main Applicant</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main_Applicant_Doc_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Opp_post_ready_ver</name>
        <label>Get Updated Opp post ready ver</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Call_Outcome_NoAttempt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Verification_BLG_Workflow</name>
        <label>Get Verification BLG Workflow</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Main_Applicant_Docs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Approval Verification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Workflow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Complete_Task_0_0_0_0</name>
        <label>Complete Task</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Update_Opportunity_Dependancies_verification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_PA_Task_Open_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Dependancies_verification</name>
        <label>Update Opportunity Dependancies verification</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Get_Updated_Opp_post_ready_ver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>closeOffDateVerification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Attempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Ready for Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>PA Requested - Ready for verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <elementReference>wrapUpCommentVar</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Call_Outcome_0_0_0_0_0_0_0</name>
        <label>Update Task Call Outcome</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>MC_Email_Template_Selection_Multi_select_picklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Outcome__c</field>
            <value>
                <elementReference>callOutcomeInputVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Call_Outcome_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Task Call Outcome</label>
        <locationX>1370</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Update_WrapUp_Reason</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Outcome__c</field>
            <value>
                <elementReference>callOutcomeInputVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Call_Outcome_NoAttempt</name>
        <label>Update Task Call Outcome</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Outcome__c</field>
            <value>
                <elementReference>callOutcomeInputVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WrapUp_Reason</name>
        <label>Update WrapUp Reason</label>
        <locationX>1370</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Accept_or_Override_Follow_Up_H2_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <elementReference>wrapUpCommentVar</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>docsMissingBlockVerify_0_0</name>
        <label>docsMissingBlockVerify</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>verificationButtons</targetReference>
        </connector>
        <fields>
            <name>minDocsMissing_0</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Minimum Required Documents Missing</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>missingDocsVerification_0</name>
            <fieldText>&lt;p&gt;You have not uploaded all of the minimum required documents needed to Mark as Ready for Verification:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>idMissing_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;ID&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>NOT(1)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Updated_Main_Applicant.Received_Documents__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>ID</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>bankstatMissing_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Bank Statement&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>NOT(1)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Updated_Main_Applicant.Received_Documents__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Bank Statement</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>payslipMissing_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Payslip&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>NOT(1)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Updated_Main_Applicant.Received_Documents__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Payslip</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>docUploadMissing_0</name>
            <extensionName>c:externalResourceCatLoader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Updated_Main_Applicant.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>uploadApplicantDocs</name>
        <label>uploadApplicantDocs</label>
        <locationX>908</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>verificationButtons</targetReference>
        </connector>
        <fields>
            <name>Upload_Doc</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload_Documents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>uploadApplicantDocs_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>uploadApplicantDocs_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>mainAppDoc</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Main Applicant: &lt;/strong&gt;{!Get_Main_Applicant_Docs.First_Name__c} {!Get_Main_Applicant_Docs.Last_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>mainAppDocUpload</name>
                    <extensionName>c:externalResourceCatLoader</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Main_Applicant_Docs.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>uploadApplicantDocs_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>uploadApplicantDocs_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>coAppName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Co Applicant: &lt;/strong&gt;{!Get_Co_Applicant_Docs.First_Name__c} {!Get_Co_Applicant_Docs.Last_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>coAppDocUpload</name>
                    <extensionName>c:externalResourceCatLoader</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Co_Applicant_Docs.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Co_Applicant_Docs.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>verificationButtons</name>
        <label>verificationButtons</label>
        <locationX>908</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verification_Decisions</targetReference>
        </connector>
        <fields>
            <name>outcomeMsgwrapup</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>wrapUpHeading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>readyForVerification</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Mark as Ready for Verification</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>verifymail</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Send Customer Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>nextScheduling</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Schedule Next Follow Up</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>closeOpp_verify</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Close Off Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Accept_or_Override_Follow_Up_H2_0</name>
        <label>Accept or Override Follow Up H2</label>
        <locationX>908</locationX>
        <locationY>2246</locationY>
        <flowName>Accept_or_Override_Follow_Up_H2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>wrapUpInput</name>
            <value>
                <elementReference>wrapUpCommentVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Accept_or_Override_Follow_Up_H2_0_0</name>
        <label>Accept or Override Follow Up H2</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <flowName>Accept_or_Override_Follow_Up_H2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>wrapUpInput</name>
            <value>
                <elementReference>wrapUpCommentVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Accept or Override Follow Up H2</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <flowName>Accept_or_Override_Follow_Up_H2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>wrapUpInput</name>
            <value>
                <elementReference>wrapUpCommentVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Close_Opportunity_Lost_or_Won_Subflow_0_0_0_0_0</name>
        <label>Close Opportunity Lost or Won - Subflow</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <flowName>Close_Opportunity_Lost_or_Won_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>MC_Email_Template_Selection_Multi_select_picklist</name>
        <label>MC Email Template Selection - Multi select picklist</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Accept_or_Override_Follow_Up_H2_0</targetReference>
        </connector>
        <flowName>MC_Email_Template_Selection_Multi_select_picklist</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>chatterPostMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;---- Customer Email Sent ----&gt;
Template Selection: {!theTemplate}
Sent To: {!applicantFullName}
Sent From: @[{!$User.Id}]
Sent Date: {!sentTime}</text>
    </textTemplates>
    <variables>
        <name>blankCallBack</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blankComment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blankOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callBackDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callOutcomeInputVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cancelHide</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ConsentRefused</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>convertPAToBondStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>convertToBondBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailBlank</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>exitToFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>forceRegenCert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>gitVariable2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isManualSLA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mainMissingBankS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Bank Statement</stringValue>
        </value>
    </variables>
    <variables>
        <name>mainMissingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ID</stringValue>
        </value>
    </variables>
    <variables>
        <name>mainMissingPayslip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Payslip</stringValue>
        </value>
    </variables>
    <variables>
        <name>newGeneralOppVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppTeamBlank</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outcomeSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerTrimVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paExistVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>paIdOppVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paStageVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paStatusVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referenceNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referenceNo2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedApplicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statusCurrent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>verificationAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wrapUpCommentVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wrapUpVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
