force-app/main/default/flows/Verification_Issue_PA_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>294</locationX>
        <locationY>3107</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatterPostMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Heading</name>
        <label>Assign Heading</label>
        <locationX>2613</locationX>
        <locationY>1066</locationY>
        <assignmentItems>
            <assignToReference>followUpHeading</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Open_Task.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Main_Applicant_Docs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>blankEmailTrue</name>
        <label>blankEmailTrue</label>
        <locationX>96</locationX>
        <locationY>2144</locationY>
        <assignmentItems>
            <assignToReference>emailBlank</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>mainEmailBlank</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Myself</name>
        <choiceText>Myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Myself</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity_Owner</name>
        <choiceText>Opportunity Owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity Owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Override</name>
        <choiceText>Override</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Override</stringValue>
        </value>
    </choices>
    <choices>
        <name>Verification_Team</name>
        <choiceText>Verification Team</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verification Team</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_issue</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Amendments_Completed</name>
        <label>Amendments Completed?</label>
        <locationX>1653</locationX>
        <locationY>1419</locationY>
        <defaultConnector>
            <targetReference>Applicant_Validation_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Amend Not Done</defaultConnectorLabel>
        <rules>
            <name>Amend_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>amendCompleteButton.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Applicant_Validation_Flow_0</targetReference>
            </connector>
            <label>Amend Done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Co_App_to_Update</name>
        <label>Co-App to Update?</label>
        <locationX>425</locationX>
        <locationY>1920</locationY>
        <defaultConnector>
            <targetReference>Is_Person_Email_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Update_Co_App_PA_Issued</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Verified_Co_Applicant.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Co_Applicant_PA_Issued</targetReference>
            </connector>
            <label>Update Co App PA-Issued</label>
        </rules>
    </decisions>
    <decisions>
        <name>Custom_Button_Checks_0</name>
        <label>Custom Button Checks</label>
        <locationX>1850</locationX>
        <locationY>1760</locationY>
        <defaultConnectorLabel>Close</defaultConnectorLabel>
        <rules>
            <name>Close_Opp_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>closeOffOpp_0.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Opportunity_Lost_or_Won_Subflow_0</targetReference>
            </connector>
            <label>Close Opp</label>
        </rules>
        <rules>
            <name>ApplicantsManage_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicantManage_0.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Application_WU_0_0</targetReference>
            </connector>
            <label>Manage Applicants</label>
        </rules>
        <rules>
            <name>Schedule_Follow_Up_Manual_0</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>scheduleNextFollowUp_0.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Open_Task.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Manual Follow Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Contact_Attempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>autoFollowUpNotExist</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Schedule Manual</label>
        </rules>
        <rules>
            <name>Schedule_Automated_Follow_Up_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scheduleNextFollowUp_0.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Call_Outcome_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Shedule Auto</label>
        </rules>
        <rules>
            <name>Cancel_Ver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelBtnVer.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Cancel Ver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Domain_Failure_Populated</name>
        <label>Is Domain Failure Populated?</label>
        <locationX>1195</locationX>
        <locationY>1417</locationY>
        <defaultConnector>
            <targetReference>IssuePostAmend</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Domain_Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseAfterPaGen.Domain_Failure_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>followUpOrCancel</targetReference>
            </connector>
            <label>Domain Failure</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Main_Applicant_FHB</name>
        <label>Is Main Applicant FHB?</label>
        <locationX>295</locationX>
        <locationY>2635</locationY>
        <defaultConnector>
            <targetReference>sendOTPMail_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>FHB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Loan_Applicant__r.Is_First_Time_Home_Buyer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendOTPMail_0</targetReference>
            </connector>
            <label>FHB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Person_Email_Populated</name>
        <label>Is Person Email Populated?</label>
        <locationX>597</locationX>
        <locationY>2029</locationY>
        <defaultConnector>
            <targetReference>mainEmailBlank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Blank</defaultConnectorLabel>
        <rules>
            <name>Email_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Account.PersonEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Main_Applicant_FHB</targetReference>
            </connector>
            <label>Email Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Email_Populated</name>
        <label>New Email Populated?</label>
        <locationX>325</locationX>
        <locationY>2238</locationY>
        <defaultConnector>
            <targetReference>blankEmailTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank Email</defaultConnectorLabel>
        <rules>
            <name>Populated_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Field</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_Field</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Person_with_new_Email</targetReference>
            </connector>
            <label>Populated Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Post_Amend_Decisions</name>
        <label>Post Amend Decisions</label>
        <locationX>1196</locationX>
        <locationY>1750</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Issue_PA_post_amend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>issue_amend_button.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Dependancies_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Issue PA post amend</label>
        </rules>
        <rules>
            <name>Close_Off_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>closeWon.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Opportunity_Lost_or_Won_Subflow_0</targetReference>
            </connector>
            <label>Close Off - Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Schedule_or_Close</name>
        <label>Schedule or Close</label>
        <locationX>821</locationX>
        <locationY>1419</locationY>
        <defaultConnector>
            <targetReference>Close_Opportunity_Lost_or_Won_Subflow_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Close</defaultConnectorLabel>
        <rules>
            <name>Schedule_Task_Manaul</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>scheduleNext.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Open_Task.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Manual Follow Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Contact_Attempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_BLG_Workflow_Rule.Close_off_Days__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Schedule Task Manaul</label>
        </rules>
        <rules>
            <name>Auto_Task_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scheduleNext.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Call_Outcome_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Auto Task Schedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verification_to_PA_Issue_outcome</name>
        <label>Verification to PA Issue outcome</label>
        <locationX>2090</locationX>
        <locationY>1499</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amend_Financials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>amendFinancialButton.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>reWorkApplicants</targetReference>
            </connector>
            <label>Amend Financials</label>
        </rules>
        <rules>
            <name>Move_back_to_Docs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>moveBacktoAwaitingDocs.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Docs_BLG_Workflow_Ver</targetReference>
            </connector>
            <label>Move back to Docs</label>
        </rules>
        <rules>
            <name>wrap_up_button</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>wrapUpButton.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>wrapUpButtons_0</targetReference>
            </connector>
            <label>wrap up button</label>
        </rules>
    </decisions>
    <description>DB: 18 july - compartmentalise

Flow Description: Flow to Issue PA or Move back to docs when Opp is in Ready for Verification Stage, launched from Wrap Up Opportunity H2 (main flow that houses entire skeleton of working opps)

Front-End Access: Work Opportunity button on the Opportunity page.</description>
    <dynamicChoiceSets>
        <name>callOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Outcome__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>applicantFullName</name>
        <dataType>String</dataType>
        <expression>{!Get_Main_Applicant_Docs.First_Name__c} +&quot; &quot;+ {!Get_Main_Applicant_Docs.Last_Name__c}</expression>
    </formulas>
    <formulas>
        <name>autoFollowUpNotExist</name>
        <dataType>Number</dataType>
        <expression>{!Get_BLG_Workflow_Rule.Close_off_Contact_Attempts__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>bondOppIdVar</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.Bond_Opportunity__c}</expression>
    </formulas>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Ready for Verification - &quot;+ {!Get_Opportunity.Name}</expression>
    </formulas>
    <formulas>
        <name>caseSubjectF</name>
        <dataType>String</dataType>
        <expression>&quot;Verification Outcome: &quot; + {!Get_Case_Outcome.Subject}</expression>
    </formulas>
    <formulas>
        <name>closeOffDateDocVer</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + {!Get_Docs_BLG_Workflow_Ver.Close_off_Days__c}</expression>
    </formulas>
    <formulas>
        <name>closeOffDateNurture</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + {!Get_Nurture_BLG_Workflow.Close_off_Days__c}</expression>
    </formulas>
    <formulas>
        <name>Link_Bond</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!bondOppIdVar} , &quot;Click here to Navigate to the Bond Opportunity&quot; , &apos;_top&apos;)</expression>
    </formulas>
    <formulas>
        <name>Link_PreApproval</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!paIdOppVar} , &quot;Click here to Navigate to the Pre-Approval Opportunity&quot; , &apos;_top&apos;)</expression>
    </formulas>
    <formulas>
        <name>outstandingDocFinalMain</name>
        <dataType>String</dataType>
        <expression>IF({!outstandingDocsMain} = null, &quot;None&quot;, {!outstandingDocsMain} )</expression>
    </formulas>
    <formulas>
        <name>outstandingDocsMain</name>
        <dataType>String</dataType>
        <expression>IF({!mainMissingID} = &quot;ID&quot;, &quot;ID&quot;+ BR(), null) + 
IF({!mainMissingPayslip} = &quot;Payslip&quot;, &quot;Payslip&quot;+ BR(), null) + 
IF({!mainMissingBankS} = &quot;Bank Statement&quot;, &quot;Bank Statement&quot;+ BR(), null)</expression>
    </formulas>
    <formulas>
        <name>ownerVar</name>
        <dataType>String</dataType>
        <expression>LEFT({!ownerTrimVar},15)</expression>
    </formulas>
    <formulas>
        <name>sentTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>theTemplate</name>
        <dataType>String</dataType>
        <expression>&quot;PA Issued - Awaiting OTP (Attach Certificate)&quot;</expression>
    </formulas>
    <formulas>
        <name>userProfileVar</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>wrapUpHeading</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.Name} + &quot;: &quot; + {!outcomeSelected}</expression>
    </formulas>
    <interviewLabel>Verification - Issue PA Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verification - Issue PA Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CaseAfterPaGen</name>
        <label>CaseAfterPaGen</label>
        <locationX>1326</locationX>
        <locationY>1415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Domain_Failure_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BLG_Workflow_Rule</name>
        <label>Get BLG Workflow Rule</label>
        <locationX>2613</locationX>
        <locationY>609</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Verification_BLG_Workflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Workflow_Description_Formula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Workflow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Outcome</name>
        <label>Get Case Outcome</label>
        <locationX>2310</locationX>
        <locationY>1303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>prepareVerification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Docs_BLG_Workflow_Ver</name>
        <label>Get Docs BLG Workflow Ver</label>
        <locationX>1959</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_Dependancies_Docs_Move</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Approval Documents</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Workflow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Open_Task</name>
        <label>Get Latest Open Task</label>
        <locationX>2608</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BLG_Workflow_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application</name>
        <label>Get Loan Application</label>
        <locationX>2459</locationX>
        <locationY>1303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Outcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application_WU_0_0</name>
        <label>Get Loan Application WU</label>
        <locationX>2087</locationX>
        <locationY>1913</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ManageApplicant_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Applicant_Docs</name>
        <label>Get Main Applicant Docs</label>
        <locationX>2613</locationX>
        <locationY>1204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Loan_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Nurture_BLG_Workflow</name>
        <label>Get Nurture BLG Workflow</label>
        <locationX>2613</locationX>
        <locationY>910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Heading</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-approval OTP Nurturing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Workflow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>2609</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Open_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Opp</name>
        <label>Get Updated Opp</label>
        <locationX>294</locationX>
        <locationY>2984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_Opp_post_ready_ver_0.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Opp_back_to_Docs</name>
        <label>Get Updated Opp back to Docs</label>
        <locationX>1545</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Call_Outcome_NoAttempt_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Opp_post_ready_ver_0</name>
        <label>Get Updated Opp post ready ver</label>
        <locationX>835</locationX>
        <locationY>1750</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Call_Outcome_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Verification_BLG_Workflow</name>
        <label>Get Verification BLG Workflow</label>
        <locationX>2613</locationX>
        <locationY>750</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Nurture_BLG_Workflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Approval Verification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Workflow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Verified_Co_Applicant</name>
        <label>Get Verified Co-Applicant</label>
        <locationX>432</locationX>
        <locationY>1750</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Co_App_to_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verification Successful</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Applicant_Back_to_Docs_0</name>
        <label>Update Applicant - Back to Docs</label>
        <locationX>1681</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Get_Updated_Opp_back_to_Docs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Documents</stringValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Co_Applicant_PA_Issued</name>
        <label>Update Co Applicant PA Issued</label>
        <locationX>148</locationX>
        <locationY>1977</locationY>
        <connector>
            <targetReference>Is_Person_Email_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>PA Issued</stringValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Main_Applicant_PA_Issued</name>
        <label>Update Main Applicant PA Issued</label>
        <locationX>571</locationX>
        <locationY>1750</locationY>
        <connector>
            <targetReference>Get_Verified_Co_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>PA Issued</stringValue>
            </value>
        </inputAssignments>
        <object>LoanApplicant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MC_Trigger_for_MC</name>
        <label>Update MC Trigger for MC</label>
        <locationX>404</locationX>
        <locationY>2886</locationY>
        <connector>
            <targetReference>Get_Updated_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Template_Selection__c</field>
            <value>
                <stringValue>PA issued - awaiting OTP (attach PA certificate)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>emailSendTrigger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MC_Trigger_for_MC_0</name>
        <label>Update MC Trigger for MC</label>
        <locationX>191</locationX>
        <locationY>2885</locationY>
        <connector>
            <targetReference>Get_Updated_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Template_Selection__c</field>
            <value>
                <stringValue>FHB PA issued - awaiting OTP (attach PA certificate)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>emailSendTrigger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Dependancies_0_0_0_0_0_0_0_0_0</name>
        <label>Update Opportunity Dependancies</label>
        <locationX>970</locationX>
        <locationY>1750</locationY>
        <connector>
            <targetReference>Get_Updated_Opp_post_ready_ver_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>closeOffDateNurture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Attempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PA_Issued_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Nurture</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>PA Issued - awaiting OTP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Dependancies_Docs_Move</name>
        <label>Update Opportunity Dependancies Docs Move</label>
        <locationX>1815</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Update_Applicant_Back_to_Docs_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>closeOffDateDocVer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Attempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>PA Requested - awaiting documents</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Person_with_new_Email</name>
        <label>Update Person with new Email</label>
        <locationX>170</locationX>
        <locationY>2478</locationY>
        <connector>
            <targetReference>Is_Main_Applicant_FHB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email_Field</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Call_Outcome_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Task Call Outcome</label>
        <locationX>1860</locationX>
        <locationY>1975</locationY>
        <connector>
            <targetReference>Update_Wrap_Up_Comment_Ver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Outcome__c</field>
            <value>
                <elementReference>Call_Outcome_Ver</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Call_Outcome_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Task Call Outcome</label>
        <locationX>710</locationX>
        <locationY>1750</locationY>
        <connector>
            <targetReference>Update_Main_Applicant_PA_Issued</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Outcome__c</field>
            <value>
                <stringValue>Spoke to Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Call_Outcome_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Task Call Outcome</label>
        <locationX>827</locationX>
        <locationY>1244</locationY>
        <connector>
            <targetReference>Update_Wrap_Up_Comment_Ver_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Outcome__c</field>
            <value>
                <elementReference>Call_Outcome_Ver</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Call_Outcome_NoAttempt_0</name>
        <label>Update Task Call Outcome</label>
        <locationX>1414</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Outcome__c</field>
            <value>
                <elementReference>Call_Outcome_Ver</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Wrap_Up_Comment_Ver</name>
        <label>Update Wrap Up Comment Ver</label>
        <locationX>1860</locationX>
        <locationY>2111</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <elementReference>Wrap_Up_Comment_Ver</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Wrap_Up_Comment_Ver_0_0</name>
        <label>Update Wrap Up Comment Ver</label>
        <locationX>826</locationX>
        <locationY>1118</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <elementReference>Wrap_Up_Comment_Ver</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>followUpOrCancel</name>
        <label>followUpOrCancel</label>
        <locationX>968</locationX>
        <locationY>1417</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Schedule_or_Close</targetReference>
        </connector>
        <fields>
            <name>headWrapUp</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>wrapUpHeading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scheduleNext</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Schedule Next Follow Up</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>closeLostVerification</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Close Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IssuePostAmend</name>
        <label>IssuePostAmend</label>
        <locationX>1204</locationX>
        <locationY>1626</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Post_Amend_Decisions</targetReference>
        </connector>
        <fields>
            <name>wrapUpLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>wrapUpHeading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>issue_amend_button</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Issue PA</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseAfterPaGen.Domain_Failure_Reason__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>closeWon</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Close Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>mainEmailBlank</name>
        <label>mainEmailBlank</label>
        <locationX>333</locationX>
        <locationY>2099</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Email_Populated</targetReference>
        </connector>
        <fields>
            <name>missingEmail</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Missing Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>personTxt</name>
            <fieldText>&lt;p&gt;The email address has not been populated for the following customer: &lt;strong&gt;{!Get_Opportunity.Account.FirstName} {!Get_Opportunity.Account.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>mainEmailBlank_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>mainEmailBlank_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>capturetxt</name>
                    <fieldText>&lt;p&gt;Please capture the missing information in order to continue with the email send:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Email_Field</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>emailBlankError</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The Email field is required to continue with the email send.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>emailBlank</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>mainEmailBlank_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Continue Email Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>prepareVerification</name>
        <label>prepareVerification</label>
        <locationX>2174</locationX>
        <locationY>1302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Verification_to_PA_Issue_outcome</targetReference>
        </connector>
        <fields>
            <name>bannerVerification</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>followUpHeading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>prepareVerification_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>prepareVerification_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>custName_0_0_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Name: &lt;/strong&gt;{!Get_Opportunity.Account.FirstName} {!Get_Opportunity.Account.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>stickyNote_0_0_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Comment/Sticky Note: &lt;/strong&gt;{!Get_Opportunity.Comment__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>currentStageTxt_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Stage:&lt;/strong&gt; {!currentStage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>currentStatus_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Status:&lt;/strong&gt; {!Get_Opportunity.Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>prepareVerification_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>slaInfo_0_0_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;SLA Deadline: &lt;/strong&gt;{!Get_Opportunity.SLA_Deadline__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>callBackDate_0_0_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Call Back Date Time: &lt;/strong&gt;{!Get_Latest_Open_Task.Due_Date_Time__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>followUpHeading</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Call Back</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>custEmail_0_0_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Email: &lt;/strong&gt;{!Get_Opportunity.Account.PersonEmail}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>contactNumber_0_0_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Contact Number: &lt;/strong&gt;{!Get_Opportunity.Account.Phone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>headingCase</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Get_Case_Outcome.Subject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-top: 7px; margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>prepareVerification_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>prepareVerification_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>outcomeOfVerification</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Verification Outcome: &lt;/strong&gt;{!Get_Case_Outcome.caseOutcome__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>caseStatus</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Case Status:&lt;/strong&gt; {!Get_Case_Outcome.Status}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>failureInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Domain Failure Reason:&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt; &lt;/strong&gt;{!Get_Case_Outcome.Domain_Failure_Reason__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Case_Outcome.Domain_Failure_Reason__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>prepareVerification_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AffordabilityAmt</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Affordability Amount: &lt;/strong&gt;{!Get_Opportunity.Affordability_Amount__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>runningNotes</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Verification Outcome Comment:&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!Get_Case_Outcome.Verification_Failure_Comment__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Call_Outcome_Ver</name>
            <choiceReferences>callOutcome</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Wrap_Up_Comment_Ver</name>
            <fieldText>Wrap Up Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>amendFinancialButton</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Review/Amend Outcome</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>moveBacktoAwaitingDocs</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Move Back to Awaiting Documents</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>wrapUpButton</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Wrap Up</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Wrap Up</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>reWorkApplicants</name>
        <label>reWorkApplicants</label>
        <locationX>1884</locationX>
        <locationY>1494</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Amendments_Completed</targetReference>
        </connector>
        <fields>
            <name>reviewAmmendBanner</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Review/Amend Applicant Financials</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>chooseApplicantAmend</name>
            <fieldText>&lt;p&gt;Choose the applicant whose financial information you want to review/amend:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>applicantComponent_0_0_0_0_0</name>
            <extensionName>c:workFlowManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Opportunity.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedApplicantId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>spaceForce_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>amendCompleteButton</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Amendments Completed</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sendOTPMail_0</name>
        <label>sendOTPMail</label>
        <locationX>191</locationX>
        <locationY>2752</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_MC_Trigger_for_MC_0</targetReference>
        </connector>
        <fields>
            <name>sendMailTxt</name>
            <fieldText>&lt;p&gt;Hi &lt;strong&gt;{!Get_Opportunity.Owner.FirstName}!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Below is the preview of the selected email template to send. Upon confirmation, this mail will be sent to: &lt;strong&gt;{!Get_Main_Applicant_Docs.First_Name__c} {!Get_Main_Applicant_Docs.Last_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>paIssueMail</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>BBFHB_E05_PAissued_sendingPACert_awaitingOTP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>45%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Send Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sendOTPMail_0_0</name>
        <label>sendOTPMail</label>
        <locationX>404</locationX>
        <locationY>2758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_MC_Trigger_for_MC</targetReference>
        </connector>
        <fields>
            <name>sendMailTxt_0</name>
            <fieldText>&lt;p&gt;Hi &lt;strong&gt;{!Get_Opportunity.Owner.FirstName}!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Below is the preview of the selected email template to send. Upon confirmation, this mail will be sent to: &lt;strong&gt;{!Get_Main_Applicant_Docs.First_Name__c} {!Get_Main_Applicant_Docs.Last_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>paIssueMail_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>BBPA_E06_PAissued_awaitingOTP_attachedPAcert</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>45%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Send Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>wrapUpButtons_0</name>
        <label>wrapUpButtons</label>
        <locationX>2099</locationX>
        <locationY>1700</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Custom_Button_Checks_0</targetReference>
        </connector>
        <fields>
            <name>lwcBanner_0</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>wrapUpHeading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 7px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>applicantManage_0</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Manage Applicants</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PA Requested - Ready for verification</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scheduleNextFollowUp_0</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Schedule Next Follow Up</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PA Requested - Verification complete</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>closeOffOpp_0</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Close off Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cancelBtnVer</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2483</locationX>
        <locationY>185</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0</name>
        <label>Accept or Override Follow Up H2</label>
        <locationX>1280</locationX>
        <locationY>1247</locationY>
        <flowName>Accept_or_Override_Follow_Up_H2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Updated_Opp_back_to_Docs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>wrapUpInput</name>
            <value>
                <elementReference>Wrap_Up_Comment_Ver</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0</name>
        <label>Accept or Override Follow Up H2</label>
        <locationX>830</locationX>
        <locationY>1592</locationY>
        <flowName>Accept_or_Override_Follow_Up_H2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>wrapUpInput</name>
            <value>
                <elementReference>Wrap_Up_Comment_Ver</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Accept or Override Follow Up H2</label>
        <locationX>1627</locationX>
        <locationY>1825</locationY>
        <flowName>Accept_or_Override_Follow_Up_H2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>wrapUpInput</name>
            <value>
                <elementReference>Wrap_Up_Comment_Ver</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Accept_or_Override_Follow_Up_H2_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Accept or Override Follow Up H2</label>
        <locationX>294</locationX>
        <locationY>3235</locationY>
        <flowName>Accept_or_Override_Follow_Up_H2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>wrapUpInput</name>
            <value>
                <elementReference>Wrap_Up_Comment_Ver</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Applicant_Validation_Flow</name>
        <label>Applicant Validation Flow</label>
        <locationX>1661</locationX>
        <locationY>1625</locationY>
        <connector>
            <targetReference>reWorkApplicants</targetReference>
        </connector>
        <flowName>Applicant_Validation_Flow</flowName>
        <inputAssignments>
            <name>OCApplicantId</name>
            <value>
                <elementReference>SelectedApplicantId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppContextOppId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityContext</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Applicant_Validation_Flow_0</name>
        <label>Applicant Validation Flow</label>
        <locationX>1459</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>CaseAfterPaGen</targetReference>
        </connector>
        <flowName>Applicant_Validation_Flow</flowName>
        <inputAssignments>
            <name>OCApplicantId</name>
            <value>
                <elementReference>SelectedApplicantId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppContextOppId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityContext</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PaRegenContext</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Close_Opportunity_Lost_or_Won_Subflow_0</name>
        <label>Close Opportunity Lost or Won - Subflow</label>
        <locationX>1382</locationX>
        <locationY>1749</locationY>
        <flowName>Close_Opportunity_Lost_or_Won_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Close_Opportunity_Lost_or_Won_Subflow_0_0_0</name>
        <label>Close Opportunity Lost or Won - Subflow</label>
        <locationX>658</locationX>
        <locationY>1416</locationY>
        <flowName>Close_Opportunity_Lost_or_Won_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ManageApplicant_0_0_0</name>
        <label>Manage Applicants</label>
        <locationX>2233</locationX>
        <locationY>1913</locationY>
        <connector>
            <targetReference>wrapUpButtons_0</targetReference>
        </connector>
        <flowName>Manage_Applicants</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Loan_Application_WU_0_0.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>chatterPostMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;---- Customer Email Sent ----&gt;
Template Selection: {!theTemplate}
Sent To: {!applicantFullName}
Sent From: @[{!$User.Id}]
Sent Date: {!sentTime}</text>
    </textTemplates>
    <variables>
        <name>blankCallBack</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blankComment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blankOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callBackDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cancelHide</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ConsentRefused</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>convertPAToBondStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>convertToBondBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailBlank</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>exitToFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>followUpHeading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>forceRegenCert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>gitVariable2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>goToConsent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isManualSLA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mainMissingBankS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Bank Statement</stringValue>
        </value>
    </variables>
    <variables>
        <name>mainMissingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ID</stringValue>
        </value>
    </variables>
    <variables>
        <name>mainMissingPayslip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Payslip</stringValue>
        </value>
    </variables>
    <variables>
        <name>newGeneralOppVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppTeamBlank</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outcomeSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerTrimVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paExistVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>paIdOppVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paStageVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paStatusVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referenceNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referenceNo2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedApplicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statusCurrent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>verificationAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wrapUpCommentVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wrapUpVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
