force-app/main/default/flows/Wrap_Up_Opportunity_Bond_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Bond_StringToList</name>
        <label>Bond StringToList</label>
        <locationX>2110</locationX>
        <locationY>2499</locationY>
        <actionName>StringToList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_OTP_Content_Version</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>StringToList</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stringToList</name>
            <value>
                <elementReference>Get_Bond_OTP_File.relatedFilesIds__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>StringToList</nameSegment>
        <outputParameters>
            <assignToReference>bondRelatedFiles</assignToReference>
            <name>returnedStringList</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DetailPageNavigation_0_0</name>
        <label>DetailPageNavigation</label>
        <locationX>3205</locationX>
        <locationY>1967</locationY>
        <actionName>c:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:DetailPageNavigation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DetailPageNavigation_0_0_0</name>
        <label>DetailPageNavigation</label>
        <locationX>2107</locationX>
        <locationY>450</locationY>
        <actionName>c:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:DetailPageNavigation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DetailPageNavigation_0_0_0_0</name>
        <label>DetailPageNavigation</label>
        <locationX>2730</locationX>
        <locationY>3244</locationY>
        <actionName>c:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:DetailPageNavigation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>PA_StringToList</name>
        <label>PA StringToList</label>
        <locationX>2239</locationX>
        <locationY>2499</locationY>
        <actionName>StringToList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Bond_OTP_File</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>StringToList</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stringToList</name>
            <value>
                <elementReference>Get_PA_Related_Files.relatedFilesIds__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>StringToList</nameSegment>
        <outputParameters>
            <assignToReference>paRelatedFiles</assignToReference>
            <name>returnedStringList</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_Unregistered_Agent</name>
        <label>Post to Chatter - Unregistered Agent</label>
        <locationX>2954</locationX>
        <locationY>3109</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Reassign_Retain_NOT_Registered_Agent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatterBodyAgent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>StringToList_Final</name>
        <label>StringToList Final</label>
        <locationX>1784</locationX>
        <locationY>2660</locationY>
        <actionName>StringToList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_OTP_to_PA</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>listToStrings</name>
            <value>
                <elementReference>paRelatedFiles</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>ListToString</stringValue>
            </value>
        </inputParameters>
        <nameSegment>StringToList</nameSegment>
        <outputParameters>
            <assignToReference>finalRelatedFiles</assignToReference>
            <name>returnedDelimitedString</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_General_Opp_OTP_Received_Date</name>
        <label>Update General Opp OTP Received Date</label>
        <locationX>3080</locationX>
        <locationY>2253</locationY>
        <actionName>updateOpportunity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_OTP_Received_Date_Time_Bond</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sObjectToUpdate</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sObjectToUpdate</name>
            <value>
                <elementReference>Get_General_Opp_Region</elementReference>
            </value>
        </inputParameters>
        <nameSegment>updateOpportunity</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_PA_Opp_with_OTP</name>
        <label>Update PA Opp with OTP</label>
        <locationX>2163</locationX>
        <locationY>2660</locationY>
        <actionName>updateOpportunity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Application_Loan_Type</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sObjectToUpdate</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sObjectToUpdate</name>
            <value>
                <elementReference>Get_PA_Related_Files</elementReference>
            </value>
        </inputParameters>
        <nameSegment>updateOpportunity</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>updateOpportunity</name>
        <label>updateOpportunity</label>
        <locationX>2565</locationX>
        <locationY>2096</locationY>
        <actionName>updateOpportunity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_General_Opp_Region</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sObjectToUpdate</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sObjectToUpdate</name>
            <value>
                <elementReference>Get_Updated_Bond_Opp</elementReference>
            </value>
        </inputParameters>
        <nameSegment>updateOpportunity</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Bond_OTP_File_to_PA</name>
        <label>Add Bond OTP File to PA</label>
        <locationX>1866</locationX>
        <locationY>2499</locationY>
        <assignmentItems>
            <assignToReference>paRelatedFiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_OTP_Content_Version.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paRelatedFiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>bondRelatedFiles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StringToList_Final</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Bond_OTP_File_to_PA_0</name>
        <label>Add Bond OTP File to PA</label>
        <locationX>1776</locationX>
        <locationY>2324</locationY>
        <assignmentItems>
            <assignToReference>paRelatedFiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_OTP_Content_Version_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StringToList_Final</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Blank_Comment_False</name>
        <label>Assign Blank Comment False</label>
        <locationX>3529</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>blankCommentVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wrapUpVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Wrap_Up_Comment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Missing_Required_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Blank_Comment_True</name>
        <label>Assign Blank Comment True</label>
        <locationX>3131</locationX>
        <locationY>1119</locationY>
        <assignmentItems>
            <assignToReference>blankCommentVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Missing_Required_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Bond_Vars</name>
        <label>Assign Bond Vars</label>
        <locationX>2423</locationX>
        <locationY>2096</locationY>
        <assignmentItems>
            <assignToReference>Get_Bond_Opportunity.Wrap_Up_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>wrapUpFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Bond_Opportunity.Network__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Classification_Network.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Bond_Opportunity.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Classification_Agency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Bond_Opportunity.Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ClassificationBranch.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Bond_Opportunity.Real_Estate_Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Classification_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Bond_Opportunity.Development_Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Updated_Bond_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Call_Outcome_Blank_false</name>
        <label>Assign Call Outcome Blank false</label>
        <locationX>3342</locationX>
        <locationY>896</locationY>
        <assignmentItems>
            <assignToReference>blankCallOutcomeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>blankCallBackDateVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outcomeSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>callBackDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Back_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Comment_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Call_Outcome_Blank_true</name>
        <label>Assign Call Outcome Blank true</label>
        <locationX>3590</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>blankCallOutcomeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Comment_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Classification</name>
        <label>Assign Classification</label>
        <locationX>2238</locationX>
        <locationY>1735</locationY>
        <assignmentItems>
            <assignToReference>classificationVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.noAgentClassification__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Classification_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_False_0_0</name>
        <label>Assign False</label>
        <locationX>2561</locationX>
        <locationY>2370</locationY>
        <assignmentItems>
            <assignToReference>varLoanTypeSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Capture_OTP_Property_Info_Initial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hide_Cancel_False</name>
        <label>Assign Hide Cancel False</label>
        <locationX>3723</locationX>
        <locationY>1632</locationY>
        <assignmentItems>
            <assignToReference>hideCancelVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Wrap_Up_Options</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hide_Cancel_True</name>
        <label>Assign Hide Cancel True</label>
        <locationX>3749</locationX>
        <locationY>1483</locationY>
        <assignmentItems>
            <assignToReference>hideCancelVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Main_Button_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OTP_Received_DateTime_General</name>
        <label>Assign OTP Received DateTime General</label>
        <locationX>3080</locationX>
        <locationY>2096</locationY>
        <assignmentItems>
            <assignToReference>Get_General_Opp_Region.OTP_Received_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nowFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_General_Opp_OTP_Received_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Wrap_Up_Comment_Var</name>
        <label>Assign Wrap Up Comment Var</label>
        <locationX>3345</locationX>
        <locationY>1420</locationY>
        <assignmentItems>
            <assignToReference>wrapUpCommentVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Wrap_Up_Comment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Main_Button_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Call_Back_Date_Blank_true</name>
        <label>Call Back Date Blank true</label>
        <locationX>3206</locationX>
        <locationY>871</locationY>
        <assignmentItems>
            <assignToReference>blankCallBackDateVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outcomeSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Outcome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Comment_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Classification_Required</name>
        <label>Classification Required</label>
        <locationX>2400</locationX>
        <locationY>1518</locationY>
        <assignmentItems>
            <assignToReference>classificationRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTP_Source_Select</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_OTP_to_PA</name>
        <label>Copy OTP to PA</label>
        <locationX>1973</locationX>
        <locationY>2660</locationY>
        <assignmentItems>
            <assignToReference>Get_PA_Related_Files.relatedFilesIds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finalRelatedFiles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PA_Opp_with_OTP</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Development_Agent</name>
        <choiceText>Development Agent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Development Agent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Linked_Agent</name>
        <choiceText>Linked Agent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Linked Agent</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Agent</name>
        <choiceText>No Agent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Agent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Real_Estate_Agent</name>
        <choiceText>Real Estate Agent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Real Estate Agent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unregistered_Agent</name>
        <choiceText>Unregistered Agent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unregistered Agent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Bypass_Block_True</name>
        <label>Bypass Block True?</label>
        <locationX>2522</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>Big_Main_Screen_Bond</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bypass False</defaultConnectorLabel>
        <rules>
            <name>Bypass_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bypassBlock</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTP_File_Upload</targetReference>
            </connector>
            <label>Bypass True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Co_App_Spouse_Exist</name>
        <label>Co App Spouse Exist?</label>
        <locationX>2032</locationX>
        <locationY>1097</locationY>
        <defaultConnector>
            <targetReference>crucialChecks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Block</defaultConnectorLabel>
        <rules>
            <name>Co_Spouse_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_COP_Co_Applicant.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_Open_Task</targetReference>
            </connector>
            <label>Co Spouse Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Crucial_Checks_to_Continue</name>
        <label>Crucial Checks to Continue</label>
        <locationX>2334</locationX>
        <locationY>902</locationY>
        <defaultConnector>
            <targetReference>Get_Latest_Open_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Main Not COP</defaultConnectorLabel>
        <rules>
            <name>Main_COP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Applicant.Marital_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married in community of property (COP)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_COP_Co_Applicant</targetReference>
            </connector>
            <label>Main COP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_PA_Exist</name>
        <label>Does PA Exist?</label>
        <locationX>2539</locationX>
        <locationY>2500</locationY>
        <defaultConnector>
            <targetReference>Update_Application_Loan_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PA Not Exist</defaultConnectorLabel>
        <rules>
            <name>PA_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bond_Opportunity.PreApprovalOpportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PA_Related_Files</targetReference>
            </connector>
            <label>PA Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Files_contain_semi_colon</name>
        <label>Files contain semi-colon?</label>
        <locationX>2101</locationX>
        <locationY>2323</locationY>
        <defaultConnector>
            <targetReference>Get_OTP_Content_Version_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Only 1 File</defaultConnectorLabel>
        <rules>
            <name>Contains_more_than_1_File</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bond_OTP_File.relatedFilesIds__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bond_StringToList</targetReference>
            </connector>
            <label>Contains more than 1 File</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Awaiting_OTP_Status</name>
        <label>Is Awaiting OTP Status</label>
        <locationX>2991</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Big_Main_Screen_Bond</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Awaiting_OTP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bond_Opportunity.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting OTP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Outcome_0</targetReference>
            </connector>
            <label>Awaiting OTP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Bond_Open</name>
        <label>Is Bond Open?</label>
        <locationX>2660</locationX>
        <locationY>520</locationY>
        <defaultConnector>
            <targetReference>Bond_Closed_Block</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bond Closed</defaultConnectorLabel>
        <rules>
            <name>Bond_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bond_Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bond_Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Application_for_Bond</targetReference>
            </connector>
            <label>Bond Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Bond_Status_OTP_Received</name>
        <label>Is Bond Status OTP Received?</label>
        <locationX>2432</locationX>
        <locationY>787</locationY>
        <defaultConnector>
            <targetReference>Get_Main_Applicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>OTP_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bond_Opportunity.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTP received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bypassBlock</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTP_Received_Block</targetReference>
            </connector>
            <label>OTP Received</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Call_Outcome_Populated</name>
        <label>Is Call Outcome Populated</label>
        <locationX>3334</locationX>
        <locationY>700</locationY>
        <defaultConnector>
            <targetReference>Assign_Call_Outcome_Blank_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Blank_Call_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Call_Outcome</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Call_Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Call_Outcome_Blank_true</targetReference>
            </connector>
            <label>Blank Call Outcome</label>
        </rules>
        <rules>
            <name>Call_Back_Requested_Date_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client requested a call back</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Call_Back_Date_Time</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Back_Date_Blank_true</targetReference>
            </connector>
            <label>Call Back Requested - Date Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Cancel_Button_clicked</name>
        <label>Is Cancel Button clicked?</label>
        <locationX>2820</locationX>
        <locationY>1037</locationY>
        <defaultConnector>
            <targetReference>Is_Call_Outcome_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Cancel_Btn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Cancel Btn</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Comment_Populated</name>
        <label>Is Comment Populated?</label>
        <locationX>3334</locationX>
        <locationY>1050</locationY>
        <defaultConnector>
            <targetReference>Assign_Blank_Comment_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Blank_Comment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Wrap_Up_Comment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Wrap_Up_Comment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Blank_Comment_True</targetReference>
            </connector>
            <label>Blank Comment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Loan_Type_Selected_0_0</name>
        <label>Is Loan Type Selected</label>
        <locationX>2724</locationX>
        <locationY>2369</locationY>
        <defaultConnector>
            <targetReference>Does_PA_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No2_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Application_for_Bond.Application_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_False_0_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Re_Upload_OTP_Output_Var_True</name>
        <label>Is Re-Upload OTP Output Var True?</label>
        <locationX>3972</locationX>
        <locationY>1493</locationY>
        <defaultConnector>
            <targetReference>Assign_Hide_Cancel_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Re-Upload Not True</defaultConnectorLabel>
        <rules>
            <name>Re_Upload_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReUploadOTP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hide_Cancel_True</targetReference>
            </connector>
            <label>Re-Upload True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Button_Selected</name>
        <label>Main Button Selected</label>
        <locationX>3337</locationX>
        <locationY>1566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Call_Back_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Requested a Call Back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Outcome</targetReference>
            </connector>
            <label>CallBack Requested</label>
        </rules>
        <rules>
            <name>Re_Upload_OTP_Applicant_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Linked_Agent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTP_File_Upload_0</targetReference>
            </connector>
            <label>Re-Upload OTP - Applicant change</label>
        </rules>
        <rules>
            <name>Wrap_Up_Btn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>wrapUpBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wrap_Up_Options</targetReference>
            </connector>
            <label>Wrap Up Btn</label>
        </rules>
        <rules>
            <name>Upload_OTP_Btn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>uploadOTPBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTP_File_Upload</targetReference>
            </connector>
            <label>Upload OTP Btn</label>
        </rules>
        <rules>
            <name>Send_Bio_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sendBioLinkBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Biometric_Link_SubFlow</targetReference>
            </connector>
            <label>Send Bio Link</label>
        </rules>
        <rules>
            <name>Close_Opp_Btn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>closeOppBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Opportunity_Lost_or_Won_Subflow</targetReference>
            </connector>
            <label>Close Opp Btn</label>
        </rules>
        <rules>
            <name>Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Cancel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Required_Fields</name>
        <label>Missing Required Fields?</label>
        <locationX>3335</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Assign_Wrap_Up_Comment_Var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Missing_required_field</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>blankCallBackDateVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>blankCallOutcomeVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>blankCommentVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Big_Main_Screen_Bond</targetReference>
            </connector>
            <label>Missing required field</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Agent_or_Unreg_Agent</name>
        <label>No Agent or Unreg Agent</label>
        <locationX>2393</locationX>
        <locationY>1737</locationY>
        <defaultConnector>
            <targetReference>Update_No_Agent_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unreg Agent</defaultConnectorLabel>
        <rules>
            <name>No_Agent_AND_No_classification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OTP_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Agent</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bond_Opportunity.noAgentClassification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Classification_Required</targetReference>
            </connector>
            <label>No Agent AND No classification</label>
        </rules>
        <rules>
            <name>No_Agent2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OTP_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Agent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Classification</targetReference>
            </connector>
            <label>No Agent</label>
        </rules>
    </decisions>
    <decisions>
        <name>OTP_Source_Validation</name>
        <label>OTP Source Validation</label>
        <locationX>2854</locationX>
        <locationY>1854</locationY>
        <defaultConnector>
            <targetReference>Get_the_Selected_Agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Linked_Agent_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedAgentVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTP_Source_Select</targetReference>
            </connector>
            <label>Linked Agent Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retry_DMS_or_Close_Opp</name>
        <label>Retry DMS or Close Opp</label>
        <locationX>2097</locationX>
        <locationY>789</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>DMS_Retry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retry_DMS_Number.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retry_DMS2</targetReference>
            </connector>
            <label>DMS Retry</label>
        </rules>
        <rules>
            <name>Close_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>closeOffBondBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Opportunity_Lost_or_Won_Subflow_0</targetReference>
            </connector>
            <label>Close Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unregistered_Agent_Selected</name>
        <label>Unregistered Agent Selected?</label>
        <locationX>2724</locationX>
        <locationY>3105</locationY>
        <defaultConnector>
            <targetReference>Retain_Reassign_Registered_Agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Registered Agent</defaultConnectorLabel>
        <rules>
            <name>Is_Unregistered_Agent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OTP_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unregistered_Agent</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OTP_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Agent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_Chatter_Unregistered_Agent</targetReference>
            </connector>
            <label>Is Unregistered Agent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wrap_Up_Button_Selected</name>
        <label>Wrap Up Button Selected</label>
        <locationX>3579</locationX>
        <locationY>1903</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manage_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>manageAppsBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Application</targetReference>
            </connector>
            <label>Manage Applicant</label>
        </rules>
        <rules>
            <name>Schedule_Follow_Up_Auto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scheduleNextBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Call_Outcome</targetReference>
            </connector>
            <label>Schedule Follow Up Auto</label>
        </rules>
        <rules>
            <name>Close_Off_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>closeOppBtn_WU.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Opportunity_Lost_or_Won_Subflow</targetReference>
            </connector>
            <label>Close Off Opp</label>
        </rules>
        <rules>
            <name>Cancel_WU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelWUBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Cancel WU</label>
        </rules>
        <rules>
            <name>Send_Cust_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sendMailWUBtn.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Wrap_Up_Comment</targetReference>
            </connector>
            <label>Send Cust Email</label>
        </rules>
    </decisions>
    <description>Flow Description: Launched from Wrap Up Opportunity H2 to Work a Bond Opportunity/progress the Bond Opportunity.

Front-End Access: Work Opportunity button on the Opportunity page.</description>
    <dynamicChoiceSets>
        <name>callOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Outcome__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>applicationPropertyNameF</name>
        <dataType>String</dataType>
        <expression>{!Get_Main_Applicant.First_Name__c} + &quot; &quot; + {!Get_Main_Applicant.Last_Name__c}  + &quot; - Application Property - &quot; + CASE( TEXT(MONTH(TODAY())),
&quot;1&quot;, &quot;January&quot;,
&quot;2&quot;, &quot;February&quot;,
&quot;3&quot;, &quot;March&quot;, 
&quot;4&quot;, &quot;April&quot;, 
&quot;5&quot;, &quot;May&quot;, 
&quot;6&quot;, &quot;June&quot;,
&quot;7&quot;, &quot;July&quot;,
&quot;8&quot;, &quot;August&quot;,
&quot;9&quot;, &quot;September&quot;,
&quot;10&quot;, &quot;October&quot;,
&quot;11&quot;, &quot;November&quot;,
&quot;12&quot;, &quot;December&quot;,
&quot;None&quot;)
+ &quot; &quot; + TEXT(Year(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>assignmentDatePlus7</name>
        <dataType>DateTime</dataType>
        <expression>{!convertedAssignmentDate} + 7</expression>
    </formulas>
    <formulas>
        <name>autoFollowUpNotExist</name>
        <dataType>Number</dataType>
        <expression>{!Get_BLG_Workflow_Rule.Close_off_Contact_Attempts__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>bondOppNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Bond_Opportunity.Account.FirstName} + &quot; &quot; + {!Get_Bond_Opportunity.Account.LastName} + &quot; - Bond - &quot; + CASE( TEXT(MONTH(TODAY())),
&quot;1&quot;, &quot;January&quot;,
&quot;2&quot;, &quot;February&quot;,
&quot;3&quot;, &quot;March&quot;, 
&quot;4&quot;, &quot;April&quot;, 
&quot;5&quot;, &quot;May&quot;, 
&quot;6&quot;, &quot;June&quot;,
&quot;7&quot;, &quot;July&quot;,
&quot;8&quot;, &quot;August&quot;,
&quot;9&quot;, &quot;September&quot;,
&quot;10&quot;, &quot;October&quot;,
&quot;11&quot;, &quot;November&quot;,
&quot;12&quot;, &quot;December&quot;,
&quot;None&quot;)
+ &quot; &quot; + TEXT(Year(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>callOutcomeFormula</name>
        <dataType>String</dataType>
        <expression>IF({!bypassBlock} = TRUE, &apos;No Contact Attempt Made&apos;, {!Call_Outcome})</expression>
    </formulas>
    <formulas>
        <name>convertedAssignmentDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!assignmentDate}) - 0.08334 + (1/1440)</expression>
    </formulas>
    <formulas>
        <name>emailSubjectAgent</name>
        <dataType>String</dataType>
        <expression>&quot;Unregistered Agent Details for Opportunity: &quot; + {!Get_Bond_Opportunity.Name}</expression>
    </formulas>
    <formulas>
        <name>nowFormula</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>otherTemplate</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISPICKVAL({!Get_Bond_Opportunity.Are_you_buying_your_first_home__c}, &apos;Yes&apos;),{!Call_Outcome} != &apos;Spoke to Customer&apos;), &apos;FHB Assign to expert Home Loan Consultant (No Answer)&apos;, &apos;Assign to expert Home Loan Consultant (No Answer)&apos;)</expression>
    </formulas>
    <formulas>
        <name>spokeToCustomerTemplate</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISPICKVAL({!Get_Bond_Opportunity.Are_you_buying_your_first_home__c}, &apos;Yes&apos;),{!Call_Outcome} = &apos;Spoke to Customer&apos;), &apos;FHB Assign to expert Home Loan Consultant (Spoke to client)&apos;, &apos;Assign to expert Home Loan Consultant (Spoke to client)&apos;)</expression>
    </formulas>
    <formulas>
        <name>todayF</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>wrapUpFormula</name>
        <dataType>String</dataType>
        <expression>IF({!bypassBlock} = TRUE, &apos;Automated&apos;, {!Wrap_Up_Comment})</expression>
    </formulas>
    <formulas>
        <name>wrapUpHeadingConvert</name>
        <dataType>String</dataType>
        <expression>{!Get_Bond_Opportunity.Name} + &quot;: Convert to Bond Opportunity&quot;</expression>
    </formulas>
    <interviewLabel>Wrap Up Opportunity - Bond - Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Wrap Up Opportunity - Bond - Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Loan_Application_Property</name>
        <label>Create Loan Application Property</label>
        <locationX>2732</locationX>
        <locationY>2707</locationY>
        <connector>
            <targetReference>Update_Bond_Opp_with_Application_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_Line_1__c</field>
            <value>
                <elementReference>addressLine1Var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_2__c</field>
            <value>
                <elementReference>addressLine2Var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanApplicationId</field>
            <value>
                <elementReference>Get_Loan_Application_for_Bond.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>applicationPropertyNameF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PropertyCity</field>
            <value>
                <elementReference>cityVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province__c</field>
            <value>
                <elementReference>provinceVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>regionAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suburb__c</field>
            <value>
                <elementReference>suburbVar</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicationProperty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_BLG_Workflow_Rule</name>
        <label>Get BLG Workflow Rule</label>
        <locationX>2545</locationX>
        <locationY>1263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bypass_Block_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Workflow_Description_Formula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLG_Workflow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bond_Opportunity</name>
        <label>Get Bond Opportunity</label>
        <locationX>2668</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Bond_Open</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bond_OTP_File</name>
        <label>Get Bond OTP File</label>
        <locationX>2239</locationX>
        <locationY>2321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Files_contain_semi_colon</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Classification_Agency</name>
        <label>Get Classification Agency</label>
        <locationX>2109</locationX>
        <locationY>2096</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Classification_Network</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Classification_Contact.Account.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Classification_Contact</name>
        <label>Get Classification Contact</label>
        <locationX>2109</locationX>
        <locationY>1735</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ClassificationBranch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>classificationVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Classification_Network</name>
        <label>Get Classification Network</label>
        <locationX>2299</locationX>
        <locationY>2096</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Bond_Vars</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Classification_Contact.Account.Parent.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ClassificationBranch</name>
        <label>Get Classification Branch</label>
        <locationX>2109</locationX>
        <locationY>1900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Classification_Agency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Classification_Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_COP_Co_Applicant</name>
        <label>Get COP Co Applicant</label>
        <locationX>2040</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Co_App_Spouse_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Marital_agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Married in community of property (COP)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_General_Opp_Region</name>
        <label>Get General Opp Region</label>
        <locationX>2863</locationX>
        <locationY>2088</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_OTP_Received_DateTime_General</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.General_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Open_Task</name>
        <label>Get Latest Open Task</label>
        <locationX>2669</locationX>
        <locationY>1088</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BLG_Workflow_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application</name>
        <label>Get Loan Application</label>
        <locationX>3830</locationX>
        <locationY>1720</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manage_Applicants_Bondss</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application_for_Bond</name>
        <label>Get Loan Application for Bond</label>
        <locationX>2668</locationX>
        <locationY>845</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Bond_Status_OTP_Received</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Applicant</name>
        <label>Get Main Applicant</label>
        <locationX>2665</locationX>
        <locationY>977</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crucial_Checks_to_Continue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Main_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OTP_Content_Version</name>
        <label>Get OTP Content Version</label>
        <locationX>1990</locationX>
        <locationY>2499</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Bond_OTP_File_to_PA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Offer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>bondRelatedFiles</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OTP_Content_Version_0</name>
        <label>Get OTP Content Version</label>
        <locationX>1935</locationX>
        <locationY>2324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Bond_OTP_File_to_PA_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Offer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_OTP_File.relatedFilesIds__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PA_Related_Files</name>
        <label>Get PA Related Files</label>
        <locationX>2373</locationX>
        <locationY>2499</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PA_StringToList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.PreApprovalOpportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Selected_Agent</name>
        <label>Get the Selected Agent</label>
        <locationX>3010</locationX>
        <locationY>1853</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Agent_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAgentVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Bond_Opp</name>
        <label>Get Updated Bond Opp</label>
        <locationX>2465</locationX>
        <locationY>2228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Out_SLA_for_OTP_Received</name>
        <label>Clear Out SLA for OTP Received</label>
        <locationX>2732</locationX>
        <locationY>2989</locationY>
        <connector>
            <targetReference>Unregistered_Agent_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_SLA__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_75_Lapse__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Deadline__c</field>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Retry_DMS2</name>
        <label>Retry DMS</label>
        <locationX>1958</locationX>
        <locationY>786</locationY>
        <connector>
            <targetReference>Retry_DMS2_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>automationMessage__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Retry_DMS2_0</name>
        <label>Retry DMS</label>
        <locationX>1833</locationX>
        <locationY>786</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>automationMessage__c</field>
            <value>
                <stringValue>Get DMS</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Agent_Details</name>
        <label>Update Agent Details</label>
        <locationX>3009</locationX>
        <locationY>1984</locationY>
        <connector>
            <targetReference>Get_General_Opp_Region</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Real_Estate_Agent__c</field>
            <value>
                <elementReference>Get_the_Selected_Agent.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_Loan_Type</name>
        <label>Update Application Loan Type</label>
        <locationX>2732</locationX>
        <locationY>2563</locationY>
        <connector>
            <targetReference>Create_Loan_Application_Property</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application_for_Bond.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Type__c</field>
            <value>
                <elementReference>Get_Loan_Application_for_Bond.Application_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>ResidentialLoanApplication</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bond_Opp_with_Application_Type</name>
        <label>Update Bond Opp with Application Type</label>
        <locationX>2732</locationX>
        <locationY>2845</locationY>
        <connector>
            <targetReference>Clear_Out_SLA_for_OTP_Received</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>applicationType__c</field>
            <value>
                <elementReference>Get_Loan_Application_for_Bond.Application_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_No_Agent_Details</name>
        <label>Update No Agent Details</label>
        <locationX>2534</locationX>
        <locationY>1903</locationY>
        <connector>
            <targetReference>Get_General_Opp_Region</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Development_Agent__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Real_Estate_Agent__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unregistered_Agent_First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unregistered_Agent_Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unregistered_Agent_s_Agency__c</field>
            <value>
                <elementReference>agencyUnreg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <elementReference>wrapUpFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>developerName__c</field>
            <value>
                <elementReference>Developer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>developmentName__c</field>
            <value>
                <elementReference>Development_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>unregisteredAgentEmail__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>unregisteredAgentMobile__c</field>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OTP_Received_Date_Time_Bond</name>
        <label>Update OTP Received Date/Time Bond</label>
        <locationX>2922</locationX>
        <locationY>2253</locationY>
        <connector>
            <targetReference>Capture_OTP_Property_Info_Initial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OTP_Received_Date_Time__c</field>
            <value>
                <elementReference>nowFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Call_Outcome</name>
        <label>Update Task Call Outcome</label>
        <locationX>3874</locationX>
        <locationY>2029</locationY>
        <connector>
            <targetReference>Update_Wrap_Up_Comment_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Outcome__c</field>
            <value>
                <elementReference>callOutcomeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Call_Outcome_0</name>
        <label>Update Task Call Outcome</label>
        <locationX>3364</locationX>
        <locationY>2168</locationY>
        <connector>
            <targetReference>MC_Email_Template_Selection_Bonds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Outcome__c</field>
            <value>
                <elementReference>callOutcomeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Outcome</name>
        <label>Update Task Outcome</label>
        <locationX>3492</locationX>
        <locationY>1349</locationY>
        <connector>
            <targetReference>Update_Wrap_Up</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Back_Date_Time__c</field>
            <value>
                <elementReference>Call_Back_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Outcome__c</field>
            <value>
                <elementReference>callOutcomeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Outcome_0</name>
        <label>Update Task Outcome</label>
        <locationX>3209</locationX>
        <locationY>1326</locationY>
        <connector>
            <targetReference>Accept_or_Override_Follow_Up_H2_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Open_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Outcome__c</field>
            <value>
                <elementReference>callOutcomeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Wrap_Up</name>
        <label>Update Wrap Up</label>
        <locationX>3646</locationX>
        <locationY>1349</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <elementReference>wrapUpFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Wrap_Up_Comment</name>
        <label>Update Wrap Up Comment</label>
        <locationX>3364</locationX>
        <locationY>2042</locationY>
        <connector>
            <targetReference>Update_Task_Call_Outcome_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <elementReference>wrapUpFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Wrap_Up_Comment_0</name>
        <label>Update Wrap Up Comment</label>
        <locationX>3875</locationX>
        <locationY>2184</locationY>
        <connector>
            <targetReference>Accept_or_Override_Follow_Up_H2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wrap_Up_Reason__c</field>
            <value>
                <elementReference>wrapUpFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Big_Main_Screen_Bond</name>
        <label>Big Main Screen Bond</label>
        <locationX>2828</locationX>
        <locationY>1256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Cancel_Button_clicked</targetReference>
        </connector>
        <fields>
            <name>awaitOTPLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Get_Latest_Open_Task.Subject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Big_Main_Screen_Bond_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Big_Main_Screen_Bond_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>custName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Name:&amp;nbsp;&lt;/strong&gt;{!Get_Bond_Opportunity.Account.FirstName} {!Get_Bond_Opportunity.Account.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>stickyNote</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Comment/Sticky Note:&amp;nbsp;&lt;/strong&gt;{!Get_Bond_Opportunity.Comment__c}&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>currentStageTxt</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Stage: &lt;/strong&gt;{!Get_Bond_Opportunity.StageName}&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>currentStatus</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Status: &lt;/strong&gt;{!Get_Bond_Opportunity.Status__c}&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Big_Main_Screen_Bond_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>slaInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;SLA Deadline:&amp;nbsp;&lt;/strong&gt;{!Get_Bond_Opportunity.SLA_Deadline__c}&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>callBackDate</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Call Back Date Time: &lt;/strong&gt;{!Get_Latest_Open_Task.Due_Date_Time__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>custEmail</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Email: &lt;/strong&gt;{!Get_Bond_Opportunity.Account.PersonEmail}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>contactNumber</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Contact Number: &lt;/strong&gt;{!Get_Bond_Opportunity.Account.Phone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>mAgreement</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Marital Agreement: &lt;/strong&gt;{!Get_Main_Applicant.Marital_agreement__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Call_Outcome</name>
            <choiceReferences>callOutcome</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>outcomeSelected</elementReference>
            </defaultValue>
            <fieldText>Call Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>outcomeRequired</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The Call Outcome field is required.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>blankCallOutcomeVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Call_Back_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>callBackDateTime</elementReference>
            </defaultValue>
            <fieldText>Call Back Date Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;You are not allowed to set the follow up prior to the current date/time.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Call_Back_Date_Time} &gt;= Now()</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Call_Outcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Client Requested a Call Back</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>callBackDTRequired</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The Call Back Date Time field is required.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>blankCallBackDateVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Wrap_Up_Comment</name>
            <defaultValue>
                <stringValue>{!wrapUpVar}</stringValue>
            </defaultValue>
            <fieldText>Wrap Up Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>wrapUpRequired</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The Wrap Up Comment field is required.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>blankCommentVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>uploadOTPBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Upload OTP</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Call_Outcome</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Client Requested a Call Back</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sendBioLinkBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Send DigiApp Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>wrapUpBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Wrap Up Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>closeOppBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Close Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cancelBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bond_Closed_Block</name>
        <label>Bond Closed Block</label>
        <locationX>2883</locationX>
        <locationY>517</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>taskSubject_0_0</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Bond Opportunity Closed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>otpReceivedBlockMsg_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!Get_Bond_Opportunity.Name}&lt;/strong&gt; cannot be worked as it is marked as &lt;strong&gt;{!Get_Bond_Opportunity.StageName}&lt;/strong&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Capture_OTP_Property_Info_Initial</name>
        <label>Capture OTP Property Info Initial</label>
        <locationX>2734</locationX>
        <locationY>2218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Loan_Type_Selected_0_0</targetReference>
        </connector>
        <fields>
            <name>captureOTPInfo_initial</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Capture OTP Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Loan_Application_for_Bond.Application_Type__c</objectFieldReference>
        </fields>
        <fields>
            <name>selectLoanType_initial</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please select a loan type&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varLoanTypeSelected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>suburbMapper_initial</name>
            <extensionName>c:suburbRegionMapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>regionAccountId</name>
                <value>
                    <elementReference>regionAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>City</name>
                <value>
                    <elementReference>cityVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Province</name>
                <value>
                    <elementReference>provinceVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subBranchAccountId</name>
                <value>
                    <elementReference>subBranchVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Suburb</name>
                <value>
                    <elementReference>suburbVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLineOne</name>
                <value>
                    <elementReference>addressLine1Var</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLineTwo</name>
                <value>
                    <elementReference>addressLine2Var</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>selectedValueName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRegion</name>
                <value>
                    <elementReference>selectedRegionName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>suburbVar</assignToReference>
                <name>Suburb</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>subBranchVar</assignToReference>
                <name>subBranchAccountId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>regionAccountId</assignToReference>
                <name>regionAccountId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>provinceVar</assignToReference>
                <name>Province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>cityVar</assignToReference>
                <name>City</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedValueName</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedRegionName</assignToReference>
                <name>selectedRegion</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>addressLine1Var</assignToReference>
                <name>addressLineOne</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>addressLine2Var</assignToReference>
                <name>addressLineTwo</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>crucialChecks</name>
        <label>crucialChecks</label>
        <locationX>1881</locationX>
        <locationY>1095</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Bond_Applicants</targetReference>
        </connector>
        <fields>
            <name>crucialChecksLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Crucial Checks Needed to Proceed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>errorCoAppMissing</name>
            <fieldText>&lt;p&gt;The Main Applicant&apos;s martial status has been captured as Married (COP), however there is no Co-applicant/spouse associated with the applicant.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A co-applicant must be added in order to progress with this opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select &quot;&lt;strong&gt;Add Co-Applicant&lt;/strong&gt;&quot; to continue:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Add Co Applicant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OTP_Agent_Search</name>
        <label>OTP Agent Search</label>
        <locationX>2861</locationX>
        <locationY>1738</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OTP_Source_Validation</targetReference>
        </connector>
        <fields>
            <name>taskHeading_0_0_0</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Get_Latest_Open_Task.Subject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>alternativeOTPSource</name>
            <fieldText>&lt;p&gt;If a registered agent is not found in the search, please click on &quot;Next&quot; to select alternative OTP Sources.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>agentLookup_0</name>
            <extensionName>c:recordSearch</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>campaignScope</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactContactScope</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactMode</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Registered Agent Search:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queriedObjectType</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchField</name>
                <value>
                    <stringValue>Name </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryFilter</name>
                <value>
                    <stringValue>AND( RecordType.Name = &apos;Real Estate Agent&apos; OR RecordType.Name = &apos;Development Agent&apos;) AND Visibility__c != &apos;Hidden&apos; AND Visibility__c != &apos;Visible for General and Pre-Approval&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>agentMode</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paddingControl</name>
                <value>
                    <stringValue>padding-bottom: 95px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedAgentVar</assignToReference>
                <name>queriedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OTP_File_Upload</name>
        <label>OTP File Upload</label>
        <locationX>3029</locationX>
        <locationY>1567</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Manage_Applicant_Bonds</targetReference>
        </connector>
        <fields>
            <name>taskHeading</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Get_Latest_Open_Task.Subject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 12px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>uploadOTPFileLwc</name>
            <extensionName>c:otpFileUploader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload OTP File:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityId</name>
                <value>
                    <elementReference>Get_Bond_Opportunity.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>forceSpace</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OTP_File_Upload_0</name>
        <label>OTP File Upload</label>
        <locationX>3479</locationX>
        <locationY>1777</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Wrap_Up_Options</targetReference>
        </connector>
        <fields>
            <name>taskHeading_0_0</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Get_Latest_Open_Task.Subject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 12px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>reUploadOTPPrompt</name>
            <fieldText>&lt;p&gt;The Applicants on this Application have changed. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please re-upload the updated OTP to ensure that the newly changed information corresponds.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>uploadOTPFileLwc_0</name>
            <extensionName>c:otpFileUploader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload OTP File:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunityId</name>
                <value>
                    <elementReference>Get_Bond_Opportunity.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>spaceForce</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OTP_Received_Block</name>
        <label>OTP Received - Block</label>
        <locationX>2243</locationX>
        <locationY>787</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Retry_DMS_or_Close_Opp</targetReference>
        </connector>
        <fields>
            <name>taskSubject_0</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>OTP Received Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>otpReceivedBlockMsg</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!Get_Bond_Opportunity.Name}&lt;/strong&gt; cannot be worked while it is in the OTP Received Status.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please continue with the Application on DealMaker.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Retry_DMS_Number</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Retry DMS Number</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Bond_Opportunity.DMS_No__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>closeOffBondBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Close Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Bond_Opportunity.DMS_No__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OTP_Source_Select</name>
        <label>OTP Source Select</label>
        <locationX>2538</locationX>
        <locationY>1660</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>No_Agent_or_Unreg_Agent</targetReference>
        </connector>
        <fields>
            <name>taskHeading_0</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Get_Latest_Open_Task.Subject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OTP_Source</name>
            <choiceReferences>Unregistered_Agent</choiceReferences>
            <choiceReferences>No_Agent</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OTPSourceSelected</elementReference>
            </defaultValue>
            <fieldText>Select Alternative OTP Source:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>unregisteredAgentLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Capture Unregistered Agent Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OTP_Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Unregistered_Agent</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OTP_Source_Select_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OTP_Source_Select_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>agencyUnreg</name>
                    <dataType>String</dataType>
                    <fieldText>Agency</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Developer_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Developer Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OTP_Source_Select_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Mobile</name>
                    <dataType>String</dataType>
                    <fieldText>Telephone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Development_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Development Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OTP_Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Unregistered_Agent</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OTP_Source_Select_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OTP_Source_Select_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Bond_Opportunity.noAgentClassification__c</objectFieldReference>
                </fields>
                <fields>
                    <name>error</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(218, 95, 95);&quot;&gt;Please select a classification&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>classificationRequired</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OTP_Source_Select_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OTP_Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No_Agent</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wrap_Up_Options</name>
        <label>Wrap Up Options</label>
        <locationX>3579</locationX>
        <locationY>1632</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Wrap_Up_Button_Selected</targetReference>
        </connector>
        <fields>
            <name>wrapUpLabel</name>
            <extensionName>c:customFlowBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Get_Latest_Open_Task.Subject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssCustomStyle</name>
                <value>
                    <stringValue>margin-bottom: 9px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>sendMailWUBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Send Customer Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>manageAppsBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Manage Applicants</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Bond_Opportunity.Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Awaiting OTP</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scheduleNextBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Schedule Next Follow Up</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>closeOppBtn_WU</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Close Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cancelWUBtn</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>hideCancelVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2542</locationX>
        <locationY>234</locationY>
        <connector>
            <targetReference>Get_Bond_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Accept_or_Override_Follow_Up_H2</name>
        <label>Accept or Override Follow Up H2</label>
        <locationX>3875</locationX>
        <locationY>2365</locationY>
        <flowName>Accept_or_Override_Follow_Up_H2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>wrapUpInput</name>
            <value>
                <elementReference>wrapUpCommentVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Accept_or_Override_Follow_Up_H2_0</name>
        <label>Accept or Override Follow Up H2</label>
        <locationX>2983</locationX>
        <locationY>1318</locationY>
        <flowName>Accept_or_Override_Follow_Up_H2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>wrapUpInput</name>
            <value>
                <elementReference>wrapUpCommentVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Accept_or_Override_Follow_Up_H2_0_0</name>
        <label>Accept or Override Follow Up H2</label>
        <locationX>3364</locationX>
        <locationY>2473</locationY>
        <flowName>Accept_or_Override_Follow_Up_H2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>wrapUpInput</name>
            <value>
                <elementReference>wrapUpCommentVar</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Add_Bond_Applicants</name>
        <label>Add Bond Applicants</label>
        <locationX>1765</locationX>
        <locationY>1095</locationY>
        <flowName>Add_Bond_Applicants</flowName>
        <inputAssignments>
            <name>manageApplicant</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Loan_Application_for_Bond.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Close_Opportunity_Lost_or_Won_Subflow</name>
        <label>Close Opportunity Lost or Won - Subflow</label>
        <locationX>3205</locationX>
        <locationY>1818</locationY>
        <connector>
            <targetReference>DetailPageNavigation_0_0</targetReference>
        </connector>
        <flowName>Close_Opportunity_Lost_or_Won_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Close_Opportunity_Lost_or_Won_Subflow_0</name>
        <label>Close Opportunity Lost or Won - Subflow</label>
        <locationX>2107</locationX>
        <locationY>588</locationY>
        <connector>
            <targetReference>DetailPageNavigation_0_0_0</targetReference>
        </connector>
        <flowName>Close_Opportunity_Lost_or_Won_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Manage_Applicant_Bonds</name>
        <label>Manage Applicant - Bond</label>
        <locationX>2735</locationX>
        <locationY>1575</locationY>
        <connector>
            <targetReference>OTP_Agent_Search</targetReference>
        </connector>
        <flowName>Manage_Applicant_Bond</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Loan_Application_for_Bond.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varReUploadOTP</assignToReference>
            <name>varReUploadOTP</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Manage_Applicants_Bondss</name>
        <label>Manage Applicant - Bond</label>
        <locationX>3980</locationX>
        <locationY>1720</locationY>
        <connector>
            <targetReference>Is_Re_Upload_OTP_Output_Var_True</targetReference>
        </connector>
        <flowName>Manage_Applicant_Bond</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Loan_Application.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varReUploadOTP</assignToReference>
            <name>varReUploadOTP</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>MC_Email_Template_Selection_Bonds</name>
        <label>MC Email Template Selection - Bond</label>
        <locationX>3363</locationX>
        <locationY>2319</locationY>
        <connector>
            <targetReference>Accept_or_Override_Follow_Up_H2_0_0</targetReference>
        </connector>
        <flowName>MC_Email_Template_Selection_Bond</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Reassign_Retain_NOT_Registered_Agent</name>
        <label>Reassign/Retain NOT Registered Agent</label>
        <locationX>2954</locationX>
        <locationY>3244</locationY>
        <connector>
            <targetReference>DetailPageNavigation_0_0_0_0</targetReference>
        </connector>
        <flowName>Reassign_Retain_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>regionAccountId</name>
            <value>
                <elementReference>regionAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>registeredAgent</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedAgentVar</name>
            <value>
                <elementReference>selectedAgentVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedCallOutcome</name>
            <value>
                <elementReference>Call_Outcome</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Retain_Reassign_Registered_Agent</name>
        <label>Retain/Reassign Registered Agent</label>
        <locationX>2521</locationX>
        <locationY>3193</locationY>
        <connector>
            <targetReference>DetailPageNavigation_0_0_0_0</targetReference>
        </connector>
        <flowName>Reassign_Retain_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>regionAccountId</name>
            <value>
                <elementReference>regionAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>registeredAgent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedAgentVar</name>
            <value>
                <elementReference>selectedAgentVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedCallOutcome</name>
            <value>
                <elementReference>Call_Outcome</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Biometric_Link_SubFlow</name>
        <label>Send Biometric Link SubFlow</label>
        <locationX>3139</locationX>
        <locationY>1472</locationY>
        <connector>
            <targetReference>Is_Awaiting_OTP_Status</targetReference>
        </connector>
        <flowName>Send_Biometric_Link_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Bond_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>chatterBodyAgent</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;---- Support Desk Email Sent ----&gt;
Subject: Unregistered Agent for Opportunity: {!bondOppNameFormula}
&lt;---------- Agent Details ---------&gt;
First Name: {!First_Name}
Last Name: {!Last_Name}
Email: {!Email}
Phone: {!Mobile}</text>
    </textTemplates>
    <textTemplates>
        <name>emailBodyAgent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi Support Desk,&lt;/p&gt;&lt;p&gt;The following Unregistered Agent&apos;s details have been noted for Opportunity: &lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Bond_Opportunity.Name}&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Agent Details:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;First Name: {!First_Name}&lt;/li&gt;&lt;li&gt;Last Name: {!Last_Name}&lt;/li&gt;&lt;li&gt;Email: {!Email}&lt;/li&gt;&lt;li&gt;Phone: {!Mobile}&lt;/li&gt;&lt;li&gt;Agency: {!agencyUnreg}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Please ensure the new Agent is captured in DealAdmin.&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;BetterBond&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>acrAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>acrLength</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>addressLine1Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>addressLine2Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>apexErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>apexreassignHadError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>applicantRecVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
    <variables>
        <name>applicationProperty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicationProperty</objectType>
    </variables>
    <variables>
        <name>assignmentDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blankCallBackDateVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>blankCallOutcomeVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>blankCommentVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bondRelatedFiles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bypassBlock</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callBackDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cityVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>classificationRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>classificationVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsentRefused</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>createdCoCOP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>exitToFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expiryDateRequiredVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>finalRelatedFiles</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>gitVariable2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hideCancelVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OTPSourceErrorVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OTPSourceSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outcomeSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paRelatedFiles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>provinceVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>regionAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedFilesVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedAgentVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedApplicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedRegionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedValueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selfEmployedVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subBranchVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>suburbVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoanTypeSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varReUploadOTP</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wrapUpCommentVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wrapUpVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
